[2015-10-02 13:54] jrweakland opened #1103 "Proximity Alert Feature Service Contains No Features"
id:478cbdd6f965408f9094ec5b33f0114d

There are no features in the feature service and the GeoEvent Extension manager shows that there is no activity in the input or output.

Is the simulated data started?

[2015-10-02 13:55] conklinbd commented on #1029
Based on the lack of activity on this item. I am going to delete the item at 1100 today. If you think this is in error please respond by then.  Items like this cause us problems in QA/QC and have the potential to cause other problems as individuals reuse this content in their demo's/presentations.

[2015-10-02 13:58] elinz commented on #1050
Currently this feature service is being referenced in the following resources:
- Web Map, e2b7c18d24c340189af3b055b96b5238, "SustainmentReportingWebMap2", Aidan
- Web Map, b83cf730926943bdab17b0b91e9d6d98 , "Monterey Region (Incident Analysis)", DemoMilitary
- Web Map, b6de6ccb3495416f87ba747fa6ef61fb, "Incident Analysis - WebMap", Lyle
- Web Map, 8261b3fbc6b24939b63994061c55c9cc, "Operational Bou

[2015-10-02 14:04] elinz commented on #1049
To the best of my knowledge this service is being referenced by the following resources:
- Web Map, a4c628fc4aa04a05ad30fd32613df340, "Illicit Drug Grows", Natalie F.
- Web Mapping Application, f6e165bf688c46daa06048fed1fb43e9, "Illicit Drug Grows",  Natalie F.
- Web Map, 889abe9dfb5a4c0e93920257652fb740, "Illicit Drug Grows Map", Phil S.
- Web Mapping Application, 77f7ad815fa3426c886d7b03fe23b328

[2015-10-02 14:06] elinz commented on #788
FYI: Looks like there are no resources that are referencing a service named "Incidents".

[2015-10-02 14:14] jfrygeo commented on #1103
This feature service is created dynamically when there is a military ship come up in the ship position geoevent service. Someone will need to have the ais simulation file started running on port 5566.

I didn't have access to the run the machine on nsec. If you start it the proximity alert should populated.

John

Sent from my iPhone

On Oct 2, 2015, at 8:54 AM, Jim Weakland <notifications@github.

[2015-10-02 14:36] ACueva commented on #930
Verified.

[2015-10-02 14:36] #930 closed

[2015-10-02 14:48] ACueva commented on #941
verified.

[2015-10-02 14:48] #941 closed

[2015-10-02 14:55] ACueva commented on #829
9.2.2 folder is still empty. PostgreSQL_9.3.5 is being populated with the installers.  I will need to delete the 9.2.2 folder from copy source and or batch file that is creating the folder structure.

[2015-10-02 15:06] ACueva commented on #830
Verified.

[2015-10-02 15:06] #830 closed

[2015-10-02 15:09] ACueva commented on #908
Verified, however, "data" folder still exists.  Need to delete this folder from the createfolderstructure.bat.

[2015-10-02 15:30] conklinbd commented on #1084
I am going to reassign items as I release them. I am creating a new user called DemoNationalSecurity for content owned by the Global National Security Team.

[2015-10-02 15:38] elinz opened #1104 "Edit Demo and Released users for consistency"
- [x] Edit user profiles and reset First and Last Name as in some cases these values are not populated.
- [x] Create new "ReleasedIntelligence" built-in account.
- [x] Move items owned by "ReleasedIntel" to "ReleasedIntelligence".
- [x] Delete account "ReleasedIntel"

[2015-10-02 15:47] pHill5136 commented on #1024
Lyle did these yesterday

[2015-10-02 15:47] pHill5136 commented on #1023
Lyle did these yesterday

[2015-10-02 15:58] nfeuerstein commented on #1094
@conklinbd @elinz I would assume anything in 'test' can be deleted.

[2015-10-02 16:02] elinz commented on #1104
Closing issue.

[2015-10-02 16:02] #1104 closed

[2015-10-02 16:07] joebayles opened #1105 "Diversity And Ethnicity Web Map"
https://nsec.esri.com/arcgis/home/item.html?id=3d262ec7abdb4dbd925d7d9f37bd6e2d

- [x] Title: Uppercase A, maybe a more specific title?
- [x] Summary: Misspelled "block"
- [x] Description:

This web __map__ summarizes racial and ethnic diversity in a __multi-scale__ map by country, tract __,__ and block group. The Diversity Index shows the likelihood that two persons chosen at random from the same

[2015-10-02 16:12] nfeuerstein commented on #1105
@joebayles - the demographics team wanted the statement: "This service is for testing and demonstration purposes only.  The service and its data may not be used for commercial or operational purposes" added to the service description.  Why'd you cross it out?

[2015-10-02 16:13] elinz opened #1106 "Jenkins build server: modify to extract content for demo and released accounts only"
In the Jenkins build process, modify calls to PortalContentExtract.py and GetSDFiles.py to only extract and get sd files for the following portal accounts:

DemoEManagement,DemoIntelligence,DemoLGovt,DemoMilitary,DemoNationalSecurity,DemoParksGardens,DemoSGovt,DemoUtilities,ReleasedEManagement,ReleasedIntelligence,ReleasedLGovt,ReleasedMilitary,ReleasedOpsServer,ReleasedParksGardens,ReleasedSGovt,

[2015-10-02 16:15] nfeuerstein commented on #1105
@joebayles nevermind.  Its in the access and use constraints. :)

[2015-10-02 16:16] joebayles opened #1107 "Basic Diversity Map Image Layer"
https://nsec.esri.com/arcgis/home/item.html?id=28ab6e3f1f924c259282133706fd778e

- [x] Title: More specific?
- [x] Summary: Add a comma after "tract"

Description
- [x] Add a comma after "tract" in the first sentence
- [x] Remove second sentence
- [x] Add an s at the end of "level" in the second paragraph
- [x] Remove comma after "zoom in" in the second paragraph

Properties
- [x] Share with Demo

[2015-10-02 16:16] #1105 closed

[2015-10-02 16:18] elinz opened #1108 "Update CopyItemToEachAccount.py to exclude all Demo, Template, and Released account"
- [x] Update script:

DemoEManagement,DemoIntelligence,DemoLGovt,DemoMilitary,DemoNationalSecurity,DemoParksGardens,DemoSGovt,DemoUtilities,ReleasedEManagement,ReleasedIntelligence,ReleasedLGovt,ReleasedMilitary,ReleasedOpsServer,ReleasedParksGardens,ReleasedSGovt,ReleasedUtilities,TemplateIntelligence,TemplateMilitary

- [x] Redeploy new script to dev server.

[2015-10-02 16:38] elinz commented on #1108
Closing issue.

[2015-10-02 16:38] #1108 closed

[2015-10-02 16:47] NatalieCampos commented on #896
@elinz The original issue of incorrect data paths has been fixed.  Please close this issue after the data is reviewed.

@conklinbd None of the NAIP is currently being released. Currently, @nfeuerstein owns NAIP image service and several web maps associated with it.  No data will be removed at this time.

[2015-10-02 16:47] ACueva commented on #748
Appears to be fixed.  I saw the other errors you were referring to, as noted, they do not appear to affect functionality. Marking resolved.

[2015-10-02 16:47] #748 closed

[2015-10-02 17:02] elinz commented on #896
@NatalieCampos Looks like something is wrong with this mosaic dataset. If you navigate to the NAIPClip.gdb in ArcMap Catalog tree you will see AMD_MosaicDataset_ANA and AMD_MosaicDataset_STS. Datasets that start with "AMD" are supposed to be hidden tables that uses can't interact with.

[2015-10-02 17:07] ACueva commented on #1106
added following code in settings.xml:

[code]

The following code in build.xml:

[code]

Verified in this build that code is functioning:
http://servername:8080/job/Ops%20Server%20Release%20Builder/54/console

[2015-10-02 17:22] NatalieCampos commented on #896
@nfeuerstein Can you address the AMD_MosaicDataset_ANA and AMD_MosaicDataset_STS issues?

[2015-10-02 17:23] elinz commented on #1094
@nfeuerstein you would hope you could assume this, however, people are releasing content that references services in the "test" folder.

[2015-10-02 17:23] Lorraine commented on #896
Yeah, I still shouldn't be on this chain...

Lorraine Reinsch

Please excuse my phone's auto-correct.

[2015-10-02 17:26] elinz opened #1109 "Web map "Road Closures" references an external basemap"
Web map "Road Closures" (id: d40a0fe45fdb4b809a0536e2e9ad7b5c) is referencing an ArcGIS online basemap https://services.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer.

Typically, If the operation layers of a web map reference a service on the dev server then the basemap should be a service on the dev server also. I don't know in the case of Emergency Management content for this

[2015-10-02 17:28] elinz opened #1110 "Web map "Evacuation Zones Map" references an external basemap"
Web map "Evacuation Zones Map" (id: 287ed95406db4d2f9a1700587267c1f0) is referencing an ArcGIS online basemap:
https://services.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer

Typically, if the operation layers of a web map reference a service on the dev server then the basemap should be a service on the dev server also. I don't know in the case of Emergency Management content fo

[2015-10-02 17:30] ACueva commented on #896
@Lorraine, my apologies, we're not able to remove you from this issue.  if you click on "Unsubscribe" on the right hand panel you will stop getting notifications.  Sorry!

[2015-10-02 17:40] elinz opened #1111 "Bogus feature service item for feature service "Military/MissionReport""
According to json properties for service Military/MissionReport.MapServer, the feature service is associated with item d78f22ee0b5e454588b9a0883cfd8d22, which is owned by Scott C. and is in the Demo Review process, however a feature service item owned by Lyle is referencing the URL of this service.

The feature service item 693615a849ab429eb2979de07c07434c owned by @topowright  should be deleted.

[2015-10-02 17:47] elinz commented on #1111
In addition, the json properties for this service state that this service should be associated with item 82cc48e34ba44e80a8f4efb6b401af59 that no longer exists, however they is a another portal item owned by @topowright  with is referencing the URL of this service. I will edit the service json so that the map service will be associated with the item b0d5bd4b97d34882adfbae9def6cc309 and I will chan

[2015-10-02 17:51] jessnoo commented on #1110
@elinz Yep, @conklinbd and I discussed this yesterday. Because the basemaps on the nsec server aren't cached to level of our sample data, we agreed to use the online basemaps for Emergency Management.

The regions that we would need more detailed cache are for Virginia Beach area and Naperville.

[2015-10-02 17:52] ACueva commented on #1079
Build.xml modified:

[code]

Settings xml modified:

[code]

Verifying fixed @ next build

[2015-10-02 17:53] elinz commented on #1045
@ScottCecilio I found a map service item b0d5bd4b97d34882adfbae9def6cc309 owned by @topowright which referenced the URL to this map service. I edited the service json for this service so it would be associated with this item and I also changed ownership of this map service item to your account.

[2015-10-02 17:56] conklinbd commented on #1110
@elinz all EM content will use AGOL basemaps for this release.

[2015-10-02 17:56] #1110 closed

[2015-10-02 18:02] elinz commented on #1045
Closing this issue.

[2015-10-02 18:02] #1045 closed

[2015-10-02 18:08] elinz opened #1112 "Map service item "Military/MissionReport" needs to be moved into the Demo Review process"
@ScottCecilio @jrweakland The service Military/MissionReport has both a feature service and a map service. The feature service item d78f22ee0b5e454588b9a0883cfd8d22 has been shared with the Demo Review group. The map service item b0d5bd4b97d34882adfbae9def6cc309 (which was assigned to @ScottCecilio a few minutes ago) needs to have it's summary, description, etc edited and shared with the Demo Revi

[2015-10-02 18:14] lfunkhouser opened #1113 "Review File based data for permissions"
Ensure that all file based data have sufficient data permissions

[2015-10-02 18:15] elinz commented on #1111
@topowright Found another bogus map service item for this service 4b55bd2a56a94f7b86efdac2a070b358. I'm going to assign this issue to myself and delete the following items since they are not associated with this service:
4b55bd2a56a94f7b86efdac2a070b358
693615a849ab429eb2979de07c07434c

[2015-10-02 18:15] conklinbd commented on #1084
Ok. I finished releasing the content from your WebGISStoryMap Folder.
Many items were missing descriptions. I created a generic description for those items from your high level document and linked it back to that presentation.

For thumbnails that were missing I just used the generic thumbnail from your presentation.

I added tags, credits and delete protection to each item.

[2015-10-02 18:16] lfunkhouser opened #1114 "Ensure SDE data has sufficient data permissions"
Check SDE data has sufficient data permissions

[2015-10-02 18:16] elinz commented on #1111
Fixed. I'm closing this issue.

[2015-10-02 18:16] #1111 closed

[2015-10-02 18:21] conklinbd commented on #1013
Should be able to be fixed by next Friday.

[2015-10-02 18:33] topowright commented on #1028
@elinz This has been fixed

[2015-10-02 18:35] joebayles commented on #1068
Verified

[2015-10-02 18:35] #1068 closed

[2015-10-02 19:49] BobBooth opened #1115 "Squad Leader for Military Operations - post PPT & video for Ops Server release"
@garys-esri - check email reminder for details of what goes where.

[2015-10-02 19:52] #1107 closed

[2015-10-02 19:55] kerryrobinson commented on #1084
Thanks @conklinbd looks good .  Should the main story map be shared with any group so that it'll be discoverable?  Featured Maps and Apps or create a new group for Platform Demos or something similar?

[2015-10-02 20:01] #1092 closed

[2015-10-02 20:01] BobBooth opened #1116 "ArcGIS Full-Motion Video Capabilities for Defense - post PPT & video for Ops Server release"
Alex's GitHub account isn't visible, so I've assigned myself. He's sending PPT to me.

[2015-10-02 20:03] conklinbd commented on #1084
I will add to Featured Maps and Apps. Good idea.

[2015-10-02 20:03] #1084 closed

[2015-10-02 20:07] conklinbd commented on #1094
I have deleted the Cluster Analysis GP Service and associate Map Service Output.

[2015-10-02 20:07] BobBooth opened #1117 "A Geospatial Approach to Cybersecurity - post PPT & video for Ops Server release"
Tagging myself, Darren doesn't seem to have an account.

[2015-10-02 20:07] conklinbd commented on #1094
To @elinz  to verify.

[2015-10-02 20:07] pHill5136 opened #1118 "Geofence Sync Rule names should follow naming conventions"
@jfrygeo Need to change geofence names and synch names to follow naming conventions. Probably want to append MaritimeOps_ to the beginning of names.

[2015-10-02 20:08] elinz commented on #1106
@ACueva Reopening. Examined OpsServerBuilds\Archive\20151002_0955\OPSServerInstall\Server\ServiceDefinitions folder and no SD files were copied so can't tell if GetSDFiles.py execution was modified to copy just these users. Thanks.

[2015-10-02 20:09] BobBooth opened #1119 "ArcGIS Predictive Analysis Tool - post PPT & video for Ops Server release"
@ircampbell @kAilshie @rbernstein  check email reminder for details of what goes where.

[2015-10-02 20:10] conklinbd commented on #1050
Based on the amount of dependent items, I am going to create a new hosted service by exporting the FGDB for this service and publishing from ArcMap.

[2015-10-02 20:10] jfrygeo commented on #1118
About to board a plane. Does this need to get fixed before deadline?

John

Sent from my iPhone

On Oct 2, 2015, at 4:08 PM, Patrick Hill <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #1118<https://github.com/Esri/ops-server-config/issues/1118> to @jfrygeo<https://github.com/jfrygeo>.

—
Reply to this email directly or view it on GitHub<https://github.com/Esri/ops-se

[2015-10-02 20:11] pHill5136 opened #1120 "Edit New issue Geofence Sync Rule names should follow naming conventions"
@helyx-rterry @abrowning80 Need to change your geofence synchronizations for opsserver release. Most are just numbers. Probably want to have Sustainment_, AirOps_ etc. appended to the beginning of the names.

[2015-10-02 20:12] BobBooth opened #1121 "ArcGIS for the Military: Maritime Operations: An Overview - post PPT & video for Ops Server release"
@jfrygeo check email reminder for details of what goes where.

[2015-10-02 20:13] pHill5136 commented on #1118
By next friday.

[2015-10-02 20:13] BobBooth opened #1122 "Vehicle Commander for Military Operations - post PPT & video for Ops Server release"
@garys-esri  check email reminder for details of what goes where.

[2015-10-02 20:15] elinz commented on #1094
@conklinbd GP service Test//ClusterAnalysisFSInput.GPServer still exists as well as the related MapServer.

[2015-10-02 20:17] elinz commented on #1094
@conklinbd I'll go ahead and delete these services.

[2015-10-02 20:17] BobBooth opened #1123 "Esri Defense Mapping: Enterprise Production Management - post PPT & video for Ops Server release"
Tagging myself as Greg doesn't seem to have an account.

[2015-10-02 20:18] pHill5136 commented on #1013
@elinz @conklinbd Added fields to trackrep and created position_report event def. Will wait some  time and see if these kind of messages stop filling up the logs.

[2015-10-02 20:18] BobBooth opened #1124 "ArcGIS for the Military: Sustainment and Logistics - post PPT & video for Ops Server release"
@joebayles  check email reminder for details of what goes where.

[2015-10-02 20:19] BobBooth opened #1125 "Using ArcGIS to Manage Military Bases and Facilities - post PPT & video for Ops Server release"
@jfrygeo check email reminder for details of what goes where.

[2015-10-02 20:20] BobBooth opened #1126 "Analyzing Maritime Weather - post PPT & video for Ops Server release"
@jfrygeo  check email reminder for details of what goes where.

[2015-10-02 20:21] BobBooth opened #1127 "ArcGIS for the Military: Domestic Operations: An Overview - post PPT & video for Ops Server release"
@joebayles check email reminder for details of what goes where.

[2015-10-02 20:22] conklinbd commented on #1050
I have published a new item and released it to the Demo Intel user.
/ags/rest/services/Hosted/DistrictBoundaries/FeatureServer/0

id:d997a2316ea940b8b3020cd099d06b4b

I will update the release web map to use this item.

[2015-10-02 20:24] jrweakland commented on #905
@topowright - Just to verify... Does this need to be addressed in the next (October 2015) or after.next release (February 2016) of the Ops Server?

[2015-10-02 20:25] elinz commented on #1094
Fixed and verified. Closing issue.

[2015-10-02 20:25] #1094 closed

[2015-10-02 20:27] BobBooth commented on #1116
PPT is now in the share.

[2015-10-02 20:28] conklinbd commented on #1050
I fixed the released web map and the one owned by Natalie F just in case it was about to be released.
@elinz back to you to verify.

[2015-10-02 20:28] pHill5136 commented on #905
I think we are having issues here because of recent changes on the ml side. Probably require some development on both sides. I am working with the developer at ml to resolve the issue.

[2015-10-02 20:31] conklinbd commented on #1049
Based on the fact that this is not used in any released content. @phil7277 and @nfeuerstein will need to fix their own web maps.

[2015-10-02 20:32] conklinbd commented on #1049
@elinz to verify.

[2015-10-02 20:33] conklinbd commented on #1029
Deleted. @phil7277
Back to @elinz to verify.

[2015-10-02 20:34] conklinbd commented on #1027
Deleted @phil7277

Back to @elinz  to verify.

[2015-10-02 20:35] conklinbd commented on #1026
Deleted @phil7277 .

Back to @elinz to verify.

[2015-10-02 20:35] elinz commented on #1029
Verified that web map in question was deleted. Closing issue.

[2015-10-02 20:35] #1029 closed

[2015-10-02 20:36] conklinbd commented on #788
Service definition deleted @j-sullivan
This is a simple fix so no verification needed.

[2015-10-02 20:36] #788 closed

[2015-10-02 20:36] elinz commented on #1026
Verified that web map in question was deleted. Closing issue.

[2015-10-02 20:36] #1026 closed

[2015-10-02 20:39] nfeuerstein commented on #1049
Web Map, a4c628fc4aa04a05ad30fd32613df340, "Illicit Drug Grows", Natalie F.
Web Mapping Application, f6e165bf688c46daa06048fed1fb43e9, "Illicit Drug Grows", Natalie F.

@conklinbd @elinz the two items above (web map and web app) are in the release/review group and have been.  They are "ready" for release and should be released.  The problem happened because the workflow, to drag and drop a CSV and

[2015-10-02 20:40] elinz commented on #1027
Verified web map in question was deleted. Closing issue.

[2015-10-02 20:40] #1027 closed

[2015-10-02 20:43] elinz commented on #1049
@conklinbd Please advise course of action @nfeuerstein should take based on her last comments.

[2015-10-02 20:45] conklinbd commented on #1098
Based on the fact that the symbology for this service is not good, all of the example I could find of this service are not good I decided to remove this service from the web map and saved with the layer removed. I am deleting the test service.

[2015-10-02 20:46] conklinbd commented on #1098
@elinz let me know if any other released content depended on this service. I will fix that item by removing the layer.

[2015-10-02 20:47] jrweakland commented on #1103
Verified that this works when message simulator is started. Closing issue.

[2015-10-02 20:48] #1103 closed

[2015-10-02 20:50] elinz commented on #1050
@conklinbd Web map b83cf730926943bdab17b0b91e9d6d98 is still broken as it still references old service Hosted/MontereyDistrictBoundaries/FeatureServer. New service is Hosted/DistrictBoundaries/FeatureServer. Back to you.

[2015-10-02 20:51] nfeuerstein commented on #1088
It looks like they are both owned by DemoMilitary now, is this still an issue?  For what its worth, The Aerial Assets one was created by @phil7277 in support of the ISR Demo.  @phil7277 might be able to better explain the differences.

[2015-10-02 20:53] joebayles opened #1128 "Geocoding Services"
id=9206d989a1614f049dfc23149d6f39f7

- [x] Supported Countries: What does that mean? I have a feeling that verbiage came from http://www.arcgis.com/home/item.html?id=305f2e55e67f4389bef269669fc2e284, but not sure. If so, please add the rest of it for clarification.

id=470692fb1bee417abed4fe48a826eb84
- [x] Supported Countries: What does that mean? I have a feeling that verbiage came from http://w

[2015-10-02 20:58] kAilshie commented on #852
@conklinbd  @ACueva  I am not in the office and will not be able to address this until monday, since this is going to the next milestone will it be ok that it waits until then?

[2015-10-02 20:58] elinz commented on #1098
e9afca99ffa14bf0b064df6631210f60: Verified that layer was removed from this web map. No other released or going to be released consume this layer. Closing issue.

[2015-10-02 20:58] #1098 closed

[2015-10-02 21:01] kAilshie commented on #1119
@BobBooth  @rbernstein I believe @ircampbell has all this content and this issue should be assigned to him.  However, I do not know if he is a member of the defense group to be able to update assignee and/or labels because I was not a member before today.

[2015-10-02 21:03] elinz commented on #852
@kAilshie Closing this issue. As I recall, the installer has all the functionality I need. If necessary we can reopen at a later date.

[2015-10-02 21:03] #852 closed

[2015-10-02 21:05] ScottCecilio commented on #1098
I use this layer in my Dashboard for Land Ops.  Should I just publish this today?

[2015-10-02 21:07] dfoll opened #1129 "ArcGIS for Intelligence: An Overview - needs slides and videos posted"
for Ops Server release
Deadline 9Oct
see email for post location
@sschwoppe @nfeuerstein

[2015-10-02 21:10] conklinbd opened #1130 "Services still using CurrentOperations Database"
The following Services are still using the CurrentOperations database.
We had intended to migrate all the Services to the

- [ ] HostileOperations
- [ ] FriendlyOperations

Based on the proximity to the release, we will move these prior to the spring release.

-Ben

[2015-10-02 21:10] elinz opened #1131 "Hosted service MonterreyAirportCompoundMap_WFL/FeatureServer does not have a service definition item"
@ScottCecilio Can you republish this service using ArcGIS Pro before 16:00 deadline?

[2015-10-02 21:13] dfoll opened #1132 "Collaboration and Reporting using Portal for ArcGIS - needs videos posted"
for Ops Server release
Deadline 9Oct
see email for post location

@mfunk @MaryClawson

[2015-10-02 21:14] jrweakland commented on #1112
Ready for verification.

[2015-10-02 21:15] dfoll opened #1133 "How to Create Meaningful Map Products - needs videos posted"
for Ops Server release
Deadline 9Oct
see email for post location

@MaryClawson

[2015-10-02 21:16] lfunkhouser opened #1134 "MAoW file based data needs data permissions"
The following data is missing data permissions in the data folder on the portal:
- [x] Data in the ClimateData folder
- [x] Data in the NetCDFData folder
- [x] Climate geodatabases in the Geodatabase folder
- [x] OperationalWeather geodatabase in the Geodatabase folder

Please also create a folder for MAoW on Box and file copies.

[2015-10-02 21:18] dfoll opened #1135 "Forecast Adversary Methods Using ArcGIS PA Tools - needs slides and videos posted"
for Ops Server release
Deadline 9Oct
see email for post location

@ircampbell

[2015-10-02 21:32] dfoll opened #1136 "Geospatially Enabling the Intelligence Collector - needs videos posted"
for Ops Server release
Deadline 9Oct
see email for post location
@nfeuerstein

[2015-10-02 21:33] elinz commented on #1112
Verified. Closing issue.

[2015-10-02 21:33] #1112 closed

[2015-10-02 21:33] nfeuerstein commented on #1049
@conklinbd @elinz - I republished the drug grow feature service (the legit way) and updated the web map (the ones owned by me, not the ones owned by @phil7277.  They are all shared with the release review group.

[2015-10-02 21:36] dfoll opened #1137 "Discern Activities of Interest Through Real-Time Analysis and Periodic Analysis - needs slides and videos posted"
for Ops Server release
Deadline 9Oct
see email for post location

@nfeuerstein

[2015-10-02 21:38] dfoll opened #1138 "Incident Analysis (Demo theater) - needs videos posted"
for Ops Server release
Deadline 9Oct
see email for post location

[2015-10-02 21:39] nfeuerstein commented on #1128
Updated descriptions.

[2015-10-02 21:39] #1128 closed

[2015-10-02 21:40] karlterrey opened #1139 "DerivedLayers file based data needs data permissions"
There is a Predictive Analysis.gdb in the Data folder on portal. It is missing the data sources.
Please create a folder on Box and file copies there too.

[2015-10-02 21:40] dfoll opened #1140 "ArcGIS Predictive Analysis Tools - needs slides and videos posted"
for Ops Server release
Deadline 9Oct
see email for post location
@rbernstein @kAilshie

[2015-10-02 21:43] kAilshie commented on #1140
@dfoll I think this is a duplicate of #1119

[2015-10-02 21:43] dfoll opened #1141 "A Geospatial Approach to Cyber Security - needs slides and videos posted"
for Ops Server release
Deadline 9Oct
see email for post location

[2015-10-02 21:44] elinz commented on #889
@conklinbd Reopening as service definition item 81a7f02a6bd243f3bc33497cd1eaec66 still exists. I will go ahead and delete.

[2015-10-02 21:44] dfoll opened #1142 "Adapting a Template to Your Organization - needs slides and videos posted"
for Ops Server release
Deadline 9Oct
see email for post location
@phil7277

[2015-10-02 21:45] elinz commented on #889
@conklinbd I delete the service definition item. Closing issue.

[2015-10-02 21:45] #889 closed

[2015-10-02 21:46] dfoll opened #1143 "Using Rasters to Measure Impact of Weather on Military Operations - needs videos posted"
for Ops Server release
Deadline 9Oct
see email for post location

[2015-10-02 21:47] dfoll opened #1144 "Conducting Image Change Detection to Enhance Understanding - needs slides and videos posted"
for Ops Server release
Deadline 9Oct
see email for post location
@helyx-amcmillan

[2015-10-02 21:48] dfoll opened #1145 "Publish Intelligence Information as Services - needs videos posted"
for Ops Server release
Deadline 9Oct
see email for post location
@MaryClawson

[2015-10-02 21:48] elinz commented on #888
@conklinbd Reopening as the service definition item 8a1a5703c67040c5b9a13c57e7aafa4e still exists. I will delete this item.

[2015-10-02 21:49] elinz commented on #888
@conklinbd Delete the service definition item 8a1a5703c67040c5b9a13c57e7aafa4e. Closing issue.

[2015-10-02 21:49] #888 closed

[2015-10-02 21:51] dfoll opened #1146 "Intelligence Support to Operations - needs video posted"
for Ops Server release
Deadline 9Oct
see email for post location
@ScottCecilio

[2015-10-02 21:52] dfoll opened #1147 "Discover Imagery Relevant to Your Mission – needs slides and video posted"
for Ops Server release
Deadline 9Oct
see email for post location

[2015-10-02 21:57] dfoll commented on #1140
pretty much... we will fix that up next... not sure why the previous one got entered

[2015-10-02 21:58] elinz commented on #1049
NOTE: Republished service name changed from Illicit_Drug_Grows to DrugGrows.

Verified that a service definition item now exists for this new service. Closing issue.

[2015-10-02 21:58] #1049 closed

[2015-10-02 21:58] karlterrey opened #1148 "OperationalLayers / Incidents file based data needs data permissions"
The Data folder on the portal contains an OperationalLayers folder. In this is an Incidents folder. The incidents.gdb contains a SIGACTS file with data in it but no data permissions. If it is fictitious please note that.

[2015-10-02 22:08] karlterrey opened #1149 "OperationalLayers / Spreadsheets file based data needs data permissions on Box"
The Data folder on the portal contains an OperationalLayers folder. In this is a Spreadsheets folder with an ElectionViolence.xls. The data contains data permissions, but we need this on Box as well.

[2015-10-02 22:16] NatalieCampos commented on #1144
The slides have already been posted.

[2015-10-02 22:16] dfoll commented on #1139
@kAilshie

[2015-10-02 22:17] NatalieCampos commented on #1147
The slides have been posted.

[2015-10-02 22:18] elinz opened #1150 "Web map "Monterey Region (Incident Analysis)" references MontereyDistrictBoundaries service that does not exist"
@jrweakland @lfunkhouser Web map "Monterey Region (Incident Analysis)" b83cf730926943bdab17b0b91e9d6d98 which is owned by "DemoMilitary" account contains a reference to the following service that does not exist anymore:
Hosted/MontereyDistrictBoundaries/FeatureServer/0

The service is now called DistrictBoundaries.

[2015-10-02 22:28] #1119 closed

[2015-10-02 22:43] jessnoo opened #1151 "EM: Story Map Journal Question"
Hi guys -- Is there a special technique you use to get embedded images into Story Map Journals or Briefing Books on the OPS server?

@conklinbd

something like this:

![image](https://cloud.githubusercontent.com/assets/6181441/10256327/5a3a5e6c-6905-11e5-8be8-a2842479f62d.png)

[2015-10-02 23:11] DeborahRoth opened #1152 "Feature layer with ~50,000 features publishes with 0 features"
@conklinbd
A feature layer with ~50,000 features successfully published from ArcMap to the Ops Server, however it came over as an empty feature layer with a blank attribute table and no features. It successfully published as a map service using nsec.esri.com.

The offending data and associated mxd are saved here:
\\mrhyde\public\Jess\OPSServer\ *TaxParcelQuery.zip*

FYI: @jessnoo

[2015-10-02 23:22] karlterrey opened #1153 "FoundationOverlays / AdminBoundaries needs sources cited"
The Data folder on the portal contains a folder FoundationOverlays. In this is an AdminBoundaries folder containing a  .gdb. The data sources need to be completed and if fictitious that should be noted.

[2015-10-03 00:20] karlterrey opened #1154 "FoundationOverlays / ChangeDetection file on Data needs data permissions"
The FoundationOverlays folder in the Data folder on the portal contains a folder ChangeDetection. In this is a ChangeDetection .gdb. The data sources and permissions need to be completed.
Also the data permissions need need to be put on Box.

[2015-10-03 00:50] karlterrey opened #1155 "FoundationOverlays / Elevation in Data folder needs data permissions on Box"
The Data folder on the portal contains a folder FoundationOverlays. In that is a folder Elevation. In this is an Elevation Sources spreadsheet containing data permissions. This needs to be placed on Box as well.

[2015-10-03 03:10] karlterrey commented on #1095
@nfeuerstein @sschwoppe The Story Map needs photos credits for each photo put on Box. Some photos need to be cited in the ap as well.

[2015-10-03 03:26] karlterrey opened #1156 "FoundationOverlays / Hydrography needs data sources"
The Data folder on the portal contains a FoundationOverlays folder. In this is a Hydrography folder. All the data needs source information and permissions if necessary.
Please also create a folder for Hydrography on Box and file data permissions if necessary.

[2015-10-03 03:30] karlterrey opened #1157 "FoundationOverlays / IncidentData needs note that it is fictitious"
The IncidentData folder in FoundationOverlays on portal needs a note saying it is fictitious data.

[2015-10-03 03:34] karlterrey opened #1158 "FoundationOverlays / LandCover needs data permissions put on Box"
The LandCover folder in FoundationOverlays on portal has data permissions but they need to be put on Box too.

[2015-10-03 03:44] karlterrey opened #1159 "FoundationOverlays / Networks contains data permissions but no data"
In the Data folder on portal is a FoundationOverlays folder. It contains some data permissions but no data.

[2015-10-03 03:52] karlterrey opened #1160 "FoundationOverlays / OperationalBoundaries needs data permissions put on Box"
In the Data folder on portal there is a FoundationalOverlays folder. In this is an OperationalBoundaries folder. We need the data permissions put on Box as well. It looks like the City of Monterrey is on Box but not the Fire.

[2015-10-03 03:56] karlterrey opened #1161 "FoundationOverlays / OperationalImagery needs data permissions put on Box"
In the Data folder on portal is a FoundationalOverlays folder. In this is an OperationalImagery folder. The data permissions needs to be put on Box.

[2015-10-03 03:58] karlterrey opened #1162 "FoundationOverlays / OrthophotoBase needs data permissions put on Box"
In the Data folder on portal is a FoundationalOverlays folder. In this is an OrthophotoBase folder. The data permissions needs to be put on Box. It looks like the NAIP is on Box but the others need to be there too.

[2015-10-03 04:03] karlterrey opened #1163 "FoundationOverlays / Weather needs data permissions"
In the Data folder on portal is an FoundationalOverlays folder. In this is a Weather folder. The data needs source information and data permissions.
This also needs to be put on Box.

[2015-10-04 16:09] topowright commented on #1085
@elinz @nfeuerstein The issue was due to the GP tools being ran in ArcGIS Pro previously to me trying to publish these tools with ArcMap. I have been able to download a fresh cut of the tools and published one of the GP tools using the Incident data over Cali. I will now finish publishing  the rest of these items.

[2015-10-04 16:09] #1085 closed

[2015-10-05 12:19] abrowning80 commented on #1143
Hi Derek,  appear to have been very efficient and have deleted the email.  Can you post the location here please, thanks

[2015-10-05 13:26] abrowning80 commented on #1120
@pHill5136 - Patrick, you are almost certainly looking at some seriously legacy stuff so please don't act on it and wait for us to send updated versions of both Sustainment and Air Operations. Note your point re geofences we will amend any erroneous fences. Will export Sustainment and Air Ops out of GEE and send to you either in this sprint or next.

[2015-10-05 13:30] conklinbd commented on #1117
@BobBooth this wasn't presented at UC. We can probably just close this one and remove it from our list.

[2015-10-05 13:31] BobBooth commented on #1117
@conklinbd - OK, thanks for the info, will close.
@jrweakland

[2015-10-05 13:31] #1117 closed

[2015-10-05 13:32] conklinbd commented on #1123
@BobBooth not sure why this is on our list. We don't normally release Defense Mapping with Ops Server.

[2015-10-05 13:34] BobBooth commented on #1123
@conklinbd - it was on the list I got from @jrweakland
Happy to close if not relevant.

[2015-10-05 13:34] #1123 closed

[2015-10-05 13:38] conklinbd commented on #1151
@jessnoo Just put them in a folder on SolutionsWeb\Resources  and then use the URL to the image to embed the photo in the story map.

[2015-10-05 14:10] ScottCecilio commented on #1141
This is now owned by Darren Baird.

[2015-10-05 14:13] ScottCecilio commented on #1131
That's a no.

[2015-10-05 14:16] conklinbd commented on #1141
This is a duplicate of #1117. This wasn't presented at UC so we don't need to distribute it.

[2015-10-05 14:20] conklinbd commented on #1023
This looks like it should be reassigned to @jrweakland to verify change fix.

[2015-10-05 14:20] conklinbd commented on #1024
Also reassigning to @jrweakland

[2015-10-05 14:21] conklinbd commented on #1011
@phill5136 are you  making any more changes to the number of geoevent services? If not then please close this issue.

[2015-10-05 14:26] conklinbd commented on #1093
Based on the lack of activity associated with this issue, I will delete the service.

[2015-10-05 14:27] #1011 closed

[2015-10-05 14:30] conklinbd commented on #1093
Service deleted @elinz.

[2015-10-05 14:33] conklinbd commented on #1050
I updated b83cf730926943bdab17b0b91e9d6d98 again. It looks like it is correctly saved without the old layer.
Back to @elinz to verify.

[2015-10-05 14:35] conklinbd commented on #1150
I fixed this issue. This issue was a duplicate of #1150 so I am closing.

[2015-10-05 14:35] #1150 closed

[2015-10-05 14:51] conklinbd commented on #1152
@DeborahRoth and @jessnoo. My impression is that this is caused by the uppercase/lowercase issue as well. The Map Service works because the data is kept in FGDB so there is no change to the data during the publishing process.

I can't access the mrhyde location currently to try to correct the field name issue.

Based on the large # of records in the service, I am thinking it might be better to fir

[2015-10-05 15:21] elinz commented on #1093
Verified that service no longer exists. Closing issue.

[2015-10-05 15:21] #1093 closed

[2015-10-05 15:27] elinz commented on #1050
Verified that web maps b83cf730926943bdab17b0b91e9d6d98 and 8261b3fbc6b24939b63994061c55c9cc now reference the service Hosted/MontereyDistrictBoundaries/FeatureServer. Closing issue.

[2015-10-05 15:27] #1050 closed

[2015-10-05 15:36] elinz commented on #938
@ACueva Issue still exists as of 20151002_1949 build. I will manually fix this specific build so testing can proceed.

[2015-10-05 15:38] elinz commented on #908
@ACueva I will manually delete the "Data" folder from 20151002_1949 build so testing can continue.

[2015-10-05 15:40] elinz commented on #1001
@ACueva I've updated the installation guide to reflect new install dialogs. Same content; different look. At a future release I may just delete these screenshots so they aren't version dependent. I will close this issue.

[2015-10-05 15:40] #1001 closed

[2015-10-05 15:47] elinz commented on #931
@ACueva Manually edited 20151002_1949 build so testing can continue.

[2015-10-05 15:49] elinz commented on #1106
@ACueva Manually extracting sd files for released and demo users 10/5 08:50 so testing can continue.

[2015-10-05 16:00] elinz commented on #1086
@ACueva Manually edited 20151002_1949 build so testing can continue.

[2015-10-05 16:08] jrweakland commented on #1120
@abrowning80 and @helyx-rterry - this needs to be fixed before this friday 10/09/2015

[2015-10-05 16:16] elinz commented on #934
@ACueva Manually edited 20151002_1949 build so testing can continue.

[2015-10-05 16:17] elinz commented on #830
I have also verified fix in build 20151002_1949.

[2015-10-05 16:20] elinz commented on #834
I also verified fixed in build 20151002_1949.

[2015-10-05 16:23] elinz commented on #925
Reopening issue. Build 20151002_1949 didn't have any SD files.

[2015-10-05 16:24] elinz commented on #840
I also verified in build 20151002_1949.

[2015-10-05 16:26] elinz commented on #831
I also verified in build 20151002_1949.

[2015-10-05 16:27] elinz commented on #832
I also verified in 20151002_1949.

[2015-10-05 16:27] elinz commented on #838
I also verified in build 20151002_1949.

[2015-10-05 16:47] elinz commented on #928
Manually executing ops-server-config\Publish\Server\RepairMosaicDatasets.py script on 20151002_1949 build "data" to replace UNC Path with C:\OpsServer|Data.

[2015-10-05 17:00] jrweakland commented on #1024
Reviewed and shared with demo review.

[2015-10-05 17:26] ScottCecilio commented on #1154
@karlterrey @nfeuerstein If this is the .gdb that I created was created by myself using USDA NAIP Data.  The permissions from this are already added at the following locations:

\\disldb\OpsServerStaging\2015_Q4\DemoAndScripts\Military\LandOperations\Permissions

https://esri.box.com/s/djp97vhaiej2ejn24umjnkjcafucgxs0

[2015-10-05 17:31] karlterrey commented on #1154
Verified as fixed

[2015-10-05 17:31] #1154 closed

[2015-10-05 17:32] elinz opened #1164 "Jenkins build server: Copy hosted cache folders to CachesHosted folder"
To help prevent users from copying the hosted cache files to the AGS arcgiscache folder prior to publishing the hosted services, we should create the folder OPSServerInstall\Server\Staging\CachesHosted and copy all the hosted service caches to this folder.

[2015-10-05 17:34] elinz opened #1165 "Jenkins build server: do not copy the Hosted_*_del1 folders"
Do not copy the Hosted*_del1 folders to the OPSServerInstall\Server\Staging\CachesHosted folder. These folders are left behind after a user has deleted a hosted service. We should not include these in the build.

[2015-10-05 17:36] joebayles opened #1166 "Illicit Drug Grows"
id=a4c628fc4aa04a05ad30fd32613df340

- [x] If this is a demo item only, change the sharing to Demo Review instead of Release Review

__or__

- [ ] If this is a release item, elaborate in the description to be more specific (where, how, how is the information presented, etc.)

id=f6e165bf688c46daa06048fed1fb43e9

- [x] The description makes mention of filtering and summarizing, but I don't see that

[2015-10-05 17:38] jrweakland commented on #1024
@topowright is fixing some issue with this service. he will let me know when i can attempt to release the items again.

[2015-10-05 17:42] jrweakland commented on #1023
@topowright is fixing some issue with the portal items. he will let me know when i can attempt to send the items to demo review.

[2015-10-05 17:57] dfoll commented on #1132
closing this issue...video cannot be made,as it would include content that we do not have permission to release

[2015-10-05 17:57] #1132 closed

[2015-10-05 18:36] ScottCecilio commented on #1131
This service has been republished:

https://nsec.esri.com/ags/rest/services/Hosted/MonterreyAirportCompoundMap_WFL/FeatureServer

Please verify and close

[2015-10-05 18:38] ScottCecilio commented on #963
@elinz @jrweakland Does the issue "https://github.com/Esri/ops-server-config/issues/1131" relate to this as well?  If so, I believe that this is no longer an issue and can be closed.

[2015-10-05 18:42] ScottCecilio commented on #1089
I do not own this anymore,  can you reassign so I can provide clarification?

[2015-10-05 18:50] lfunkhouser opened #1167 "Image Discovery web app text color is unreadable in IE"
The text for the metadata and buttons for images is white and unreadable for the Image Discovery web map in Internet Explorer id=7fdb5ddd53a54766ae8641cb8c4609da

The following is displayed after selecting an area
![image](https://cloud.githubusercontent.com/assets/3800729/10288636/f4670152-6b4e-11e5-8e55-e2774382d944.png)

Clicking on a button and highlighting the text displays the information:
!

[2015-10-05 19:38] pHill5136 commented on #1120
@helix-rterry @abrowning80 @conklinbd @jrweakland  I chanced names for these, but I noticed the fences point to the sample cities service on default. If these are not needed please delete synchronizations by Friday or if they are needed point them to the proper service.

Thanks -P

[2015-10-05 19:40] pHill5136 commented on #1120
@helix-rterry @abrowning80 @conklinbd @jrweakland Okay just saw previous response. Is it safe to just delete?

[2015-10-05 20:19] conklinbd commented on #1167
My impression is that this is a issue associated with this theme and CSS/Styling conflicts.
Maybe we should use a different theme.

[2015-10-05 20:22] lfunkhouser opened #1168 "Image Discovery web app does not work in Chrome"
When you select an area, either by extent or rectangle, you get the error "There is currently no imagery available for your search area"

![image](https://cloud.githubusercontent.com/assets/3800729/10292429/0f520da8-6b64-11e5-8ced-1ebb4ca58730.png)

[2015-10-05 20:35] elinz commented on #1131
Verified that Service Definition item for the hosted feature service in question does exist. Closing issue.

[2015-10-05 20:35] #1131 closed

[2015-10-05 20:38] elinz commented on #963
@ScottCecilio @jrweakland I verified that the service definition item 84f165cbc7404302b1597c3116d6d1f2 was deleted; also verified that the service MonterreyAirportCompoundMap_WFL/FeatureServer was republished. Closing issue.

[2015-10-05 20:38] #963 closed

[2015-10-05 20:46] elinz opened #1169 "Jenkins build server: edit Ops Dashboard Utility certificate path/file name and cert password after build is created"
Edit ops-server-config\Install\OpsDashboardUtility\CreateOneClickInstaller.bat

[2015-10-05 20:59] elinz opened #1170 "Layer ids have changed after republishing MonterreyAirportCompoundMap_WFL feature service, modify all web maps"
The MonterreyAirportCompoundMap_WFL feature service no longer has a layer id 6. It has only the layers below; I believe what was layer id 6 is now id 5.

![image](https://cloud.githubusercontent.com/assets/4635490/10293325/ba932978-6b68-11e5-89ed-0cf73e3c5b23.png)

The web maps that references this feature service are:
- [x] e9afca99ffa14bf0b064df6631210f60, "Monterey Airport (Overview)", owner=De

[2015-10-05 21:06] conklinbd commented on #1168
@lfunkhouser this error is because the arcgisonline image services are using a weak ssl certificate. I know that we logged that issue already but can't seem to locate it. @ACueva is one that figured it out.

[2015-10-05 21:07] jessnoo commented on #1109
Hi @elinz is this similar to #1110 ?

[2015-10-05 21:08] jessnoo opened #1171 "EM: My Hazard Info"
this configuration is up and working, however there was an 'unknown database error' with the flood zones layer that we are moving forward with as a Known Issue.

@conklinbd FYI

[2015-10-05 21:30] elinz commented on #1109
@jessnoo Yes, I see @conklinbd comment that all EM content will use AGOL basemaps. I'm closing this issue.

[2015-10-05 21:30] #1109 closed

[2015-10-05 21:34] elinz opened #1172 "Create new "emergencymanagement" PostgreSQL enterprise geodatabase during install"

[2015-10-05 21:39] elinz commented on #1172
Added fix to Esri\ops-server-config v.next. Closing issue.

[2015-10-05 21:40] abrowning80 commented on #1120
@pHill5136 @helyx-rterry yes it is fine just to delete them as we will send over the new updated version when they are ready to replace these.

[2015-10-05 21:43] elinz commented on #1168
@conklinbd I had submitted this error to the image team who forwarded to IST. They are working on it but don't know the status. I'll find my GitHub issue.

[2015-10-05 21:45] elinz commented on #1168
The issue is #1008

[2015-10-05 21:48] conklinbd opened #1173 "Military Released Web Map includes unreleased service"
Web Map id:995d354c59694c01bbd1ff877441526a includes unreleased maritime boundary service.
id:bf3cca6ca1bb45dd903e3df969156bd0

Currently owned by Jim

Most likely this service is in process of being released.

[2015-10-05 21:48] elinz opened #1174 "Jenkins build server: delete cache folders for services not owned by "Released" or "Demo" owners"
After build final Fall 2015 ops server build has been created, delete the caches for services that aren't owned by "Released..." or "Demo..." owners.

[2015-10-05 21:51] conklinbd opened #1175 "Web Map includes unreleased service"
Web Map id:e9afca99ffa14bf0b064df6631210f60 includes unreleased service. dd6abcdbdca54ef993c5f2504cb35c57 Monterey Airport Compound Map.

Owned by Scott C.
I believe this service was in process of getting replaced.

[2015-10-05 21:52] elinz opened #1176 "Multiple ImageDiscovery and ImageObservables web apps exist."
On dev server folder SolutionsWeb\Apps\NationalIntel there are two ImageDiscovery apps (ImageDiscovery and ImageDiscoveryOG) and two ImageObservables apps (ImageObservables and ImageObservablesTest). Delete the apps that aren't needed.

[2015-10-05 21:55] conklinbd opened #1177 "Services needs to be released"
The FriendlyOperations service is not released but it is referenced in several released web maps.
id: e377b17ba01241ea80e74e75323e1776
The HosileOperations service is not released but it is referenced in several released web maps.
id: e51a4c093b644a7f9cd12faf7df95da6

[2015-10-05 21:58] conklinbd opened #1178 "Maritime Collector App uses unreleased web map"
Web App Maritime Contact Collector uses an unreleased web map. Maritime Contacts Web Map for Geoform or ArcGIS for Collector
Owned by John id:e49682575da9423f9eaa221f8bb1278a

Also uses Maritime Contact service id:371ff339a8e9412d98f7a5030592df7e

Both need to be released

[2015-10-05 22:08] jrweakland opened #1179 "Displaced Person Camps in Sudan Needs to be Released"
id:f96cbe75893b48139d8ec3c96ef9bd50

Owned by @nfeuerstein

[2015-10-05 22:19] lfunkhouser opened #1180 "Access and Use Constraints for Esri data in Basic Diversity Demographics"
@karlterrey Can you take a look at the Access and Use Constraints for Basic Diversity Demographics id=28ab6e3f1f924c259282133706fd778e?  This data is a subset of Esri data and we need to clearly communicate that it isn't for use outside of Esri, Inc and Esri distributors. Can you suggest some wording?

[2015-10-05 22:30] jrweakland commented on #1177
@lfunkhouser - these are ready for your review.

[2015-10-05 22:32] jrweakland commented on #1173
@lfunkhouser - ready for your review.

[2015-10-05 22:45] lfunkhouser commented on #1179
Set extent and Released to ReleasedIntelligence

[2015-10-05 23:06] karlterrey commented on #1180
@nfeuerstein where did this data come from? If it is from the Tapestry Team  we will need some documentation that we can use it and what restrictions we have. Mary C put up permissions on Box for the 2011/2016 demographic data that included email authorization. That would be a good model to work from.

[2015-10-05 23:11] lfunkhouser commented on #1178
@jfrygeo Are the additional credits to be cited besides Esri for this web map?

[2015-10-05 23:14] lfunkhouser commented on #1178
Both have been released under owner DemoMilitary

[2015-10-05 23:15] jrweakland commented on #1134
Data permissions are located on the data folder and on Box.

[2015-10-05 23:21] #1179 closed

[2015-10-05 23:25] lfunkhouser commented on #1177
@jrweakland Both items are released under owner DemoMilitary

[2015-10-05 23:43] lfunkhouser commented on #1173
@jrweakland Released under owner DemoMilitary

[2015-10-05 23:57] lfunkhouser opened #1181 "HostileOperations have units in Afghanistan"
@jrweakland Should there be hostile forces in Afghanistan and an unknown unit in the map?id=0750cc5ebd3b473184dbd428c3861134

If the Afghanistan data is going to remain in the map service, the extent of the item should be over Monterey, CA since that is what the item summary and description state.

[2015-10-06 00:05] lfunkhouser opened #1182 "FriendlyOperations has units and control measures in Afghanistan"
FriendlyOperations id=6a33688d4bb6493aba882b86d934c4ce has units and control measures in Afghanistan as well as Monterey. If the units in Afghanistan support a specific demo, the description should be updated to explain this.

[2015-10-06 02:16] ScottCecilio commented on #1175
This was a temp map that I believe has now been deleted.  Please verify.

[2015-10-06 02:18] ScottCecilio commented on #1170
I am not sure what you are look for here?

[2015-10-06 02:25] ScottCecilio commented on #1146
There was no video from UC created and I posted the Land Operations video in the location which covers the Intelligence Support to Operations demonstration.  Please review and close.

[2015-10-06 13:12] conklinbd commented on #1175
@ScottCecilio the map had id:e9afca99ffa14bf0b064df6631210f60.
This map still exists.

The service id:dd6abcdbdca54ef993c5f2504cb35c57 also still exists and is owned by your user.

Tip: You can search for these items by copying and pasting the id:guid into the search box on the portal.

[2015-10-06 13:16] conklinbd commented on #1170
@ScottCecilio you will need to replace the layers in these web maps with the layers from this service. I can just do this for you if you want since both web maps have been released.

If you want me to do it let me know. I will also need to know if you modified the symbology or popup info for these services when you added them to the web map.

[2015-10-06 13:28] jrweakland commented on #1177
Verified and closing

[2015-10-06 13:28] #1177 closed

[2015-10-06 13:28] jrweakland commented on #1173
Verified and closing.

[2015-10-06 13:28] #1173 closed

[2015-10-06 13:30] jrweakland commented on #1182
@pHill5136 or @ScottCecilio - do you have a need for units in afghanistan? I do not recall that we still have a need for units and control measures there.

[2015-10-06 13:31] jrweakland commented on #1181
@pHill5136 or @ScottCecilio - do you have a need for units in afghanistan? I do not recall that we still have a need for units and control measures there.

[2015-10-06 13:50] jrweakland commented on #1010
@lfunkhouser - ready for your review. id:5f5e48f2cf48451b9fb8e5cecd7979b0

[2015-10-06 13:50] pHill5136 commented on #1181
@jrweakland @ScottCecilio  This is just a copy of the old service used for gee. The Afghan troops are legacy. I can delete.

[2015-10-06 13:51] pHill5136 commented on #1182
These are leftover from the old server. I will delete.

[2015-10-06 13:56] elinz opened #1183 "Demo and Released accounts must have at minimum Publisher role otherwise hosted service publishing will not work"
Demo and Released accounts must have at least Publisher role otherwise hosted service publishing to target Ops Servers will fail.

@lfunkhouser @conklinbd FYI. I will modify account roles on dev portal.

[2015-10-06 14:07] elinz commented on #1183
Changed Demo and Released accounts to Publisher role. Closing issue.

[2015-10-06 14:07] #1183 closed

[2015-10-06 14:35] pHill5136 commented on #1120
@jrweakland @helyx-rterry @abrowning80 I deleted these. And closing.

[2015-10-06 14:35] #1120 closed

[2015-10-06 14:37] pHill5136 commented on #1118
John I changed the name for the synchronization. Closing issue.

[2015-10-06 14:37] #1118 closed

[2015-10-06 14:38] elinz opened #1184 "TEM2015 Test 01: Camps feature service item does not exist"
Item 621106f10a85416495445fc44e562edc associated with NationalIntelligence/Camps/MapServer existed in TEM2015 Ops Server Test 01 build, but item f96cbe75893b48139d8ec3c96ef9bd50 associated with the Camps feature service does not exist.

Searching dev portal I find that both portal items are owned by ReleasedIntelligence owner, so assumption is that the feature service item f96cbe75893b48139d8ec3c9

[2015-10-06 14:55] pHill5136 opened #1185 "GeoEvent cannot see ObservationReports layers"
@topowright @jrweakland Usually this happens when the feature service is shared to publicly accessible share (i.e. Everyone) and the map service is not shared publicly.

[2015-10-06 15:24] jessnoo commented on #1151
Thanks @conklinbd this worked!

[2015-10-06 15:24] #1151 closed

[2015-10-06 15:29] jrweakland commented on #1181
@pHill5136 @ScottCecilio - I have noticed that the installations, units, and equipment layers have unknown symbology. The SIGINT TRack does not have proper symbol with the layer. That layer is using single symbol.

[2015-10-06 15:47] jrweakland commented on #1182
@pHill5136 @ScottCecilio - this item also has unknown installations and equipment in the symbology. Any reason why?

[2015-10-06 15:59] lfunkhouser commented on #1134
@karlterrey Assigning to you to test it it meets your critera

[2015-10-06 16:09] elinz opened #1186 "Will NationalIntelligence/GNISNames/GeocodeServer service be released for TEM2015 release?"
"GNIS Geocoding" Geocoding Service item 55f0d69ba58040adbe2655b932be4bac is shared with "Release Review" group. Will this item/service be released in time for the TEM2015 release? Just want to make sure because if it's not going to be released I need to remove instructions for configuring this geocoding service in the Ops Server Installation Guide. Thanks.

[2015-10-06 16:18] elinz opened #1187 "Release NationalIntelligence/WorldElevationCache/ImageServer service"
@nfeuerstein @lfunkhouser We need this service so that we can configure the portal to use a local elevation service. As of 06 Oct 2015 09:13 Pacific this item 91c91cea61da45b5a9f2b6ff337b8093 is not shared with the "Release Review" group.

[2015-10-06 16:30] nfeuerstein commented on #1187
@elinz this service was not shared with the Intel QA/QC group.  @NatalieCampos created this service and on 9/10 I sent an email asking if it was ready to be released/could be shared with the QA/QC group.  @NatalieCampos can this service be released?

[2015-10-06 16:31] NatalieCampos commented on #1187
Yes.

[2015-10-06 16:32] elinz opened #1188 "Mosaic Dataset "OperationalImagery.gdb\Declassified" does not contain any records"
The data server contains the following empty mosaic dataset:
data\FoundationOverlays\OperationalImagery\OperationalImagery.gdb\Declassified

The data server also contains two related images, but these images do not have a defined spatial reference:
data\FoundationOverlays\OperationalImagery\Declassified

I don't believe there is an image service associated with this mosaic dataset and the underlyi

[2015-10-06 16:34] nfeuerstein commented on #1180
@karlterrey this service was created from the same data Mary compiled permissions for.  @MaryClawson can you please update the "access and use contraints" for the demographic services to capture the permissions as provided by the Esri Demographics team.

[2015-10-06 16:41] karlterrey commented on #1134
@lfunkhouser @jrweakland fix as assigned. Closing this.

[2015-10-06 16:41] #1134 closed

[2015-10-06 16:46] ircampbell commented on #1140
Video, script, and slides have been added here....
•	Videos and scripts: \\disldb\OpsServerStaging\2015_Q4\Resources\Videos
•	Presentation here: \\disldb\OpsServerStaging\2015_Q4\Resources\2015UCPresentations

[2015-10-06 16:46] nfeuerstein commented on #1176
Done.

[2015-10-06 16:46] #1176 closed

[2015-10-06 16:48] ircampbell commented on #1140
@dfoll Please verify and close

[2015-10-06 16:49] elinz opened #1189 "Mosaic Dataset "OperationalImagery.gdb\OrbView3" does not contain any records"
The data server contains the following empty mosaic dataset:
data\FoundationOverlays\OperationalImagery\OperationalImagery.gdb\OrbView3

The data server does contain related images:
data\FoundationOverlays\OperationalImagery\OrbView3

Are there any services using this data? Is this data being used for the ImageDiscovery app?

If this data and empty mosaic dataset are not being used for anything ca

[2015-10-06 16:52] conklinbd commented on #1152
The EGDB has been created. Please try the approach of copying the data to the EGDB first and then publishing using that as your data source.

[2015-10-06 16:53] elinz opened #1190 "Mosaic Dataset "OperationalImagery.gdb\SIRC" does not contain any records"
The data server contains the following empty mosaic dataset:
data\FoundationOverlays\OperationalImagery\OperationalImagery.gdb\SIRC

The data server does contain related images:
data\FoundationOverlays\OperationalImagery\SIRC (but ArcMap can't read any of these images)

Are there any services using this data? Is this data being used for the ImageDiscovery app?

If this data and empty mosaic datase

[2015-10-06 16:55] elinz opened #1191 "Mosaic Dataset "OperationalImagery.gdb\Landsat" does not contain any records"
The data server contains the following empty mosaic dataset:
data\FoundationOverlays\OperationalImagery\OperationalImagery.gdb\Landsat

The data server does contain related images:
data\FoundationOverlays\OperationalImagery\Landsat
data\FoundationOverlays\OperationalImagery\Landsat8

Are there any services using this data? Is this data being used for the ImageDiscovery app?

If this data and empty

[2015-10-06 16:57] conklinbd commented on #1168
Since this is a known issue for this release I am going to change it to next.

[2015-10-06 16:57] lfunkhouser opened #1192 "Drug Grows data outside AOI"
Illicit Drug Grows notional data was created outside the AOI. When you zoom in once using the basemaps on the Ops Server, you get the following:

![image](https://cloud.githubusercontent.com/assets/3800729/10315626/42b16f34-6c10-11e5-8dc2-1bae3237c74e.png)

Suggestion is to modify the data to be within the AOI.

[2015-10-06 16:59] conklinbd commented on #1137
Slides have been copied. For video do you mean the technical workshop video?
@dfoll.

[2015-10-06 17:00] conklinbd commented on #1141
This will not be released with this release.

[2015-10-06 17:01] #1141 closed

[2015-10-06 17:01] nfeuerstein commented on #1192
The forest extends outside the AOI.  It works fine at smaller scales which is how it was demo'd...or, if larger scales are needed, we can point to an AGOL basemap.

[2015-10-06 17:01] #1192 closed

[2015-10-06 17:03] NatalieCampos commented on #1144
Video has been posted.

[2015-10-06 17:05] NatalieCampos commented on #1147
The current version of the Discovery App needs to be rebuilt with different styling before I can make the video.  This will keep the video consitent with the demo/released version.

[2015-10-06 17:05] jfrygeo commented on #767
working with support to with this issue.

[2015-10-06 17:06] jfrygeo commented on #767
Working with support to deal with this issue of having an image service in a GP service. Esri Case #01688405

[2015-10-06 17:07] jfrygeo commented on #777
Esri Case #01688405

[2015-10-06 17:20] conklinbd commented on #1152
Based on email with @DeborahRoth the Map Service Publishing is sufficient for her needs so we will release it this way.

[2015-10-06 17:20] #1152 closed

[2015-10-06 17:27] nfeuerstein commented on #1188
I deleted what I could.  The folders are currently open elsewhere so I wasn't able to delete everything.

[2015-10-06 17:32] pHill5136 commented on #1181
Removed unknown symbology from layers

[2015-10-06 17:33] nfeuerstein commented on #1187
@NatalieCampos - is this Access and Use Contraints for that service correct?  It reads: "The information presented in this service is based on standard Esri Commercial off-the-Shelf (COTS) technologies and commercial data. Any scenario data is notional.  The locations of these events are approximate. The threat assigned to these events are notional. Use of military imagery does not imply or consti

[2015-10-06 17:33] elinz commented on #1187
@nfeuerstein @lfunkhouser FYI. At the end of the release process this service should be owned by "ReleasedOpsServer".

[2015-10-06 17:33] pHill5136 commented on #1182
removed unknown symbology.

[2015-10-06 17:34] pHill5136 commented on #1181
Sigint symbology restored.

[2015-10-06 17:34] nfeuerstein commented on #1189
Tried to delete it but "the action can't be completed because the file is open in another program."

[2015-10-06 17:35] nfeuerstein commented on #1190
Deleted.

[2015-10-06 17:35] #1190 closed

[2015-10-06 17:35] pHill5136 commented on #1181
@ScottCecilio Scott I fixed these.

[2015-10-06 17:36] NatalieCampos commented on #1187
The Access Use/Constraints was copied out of OneNote.  Do you want it edited?

[2015-10-06 17:36] DeborahRoth opened #1193 "Creating app from template using My Contents window leads to 'Page Not Found'"
@conklinbd
When you create an application from a web template by clicking on Create (in the My Content window) --> App --> Using a Template, the page you are redirected to says 'Page Not Found'
![create](https://cloud.githubusercontent.com/assets/12927140/10316747/c593ee18-6c15-11e5-9659-7af4a9b91b38.PNG)
![pagenotfound](https://cloud.githubusercontent.com/assets/12927140/10316653/40ab1cf8-6c15-11

[2015-10-06 17:37] nfeuerstein commented on #1187
Is it correct?   Are there locations of events that are approximated?  Are there threats assigned to events?  Is there military imagery used?

[2015-10-06 17:38] jfrygeo commented on #1121
Trying to get video from http://geochannel.esri.com/index.cfm?event=video.view&channelId=38&videoId=5456 and be able to clip into segments, but may be this is only Esri Internal.

[2015-10-06 17:39] NatalieCampos commented on #1187
The access use and constraints have been corrected/edited.

[2015-10-06 17:42] nfeuerstein commented on #1166
Fixed it.

[2015-10-06 17:43] nfeuerstein commented on #1187
@lfunkhouser Item now shared with Release Review group.

[2015-10-06 17:47] jfrygeo commented on #1121
Published link to http://geochannel.esri.com/index.cfm?event=video.view&channelId=38&videoId=5456 for the Maritime Operations at 2015 UC.

[2015-10-06 17:47] elinz commented on #1187
@nfeuerstein @NatalieCampos In the Access Use/Constraints it states "Any scenario data is notional." Does this statement apply here? All the elevation data is real, correct? Or are we adding this statement to all of our content? Thanks.

[2015-10-06 17:51] conklinbd commented on #1193
@DeborahRoth this is known issue with Portal 10.3.1.
Thanks for reporting it. This workaround will apply until Portal 10.4.

[2015-10-06 17:52] jfrygeo commented on #1121
Copied PPT and PDF for the presentation to: \\disldb\OpsServerStaging\2015_Q4\Resources\2015UCPresentations\ArcGIS for the Military_Maritime Operations_An Overview

[2015-10-06 17:54] elinz opened #1194 "Jenkins build server: GeoEventConfig.xml not being extracted during build process"
OpsServerBuilds\Archive\20151002_1949\OPSServerInstall\Geoevent did not contain the GeoEventConfig.xml file.

[2015-10-06 17:57] jfrygeo commented on #774
no. fixed on solution pages here:http://arcgisforintel.maps.arcgis.com/apps/StorytellingTextLegend/index.html?appid=945b9bec781b444baffc1de307bfbc48

[2015-10-06 17:57] #774 closed

[2015-10-06 17:58] jfrygeo commented on #767
same as issue #777 - closing issue

[2015-10-06 17:58] #767 closed

[2015-10-06 18:13] phil7277 commented on #1088
@nfeuerstein, The original webmap was created to power the GEOFORM (ISR Mission Report) and the ISR Dashboard. @ScottCecilio  created a new one for the Land OPS demo calling the same feature layer which powers another GEOFORM he creates and a browser based dashboard.

[2015-10-06 18:35] ScottCecilio opened #1195 "Mission Reports for Land Operations"
This feature service has had all items within it deleted.  This needs to have items in it or I need to be able to access a similar Feature Service for the Land Operations demonstration.  I can only find similar map services.

https://nsec.esri.com/ags/rest/services/Military/MissionReport/FeatureServer/0

Is this due to the GEE simulations?

[2015-10-06 18:48] BobBooth opened #1196 "ArcGIS for the Military: Analyzing Environmental Impact on Operations - needs videos posted for Ops Server Release"
@mfunk @jfrygeo - check email reminder for details of what goes where.

[2015-10-06 18:50] BobBooth opened #1197 "Squad Leader for Military Operations (Gary) - needs videos posted for Ops Server Release"
@garys-esri  check email reminder for details of what goes where.

[2015-10-06 18:51] BobBooth opened #1198 "ArcGIS Full-Motion Video Capabilities for Defense - needs videos posted for Ops Server Release"
@amuleh - check email reminder for details of what goes where.

[2015-10-06 18:52] BobBooth opened #1199 "ArcGIS for the Military: Land Operations: An Introduction - needs videos posted for Ops Server Release"
@ScottCecilio - check email reminder for details of what goes where.

[2015-10-06 18:52] ScottCecilio commented on #1175
This Web Map is awaiting release

[2015-10-06 18:53] ScottCecilio commented on #1170
@elinz @conklinbd I believe that this is not complete.  Please verify and close.

[2015-10-06 18:53] BobBooth opened #1200 "Creating Overlays for Military Operations - needs videos posted for Ops Server Release"
@rbernstein - check email reminder for details of what goes where.

[2015-10-06 18:55] BobBooth opened #1201 "Vehicle Commander for Military Operations - needs videos posted for Ops Server Release"
@garys-esri  check email reminder for details of what goes where.

[2015-10-06 18:56] BobBooth opened #1202 "Using Rasters to Measure Impact of Weather on Military Operations - needs videos posted for Ops Server Release"
@mfunk -  check email reminder for details of what goes where.

[2015-10-06 18:57] BobBooth opened #1203 "ArcGIS for the Military: MIL-STD-2525D Joint Military Symbology - needs videos posted for Ops Server Release"
@abouffard - check email reminder for details of what goes where.

[2015-10-06 18:58] BobBooth opened #1204 "MAoW - needs videos posted for Ops Server Release"
@abrowning80 - check email reminder for details of what goes where.

[2015-10-06 19:04] mfunk commented on #1193
Related to #877

[2015-10-06 19:04] abrowning80 commented on #1204
Hi. Milestone next does that mean to be done for this Friday as per the email or is this to be done for the next release of ops server? Am trying to get them done for this release.

[2015-10-06 19:07] BobBooth commented on #1204
Yes, target data is the Friday, for this release.

[2015-10-06 19:10] elinz opened #1205 "GeoEvent Server contains message simulator files in multiple locations"
Geoevent server contains messages in the following two locations:
C:\MessageSimulator\Messages
C:\OpsServer\GeoEventData\MontereySimulations

A couple of the files are duplicated.

Messages should only be contained in the folder C:\MessageSimulator\Messages or its subfolder "GeoEventSimulator"

- C:\MessageSimulator\Messages: Should only contain messages run by the MessageSimulator (i.e. ArcGISQtM

[2015-10-06 19:14] jrweakland commented on #1205
@pHill5136 - please clean up the files and then reassign the issue to @elinz for verification.

[2015-10-06 19:15] jrweakland commented on #1203
@abouffard  - I add the video I made for 2525D in 10.4 Server. @rbernstein is still on the hook for the demo with Pro and the military overlay from the demo theater.

[2015-10-06 19:15] mfunk commented on #1196
@jrweakland any idea where Erik left his MAoT stuff he used for his demos? I'll need to rework it to do a video.

[2015-10-06 19:16] jrweakland commented on #1203
@BobBooth - Closing this issue since the portal portion of the demo is posted to the folder.

[2015-10-06 19:16] #1203 closed

[2015-10-06 19:21] jrweakland commented on #1175
@ScottCecilio - please provide id # of the map and I will review and forward for release.

[2015-10-06 19:40] conklinbd commented on #1178
Verified.

[2015-10-06 19:40] #1178 closed

[2015-10-06 19:42] conklinbd commented on #1170
Verified: e9afca99ffa14bf0b064df6631210f60 uses layers 0-4 which seems correct
b83cf730926943bdab17b0b91e9d6d98 uses layer 5 which is the airfield,

[2015-10-06 19:43] conklinbd commented on #1170
@lfunkhouser I changed these back to DemoMilitary user.

[2015-10-06 19:43] #1170 closed

[2015-10-06 19:44] conklinbd commented on #1082
@jessnoo is this still an issue? Do we need to keep debuging this app?

[2015-10-06 19:46] jfrygeo commented on #1196
Not sure. Maybe Scott Cecilio was working on it?

From: Matt Funk [mailto:notifications@github.com]
Sent: Tuesday, October 6, 2015 3:16 PM
To: Esri/ops-server-config
Cc: John Fry
Subject: Re: [ops-server-config] ArcGIS for the Military: Analyzing Environmental Impact on Operations - needs videos posted for Ops Server Release (#1196)

@jrweakland<https://github.com/jrweakland> any idea where Erik l

[2015-10-06 19:46] conklinbd commented on #1018
Observation report Layer 0 exists. Closing.

[2015-10-06 19:46] #1018 closed

[2015-10-06 19:46] conklinbd commented on #1019
Verifying that was the intended fix.

[2015-10-06 19:46] #1019 closed

[2015-10-06 19:48] conklinbd commented on #1014
@pHill5136 my impression is that this has been resolved. I am closing.

[2015-10-06 19:48] #1014 closed

[2015-10-06 19:49] pHill5136 commented on #1195
I think GeoEvent deleted the features. I have a layer for mission reports https://nsec.esri.com:6443/arcgis/rest/services/Military/IntelReports/FeatureServer/0. Also will try to restore these.

[2015-10-06 19:49] conklinbd commented on #1013
Based on the number of messages +1million that have processed without error I am closing this issue.

[2015-10-06 19:49] #1013 closed

[2015-10-06 19:50] jfrygeo commented on #1125
Videos and links are here:
<ln>"\\disldb\OpsServerStaging\2015_Q4\Resources\Videos\2015 UC Demo Theater Managing Bases and Facilities"

Powerpoint is here: \\disldb\OpsServerStaging\2015_Q4\Resources\2015UCPresentations\2015UC_ManagingBasesAndFacilitiesDemoTheater.pptx @BobBooth

[2015-10-06 19:51] nfeuerstein commented on #1187
@elinz The elevation data is all real; however, any scenario it is used in is notional as none of the data we provide via the ops server is to be used in an operational way.

[2015-10-06 19:53] nfeuerstein commented on #1167
I'm building another app now with a different theme.

[2015-10-06 20:09] conklinbd commented on #896
@NatalieCampos can you please look in to this issue.

[2015-10-06 20:09] BobBooth commented on #1125
@jfrygeo - Thanks! Closing.

[2015-10-06 20:09] #1125 closed

[2015-10-06 20:11] conklinbd commented on #1095
Based on discussion it seems like we have permission but we need to ensure the citation is present.

[2015-10-06 20:18] dfoll commented on #1153
@karlterrey this one was a simple fix... we had the permissions (through the demographics data) just needed documented according for "AdminBoundaries" ... please check and make sure everything is now legit

[2015-10-06 20:22] dfoll commented on #1155
i have moved the spreadsheet elevationsources.xlsx over to box

[2015-10-06 20:29] dfoll commented on #1157
@karlterrey made note according to your request, please review

[2015-10-06 20:32] dfoll commented on #1158
i think this was done at just about the same time you were creating this issue... please review on box

[2015-10-06 20:37] dfoll commented on #1159
@nfeuerstein please weigh on this... i am certain that @mfunk collected this data and originally built the services, but i believe we scrapped those services... they at least do not exist as services on portal anymore

[2015-10-06 20:40] nfeuerstein commented on #1159
@dfoll @mfunk did a lot of good work on some road and rail networks, but they were scrapped in favor of using TDS road and rail data.  We can probably delete the permissions since there are no services or data that need those permissions anymore.

[2015-10-06 20:47] dfoll commented on #1139
@ircampbell said folder is here...
\\nsecdata\Data\DerivedLayers

please add permissions information there.... when you are done, reassign to me, and i will get it also moved to the appropriate place on box

[2015-10-06 20:51] dfoll commented on #1161
just a note for the followers of this issue... the spreadsheet is there, but i did not move it, because it is not complete, it currently is only filled out for the landsat.... other data sources, as far as a i can see have not been added to it yet @nfeuerstein @Nekillims

[2015-10-06 21:05] garys-esri commented on #1197
Duplicate of #1115

[2015-10-06 21:06] garys-esri commented on #1115
Posted slides, video, and script in internal directory

[2015-10-06 21:07] garys-esri commented on #1201
Duplicate of #1122

[2015-10-06 21:08] garys-esri commented on #1122
Posted slides, video, and script in internal directory

[2015-10-06 21:17] elinz opened #1206 "Development GeoEvent configuration has an unneeded folder data store (i.e "AFMData")?"
@jrweakland @pHill5136 Imported the GeoEvent xml configuration from our development geoevent server into a clean Geoevent server and import threw error that AFMData (C:\data) folder does not exist.

I've checked the GeoEvent xml configuration file and searched for the label/name "AFMData" and it's only referenced in the data store section of the xml configuration. AFMData was a data store that was

[2015-10-06 21:18] #1201 closed

[2015-10-06 21:18] #1197 closed

[2015-10-06 21:19] #1122 closed

[2015-10-06 21:19] #1115 closed

[2015-10-06 21:25] elinz opened #1207 "TEM2015 Test 01: GEE output service "MarkLogic-AddObservationFsOut" does not exist after GEE config import"
@jrweakland @pHill5136 Imported development geoevent configuration into TEM2015 test server and the "MarkLogic-AddObservationFsOut" output service does not exist.

[2015-10-06 21:27] pHill5136 commented on #1195
@ScottCecilio @jrweakland I restored these features to the original feature class

[2015-10-06 21:37] conklinbd commented on #1207
@pHill5136 if this service isn't going to be released, we should delete the output.

[2015-10-06 21:41] elinz commented on #1207
@jrweakland @pHill5136 Investigated further. The ObservationReports service was not created on the Test server because the incorrect/invalid portal items were released for this service.

According to the ArcGIS Server service json the NationalIntelligence/ObservationReports service is associated with the following GUIDs:
{"itemID":"36834c8db03c43df92bf2ef230d958ce","type":"MapServer"}
{"itemID":"d

[2015-10-06 21:45] ircampbell commented on #1139
https://esri.app.box.com/files/0/f/4883213041/DerivedLayers

@karlterrey Karl, let me know if you need any further information.  Hopefully I put everything in the correct locations.  Thanks.

[2015-10-06 21:45] jrweakland commented on #1182
Verified. @lfunkhouser

[2015-10-06 21:50] karlterrey commented on #1139
Verified and closed.

[2015-10-06 21:50] #1139 closed

[2015-10-06 21:56] karlterrey commented on #1159
Verified permissions have been removed and issue closed.

[2015-10-06 21:56] #1159 closed

[2015-10-06 21:59] karlterrey commented on #1158
Verified and closed

[2015-10-06 21:59] #1158 closed

[2015-10-06 22:00] conklinbd commented on #1089
I do not see this item any more. Is this issue still valid @ScottCecilio or @lfunkhouser

[2015-10-06 22:01] conklinbd commented on #1088
@lfunkhouser Does this answer your question?

[2015-10-06 22:01] jrweakland commented on #1181
Verified. @lfunkhouser

[2015-10-06 22:02] karlterrey commented on #1157
Verified and closed

[2015-10-06 22:02] #1157 closed

[2015-10-06 22:03] conklinbd commented on #1028
I can verify that the only layer is layer 0. I am closing this issue.

[2015-10-06 22:03] #1028 closed

[2015-10-06 22:03] karlterrey commented on #1155
Verified and closed

[2015-10-06 22:03] #1155 closed

[2015-10-06 22:05] karlterrey commented on #1153
Verified and closed

[2015-10-06 22:05] #1153 closed

[2015-10-06 22:08] pHill5136 commented on #1207
@conklinbd @topowright @jrweakland The dependent layer exists in the service, but geoevent cannot see it. It can see the service just not the layer. Typically this happens when the feature service is shared to a public group but the corresponding map service is still in a private group.
Jim can you check the status of the ObservationReports Map Server. Last I heard it was in DemoReview. I cant fin

[2015-10-06 22:14] conklinbd opened #1208 "NAIP Image services is used by released content"
NAIP Image Service ID:ca7d6030cb3e4f7d9131c661d432c0c8
Is used by released content but is not released.

@NatalieCampos is going to republish to fix the other NAIP issues then we need to get this released (at least to demo review.

@nfeuerstein let me know if you have any issue with this. I will push this through to demo release.

[2015-10-06 22:15] conklinbd commented on #1208
@NatalieCampos I reassigned to you so you can overwrite the service. Reassign back to me after you overwrite.

[2015-10-06 22:15] pHill5136 commented on #1205
The simulation in C:\OpsServer\GeoEventData\MontereySimulations is already in the C:\MessageSimulator\Messages folder. Deleting the former.

[2015-10-06 22:19] conklinbd commented on #1175
This is the id of the service:  dd6abcdbdca54ef993c5f2504cb35c57
Please review @jrweakland

[2015-10-06 22:19] elinz commented on #1207
@conklinbd @topowright @jrweakland @pHill5136 There is no associated map service item for this service so access can't be controlled. The only users who can see this are admins.

I will fix this by editing the service json so feature service will point to portal item 12919c56d6a8446985a18d173f0f66f1  that was released to ReleaseIntelligence. I will manually create the map service portal item and e

[2015-10-06 22:19] pHill5136 commented on #1206
Removed file datasdtore afmdata

[2015-10-06 22:22] jrweakland commented on #1101
I have sent @karlterrey a quick look document with metadata and access and use constraints for this service. We shall see what legal has to say about it.

[2015-10-06 22:23] nfeuerstein commented on #1208
@conklinbd Sounds good.

[2015-10-06 22:27] conklinbd opened #1209 "TWI Content used in released content."
This was owned by our TWI Soldier so Looking for assistance to get this released.
No Description, bad title etc..

- [x] id:1861307746174ca5914713795d19ec7c Tile Layer - Monterey Bay Area of Operations
- [x] id:8833db468b34457496a9f2b358417d09 Tile Layer - Cover
- [x] id:773d718010da4a63b86dec6ee2cdeaa6 Tile Layer Drop_Zone_Analysis
- [x] id:b9ef7590b9c9440c87ce17c448b38b53 Tile Layer HMMWV_CCM

i

[2015-10-06 22:42] jrweakland commented on #1023
This webmap id:1e607ce98b6241baa05e53f8171638de
and this feature service id:12919c56d6a8446985a18d173f0f66f1
are relying on this being resolved.

[2015-10-06 22:42] conklinbd commented on #1209
@jrweakland this is the complete list for TWI.

[2015-10-06 22:45] conklinbd opened #1210 "Points of Interest used in Released Web Map but not released"
id:3A56228feb2f684aaa9db108f588666fc7

Point of Interest Map Service used in the released web maps. Need to be released for demo purposes at least.
Content is in release review so assigning to @lfunkhouser.

[2015-10-06 22:45] elinz commented on #1023
All, please ignore this isssue. I am fixing this issue.

[2015-10-06 22:46] elinz commented on #1023
See issue #1207

[2015-10-06 22:46] #1023 closed

[2015-10-06 22:48] conklinbd opened #1211 "Piracy by Subregion 2009to2013 Feature Service released by corresponding Map Service not released"
id:c33c98003a41459499e2b06978336f87.
Piracy by Subregion 2009to2013 Map Service item also needs to be released if the feature service item is released.

[2015-10-06 22:48] elinz commented on #1207
Fixed issues with the ObservationReports service. Will verify this issue when we create the final ops server build and deploy to test machine.

[2015-10-06 22:52] elinz opened #1212 "Verify all resources referenced in Geoevent configuration are released"

[2015-10-06 22:56] conklinbd opened #1213 "Movement Analysis Web Dashboard not released"
id:b307eca9bf9d4c0e8881d64b031f0002
This is used in the NSEC demo.

My guess is this got missed during release review.
Assigning to @lfunkhouser

[2015-10-06 22:57] jrweakland opened #1214 "Distance From Water Map Service Needs to be Released"
Map Service id:002451cd86134f7fa8b9394174142242 needs to be released. This service is being used by web map id:6214c50aa89b43a0ac842ac2bb1ba7eb   "Distance From Water".

This is a ReleaseIntelligence portal item.

@nfeuerstein - I just updated the items that needed to be resolved for this item.

[2015-10-06 22:58] conklinbd opened #1215 "Tsunami Hits Monterey Coast not released"
id:d863515930c7412682678d7298544bf3 Briefing Book Tsunami Hits Monterey Coast
This item is being used in released content from National Security team.

@kerryrobinson just FYI.
@MaryClawson this item is owned by you. I think it looks good enough for a demo release at least.

[2015-10-06 23:00] conklinbd opened #1216 "ISIL March Accross Iraq not released"
id:387bfd7f9d204139b7201da2472ec8e8
This Map Journal is being used in content produced by the National Security Team.

@kerryrobinson FYI.

Content looks good if we have appropriate permissions.
@CraigCleveland

[2015-10-06 23:00] elinz opened #1217 "TEM2015 Test 01: GEE output service "MarkLogic-ObservationsFsPollIn" does not start"
This input service won't start because it references a service that does not exist NationalIntelligence\ObservationReportsML\0 (feature service).

NOT SURE WHY WE NEED two ObservationReports services.

The service on the dev server references the following portal items which are not released:
{"itemID":"bff0a7b237e946b385bc7223d8af5ae4","type":"MapServer"}
{"itemID":"e1786c4738b54473982b7f0b854536

[2015-10-06 23:12] conklinbd opened #1218 "Can't find item mentioned in Map Journal"
Can't find an item referenced in the map journal. Journal ID:5cd903df8c234d9584f77bad9be47222
Missing Item ID:
@kerryrobinson
{
title: "<p><strong><span style="font-size:22px">Maritime Charts</span></strong></p> ",
content: "<p><span style="font-size:12px">Vector nautical charts can be served as as a query-able GeoServices REST services or OGC Web Map Services.&nbsp; These services support dynamic

[2015-10-06 23:16] conklinbd opened #1219 "Item not released NAIP over Time"
id:c725e126a53b4fbab72157dd77c0c29d
Not released but used in content from National Security Demo.
@kerryrobinson FYI..

[2015-10-06 23:17] elinz commented on #1211
NOTE: the associated feature service owned by "DemoMilitary" so release map service item to same owner.

[2015-10-06 23:18] conklinbd opened #1220 "Item not Released Elevation View of Police Station"
Id:c6ffb9f409174948b6d0687eb8fcbfb5
The application Elevation View of Police Station and Businesses Destroyed is not released.

This is great app and part of the Demo for National Security.
@kerryrobinson FYI..

@MaryClawson Please release.

[2015-10-06 23:22] ScottCecilio commented on #1089
https://nsec.esri.com/arcgis/home/item.html?id=b0d5bd4b97d34882adfbae9def6cc309

I need a feature service for Land Operations and not map service.  As long as the feature servic, https://nsec.esri.com/arcgis/home/item.html?id=d78f22ee0b5e454588b9a0883cfd8d22, then I will be good to go.

[2015-10-06 23:28] jrweakland commented on #1175
@lfunkhouser - ready for your review and release.

[2015-10-06 23:29] ScottCecilio commented on #1195
I just checked the original feature service and it is empty.
https://nsec.esri.com/arcgis/home/item.html?id=d78f22ee0b5e454588b9a0883cfd8d22

[2015-10-06 23:43] elinz opened #1221 "TEM2015 Test 01: CopyFiles.py script failed"
Believe the error thrown could be due to path length.

***** ERROR ENCOUNTERED *****
PYTHON ERRORS:
Traceback info:
  File "C:\ops-server-config\Publish\Server\CopyFiles.py", line 153, in <module>
    success = copyDataFolders(src_folder, dest_folder, owner_account)

Error Info:
[Error 3] The system cannot find the path specified: '\\\\[FILESERVER]\\development\\Commercial\\OpsServerBuilds\\Archiv

[2015-10-06 23:44] elinz commented on #1221
Creating a shorting root path and retesting the CopyFiles.py. NOTE: robocopy has no problem copying this data, so this is an alternative in case the error persists with shorter paths.

[2015-10-07 00:01] joebayles commented on #1127
Done, to @BobBooth to verify.

[2015-10-07 00:01] joebayles commented on #1127
@abrowning80 You should upload your stuff before we close this issue.

[2015-10-07 00:02] joebayles commented on #1124
@abrowning80 you should upload your stuff before we close this issue.

[2015-10-07 00:11] elinz opened #1222 "Mosaic Dataset CA_CC_Lidar.gdb\s_CA_CC_2010_DSM references incorrect paths"
Mosaic Dataset data\FoundationOverlays\Elevation\MosaicDatasets\CA_CC_Lidar.gdb\s_CA_CC_2010_DSM contains paths with local C:\OpsServer\Data instead of UNC path to \\_FILESERVER_\Data

[2015-10-07 02:07] NatalieCampos commented on #1222
@elinz I have fixed the mosaic dataset paths. to nsecdata. I am concerned however,  as I have fixed the paths to this mosaic an other mosaics repeatedly.  I am confused about how the paths keep reverting to some other location.  Could the build or extract process be overwriting paths?

![image](https://cloud.githubusercontent.com/assets/5116835/10327541/4b6c0b96-6c5d-11e5-943f-3705d8e19822.png)

[2015-10-07 03:27] jessnoo opened #1223 "Crowdsource Reporter: Can't edit configuration"
@conklinbd it seems like i'm not able to edit crowdsource reporter configs after hitting 'publish' from the  'make gallery application' dialog. and my configuration looks a little ugly with the default color scheme --

id=e8bdbc493782458dad67680cfeb26d6a

thanks for any guidance you can offer -- i may have missed something somewhere --

[2015-10-07 03:55] NatalieCampos commented on #1208
The following change were made to the  NAIP mosaic dataset:
- The mosaic was rebuilt to include original NAIP imagery
- The clipped images were removed from gdb
-The  gdb was renamed to  remove the clip reference
- The portal description was added to the mosaic dataset item description
- The portal description was added to the SD
- Unnecessary gdb tables were  removed

The portal item can be retur

[2015-10-07 04:18] jessnoo commented on #1223
same for Crowdsource Manager -- https://nsec.esri.com/arcgis/home/item.html?id=659efff073634843900b22378b585e4c

[2015-10-07 04:39] ACueva commented on #1194
@elinz Sorry, yes, I knew about this issue.  There's an issue when the token I use end with a period (.).    Looking into this issue.

[2015-10-07 04:45] ACueva commented on #1079
Verified.

[2015-10-07 04:45] #1079 closed

[2015-10-07 07:51] abrowning80 commented on #1127
@joebayles What stuff did you want me to post up?  At UC you said that you were quite happy to do the videos so have not kept any of the stuff I used.

[2015-10-07 07:51] abrowning80 commented on #1124
@joebayles What stuff did you want me to post up?  At UC you said that you were quite happy to do the videos so have not kept any of the stuff I used.

[2015-10-07 10:04] kerryrobinson commented on #1218
OK, I guess that app is gone. Instead this one can be referenced in the Map Journal: http://nsdemo.esri.com/WAB4MCS/.

Do I need to make the change? I don't have permission and don't think I can login as DemoNationalSecurity.

[2015-10-07 10:05] kerryrobinson commented on #1219
This or any other time-enabled map will do. This was the best one I could find at the time.

[2015-10-07 12:00] CraigCleveland commented on #1216
@conklinbd @kerryrobinson I spoke directly to the Esri Media team on this one as they were the original authors to clarify the licensing.  We (Esri) created it at the request of Mashable and were using their license to access the AP images and text.  So although fine to use in a public setting we do not necessarily have the rights to copy the images/text and package them up for redistribution.  I

[2015-10-07 12:17] kerryrobinson commented on #1216
OK, thanks Craig, that sounds fine.  For my What is Web GIS app (which is a Map Series story map) I just need to reference another story map or briefing book on the Ops Server that is a good example.

Maybe the Incident Briefing Book (https://nsec.esri.com/SolutionsWeb/Apps/NationalIntel/BriefingBook/?bookId=735dc51d834e4afb8d8e059bfeb64053) is a good one since it is released?

@conklinbd just let

[2015-10-07 13:00] lfunkhouser commented on #1186
Released by Released OpsServer

[2015-10-07 13:03] jfrygeo commented on #1211
@jrweakland - fixed description of https://nsec.esri.com/arcgis/home/item.html?id=c33c98003a41459499e2b06978336f87 and shared to "demo review" group. Please release under "DemoMilitary" group.

[2015-10-07 13:06] lfunkhouser commented on #1175
Hosted service released by DemoMilitary
@ScottCecilio @jrweakland Is this the associated service definition for this hosted service: id:e227db9837eb461fac3de8624aff748f

[2015-10-07 13:09] lfunkhouser commented on #1214
@jrweakland Is the data permission label indicating that we need additional data permissions for this item?

[2015-10-07 13:10] lfunkhouser commented on #1213
Item released by DemoIntelligence

[2015-10-07 13:14] elinz commented on #1222
@NatalieCampos Please do not include server names or domain account names in GitHub issues.

[2015-10-07 13:16] elinz commented on #1222
The build process does not alter the paths in mosaic datasets located in the "data" folder. We only modify mosaic datasets copied to the build folder. @ACueva Please confirm.

[2015-10-07 13:16] lfunkhouser commented on #1210
id:56228feb2f684aaa9db108f588666fc7
@nfeuerstein This item is in Release Review - is this supposed to be released as released content or demo content?

[2015-10-07 13:16] BobBooth commented on #1127
@joebayles - what is the title? I don't see anything with "Domestic Operations" in the title.
Is there a corresponding video?

[2015-10-07 13:17] conklinbd commented on #1195
@ScottCecilio and @pHill5136 why are you referencing this service via this url?
https://nsec.esri.com:6443/arcgis/rest/services/Military/IntelReports/FeatureServer/0

That is not the correct url. The correct url is:
https://nsec.esri.com/ags/rest/services/Military/IntelReports/FeatureServer/0
We do not want to bypass the web adapter when using these services.

[2015-10-07 13:18] conklinbd commented on #1089
Item id:d78f22ee0b5e454588b9a0883cfd8d22 was not released yet.
@lfunkhouser this item is shared with demo review.

[2015-10-07 13:18] lfunkhouser commented on #1182
verified as fixed

[2015-10-07 13:18] #1182 closed

[2015-10-07 13:20] lfunkhouser commented on #1181
Verified as fixed.
Released by DemoMilitary

[2015-10-07 13:20] #1181 closed

[2015-10-07 13:24] MaryClawson commented on #1220
The item is in the ArcGIS for Intelligence (QA/QC) group and is shared with Everyone.  Up to Natalie to release? @nfeuerstein

[2015-10-07 13:26] BobBooth commented on #1116
Sent video reminder to Alex.

[2015-10-07 13:27] BobBooth commented on #1116
A separate video issue exists, so closing.

[2015-10-07 13:27] #1116 closed

[2015-10-07 13:31] MaryClawson commented on #1215
This briefing book is in the ArcGIS for Intelligence (QA/QC) group and shared with everyone.  Natalie has it for release? @nfeuerstein

[2015-10-07 13:34] lfunkhouser opened #1224 "Add document links for latest versions of templates"
Adding document links as portal items to direct user to location of templates on Ops Server.
Add the 10.3/Pro 1.1 version document links for the templates included on Ops Server

Military
- [x] Beach Landing
- [x] Clearing Operations
- [x] Compound Map
- [x] Distance  to Assets
- [x] Engagement Area
- [x] GeoMessageSimulator
- [ ] ~~Helicopter Landing Zone~~
- [ ] ~~Incident Analysis~~
- [x] Lodgm

[2015-10-07 13:40] conklinbd opened #1225 "Crowdsource Manager and Reporter are both owned by DemoIntelligence"
Crowdsource Manager and Crowdsource Reporter apps are both owned by demo Intelligence.
These apps are core apps used by multiple solutions so I am reassigning to OpsServer.

[2015-10-07 13:40] conklinbd commented on #1225
Fixed. @lfunkhouser just to make sure there are no issues with this.

[2015-10-07 13:48] pshowalter commented on #1219
I don't see any image change when running hitting the play button.   This app is part of "What is Web GIS?" on ["Operational Data" in the "Time Aware Data - Imagery over Time" section.](https://nsec.esri.com/arcgis/apps/MapSeries/index.html?appid=faef542a74e141398c05c43379a67004)

Running straight out of NSEC Portal does not seem to work either?
Tested with Chrome and FF.
[Portal Web App](https://

[2015-10-07 13:52] lfunkhouser commented on #1180
@karlterrey @MaryClawson Nothing in the Access and Use constraints tells you what Esri people should do. Can there be something added like "For Esri Inc and Distributors" or something of the like?

[2015-10-07 13:52] lfunkhouser opened #1226 "Diversity and Ethnicity web map needs clearer Access and Use Constraints"

[2015-10-07 13:55] lfunkhouser opened #1227 "Diversity and Ethnicity web map needs clearer Access and Use Constraints"
Similar to #1180

@karlterrey @MaryClawson @nfeuerstein The Access and Use Constraints wording in the Diversity and Ethnicity web map (id:3d262ec7abdb4dbd925d7d9f37bd6e2d) doesn't make it clear what Esri people should do. Can we add something like for "Esri Inc and Esri Distributors" or something of the like.

[2015-10-07 13:56] karlterrey commented on #1180
@lfunkhouser @MaryClawson  If the data is the data provided by the Esri Demographics Team and covered by their permission document on Box then it is for public consumption.

[2015-10-07 13:56] #1180 closed

[2015-10-07 13:59] kerryrobinson commented on #1219
@pshowalter The NAIP Over Time app was working last week, although it took some time to refresh.  It does not seem to be working now so I'm not sure what has changed.

Do we know of any other time-enabled map that is released on the Ops Server?

[2015-10-07 14:02] conklinbd commented on #1223
@jessnoo I have not been able to figure out how to make these apps configurable. Do you know if anyone on the team has tested this with Portal?

[2015-10-07 14:06] lfunkhouser commented on #1226
duplicate of #1227
Closing

[2015-10-07 14:06] #1226 closed

[2015-10-07 14:09] conklinbd opened #1228 "Operations Center Reports (Crowd Source) uses group that is not released."
Item ID:29013195a6aa480c8bc3d1c34dbea5f0 is using the group id:a1bddbe62d4b46ad9a04dc24024bc55d which has not been released.

Also, need to ensure that the content of this group itself is released.
Many items in the group still show ownership of @phil7277 and @ScottCecilio

[2015-10-07 14:16] conklinbd commented on #1218
Reassigned item id:5cd903df8c234d9584f77bad9be47222 to @kerryrobinson to fix.
Reassign back to me to release.

[2015-10-07 14:17] conklinbd commented on #1010
Not sure why this issue was assigned to @kerryrobinson.
Reassigned to @lfunkhouser

[2015-10-07 14:26] jfrygeo commented on #1126
PPT is here
<li> \\disldb\OpsServerStaging\2015_Q4\Resources\2015UCPresentations\2015UC_AnalyzingMaritimeWeatherDemoTheater.pdf

Video for  Sea States Analysis with Raster functions is here:
<li> \\disldb\OpsServerStaging\2015_Q4\Resources\Videos\2015 UC ArcGIS for the Military - Maritime Operations

(Demonstration is used in both presentations).

@BobBooth - please verify and close comment

[2015-10-07 14:28] BobBooth commented on #1126
Verified, closing.

[2015-10-07 14:28] #1126 closed

[2015-10-07 14:37] topowright commented on #1185
@pHill5136 @jrweakland The feature layer item is missing. Republishing the service now.

[2015-10-07 14:37] jfrygeo commented on #1121
Documentation Added for "ArcGISPro_RasterFunctions_SeaState"
<ln>\\disldb\OpsServerStaging\2015_Q4\DemoAndScripts\Military\MaritimeOperations\ArcGISPro_RasterFunctions_SeaState\Documents

Video added for "ArcGISPro_RasterFunctions_SeaState"
<ln> \\disldb\OpsServerStaging\2015_Q4\Resources\Videos\2015 UC ArcGIS for the Military - Maritime Operations\\SeaStatesAnalysisRasterFunctions.mp4

[2015-10-07 14:42] jfrygeo commented on #1121
Documentation Added for "Maritime Decision Aid Template"
<li>\disldb\OpsServerStaging\2015_Q4\DemoAndScripts\Military\MaritimeOperations\MaritimeDecisionAidTemplate\Documents

Video added for "Maritime Decision Aid Template"
<li>\disldb\OpsServerStaging\2015_Q4\Resources\Videos\2015 UC ArcGIS for the Military - Maritime Operations\MaritimeDecisionAidTemplate.mp4

[2015-10-07 14:47] jfrygeo commented on #1121
Documentation Added for "Esri Maps for Office - Piracy"
<li>\\disldb\OpsServerStaging\2015_Q4\DemoAndScripts\Military\MaritimeOperations\EsriMapsForOffice_Piracy\Documents

Video added for "Esri Maps for Office - Piracy"
<li> \disldb\OpsServerStaging\2015_Q4\Resources\Videos\2015 UC ArcGIS for the Military - Maritime Operations\EsriMapsForOffice_AntiShippingActivityMessages.mp4

[2015-10-07 14:51] BobBooth commented on #1121
@jfrygeo - thanks!
We're trying to keep the machine path names out of this, will be deleting them from your comments.

[2015-10-07 14:51] MaryClawson commented on #1227
Fixed.  Ready for review. @lfunkhouser

[2015-10-07 15:01] MaryClawson commented on #1180
Fixed.  Ready for review.  @lfunkhouser

[2015-10-07 15:08] conklinbd commented on #1219
@NatalieCampos Just republished this service. We must have lost the time enabled properties.
I will review a fix. No need to replace this.

[2015-10-07 15:08] topowright commented on #1185
@pHill5136 I have confirmed that both layers are shared with everyone.

[2015-10-07 15:09] lfunkhouser commented on #1225
No issues @conklinbd . Verified as fixed. Closing.

[2015-10-07 15:09] #1225 closed

[2015-10-07 15:11] conklinbd commented on #1208
@NatalieCampos I am not seeing any time/date information in this service.
The previous service had time/date info and could be used with the time slider app.

This is needed for the release.

[2015-10-07 15:13] conklinbd commented on #1213
Verified.

[2015-10-07 15:13] #1213 closed

[2015-10-07 15:13] jfrygeo commented on #1121
Documentation Added for "Maritime Chart Server"
<li> DemoAndScripts\Military\MaritimeOperations\MaritimeChartServer\Documents

Video added for "Maritime Chart Server"
<li> Resources\Videos\2015 UC ArcGIS for the Military - Maritime Operations\MaritimeChartServer.mp4

[2015-10-07 15:19] conklinbd opened #1229 "Manage Health and Safety Reports uses unreleased group"
The App Manage Health and Safety reports uses the group id:26b24f69605a47ea94f76988ec6d6a55 which has not been released.

Health and Safety Reports id:659efff073634843900b22378b585e4c has been released.
I believe this is the same group also used by the Reporter app Health and Safety Reports.

[2015-10-07 15:21] jessnoo commented on #1229
updated owner to Released EManagement.

[2015-10-07 15:33] elinz opened #1230 "Jenkins build server: Need to relocate "Downloads" folder"
The current Downloads folder is 116 GB; way too large to expect all users to copy to their Ops Servers. We need the templates to be an optional install so we need to relocate the Downloads folder out of the SolutionsWeb folder.

@ACueva Let's discuss where this should be copied. The decision may be based on if portal items for the templates are included in the ops server release.

[2015-10-07 15:42] conklinbd commented on #1229
Verified Released.

[2015-10-07 15:42] #1229 closed

[2015-10-07 15:43] conklinbd commented on #1222
I think this should be assigned to @elinz to verify that this issue has been resolved.

[2015-10-07 15:46] conklinbd commented on #1216
@kerryrobinson can you remind me which item id uses this map journal?

[2015-10-07 15:49] conklinbd commented on #1211
Updated comment to remove internal server name.

[2015-10-07 15:49] conklinbd commented on #1211
@jfrygeo and @jrweakland since the associated item was already released with the same info I released this item.

[2015-10-07 15:50] #1211 closed

[2015-10-07 15:50] conklinbd commented on #1210
If @nfeuerstein had it in release review I would assume it is for release.

[2015-10-07 15:51] elinz opened #1231 "Delete the GeoEventSimulator.exe that is located on dev Geoevent C:\OpsServer\GeoEventData folder"
This executable is included in the GeoEvent install under the c:\Program Files\ArcGIS\Server\GeoEvent folder. This .exe should not be included in the C:\OpsServer\GeoEventData folder otherwise Ops Server configured machines will have two versions of this executable.

[2015-10-07 15:52] conklinbd commented on #1205
I will verify the GeoEvent issues while I review the overall geoevent content

[2015-10-07 15:52] conklinbd commented on #1206
I will verify while I review the overall GeoEvent content.

[2015-10-07 15:54] elinz commented on #1222
@NatalieCampos I've deleted the screen shot from previous comment as it contained server names and domain account names.

[2015-10-07 15:56] elinz commented on #1222
Verified fixed. Closing issue.

[2015-10-07 15:56] #1222 closed

[2015-10-07 16:00] elinz opened #1232 "Mosaic Dataset CA_CC_Lidar.gdb\s_CA_CC_2010_DTM references local user path"
Mosaic Dataset data\FoundationOverlays\Elevation\MosaicDatasets\CA_CC_Lidar.gdb\s_CA_CC_2010_DTM contains path to local C:\Users\[user]]AppData\Local

[2015-10-07 16:02] elinz commented on #1232
Examined one of the raster function properties of one record in mosaic dataset this local path is being used for the "Cache folder" property on the "LAS To Raster" tab.

[2015-10-07 16:02] conklinbd opened #1233 "Sustainment Reporting Feature service used by GeoEvent Services"
The Sustainement Reporting Feature Service is used by GeoEvent Services that are going to be released. This service needs to be released or the GeoEvent Input/Outputs need to be removed.

As a reminder the nsecgee is not a development machine, it is for ready to release GeoEvent content.

Service Item id:998c767c6af34ff197e73b25b77c80fa

The name of this service is "Map" that is not a good name fo

[2015-10-07 16:06] elinz opened #1234 "LasCache folder does not contain any data; delete if not needed"
[FILESERVER]\data\FoundationOverlays\Elevation\LasCache\sig_srs2228_rts0x2_0_cls0x3ef7e_ag3_vf0_dt0_cw5 folder does not contain any data.

Please delete [FILESERVER]\data\FoundationOverlays\Elevation\LasCache folder if not needed.

[2015-10-07 16:07] joebayles commented on #1166
Count and Summary work fine, but now it doesn't summarize by plant (that I can see). Pop-ups now just list count and sum.

[2015-10-07 16:08] conklinbd opened #1235 "The Observation Reports for MarkLogic Feature Service is used by GeoEvent Services"
The Observation Reports for MarkLogic Feature Service is used by GeoEvent Services that are going to be released. This service needs to be released or the GeoEvent Input/Outputs need to be removed.

As a reminder the nsecgee is not a development machine, it is for ready to release GeoEvent content.

Service Item id:bff0a7b237e946b385bc7223d8af5ae4 Map Service
Service Item id:e1786c4738b54473982b7f

[2015-10-07 16:10] lfunkhouser commented on #1227
Verified as fixed. Unshared with Demo Review group and released by DemoIntelligence

[2015-10-07 16:10] #1227 closed

[2015-10-07 16:14] conklinbd opened #1236 "The Observation Reports Feature Service is used by GeoEvent Services"
The Observation Reports Feature Service is used by GeoEvent Services that are going to be released. This service needs to be released or the GeoEvent Input/Outputs need to be removed.

As a reminder the nsecgee is not a development machine, it is for ready to release GeoEvent content.

Service Item 1be76160f5de45d59f0246161696c10b Map Service
Service Item 5e8dc9bf8bcd4e2a98bfb7ff9d6b6bdc Feature S

[2015-10-07 16:15] elinz commented on #1106
@ACueva Do not extract portal content or SD files for those Demo and Released accounts which do not own content.

@lfunkhouser FYI.

[2015-10-07 16:16] nfeuerstein commented on #1210
@lfunkhouser It was in release review prior to there being a demo review group.  I went through and reshared a bunch of items to the correct group but apparently missed this one.  I'll go through again.  To be clear, it is for demo review, the symbols are awful but the data is good.

[2015-10-07 16:16] elinz commented on #1106
@conklinbd @ACueva @lfunkhouser I assuming we shouldn't copy any templates for domains we won't have portal content for? i.e. local government, parks and gardens, etc.

[2015-10-07 16:18] conklinbd commented on #1212
The following GeoEvent Outputs will need to be deleted if their associated item is not released:

- [ ] SR_MovementsUpdate Uses id:998c767c6af34ff197e73b25b77c80fa ServiceName Hosted/Map
- [ ] SR_ConvoySatatusUpdate Uses id:998c767c6af34ff197e73b25b77c80fa ServiceName Hosted/Map
- [ ] SR_CrossingPointsUpdate Uses id:998c767c6af34ff197e73b25b77c80fa ServiceName Hosted/Map
- [ ] SR_DOSCriticalUpdate

[2015-10-07 16:20] conklinbd commented on #1212
998c767c6af34ff197e73b25b77c80fa ServiceName Hosted/Map Links to issue #1233

[2015-10-07 16:24] conklinbd commented on #1205
Verify that this has been removed from C:\OpsServer.

[2015-10-07 16:24] #1205 closed

[2015-10-07 16:25] conklinbd commented on #1206
Verified that AFMData is removed.

[2015-10-07 16:25] #1206 closed

[2015-10-07 16:25] jessnoo commented on #1223
@conklinbd - @allisonmuise and I got together and looked through everything.

1) needed to fill out the configuration Parameters section of the templates' item details pages  (this came from the git hub repos -- configuration-panel.js in the resources folder for the apps)

2) removed the 'arcgis' from the path to the code used by the templates. This 'arcgis' was resulting in /arcgis/arcgis in the

[2015-10-07 16:42] elinz opened #1237 "Portal content with external URLs need tag "Internet Required""
@lfunkhouser I can run a content report which will flag if the item has an external URL. This should at least catch 90% of the items (I can't check the custom apps).

[2015-10-07 16:43] kerryrobinson commented on #1216
@conklinbd id:a0944c6a2b4f4847863af010461c24a5

[2015-10-07 16:46] #1140 closed

[2015-10-07 16:46] dfoll commented on #1140
@ircampbell thanks

[2015-10-07 16:55] nfeuerstein commented on #1220
Web Map and app: ad9aeca906314d40ad1acfeebd97d8c0 and c6ffb9f409174948b6d0687eb8fcbfb5 reviewed and shared with Demo Review Group.

[2015-10-07 16:58] NatalieCampos commented on #1208
@conklinbd the image Year has been added.  Please let me know if this will suffice.

[2015-10-07 16:59] conklinbd commented on #1106
We should copy all templates.

[2015-10-07 17:00] elinz opened #1238 "Delete VehicleCommander apps from DemoAndScript demo location; these templates already are shipping with Ops Server"
@ScottCecilio @jrweakland Delete the x64 and x86 versions of VehicleCommander from the demo and script staging location since these templates are already being shipped with Ops Server (i.e. Downloads folder); we need to remove file duplication:

[FILESERVER]\OpsServerStaging\2015_Q4\DemoAndScripts\Military\LandOperations\Data\Applications

[2015-10-07 17:01] conklinbd commented on #1216
Item reassigned. Assign back to me when it is ready to release.

[2015-10-07 17:08] conklinbd commented on #1102
@nfeuerstein @jrweakland @karlterrey @sschwoppe @lfunkhouser @elinz
Based on the review from legal I am going to delete all Ebola content at 1100 today.

[2015-10-07 17:09] conklinbd commented on #1100
@nfeuerstein @jrweakland @karlterrey @sschwoppe @lfunkhouser @elinz
Based on the review from legal I am going to delete all Ebola content at 1100 today.

[2015-10-07 17:09] conklinbd commented on #1099
@nfeuerstein @jrweakland @karlterrey @sschwoppe @lfunkhouser @elinz
Based on the review from legal I am going to delete all Ebola content at 1100 today.

[2015-10-07 17:10] lfunkhouser commented on #1210
Thanks for clarifying @nfeuerstein
Fixed typo "maybe" to "may be" in description
Released by Demo Intelligence
Updated extent of portal item to AOI so basemaps are available
Back at you @conklinbd

[2015-10-07 17:12] dfoll commented on #1148
@jrweakland i went to look at this data.... this is incident data... it looks like someone moved the points as a whole data set from their original geographic location and just dumped them on monterey... some are floating out in the ocean. This same set of data was moved by the intel team and effort was put into making the incidents line up with something that may be more realistic. My very strong

[2015-10-07 17:13] conklinbd commented on #1208
I am reviewing. Reminder - reassign the issue if it is someone else's turn.

[2015-10-07 17:14] topowright commented on #1236
@conklinbd I have shared with the Demo Review.

[2015-10-07 17:14] conklinbd commented on #1024
@topowright please provide an update on the status of this issue.

[2015-10-07 17:15] topowright commented on #1024
@conklinbd I have shared these items to Demo Review

[2015-10-07 17:16] elinz commented on #1236
@conklinbd @topowright Interesting. I had fixed the issues with this service, and was already released but today I see my changes were thrown away.

[2015-10-07 17:17] conklinbd commented on #1187
This looks like it should be assigned to @lfunkhouser since it is in release review. Reminder that this content should be released to Released OpsServer account.

[2015-10-07 17:18] conklinbd commented on #1188
Assigning to @elinz to complete the delete.

[2015-10-07 17:18] conklinbd commented on #1189
Assigned to @elinz to complete the delete.

[2015-10-07 17:20] conklinbd commented on #905
@phill5136 please provide an update on the status of this issue.

[2015-10-07 17:21] ACueva commented on #1230
@lfunkhouser FYI

[2015-10-07 17:21] topowright commented on #1217
@elinz @conklinbd The feature layer was a missing in portal. I republished the service and shared the item with everyone. Confirmed the GEE output service is now populating features to the feature service.

We do not have a way to directly access content from Mark Logic. We need to replicate their data to allow us to show the content in platform applications. We adding content to Mark Logic we do

[2015-10-07 17:22] conklinbd commented on #1095
The item is current owned by @nfeuerstein but this issue is assigned to @sschwoppe who is fixing this item?

[2015-10-07 17:23] topowright commented on #905
@conklinbd @pHill5136 Currently there might be an issue with the GeoEvent definition, which might be the reason why we cannot push content into Mark Logic

[2015-10-07 17:25] lfunkhouser commented on #1220
Modified web map item. Changed "template or demonstration" in Access and Use Constraints to "web map"; Enabled delete protection
Released both items by Demo Intelligence.
@conklinbd back to you

[2015-10-07 17:25] topowright opened #1239 "Update GeoEvent Definitions for Observation Reports"
Delete all unnecessary GeoEvent Definitions on release server.

[2015-10-07 17:25] conklinbd commented on #1231
@elinz. This executable is typically copied multiple times to be used directly with the simulation data. I am not sure why having more then 1 copy is a problem.

[2015-10-07 17:26] nfeuerstein commented on #1215
@conklinbd @MaryClawson @lfunkhouser Breifing book has been removed and added to the Demo Review Group (as well as supporting web maps).

[2015-10-07 17:26] ACueva opened #1240 "Image Discovery App fails to load"
404 error on trying to access:
Apps/NationalIntel/ImageDiscovery/widgets/ImageDiscovery/base/Results/base/Analysis/base/Transparency/template/TransparencyWidgetTemplate.html

![10-7-2015 10-24-16 am](https://cloud.githubusercontent.com/assets/3093940/10345319/b9138cfc-6cdd-11e5-9a7c-7d58d5fae4b9.png)

[2015-10-07 17:26] NatalieCampos commented on #1234
@elinz The LasCache folder is an automatically generated folder.  We are not using the cache option but the folder still generates.

[2015-10-07 17:26] conklinbd commented on #1217
I will verify this.

[2015-10-07 17:27] pHill5136 commented on #1195
@ScottCecilio Added attachments to https://nsec.esri.com/ags/rest/services/Military/IntelReports/FeatureServer/0

[2015-10-07 17:27] NatalieCampos commented on #1232
The C:\Users[user]]AppData\Local path has been removed.

[2015-10-07 17:28] conklinbd commented on #929
Is this for next release?

[2015-10-07 17:28] Nekillims commented on #1210
Agree on the symbols.  There was no standard set that I could use to support this range of objects, so I mixed and matched to try to get something somewhat consistent- sort of like international map/road signs.  Something for improvement in a future release.

[2015-10-07 17:34] nfeuerstein commented on #1240
I replaced the missing .html file.

[2015-10-07 17:34] #1240 closed

[2015-10-07 17:35] pshowalter commented on #1084
On the "What is Web GIS?" app, Web Maps tab, "Web Map" frame.  Typo "mashi" should be "mash".

[Web Map](https://nsec.esri.com/arcgis/apps/MapSeries/index.html?appid=faef542a74e141398c05c43379a67004)
Web Maps **mashi** up information from distributed sources, but they also allow you to configure an application-ready information product.

[2015-10-07 17:36] #1239 closed

[2015-10-07 17:37] nfeuerstein commented on #1167
I used a different theme and redeployed the app.  The styling seems to be more cohesive now.

[2015-10-07 17:37] #1167 closed

[2015-10-07 17:41] conklinbd commented on #1210
Verified released. I am guessing my original id was a typo. I will have to retest a couple of apps to be certain.

[2015-10-07 17:41] #1210 closed

[2015-10-07 17:41] topowright commented on #1236
@elinz @conklinbd I think these are the same thing and they have been fixed.

https://github.com/Esri/ops-server-config/issues/1235

[2015-10-07 17:42] ACueva commented on #1240
Verified the application is now working.

[2015-10-07 17:42] elinz commented on #896
@NatalieCampos Please tell me what you have done to fix this issue as the mosaic dataset in question Data\FoundationOverlays\OrthophotoBase\NAIP\NAIPClip.gdb no longer exists. Did you delete and create a new mosaic dataset \\[FILESERVER]\data\FoundationOverlays\OrthophotoBase\NAIP\NAIP.gdb\NAIP ?

[2015-10-07 17:43] conklinbd commented on #1217
The service now exists. Understand reason for the 2 services.
This item still needs to be released.

[2015-10-07 17:43] topowright commented on #1235
@conklinbd These items have been shared with the demo review folder

https://github.com/Esri/ops-server-config/issues/1024

[2015-10-07 17:44] #1217 closed

[2015-10-07 17:45] conklinbd commented on #1236
I have assigned to @lfunkhouser to release

[2015-10-07 17:46] conklinbd commented on #896
@elinz that is what was done.

[2015-10-07 17:47] NatalieCampos commented on #896
Well the NaipClip.gdb has been renamed to NAIP.gdb.  the NAIPClip Mosaic dataset was deleted and a new NAIP mosaic dataset was created.  The reason the new NAIP mosaic dataset was created was because I was unable to reset the path for the overviews.  The overviews were stuck being generated in some other location and I had no ability to correct the path.

[2015-10-07 17:47] topowright commented on #1142
@dfoll I am not sure what this presentation was covering so I have moved the milestone version after next.

[2015-10-07 17:47] pHill5136 opened #1241 "https://nsec.esri.com/ags/rest/services/Hosted/Map/FeatureServer Not released"
@helyx-rterry @abrowning80 All of the sustainment services in geoevent reference a hosted service called Map that is not released.

https://nsec.esri.com/ags/rest/services/Hosted/Map/FeatureServer

Do we need to release this service or can we delete all of the current sustainment services.

-P

[2015-10-07 17:48] conklinbd commented on #1220
Verified this item has been released.

[2015-10-07 17:48] #1220 closed

[2015-10-07 17:49] #1185 closed

[2015-10-07 17:54] elinz commented on #896
Verified mosaic dataset are referencing UNC paths and AMD_MosaicDataset_ANA and AMD_MosaicDataset_STS "hidden" tables are no longer being listed in Catalog.

[2015-10-07 17:54] #896 closed

[2015-10-07 17:58] nfeuerstein commented on #1095
I'll do it.  @karlterrey it looked to me like all images in the app were cited.  I'll update the credits on box, but can you point out the photos in the app that weren't cited?

[2015-10-07 17:59] ACueva opened #1242 "Javascript viewer on ArcGIS REST endpoint fails to load .css files"
On all map services, if you click on:

View In: ArcGIS JavaScript

The tundra.css and esri.css will fail to load:

https://SERVERNAME/arcgis/home/js/dojo/dijit/themes/tundra/tundra.css
https://SERVERNAME/arcgis/home/js/esri/css/esri.css

[2015-10-07 17:59] conklinbd commented on #1219
This app is now functioning, however the web map that the app is using is not released.
Map = id:43774ea0de014514917b2167691b494e
Service = ca7d6030cb3e4f7d9131c661d432c0c8

Assigned to @nfeuerstein to release the app and the service

[2015-10-07 18:00] elinz opened #1243 "Jenkins Build: Dataset path names for data used in CA_CC_Lidar related mosaic dataset too long"
Encountering copy issue when copying LasCache files because the path is too long...

Shorten folder names and dataset names for all folders/datasets similar to that shown in the screenshot and reset paths in related mosaic datasets
![image](https://cloud.githubusercontent.com/assets/4635490/10346121/624b4e6e-6ce2-11e5-8150-a71827441909.png)

[2015-10-07 18:00] conklinbd commented on #1208
I have review the service and it has been succesfully republished.
The service has not released but I added to issue #1219
So this one can be closed.

[2015-10-07 18:00] #1208 closed

[2015-10-07 18:04] karlterrey commented on #1095
@nfeuerstein Sure thing.
On the Home Section the Main Stage Photo has to be specifically credited - 'Robert Stansfield/Department for International Development'
On Section Four the Photo needs to be specifically credited- 'Robert Stansfield/Department for International Development'

[2015-10-07 18:10] kerryrobinson commented on #1218
I couldn't use http://nsdemo.esri.com/WAB4MCS/ because it isn't served over HTTPS.  Modified instead to use id:8a141ff5bc8b451f98880e4726112b14.

[2015-10-07 18:10] ScottCecilio commented on #1238
@elinz @jrweakland the x64 and x86 versions of VehicleCommander from the demo and script staging location have been deleted.  Please verify.

[2015-10-07 18:18] NatalieCampos commented on #1243
@elinz The files in the LasCache folder are automatically generated files.  I have no control over their naming.  Since we are not using the cache properties you can ignore this folder in the copy.

[2015-10-07 18:21] kerryrobinson commented on #1216
Unfortunately the Incident Briefing story map is a map journal just like the one i'm embedding it into so it doesn't look great. But there are no other released story maps that I can choose so I've gone ahead and made the changes.

Reassigning to Ben to release.

[2015-10-07 18:25] kerryrobinson commented on #1084
@pshowalter  good catch!

@conklinbd can you go ahead and fix the spelling mistake in this Map Journal?  id:47a2a3b4659b41c08e6029353eb7b272

[2015-10-07 18:25] joebayles commented on #1124
@BobBooth uploaded what I can.

[2015-10-07 18:26] joebayles commented on #1127
@BobBooth I've uploaded what I can.

[2015-10-07 18:27] BobBooth commented on #1124
Verified content is there.

[2015-10-07 18:27] #1124 closed

[2015-10-07 18:30] #1127 closed

[2015-10-07 19:10] jfrygeo opened #1244 ""Maritime Contact" feature service released, not map service"
"Maritime Contact" has its feature service released but the map service isn't released.

[2015-10-07 19:14] jfrygeo opened #1245 "Please release associated image for "Maritime Contact" demonstration"
id=40095e796bcd4fdca6a4fe1108079d3d

[2015-10-07 19:26] jfrygeo opened #1246 "Released version of "Maritime Threat Tools" does not contain any tools"
Contained in the "Maritime Threat Tools" application - now renamed "Apps - Maritime Threat Tools" was two tools:

<ln> Farthest on circle
<ln> Visible Range at Sea

now, in the released version, no tools are contained in the app. Is this by design?

@jrweakland @kerryrobinson

[2015-10-07 19:38] jfrygeo commented on #1246
Please add the two tools (1. Farthest on Circle - Image Service, 2. Visible Range at Sea) into the application.

[2015-10-07 19:44] jfrygeo commented on #1246
Closing issue... looks like these are for two separate demonstrations.

<li> 1. web application . https://nsec.esri.com/arcgis/home/item.html?id=c88e3aae0920447d8d81dfe842c168b6 released by DemoMilitary
<li> 2. web application https://nsec.esri.com/arcgis/home/item.html?id=3b7814e0f661472cb0635f39b25fba17 released by DemoNationalSecurity

sorry for confusion

[2015-10-07 19:44] #1246 closed

[2015-10-07 19:45] kerryrobinson commented on #1246
John this is a very simple app that I created just for my Web GIS story map.   Your original app (id=c88e3aae0920447d8d81dfe842c168b6) still has the two tools.

[2015-10-07 19:48] jfrygeo commented on #1196
video for weather stuff posted in the below locations:
<li><b>Sea State Raster Functions -</b>"..\Resources\Videos\2015 UC ArcGIS for the Military - Maritime Operations\ArcGISPro_SeaStatesAnalysisRasterFunctions.mp4"

<li><b>Military Aspects of Weather Version 1 </b> .\Resources\Videos\2015 Analyzing Maritime Weather\AnalyzingMaritimeWeather_MAOWV1.mp4

[2015-10-07 19:50] BobBooth commented on #1196
@jfrygeo - Thanks, I confirm they are there.

[2015-10-07 19:50] #1196 closed

[2015-10-07 20:34] jessnoo commented on #1082
@conklinbd I think we need to call it for this release. I'm not sure what's causing the basemap and legend issues.

[2015-10-07 20:48] conklinbd commented on #1101
I have deleted all ebola related content.

[2015-10-07 20:48] #1101 closed

[2015-10-07 20:50] conklinbd commented on #1235
@lfunkhouser for you to review and release.

[2015-10-07 20:52] conklinbd commented on #1223
Verified the config option is now available.

[2015-10-07 20:52] #1223 closed

[2015-10-07 20:53] conklinbd commented on #1218
Reassigned item back to release.

[2015-10-07 20:53] #1218 closed

[2015-10-07 20:56] conklinbd commented on #1216
@kerryrobinson I agree this doesn't look good. If I have a few minutes I might recreate the old AAR story map that we had for Afghanistan. At least we have data permissions for that.

[2015-10-07 20:59] kerryrobinson commented on #1216
@conklinbd I was thinking the same thing. The map tour is a good one to show, so the AAR would be great.

[2015-10-07 21:05] dfoll commented on #1142
@topowright who was it that did this presentation at uc... i just had you assigned because your name was on it for the list i saw

[2015-10-07 21:10] conklinbd commented on #1233
#1212 depends on this issue.

[2015-10-07 21:10] conklinbd commented on #1235
#1212 depends on this issue.

[2015-10-07 21:10] conklinbd commented on #1217
#1212 depends on this issue

[2015-10-07 21:11] conklinbd commented on #1024
#1212 depends on this issue

[2015-10-07 21:11] conklinbd commented on #1089
#1212 depends on this issue

[2015-10-07 21:11] conklinbd commented on #1195
#1212 depends on this issue

[2015-10-07 21:11] conklinbd commented on #1236
#1212 depends on this issue

[2015-10-07 21:12] conklinbd commented on #1102
I deleted this item.

[2015-10-07 21:12] #1102 closed

[2015-10-07 21:12] conklinbd commented on #1100
I deleted this item.

[2015-10-07 21:12] #1100 closed

[2015-10-07 21:12] conklinbd commented on #1099
I deleted this item.

[2015-10-07 21:12] #1099 closed

[2015-10-07 21:19] pHill5136 commented on #1195
@conklinbd @elinz Everything except the Hosted service used by the sustainment has been submitted for release -- added to military demo review. I have submitted an issue for aidan re the sustainment stuff. I suspect those services will need to be deleted from geoevent.

[2015-10-07 21:22] lfunkhouser commented on #1215
@nfeuerstein @MaryClawson Is it OK to have "Mary Clawson" in this Briefing Book or should it say "Esri"?

[2015-10-07 21:59] conklinbd commented on #1216
Ok. I created a Story Map id:932fd43122d24c28ad408ef4b9387746.
This item and the web map id:13a6ba5d51b1467983cfb3bf0e96b78b will need to be released.

I have updated this Journal and Reassigned back to my user.

@lfunkhouser can you review and release the Story Map and Web Map. I made it quickly so please check it out.

[2015-10-07 22:07] elinz opened #1247 "Delete cache folders for services that do not exist anymore"

[2015-10-07 22:08] kerryrobinson commented on #1216
@conklinbd I just took a quick look, the description for the Story Map (mainstage) will need to change from talking about an Incident Report to an After Action Report.
![image](https://cloud.githubusercontent.com/assets/3383476/10352631/395fbef2-6d48-11e5-9240-60deb80b23c6.png)

[2015-10-07 22:18] ACueva opened #1248 "EsriMapsforOffice 3.1 client fails to connect to development server"
When connecting from a client machine running EM4O 3.1 you are not able to establish a connection to our portal.

Installing EM4O 3.0 client solves this issue.

[2015-10-07 22:19] conklinbd commented on #1216
Ok. I fixed that.

[2015-10-07 22:21] conklinbd opened #1249 "Patrol Report Map and Map Tour need to be released"
Ok. I created a Story Map id:932fd43122d24c28ad408ef4b9387746.
This item and the web map id:13a6ba5d51b1467983cfb3bf0e96b78b will need to be released.

This is used in the Web GIS App Journal.

@lfunkhouser can you review and release the Story Map and Web Map. I made it quickly so please check it out.

[2015-10-07 22:21] conklinbd commented on #1216
I am realizing that this issue has gotten to be large. I am moving the release issue to a separate item.
I am closing this item, unless you see any additional errors @kerryrobinson then you can reopen.

[2015-10-07 22:21] #1216 closed

[2015-10-07 22:36] pHill5136 commented on #1212
@elinz All service dependencies except 998c767c6af34ff197e73b25b77c80fa ServiceName Hosted/Map Links to issue #1233 have been submitted to Military Demo Review group. I checked with @ACueva  that these were shared to the proper groups to be copied to the opserver release.

I have submitted an issue #1241 to @abrowning80 to let me know if the last service needs to be released. I suspect that it wil

[2015-10-07 22:45] ACueva opened #1250 "WorldElevationCache service has display issues"
@NatalieCampos I'm seeing elevation differences when loading this image service in ArcGIS Pro.

![10-7-2015 3-42-50 pm](https://cloud.githubusercontent.com/assets/3093940/10353326/5ad1c348-6d0a-11e5-9784-d1bd9cd0b888.png)

[2015-10-07 22:56] elinz commented on #1247
As of 07 Oct 2015 15:55 I've review all the cache folders except for the scene services in the Hosted cache folder. I still need to review and also review everything at time of final content cutoff.

[2015-10-07 23:00] lfunkhouser commented on #1249
@ACueva Please look at link on image 5 to see if you can fix?

[2015-10-07 23:04] elinz commented on #1248
I've installed Esri Maps for Office Portal Resources 3.1 on the dev portal.
@ACueva Please verify that EM4O 3.1 is working now.

[2015-10-07 23:28] lfunkhouser commented on #1187
Issue #1250 needs to be fixed before this can be released

[2015-10-07 23:30] lfunkhouser commented on #1214
Released by ReleasedIntelligence

[2015-10-07 23:35] lfunkhouser commented on #1236
Services released by Demo Military

[2015-10-07 23:38] lfunkhouser commented on #1010
@jrweakland Are the Access and Use Constraints accurate?  There is no military imagery present.

[2015-10-08 00:18] lfunkhouser commented on #1235
@conklinbd @topowright Item descriptions say "Various spot reports over California...";however, there is only one and it is in the water by Monterey. Is this "as designed"?

[2015-10-08 00:21] lfunkhouser commented on #1175
Also released service definition by DemoMilitary

[2015-10-08 00:22] lfunkhouser commented on #1089
Released by Demo Military

[2015-10-08 01:08] karlterrey commented on #1010
@lfunkhouser @jrweakland I edited the Access and Use Constraints as there are no military images present. That portion is only used if military photographs are used.

[2015-10-08 01:39] karlterrey commented on #1010
@jrweakland We should have a note in the description that the 3D visualizations are fictitious, assuming that they are fictitious. Or extruded based on whatever imagery source was used.

[2015-10-08 03:43] jrweakland commented on #1010
@karlterrey and @lfunkhouser - i have added the following sentence to the portal item description. <b>These 2D and 3D procedural rules and heights are based on best estimates of the local conditions and should not be construed as fact.</b>

Please let me know if this statement meets you intent.

[2015-10-08 03:58] karlterrey commented on #1010
@jrweakland Perfect

[2015-10-08 09:59] kerryrobinson commented on #1249
@conklinbd @lfunkhouser @ACueva I was also going to mention image 5, that it contains a link to the AAR html page. I found this useful demonstrating in the past but if it is a hassle to get it onto the Ops Server at this late stage I suggest the link is deleted.

My only other comment is that the descriptions clearly mention Jalalabad/ISAF although it clearly isn't. Probably too difficult to chang

[2015-10-08 11:37] kerryrobinson commented on #1084
I'm going to open a new issue for the spelling mistake since this one is closed.

[2015-10-08 11:46] kerryrobinson opened #1251 "Spelling mistakes in What is Web GIS story map"
There are few spelling mistakes in the What is Web GIS story maps:

@conklinbd can you go ahead and fix these?

- [x] id:47a2a3b4659b41c08e6029353eb7b272 - Web Maps Journal, under 'Web Map', replace 'mashi' with 'mash'
![image](https://cloud.githubusercontent.com/assets/3383476/10365225/b074190e-6db9-11e5-84c5-376bb9f499a7.png)

- [x] id:a0944c6a2b4f4847863af010461c24a5 - Apps Journal, under 'Brie

[2015-10-08 12:45] lfunkhouser commented on #1010
@jrweakland The portal description does not include the statement. Maybe it didn't save..

[2015-10-08 13:27] lfunkhouser commented on #1230
@elinz Document links will be created as portal items. These document links should point to the file location of the latest template on the Ops Server

[2015-10-08 13:34] conklinbd commented on #1249
I think the mentions of ISAF and JBAD are OK. If Avi feels like it he could try to update to our scenario names but I don't think it is that important.

[2015-10-08 13:41] conklinbd commented on #1250
@Acueva I don't think we want to test this in Pro. Does it work in the Scene Viewer?

[2015-10-08 13:42] conklinbd commented on #1242
Is this an issue that has to be fixed for the release?

[2015-10-08 13:43] conklinbd commented on #905
Is this being actively worked on? Can this be resolved by 10/9?

[2015-10-08 13:56] conklinbd commented on #1250
I am seeing issues at specific scales in the scene viewer. It appears that the units for the high resolution (lidar) data is incorrect. We need to try and fix this for the release.

[2015-10-08 14:02] conklinbd commented on #1251
@kerryrobinson I will do that, but I will wait until tomorrow or late this afternoon just to not mess with your presentation.

[2015-10-08 14:06] elinz commented on #1230
@lfunkhouser Correct. The URLs in the document links can still point to the SolutionsWeb\Downloads location. And the install guide will still instruct users that they CAN copy the Downloads folder from the external drive to the IIS SolutionsWeb folder, however this would be optional due to the size of the downloads (there will be users who won't have enough system space). Because of the large size

[2015-10-08 14:08] elinz commented on #1230
@lfunkhouser Actually now that I think about it, these portal items won't be extracted because they are owned by Template users. We are only extracting Demo and Released users. Do Template users also need to be extracted?

[2015-10-08 14:11] jfrygeo opened #1252 "Please release "Maritime Decision Aid Template""
item d0c4ef0410b64a82a7da4fb0779da585

Needed for demonstrations.

[2015-10-08 14:14] jfrygeo opened #1253 "Please release " Mapping and Charting Solution for Server Installation Guide" for Maritime Chart Server"
Needed for anyone who wants to setup the Maritime Chart Server... This is a link to the documentation on the Esri Website.

c773544bd4654a08a9eaaa3107d35011

[2015-10-08 14:16] pHill5136 commented on #1212
@elinz @conklinbd Since sustainment services depending on  998c767c6af34ff197e73b25b77c80fa ServiceName Hosted/Map are all outputs not used in geoevent services I'll be deleting.

[2015-10-08 14:19] jfrygeo commented on #1121
Documentation Added for "Web AppBuilder Maritime Threat Tools"
<li>DemoAndScripts\Military\MaritimeOperations\WebAppBuilder_MaritimeThreatTools\Documents

Video added for "Web AppBuilder Maritime Threat Tools"
<li>Resources\Videos\2015 UC ArcGIS for the Military - Maritime Operations\Web_AppBuilder_MaritimeThreatTools.mp4

[2015-10-08 14:21] pHill5136 commented on #1212
@elinz @conklnbd All GEE output dependencies are shared to Military Demo Review and will be released.

[2015-10-08 14:37] elinz opened #1254 "CreateServiceList.py failing on story map web maps"
This causes the report generation to halt for the account being queried.

[2015-10-08 14:42] elinz commented on #1254
Fixed in Esri\ops-server-config v.next. Closing issue.

[2015-10-08 14:42] #1254 closed

[2015-10-08 14:44] pHill5136 commented on #1195
@ScottCecilio @conklinbd @elinz I have been trying to track down why features are being deleted from https://<server>/arcgis/home/item.html?id=d78f22ee0b5e454588b9a0883cfd8d22. Currently the LandOps-Mission reports service is pointing to https://<server>/ags/rest/services/Military/IntelReports/FeatureServer/0 and not deleting features. I have verified that no other GEE service in GEE is pointing t

[2015-10-08 14:48] elinz commented on #1243
@ACueva Please exclude the folder \\[FILESERVER]\data\FoundationOverlays\Elevation\LasCache from the data copy operation in the Jenkins build server process.

[2015-10-08 14:51] pHill5136 commented on #939
Verified that we can push a feature to MLOBI.

[2015-10-08 14:53] elinz commented on #1242
@ACueva @conklinbd Just tested on both our dev server and the test server I set up with fall content and the view in "ArcGIS JavaScript" functionality is working. Map service draws as expected and throws no errors. Back to @ACueva to verify.

[2015-10-08 15:00] elinz commented on #1232
@NatalieCampos Issue still exists. Assigning back to you.

[2015-10-08 15:06] elinz commented on #1231
@pHill5136 This is a problem because the C:\OpsServer\GeoEventData folder is shipped with the Ops Server release, which means it's possible that the build of this .exe that is in the GeoEventData folder would be different then the build that is installed on the server when users perform an Ops Server install. We should only have one GeoEventSimulator.exe installed on a machine. If you need to acce

[2015-10-08 15:09] elinz commented on #1221
Closing this issue. This should be fixed by #1243.

[2015-10-08 15:09] #1221 closed

[2015-10-08 15:11] jfrygeo commented on #1121
Documentation Added for "Portal GeoForm - Maritime Contacts"
<li> DemoAndScripts\Military\MaritimeOperations\PortalGeoForm_MaritimeContacts\Documents

Video added for "Portal GeoForm - Maritime Contacts"
<li> Resources\Videos\2015 UC ArcGIS for the Military - Maritime Operations\PortalGeoForm_MaritimeContacts.mp4

[2015-10-08 15:13] pHill5136 commented on #1231
I already deleted this. I think I forgot to send the comment before reassigning.

[2015-10-08 15:14] pHill5136 commented on #1231
@elinz sending back to verify delete.

[2015-10-08 15:14] elinz commented on #1189
@nfeuerstein Just check the GDB [FILESERVER]\data\FoundationOverlays\OperationalImagery\OperationalImagery.gdb. It's no longer accessible as a file geodatabase...now interpreted as a folder. Do we happen to have a back up of this file geodatabase anywhere?

@conklinbd Do you know of anyway to recover the fgdb?

[2015-10-08 15:16] elinz commented on #1231
@pHill5136 Thanks. Verified that .exe has been deleted from GeoEventData folder. Closing issue.

[2015-10-08 15:16] #1231 closed

[2015-10-08 15:17] elinz commented on #1188
@nfeuerstein Just check the GDB [FILESERVER]\data\FoundationOverlays\OperationalImagery\OperationalImagery.gdb. It's no longer accessible as a file geodatabase...now interpreted as a folder. Do we happen to have a back up of this file geodatabase anywhere?

[2015-10-08 15:24] conklinbd commented on #1189
Not sure why we need to restore it. This task was to delete the GDB.

[2015-10-08 15:25] conklinbd commented on #1188
Same with this. We just need to delete it.

[2015-10-08 15:26] elinz commented on #1188
@conklinbd @nfeuerstein There were actually mosaic datasets contained in the OperationalImagery.gdb that contained records. Did we not need to keep these populated mosaic datasets?

[2015-10-08 15:30] elinz commented on #1184
Verified that both portal items associated with the service are owned by ReleasedIntelligence. Closing issue.

[2015-10-08 15:30] #1184 closed

[2015-10-08 15:32] elinz commented on #1186
Verified that this service item is now owned by ReleasedOpsServer and verified that the associated .sd file was extracted when extracting those services owned by ReleasedOpsServer. Closing issue.

[2015-10-08 15:32] #1186 closed

[2015-10-08 15:34] elinz commented on #1234
Nothing to verify as no corrective action is possible. Closing issue.

[2015-10-08 15:34] #1234 closed

[2015-10-08 15:35] NatalieCampos commented on #1250
I am currently working  on it.@conklinbd

[2015-10-08 15:50] elinz opened #1255 "Owner of service definition item "CommunityAddresses" is not the same as the associated hosted service item"
Service Definition item a796a12d014f404593c19cc2f3e3c7e4 "CommunityAddresses" has not been released to ReleasedEManagement. This is associated with hosted feature service item de278fef421f48e5852d38211da7e481.

@jessnoo I'll change ownership of the service definition to ReleasedEManagement. FYI: This item does not have a thumbnail as the other EM service definition items do.

[2015-10-08 15:51] NatalieCampos commented on #1232
Ok Hopefully I have fixed it now.   The path that is being populated is a property that is not being used and is automatically being populated.  I have deleted the local path reference.

[2015-10-08 15:52] elinz commented on #1255
@jessnoo Changed ownership.

[2015-10-08 15:52] #1255 closed

[2015-10-08 15:53] jessnoo commented on #1255
@elinz this Service is empty, so it appears that there is no thumbnail for the service definition.  we have not be doing any thumbnails for service definition items.

[2015-10-08 15:54] elinz opened #1256 "Owner of service definition item "Area_Of_Operation" is not the same as the associated hosted service item"
Service Definition item b2ca6123b7194a53a2dd029f1cbc5ed3 "Area_Of_Operation" not owned by same user as associated hosted feature service item 1861307746174ca5914713795d19ec7c.

@jrweakland I'll change ownership of the service definition item for you.

[2015-10-08 15:55] elinz commented on #1256
@jrweakland Changed ownership of the service definition item. Closing issue.

[2015-10-08 15:55] #1256 closed

[2015-10-08 15:56] elinz opened #1257 "Owner of service definition item "Cover" is not the same as the associated hosted service item"
Service Definition item 37daf91d910a45acaf68c7dd25e3e01e "Cover" not owned by same user as associated hosted feature service item 8833db468b34457496a9f2b358417d09.

@jrweakland I'll change ownership of the service definition item for you.

[2015-10-08 15:57] ScottCecilio commented on #1175
Is this ok to close now?

[2015-10-08 15:57] elinz commented on #1257
@jrweakland Changed ownership of service definition item. Closing issue.

[2015-10-08 15:57] #1257 closed

[2015-10-08 15:58] phil7277 commented on #1228
All items have been shared with the review team. The IIR Webmap (id=e0b736a2364442348441744937ae757c), and spot report webmap for collector (id=73bbdb629ebd471e88ac66c164d6fa40)  has been shared to the ArcGIS for Intelligence (QA/QC) group for review. DemoMilitary already owns item Maritime Contacts Web Map for Geoform or ArcGIS for Collector (id=e49682575da9423f9eaa221f8bb1278a). The ISR Mission

[2015-10-08 15:59] elinz commented on #1255
@jessnoo Okay. I did a search of the service definition items owned by ReleasedEMangement and they had thumbnails. Didn't know this service was empty.

[2015-10-08 16:01] elinz commented on #1232
Verified fixed. Closing issue.

[2015-10-08 16:01] #1232 closed

[2015-10-08 16:03] elinz commented on #1189
@conklinbd The task was to delete a specific mosaic dataset in the file geodatabase. There were other mosaic datasets in this file geodatabase which were populated.

[2015-10-08 16:20] elinz opened #1258 "Service "Test//TestFeatureEditing.MapServer" is associated with a portal item that does not exist"
Both portal items associated with the service don't exist:

ERROR: Service "Test//TestFeatureEditing.MapServer" is associated with a portal item (fb5fc5eb32ca47d89ed9bb62ae2261f9; MapServer) that does not exist.

ERROR: Service "Test//TestFeatureEditing.MapServer" is associated with a portal item (500d2fa4cb8649149995b50619633dac; FeatureServer) that does not exist.

I'm going to delete this servi

[2015-10-08 16:29] elinz opened #1259 "Is ownership of web map "Illicit Drug Grows" correct?"
Web Map, a4c628fc4aa04a05ad30fd32613df340,  "Illicit Drug Grows" is owned by DemoIntelligence

However the two services referenced in the web map are owned by Released accounts (see below); should the web map really be owned by ReleasedIntelligence?

Service, d9c97656cb4e4ba0b7d1ad1d26f1c2a2, Drug Grows, ReleasedIntelligence

[2015-10-08 16:43] elinz opened #1260 "Released web map "Foundation Data - Terrain Overlays" references unreleased services"
Web map "Foundation Data - Terrain Overlays" 506ad5fc2bcb423a9ded96180e5cd9f5  is owned by DemoNationalSecurity however it references the following services which are not released and not in the review process:

b9ef7590b9c9440c87ce17c448b38b53, HMMWV_CCM

[2015-10-08 16:50] elinz opened #1261 "Is ownership of web map "SALUTE Reports" correct?"
Web map "SALUTE Reports" owned by ReleasedIntelligence, but has service 5e8dc9bf8bcd4e2a98bfb7ff9d6b6bdc   owned by DemoMilitary, so should web map be owned by DemoMiltary?

[2015-10-08 16:50] lfunkhouser commented on #1259
The owners are based on which groups they were in.  The services were reviewed for release, but can change owner from Released to Demo owner if @nfeuerstein wants them released as Demo content

[2015-10-08 16:53] lfunkhouser commented on #1261
SALUTE Reports was in the Release Review group under owner @nfeuerstein and was released as ReleasedIntelligence.  The map service was in Demo Review under owner @topowright and released as DemoMilitary
@nfeuerstein @topowright Are these items released under the correct owners?

[2015-10-08 17:21] elinz opened #1262 "Duplicate Feature Service items exist for "NationalIntelligence/ObservationReports/FeatureServer""
According to the service json, this service is associated with the following portal items:
{"itemID":"1be76160f5de45d59f0246161696c10b","type":"MapServer"}
{"itemID":"5e8dc9bf8bcd4e2a98bfb7ff9d6b6bdc","type":"FeatureServer"}

Both of these items are owned by DemoMilitary.

However, someone manually created a service item (12919c56d6a8446985a18d173f0f66f1) for this service, which people should neve

[2015-10-08 17:28] elinz commented on #1262
@lfunkhouser @jrweakland @nfeuerstein I've deleted the incorrect item 12919c56d6a8446985a18d173f0f66f1. Closing issue.

[2015-10-08 17:31] elinz commented on #1262
@lfunkhouser @jrweakland @nfeuerstein Same issue exists for map service. Someone manually created a map service item 77d0462fd9614d4e8101511651fbfe07. I will delete this incorrect item as well.

[2015-10-08 17:32] elinz commented on #1262
@lfunkhouser @jrweakland @nfeuerstein I deleted the incorrect item 77d0462fd9614d4e8101511651fbfe07. Closing issue.

[2015-10-08 17:32] #1262 closed

[2015-10-08 17:33] jrweakland commented on #1209
@lfunkhouser - ready for your review and release.

The service definitions are for these items are:

Area of Operations - id:b2ca6123b7194a53a2dd029f1cbc5ed3
Cover - id:37daf91d910a45acaf68c7dd25e3e01e
Cross-Country Movement (HMMWV) - id:bf6e7bee41bd497d90861d705c82393b
Drop Zones - id:5282f627f2ad47fdb30f162b9fb648f7

[2015-10-08 17:40] jrweakland commented on #1010
@lfunkhouser - updated with the sentence. please confirm and close issue.

[2015-10-08 17:45] conklinbd commented on #1228
I have changed the owner of the group to DemoMilitary. The other items will need to be released for this issue to be closed. I am assigning this issue to Lorraine so she can review and release the individual items.

[2015-10-08 17:49] jrweakland commented on #1024
@lfunkhouser - ready for your review and release

id:e1786c4738b54473982b7f0b85453643
id:bff0a7b237e946b385bc7223d8af5ae4

[2015-10-08 17:49] karlterrey commented on #1010
@jrweakland @lfunkhouser Verified as fixed. Closing this.

[2015-10-08 17:54] conklinbd commented on #1261
I made this a showstopper. It is OK for Demo content to use Released content but the opposite is not good. I assigned to @nfeuerstein to decide.

[2015-10-08 17:55] conklinbd commented on #1175
As soon as @jrweakland verifies.

[2015-10-08 17:55] conklinbd commented on #1175
Sorry. I just realized I created this issue. I assigned this to me to verify.

[2015-10-08 17:58] elinz commented on #1261
@conklinbd I agree with your statement.

[2015-10-08 18:01] conklinbd commented on #1175
@ScottCecilio this service has been released and it looks good.
@elinz The Web Map still references the old ID  19c1d72c36b34f10b25f5fa098ee076c this needs to be changed to dd6abcdbdca54ef993c5f2504cb35c57.

Can you change this or do you want me to hack the text data of the item?

[2015-10-08 18:03] conklinbd commented on #1260
This was in #1209

[2015-10-08 18:04] conklinbd commented on #1260
Closing as duplicate.

[2015-10-08 18:04] #1260 closed

[2015-10-08 18:06] conklinbd commented on #1259
It is fine for a Demo web map to use Released content. There are more factors then just the layers the web map uses.

[2015-10-08 18:06] jrweakland commented on #1175
@conklinbd - verified and ready for you to close.

[2015-10-08 18:08] conklinbd commented on #1238
@ScottCecilio if you pass an issue to someone else, please assign it to them.
Changing assignment.

[2015-10-08 18:11] jrweakland commented on #1214
@lfunkhouser - I am unsure of the answer. I copied the access and use constraints from the web map (id:6214c50aa89b43a0ac842ac2bb1ba7eb) that consumes this service. @nfeuerstein - do you know the answer?

[2015-10-08 18:15] ACueva commented on #1249
I've tried to edit the image 5 url, it's not saving for me.  I'll see if i can manually edit this item.

[2015-10-08 18:20] elinz commented on #1258
I deleted this service. closing issue.

[2015-10-08 18:20] #1258 closed

[2015-10-08 18:23] karlterrey commented on #1163
@nfeuerstein We cant release this without data permissions or source info

[2015-10-08 18:24] nfeuerstein commented on #1261
@lfunkhouser Let's make the SALUTE feature service RELEASED content, too.  If I'm remembering correctly, this happened because the service that the SALUTE Reports map used was an unsupported hosted service, so I switched it and grabbed a different SALUTE service.

[2015-10-08 18:26] karlterrey commented on #1162
Verified as fixed and closed

[2015-10-08 18:26] #1162 closed

[2015-10-08 18:36] karlterrey commented on #1160
Verified as fixed. Closed.

[2015-10-08 18:36] #1160 closed

[2015-10-08 18:38] karlterrey commented on #1156
@nfeuerstein We can't release this unless we know the data source.

[2015-10-08 18:41] karlterrey commented on #1149
Verified as fixed. Closing

[2015-10-08 18:41] #1149 closed

[2015-10-08 18:48] nfeuerstein commented on #1219
The web map, the app, and the image service are now shared with Demo Review:
App =c725e126a53b4fbab72157dd77c0c29d
Map = 43774ea0de014514917b2167691b494e
Service = ca7d6030cb3e4f7d9131c661d432c0c8

[2015-10-08 19:20] jfrygeo commented on #1121
Documentation Added for "Operations Dashboard - Maritime Domain Awareness"
<li> DemoAndScripts\Military\MaritimeOperations\OperationsDashboard_MaritimeDomainAwareness\Documents

Video added for "Operations Dashboard - Maritime Domain Awareness"
<li> Resources\Videos\2015 UC ArcGIS for the Military - Maritime Operations\OperationsDashboard_MaritimeDomainAwareness

[2015-10-08 19:46] nfeuerstein commented on #1214
The Distance From raster (and the original water feature data) was all Esri owned, according to the permissions documented for the Sudan demo in 2014.

[2015-10-08 19:47] pHill5136 commented on #1231
@helyx-rterry @abrowning80 @elinz Has anyone at helyx exported a config from GEE that is still connected to Redland's opsserver. We have a service ISR Mission Reports which is having features deleted a couple minutes after restoring. I suspect an errant GEE service is deleting these.

[2015-10-08 19:48] nfeuerstein commented on #1163
The zip files containing data in that folder are not used in any services so I removed them.

[2015-10-08 19:48] #1163 closed

[2015-10-08 19:50] nfeuerstein commented on #1156
The zip files in that Hydropgraphy folder aren't used in any services, so I removed it.

[2015-10-08 19:50] #1156 closed

[2015-10-08 19:53] pHill5136 commented on #905
@topowright @conklinbd This issue has been resolved. Writes from ArcGIS toML and from ML to ArcGIS are both functioning. Sending back to lyle to validate.

[2015-10-08 20:43] ACueva commented on #1249
Image 5 link has been deleted.  Had to modify the item's json file manually.

[2015-10-08 20:45] elinz commented on #1238
Verified both versions of VehicleCommander were deleted from the DemoAndScripts staging folder.

[2015-10-08 20:45] #1238 closed

[2015-10-08 20:46] elinz commented on #1175
@conklinbd I'll update the item data through code.

[2015-10-08 20:47] lfunkhouser opened #1263 "10 Small Aircraft thumbnail does not display in search results"
Thumbnail for 10 Small Aircraft image id:79ec58d78b8f42e7871e350abbf79787 does not display in search results list
![image](https://cloud.githubusercontent.com/assets/3800729/10379421/147eab36-6dc3-11e5-8975-1c7773a4057b.png)

[2015-10-08 20:51] nfeuerstein commented on #1095
Updated the photo credits in the story map.

[2015-10-08 20:51] #1095 closed

[2015-10-08 20:53] ACueva commented on #1248
Verified with 3.1 client that our dev portal is working now.

[2015-10-08 20:53] #1248 closed

[2015-10-08 21:11] lfunkhouser commented on #1024
Items released by Demo Intelligence

[2015-10-08 21:15] lfunkhouser commented on #1250
@NatalieCampos Can you post an update on this issue?

[2015-10-08 21:16] abrowning80 commented on #1231
@pHill5136 The only people to have done this would have been Rich or myself and neither of us have been play / exporting things from gee in Redlands as far as I know.

[2015-10-08 21:18] elinz commented on #1175
I've updated the web map e9afca99ffa14bf0b064df6631210f60 data by replacing 19c1d72c36b34f10b25f5fa098ee076c  with dd6abcdbdca54ef993c5f2504cb35c57

@lfunkhouser The service definition item for this service is e227db9837eb461fac3de8624aff748f.

Closing issue.

[2015-10-08 21:18] #1175 closed

[2015-10-08 21:24] jfrygeo commented on #1121
Documentation Added for "Predictive Analysis Tools - Panga Boats"
<li> DemoAndScripts\Military\MaritimeOperations\PredictiveAnalysis_Panga_Drugs\Documents\Maritime\Documents

Video added for "Predictive Analysis Tools - Panga Boats"
<li>Resources\Videos\2015 UC ArcGIS for the Military - Maritime Operations\PredictiveAnalysisTools_Panga.mp4

[2015-10-08 21:27] jrweakland commented on #1244
id:8ef34c2cf61848c59c55538fa14907d5

@lfunkhouser - ready for your review and release.

[2015-10-08 21:28] jfrygeo commented on #1121
Added Demo Key word document here:
<li> DemoAndScripts\Military\MaritimeOperations\2015_AFM-MO_TEM.docx

[2015-10-08 21:29] jfrygeo commented on #1121
@BobBooth please verify and close issue

[2015-10-08 21:30] #1144 closed

[2015-10-08 21:33] NatalieCampos commented on #1250
The issue seems that the cache itself does not honor the unit conversion raster function.  I am trying to get a confirmatioon from core.  I am currently recooking the cache at the level of the lidar by excluding the the lidar from the mosaic dataset.  When the cache is recooked I will replace the tiles and see if that solves the issue.

[2015-10-08 21:34] lfunkhouser commented on #1209
Items and service definitions released by Demo Military

[2015-10-08 21:37] BobBooth commented on #1121
@jfrygeo - Contents verified, thanks!

[2015-10-08 21:37] #1121 closed

[2015-10-08 21:47] lfunkhouser commented on #1215
Fixed issue. Changed name to Esri. Released by Demo Intelligence.

[2015-10-08 21:50] lfunkhouser commented on #1214
Released by Released Intelligence

[2015-10-08 21:51] lfunkhouser commented on #1235
Map service and feature service released by DemoIntelligence

[2015-10-08 21:52] dfoll commented on #1148
@karlterrey this issue can be closed... the data in question that did not have permissions has been deleted... the entire "incidents" folder has been blown away

[2015-10-08 21:56] ACueva commented on #1242
@elinz Yes the data loads, except the style sheets are not loading properly. The correct location should be: arcgis/home/js/jsapi/dijit/themes/tundra/tundra.css and /arcgis/home/js/jsapi/esri/css/esri.css

Recommended fix would be go into:
https://SERVERNAME/ags/admin/system/handlers/rest/servicesdirectory
and modify the .css file location

@conklinbd @elinz  Please advise if you'd like me to do t

[2015-10-08 21:57] dfoll commented on #1161
previous comment was nonsense, the spreadsheet was opening up and only showing the last two entries in the spreadsheet.... i didn't realize the other permissions were above them in the part of the table not showing... spreadsheet is moved over.to box. @karlterrey you can verify and close

[2015-10-08 21:58] karlterrey commented on #1161
Verified as fixed. Closed.

[2015-10-08 21:58] #1161 closed

[2015-10-08 22:04] karlterrey commented on #1148
Verified as fixed and closed

[2015-10-08 22:04] #1148 closed

[2015-10-08 22:06] conklinbd commented on #1263
This is typically an issue with the thumbnail size being larger then the required size.

[2015-10-08 22:09] conklinbd commented on #1089
Verified

[2015-10-08 22:09] #1089 closed

[2015-10-08 22:10] conklinbd commented on #1215
Verified

[2015-10-08 22:10] #1215 closed

[2015-10-08 22:11] conklinbd commented on #1236
Verified

[2015-10-08 22:11] #1236 closed

[2015-10-08 22:13] jrweakland commented on #1252
@jfrygeo - This needs to be in the demo folder that was identified in @lfunkhouser email since it is a self-contained demo.

[2015-10-08 22:13] #1252 closed

[2015-10-08 22:14] conklinbd commented on #1024
I verified, since the GEE issue depends on this one.

[2015-10-08 22:14] #1024 closed

[2015-10-08 22:15] conklinbd commented on #1235
Verified.

[2015-10-08 22:15] #1235 closed

[2015-10-08 22:15] #1209 closed

[2015-10-08 22:15] #1214 closed

[2015-10-08 22:16] conklinbd commented on #1212
Verified

[2015-10-08 22:16] #1212 closed

[2015-10-08 22:17] conklinbd commented on #1249
Verified that this was released.

[2015-10-08 22:17] #1249 closed

[2015-10-08 22:19] conklinbd commented on #1207
@elinz can we just close this one? I would prefer to close and then just look for test issues later if you want to remember to verify.

[2015-10-08 22:21] joebayles opened #1264 "Urban Mission Rehearsal"
id=5f5e48f2cf48451b9fb8e5cecd7979b0
- [x] The description for the web scene says it was built w/ 2015.1, but the template is for 2014.1. Is this discrepancy intentional?
- [x] Bookmarks - some have odd naming conventions
  - [x] "Ingress#" - Maybe "Ingress Route #1"
  - [x] "Target#" - Suggest "Target [directional extent]" i.e. "Target SW Extent"
  - [x] "Egress#" - Maybe "Egress Route #1"

id=115

[2015-10-08 22:22] elinz commented on #1207
@conklinbd Sure. I'll close it.

[2015-10-08 22:22] #1207 closed

[2015-10-08 22:57] pHill5136 commented on #1195
@abrowning80 @helyx-rterry @ScottCecilio @conklinbd I am trying to track down an GEE output that is connected to the Military/MissionReport feature service. The errant output is deleting all of the features in the service. The current opsserver GEE instance is no longer connected to this service, but the features are still being deleted. I suspect someone exported the config and the connection to

[2015-10-08 23:11] ACueva opened #1265 "Line of Sight GP Service does not exist"
id=bdb59e3de7904449aa92acb329873b4b

I checked ArcGIS Server manager, no such service exists.
![10-8-2015 4-10-47 pm](https://cloud.githubusercontent.com/assets/3093940/10382292/2b6faa70-6dd7-11e5-95a7-99ef4dca6e8e.png)

[2015-10-08 23:43] lfunkhouser opened #1266 "Population Density 2011 web app needs more information"
Is this item supposed to be in Release Review? This item (id:f1ded0d8cbef405582e189c50698dfab) cannot be released without a description and thumbnail.

[2015-10-08 23:50] lfunkhouser commented on #1088
@conklinbd Yes. We will have some ISR Mission Reports items released by Demo Military and some released by Demo Intelligence.

[2015-10-08 23:50] #1088 closed

[2015-10-09 00:04] lfunkhouser commented on #1219
Access and Use Constraints are misleading.  It states "none"; however the link takes you to the USDA disclaimer that states "The Originator asks to be credited in derived products". USDA is cited in the credits. Should the Access and Use Constraints contain this statement, "The information presented in this template or demonstration is based on standard Esri Commercial off-the-Shelf (COTS) technol

[2015-10-09 00:14] lfunkhouser commented on #1228
id:e0b736a2364442348441744937ae757c released by DemoIntelligence
id:73bbdb629ebd471e88ac66c164d6fa40 released by DemoIntelligence
ISR Mission Reports - Land Operations web map id:6da870dbe58743f6b8037f05a6d98102 released by DemoMilitary
ISR Mission Reports web map id:d1d694ff35d34f29b1b16b54a72e0e4f released by DemoIntelligence

[2015-10-09 00:29] ScottCecilio opened #1267 "Imagery Basemap does not zoom in far enough"
Please see the following service. I have applications relying on this data and when I zoom in I have a gap in my Imagery cache.

https://[FILESERVER]/ags/rest/services/Basemaps/Imagery/MapServer

 When zooming over Monterey Regional Airport, I lose the basemap at 1:2,500

[2015-10-09 00:32] ScottCecilio commented on #1263
Fixed, please verify.

[2015-10-09 00:32] lfunkhouser commented on #1263
verified as fixed

[2015-10-09 00:32] #1263 closed

[2015-10-09 03:06] karlterrey commented on #1219
@lfunkhouser @nfeuerstein Credit the sources in the Description with a text notation of where the data came from.
In Access and Use Constraints say... "The information presented in this template or demonstration is based on standard Esri Commercial off-the-Shelf (COTS) technologies and commercial data. Any scenario data is notional".
Keep the Credits as they are.
We have the NAIP permission on Box

[2015-10-09 03:38] NatalieCampos commented on #1267
@ScottCecilio the cached level of 1:2500 is currently the lowest level the basemap goes down due to cache size issues.  If you need lower levels than that you will need to request it through @conklinbd.

[2015-10-09 12:31] lfunkhouser commented on #1244
map service released by DemoMilitary

[2015-10-09 12:44] lfunkhouser commented on #1264
I believe the template was certified against 2015.1 and used to make the web scene.

[2015-10-09 12:48] lfunkhouser opened #1268 "Only 4 of 7 Solutions Geoprocessing Toolboxes are shared with Release Review"
@mfunk @nfeuerstein The following 2.1.0 versions are not in Release Review. Should they be included on this Ops Server release? We are making document links to point to the data and need to know if these should be included
- Capability id:b75b298d780045cd803a8276e25ecb07
- Suitability id:bd7f9b40f5df41f78bc6faf895a14eee
- Operational Graphics id:417f577d5a474a9684e558aba870e84d

[2015-10-09 13:16] conklinbd commented on #1267
@ScottCecilio this is extremely late in the process to identify this issue. The caches have not changed in more than 4+ months. Please provide additional justification for why this issue needs to be fixed prior to the release.

[2015-10-09 13:21] conklinbd commented on #1265
Not sure why this is in the version next milestone, the item is not released.
I am changing the milestone.

[2015-10-09 13:30] lfunkhouser opened #1269 "Visibility and Range item is for 10.2"
@dfoll @nfeuerstein @joebayles
The portal item for Visibility and Range is for 10.2. The most recent version on the download site is 10.3
If you want a document link created for this item for this Ops Server release, please update the portal item with the correct information
If you do not want a document link for this item, please unshare the item with Release Review until the changes to the porta

[2015-10-09 13:41] elinz commented on #1172
Reverse this change. Turned out EM team didn't need this enterprise geodatabase.

[2015-10-09 13:45] elinz commented on #1172
Removed emergencymanagement database creation from OpsServerConfig.py. Closing issue.

[2015-10-09 13:45] #1172 closed

[2015-10-09 13:49] karlterrey commented on #1261
@nfeuerstein Do we have anything from MarkLogic saying it is OK to do this?

[2015-10-09 13:54] conklinbd commented on #1261
@karlterrey this is not MarkLogic's data. This is all Esri created simulation data.
We provided it to MarkLogic to support the demo.

[2015-10-09 13:56] lfunkhouser commented on #1261
I've removed MarkLogic from the credits.

@nfeuerstein If this service is going to be released, please update the summary and description so that it doesn't read like demo content.

[2015-10-09 13:58] jrweakland commented on #1244
Verified.

[2015-10-09 13:58] #1244 closed

[2015-10-09 14:01] jrweakland commented on #1264
The 2014.1 version was certified to work with 2015.1

[2015-10-09 14:04] conklinbd commented on #1251
@kerryrobinson fixed.
Back to you to Verify.

[2015-10-09 14:04] elinz opened #1270 "Layer names in Military/FriendlyOperations/FeatureServer service should be modified"
Feature service item e377b17ba01241ea80e74e75323e1776.

Layer names should be modified to a more readable name, i.e. not include database name and database user.

![image](https://cloud.githubusercontent.com/assets/4635490/10395823/dc878b8a-6e53-11e5-800d-21acf30f7588.png)

[2015-10-09 14:05] mfunk commented on #1268
**ALL** 7 of the solutions-geoprocessing-tools items should be there. Either they ALL need to be there, or none of them should be there. Is there are reason they aren't???

[2015-10-09 14:06] elinz opened #1271 "Layer names in Military/HostileOperations/FeatureServer service should be modified"
Feature service item e51a4c093b644a7f9cd12faf7df95da6.

Layer names should be modified to a more readable name, i.e. not include database name and database user.

![image](https://cloud.githubusercontent.com/assets/4635490/10395902/4868a0be-6e54-11e5-9955-12cc9eb991ae.png)

[2015-10-09 14:07] conklinbd commented on #1010
I am reopening this issue. The issue was that that this scene needs to be released because @kerryrobinson needed it for her Map Journal presentation. This is a showstopper.

[2015-10-09 14:08] conklinbd commented on #1264
Issue #1010 depends on this.

[2015-10-09 14:09] conklinbd commented on #1261
Reminder, if you need someone to work on an issue reassign the issue to them.

[2015-10-09 14:11] conklinbd commented on #1233
This was resovled by @pHill5136

[2015-10-09 14:11] #1233 closed

[2015-10-09 14:12] conklinbd commented on #1228
Verified that the group and all items have been released.

[2015-10-09 14:12] #1228 closed

[2015-10-09 14:12] mfunk commented on #1268
Better yet @lfunkhouser how do I add them to Release Review? Where is it?

[2015-10-09 14:13] conklinbd commented on #1253
Any new content was due last Friday.
This week was only for fixing issues to this missed the cutoff.

[2015-10-09 14:15] conklinbd commented on #1245
@jfrygeo last week was the cutoff for new content.
What released item is this related to? We are fixing content for released items only this week.

[2015-10-09 14:16] elinz commented on #1253
As I recall there are links to web pages created in the Demo and Scripts folder where this software is so having portal items containing the same is not a critical issue.

[2015-10-09 14:17] kerryrobinson commented on #1251
Verified.

[2015-10-09 14:17] #1251 closed

[2015-10-09 14:21] conklinbd commented on #1264
If this item can not be fixed by 1300 it will need to be released with those issues present. @NatalieCampos you other issues are a higher priority then this one.

[2015-10-09 14:23] jfrygeo commented on #1253
This is item was overlooked in the demo group last week.

John

Sent from my iPhone

On Oct 9, 2015, at 10:13 AM, Ben Conklin <notifications@github.com<mailto:notifications@github.com>> wrote:

Any new content was due last Friday.
This week was only for fixing issues to this missed the cutoff.

—
Reply to this email directly or view it on GitHub<https://github.com/Esri/ops-server-config/issues/125

[2015-10-09 14:23] conklinbd commented on #1269
If this isn't resolved by 1300 this item will not be released with the Ops Server.

[2015-10-09 14:23] jrweakland commented on #1253
@jfrygeo - this should be in word document in the \\FILESERVER\OpsServerStaging\2015_Q4\Resources folder.

[2015-10-09 14:23] #1253 closed

[2015-10-09 14:23] conklinbd commented on #1268
@lfunkhouser looks like you will need to reassign these items.

[2015-10-09 14:23] jfrygeo commented on #1245
This is the map service for the released feature service of "maritime contact".

Sent from my iPhone

On Oct 9, 2015, at 10:15 AM, Ben Conklin <notifications@github.com<mailto:notifications@github.com>> wrote:

@jfrygeo<https://github.com/jfrygeo> last week was the cutoff for new content.
What released item is this related to? We are fixing content for released items only this week.

—
Reply to th

[2015-10-09 14:24] conklinbd commented on #1267
Note if we are going to do anything about this, we need to do it before 1300 pst so please provide justification now.

[2015-10-09 14:25] conklinbd commented on #1266
If this isn't resolved by 1300 pst this item will not be released with the Ops Server. Upon review of the app I am guessing this item was mistakenly shared with release review.

[2015-10-09 14:29] conklinbd commented on #1166
This item has been released already. I am closing this issue.

[2015-10-09 14:29] #1166 closed

[2015-10-09 14:29] conklinbd commented on #1082
Ok. Verified and closed

[2015-10-09 14:29] #1082 closed

[2015-10-09 14:30] conklinbd commented on #1245
Ok, so this is a showstopper then?

[2015-10-09 14:31] jrweakland commented on #1245
@lfunkhouser - ready for your review and release

[2015-10-09 14:31] conklinbd commented on #1245
Tracking this as a showstopper since it is needed for released content.

[2015-10-09 14:33] lfunkhouser commented on #1268
Visibility, Data Management, and Patterns are owned by Natalie and in the Release Review group
@mfunk Suitability and Capability 2.1.0 toolboxes (see item ids in issue) are owned by you and not shared with any review group
@nfeuerstein Operational Graphics is owned by you and not shared with any review group

Assigning to @nfeuerstein

[2015-10-09 15:25] ACueva commented on #1265
@conklinbd I assumed since the item was shared out with the Release Review group and was included in our sprint we were trying to make a push to get the item released.
@lfunkhouser FYI

[2015-10-09 15:37] lfunkhouser commented on #1245
This has been released by DemoMilitary

[2015-10-09 15:38] mfunk commented on #1268
Capability and Suitability must have been moved from QA/QC. I put them back into QA/QC.

[2015-10-09 15:40] conklinbd commented on #1265
Hmmm...I don't see an issue associated with it, the cutoff for new content was last week so I am not sure what this was for.
Unless @jrweakland has an explanation of why it is need for this release I think this needs to stay as something to deal with for the next release.

[2015-10-09 15:45] lfunkhouser opened #1272 "Thumbnail needed for Military Reports web map"
Web map needs an updated thumbnail. It is using the default thumbnail. This is demo content
id:98328c15ecd547efbd3ccc532c1056b1
Item is owned by @joebayles

[2015-10-09 16:04] conklinbd opened #1273 "Predictive Analysis Web App depends on unreleased content"
All of this content is in demo review but I am just logging an issue so these don't get missed.

Execute Query GP Service
id:c9e065fe2b3c47d9bc1cec734affe711
Predictive Analysis Demo Map
id:e8effa285e7e4cfcab3b004a3cfc8e55

[2015-10-09 16:18] ACueva opened #1274 "Illicit_Drug_Grows Feature Service does not exist."
This service ags/rest/services/Hosted/Illicit_Drug_Grows/FeatureServer/0
is being called from:
ArcGIS for Geospatially Enabling the Intelligence Collector (Map Journal)
id:cf92fbb86028410cbdd84947d7e7a56a

The service does not exist and is causing the aforementioned Map Journal to fail in the Summary Application section.

[2015-10-09 16:33] lfunkhouser commented on #1010
Released by ReleasedIntelligence

[2015-10-09 16:34] #1010 closed

[2015-10-09 16:38] lfunkhouser commented on #1273
Both items have been released by DemoIntelligence

[2015-10-09 16:40] jrweakland commented on #1245
Verified.

[2015-10-09 16:40] #1245 closed

[2015-10-09 16:41] jrweakland commented on #1265
next release is appropriate

[2015-10-09 16:42] conklinbd opened #1275 "ArcGIS for Geospatially Enabling the Intelligence Collector (Map Journal) Depends on Unreleased content"
This is a serious issue. There is numerous sets of content which is not released for this app.

in Demo review
- [x] id:d6f09cebdbad474a8c6cad9e94609222 ISR Mission Report Dashboard (Single Display)

In Intel QA/QC
- [x] id:0e32cae8e76c47eb9013fd5123287897 Question 1- Geospatially Enabling the Intelligence Collector
- [x] id:b480e023c02947a2b5790d476cbf1b7d Question 3- Geospatially Enabling the In

[2015-10-09 16:44] elinz opened #1276 "Modify UpdateWebApps.py script to perform search/replace in config_*.json files"
Web app builder apps have config files for widgets which contain server names and GUIDs. We need to perform search/replace on these files.

File name examples:
config_Basemap Gallery.json (there is a space in the file name)
config_Query Editor.json (there is a space in the file name)

[2015-10-09 16:49] conklinbd opened #1277 "Image Observables web app relies on unreleased content"
Not in Demo or Release Review:
 id:2fed838435ea45df8cbc6e82c0517856 NAIP 2005 to 2014

[2015-10-09 16:51] elinz commented on #1276
@conklinbd The script is already modifying these files. It modifies files with the following search pattern: *.js, *.html, *.json, *.csv, *.erb

Also verified that the server names and guids were updated in web app builder widgets on the "TEM2015 TEST 01" server. Closing issue.

[2015-10-09 16:51] #1276 closed

[2015-10-09 16:52] dfoll commented on #1269
i will take the 103 version from the download site and use it to update the portal item

[2015-10-09 16:56] conklinbd commented on #1277
This web map:
id:43774ea0de014514917b2167691b494e is in demo review. Maybe we should swap to use it?
@nfeuerstein

[2015-10-09 17:04] nfeuerstein commented on #1275
I fixed/sent to release what I could.  The following still have issues:
[ ] id:f8cb7a4ac0af40de9f5d7b69cc6f6145 Illicit Drug Grows (Web-App Builder) - there are no operational layers.
[ ] id:386f8a3d1f9e4629b63fc4023ba78ead/data Question 4- Geospatially Enabling the Intelligence Collector - there are no image permissions noted.

We've already released an Illicit Drug Grows Map (a4c628fc4aa04a05ad3

[2015-10-09 17:06] lfunkhouser commented on #1219
Assigning to @karlterrey to update access and use constraints

[2015-10-09 17:10] conklinbd commented on #1276
great news.

[2015-10-09 17:19] nfeuerstein commented on #1277
Switched the webmap used in Image Observables to one already in demo review: 43774ea0de014514917b2167691b494e

[2015-10-09 17:27] nfeuerstein commented on #1274
@ACueva @phil7277 I replaced the summary app in the map journal with the working summary app that is in demo review: f6e165bf688c46daa06048fed1fb43e9

[2015-10-09 17:27] #1274 closed

[2015-10-09 17:31] conklinbd commented on #1277
I want to verify this one.

[2015-10-09 17:32] nfeuerstein commented on #1261
Updated the summary and description.

[2015-10-09 17:33] conklinbd commented on #1261
This still needs to be reassigned. id:5e8dc9bf8bcd4e2a98bfb7ff9d6b6bdc is still owned by Demo instead of Released user.

[2015-10-09 17:34] karlterrey commented on #1219
@lfunkhouser Updated Access and Use Constraints and Description.

[2015-10-09 17:35] conklinbd commented on #1277
Verified.

[2015-10-09 17:35] #1277 closed

[2015-10-09 17:38] nfeuerstein commented on #1268
All 7 should be good to go and in Release Review now.

[2015-10-09 17:43] lfunkhouser commented on #1261
Sorry @conklinbd I thought you meant to reassign the issue not the portal item to the person. I was waiting on the issue to be fixed before changing ownership. @joebayles can you check out the edits, please.

[2015-10-09 17:49] pHill5136 commented on #1195
@elinz @conklinbd
To resolve this issue, we will be replacing and deleting ags/rest/services/Military/MissionReport/FeatureServer/0 with
ags/rest/services/Military/IntelReports/FeatureServer/0

[2015-10-09 17:52] nfeuerstein commented on #1266
Removed from Release Review - was definitely shared by mistake.

[2015-10-09 17:52] #1266 closed

[2015-10-09 17:53] ScottCecilio commented on #1267
@conklinbd I have been ok with the cache the way it has been.  However, lastnight I was not able to get the same amount of zoom that I had before.  Don't know if the cache level is corrupted or what but I simply cannot zoom as much as I used to.

[2015-10-09 17:54] nfeuerstein commented on #1191
Removed empty mosaic datasets and image files (that aren't sued) from data folder.

[2015-10-09 17:54] #1191 closed

[2015-10-09 17:55] conklinbd commented on #1195
We will need to update the following content:
- [ ] id:d1d694ff35d34f29b1b16b54a72e0e4f   "ISR Mission Reports"
- [ ] id:4ab19d716e4442daaacf006fdeb52677   "Mission Report"   Web Mapping App

[2015-10-09 17:57] nfeuerstein commented on #1189
I've asked around and as far as anyone is concerned, this data and the mosaic datasets weren't being used.  Its was a good idea that wasn't carried out for various reasons.  I moved the folder to the data storage location that will no ship with the ops server.  As far as I can tell, NAIP and Landsat (from AGOL) are the only image services currently being used on the Ops Server

[2015-10-09 17:57] #1189 closed

[2015-10-09 17:58] nfeuerstein commented on #1188
Nope, we didn't.  Its moved off the ops server.

[2015-10-09 17:58] #1188 closed

[2015-10-09 18:07] conklinbd commented on #1195
The web app didn't have any references to the layer.

[2015-10-09 18:08] conklinbd commented on #1195
I am going to delete the service now

[2015-10-09 18:11] lfunkhouser commented on #1219
All items released by DemoIntelligence

[2015-10-09 18:13] dfoll commented on #1269
replaced with the version from the downloads page.... NOTE... a new portal item was created because the file associated with the old portal item had "3.0.0" appended to the file name... this was incorrect and prohibited me from updating that portal item. i have shared with release review, and enabled delete protection, but @lfunkhouser @nfeuerstein  i cannot switch owner to natalie so that it gets

[2015-10-09 18:19] conklinbd commented on #1275
@nfeuerstein is going to fix this.

[2015-10-09 18:22] #1259 closed

[2015-10-09 19:11] j-sullivan commented on #1138
Video w/ audio and script posted in disldb

[2015-10-09 19:11] #1138 closed

[2015-10-09 19:17] lfunkhouser commented on #1237
@joebayles could you add these?

[2015-10-09 19:21] conklinbd opened #1278 "Predictive Analysis Demo Map uses unreleased service"
e8effa285e7e4cfcab3b004a3cfc8e55   "Predictive Analysis Demo Map"  used unreleased content:
e7d140d8de9f4fe5a40a9887e866e50a   Country Boundaries Raster Image Service.
50c15cdd37cd49dcb5caa8e4f6ef4854 Country Boundaries Map Service

Owned by @ircampbell .
@nfeuerstein can you review and release?

[2015-10-09 19:23] conklinbd commented on #1278
@lfunkhouser I added these to demo review group.

[2015-10-09 19:26] joebayles commented on #1261
@lfunkhouser - minor edits... suggest you rename it Spot Reports (vice Observation Reports), but it's good for release.

[2015-10-09 19:28] conklinbd commented on #1267
@ScottCecilio nothing has changed with the cache. Unfortunately I do not this this can be addressed today.

[2015-10-09 19:29] joebayles commented on #1237
@elinz please send me the report.

[2015-10-09 19:30] conklinbd commented on #1219
Verified.

[2015-10-09 19:30] #1219 closed

[2015-10-09 19:32] elinz commented on #1237
@joebayles Report sent through email. Reassigning back to you.

[2015-10-09 19:33] lfunkhouser commented on #1272
verified as fixed

[2015-10-09 19:33] #1272 closed

[2015-10-09 19:34] joebayles opened #1279 "Places of Interest Review"
Review id=b9e9e4c1316c4d2aaae7c63c0f1f0c35

I think that several of these layers could use a symbology update, and in some cases (i.e. Military), the data appears to be old. (Realize that's an issue for USGS).

[2015-10-09 19:36] conklinbd commented on #1250
@NatalieCampos is working on this issue and will be republishing the service. The service may need to have a new name in order for the cache changes to be recognized. Should be done by the end of the day.

[2015-10-09 19:37] conklinbd commented on #1273
Verified that both items have been released. New issues were created for the services that are not released.

[2015-10-09 19:37] #1273 closed

[2015-10-09 19:39] conklinbd commented on #1261
@joebayles reminder to reassign the issue if you are done with it.
Reassigned to @lfunkhouser

[2015-10-09 19:54] lfunkhouser commented on #1269
verified as fixed. Released by TemplateMilitary

[2015-10-09 19:54] #1269 closed

[2015-10-09 19:54] lfunkhouser commented on #1268
verified as fixed

[2015-10-09 19:54] #1268 closed

[2015-10-09 20:05] lfunkhouser commented on #1261
Owner changed to Released Intelligence
@elinz to verify

[2015-10-09 20:13] lfunkhouser commented on #1264
verified as fixed

[2015-10-09 20:13] #1264 closed

[2015-10-09 20:31] nfeuerstein commented on #1275
-[  ] id:0e32cae8e76c47eb9013fd5123287897 Question 1- Geospatially Enabling the Intelligence Collector - shared with Demo Review Group
 -[  ] id:b480e023c02947a2b5790d476cbf1b7d Question 3- Geospatially Enabling the Intelligence Collector - shared with Demo Review Group
-[  ] id:f8cb7a4ac0af40de9f5d7b69cc6f6145 Illicit Drug Grows (Web-App Builder) - replaced illicit drug grow feature service with

[2015-10-09 20:32] elinz commented on #1261
Verified that service 5e8dc9bf8bcd4e2a98bfb7ff9d6b6bdc  is now owned by ReleasedIntelligence. Closing issue.

[2015-10-09 20:32] #1261 closed

[2015-10-09 20:33] conklinbd commented on #1275
I would like to verify this one.

[2015-10-09 20:37] joebayles commented on #1237
Done... the vast majority of these items are EM content that is referencing an AGOL basemap.

Also, found blank Summary, Access and Use Constraints, and Credits fields in several EM items as well.

[2015-10-09 20:44] nfeuerstein commented on #1278
@lfunkhouser I updated the summary and description for the map service and added to Demo Review.

[2015-10-09 20:48] conklinbd commented on #1275
This content is not released and wasn't shared to demo review group. I shared to demo review.

- [ ] id:0e32cae8e76c47eb9013fd5123287897 Question 1- Geospatially Enabling the Intelligence Collector
- [ ] id:f199cc8b220e464c930a7a2e706625de Question 2- Geospatially Enabling the Intelligence Collector
- [ ] id:b480e023c02947a2b5790d476cbf1b7d Question 3- Geospatially Enabling the Intelligence Collec

[2015-10-09 20:49] conklinbd commented on #1275
@lfunkhouser to release the remaining items.

[2015-10-09 20:55] lfunkhouser commented on #1278
released by DemoIntelligence

[2015-10-09 21:02] conklinbd commented on #1278
Verified.

[2015-10-09 21:02] #1278 closed

[2015-10-09 21:14] topowright commented on #905
@pHill5136 Was not able to validate that we were able to write features into Mark Logic. I am changing the version of the release to reflect the same status as this issue:

https://github.com/Esri/ops-server-config/issues/939

[2015-10-09 21:25] elinz commented on #1237
Verified. NOTE: only did a spot check. Closing issue.

[2015-10-09 21:25] #1237 closed

[2015-10-09 21:31] conklinbd commented on #1195
@elinz I didn't delete this service yet because I realized some other content in the release review process might be pointing to it. I will delete after the next report.

[2015-10-09 21:52] conklinbd commented on #1275
Verified content released.

[2015-10-09 21:52] #1275 closed

[2015-10-09 22:24] ACueva commented on #1230
Items will be copied to \OPSServerInstall\Downloads folder.
To verify next build.

[2015-10-09 22:29] conklinbd opened #1280 "Places of Interest Web Map Released but uses demo service"
b9e9e4c1316c4d2aaae7c63c0f1f0c35   "Places of Interest" Web Map is owned by ReleasedIntel. All of the services are owned by Demo Intel.
Recommend we reassign this web map to DemoIntel user.

@nfeuerstein @lfunkhouser

[2015-10-09 22:29] elinz opened #1281 "Invalid MissionReport portal item"
The Military/MissionReport/FeatureServer Service json is associated with the following portal items...
{"itemID":"b0d5bd4b97d34882adfbae9def6cc309","type":"MapServer"},{"itemID":"d78f22ee0b5e454588b9a0883cfd8d22","type":"FeatureServer"}]

However there is a manually created item 7e098cb0d923464ab6089920b20fc70c that references this service. This portal item needs to be deleted.

[2015-10-09 22:29] joebayles commented on #1224
Crossed out Helicopter Landing Zone and Incident Analysis because they will not get created.

[2015-10-09 22:31] lfunkhouser commented on #1280
@conklinbd owner changed to DemoIntelligence

[2015-10-09 22:39] elinz commented on #1281
portal item 53e37c5d1d6e4fe3a6970a2879ce4508 also needs to be delete. this was manually created and not associated with the mission report map service.

[2015-10-09 22:43] conklinbd commented on #1281
I deleted these items and the original service related to issue #1195

[2015-10-09 22:44] conklinbd commented on #1195
This item was deleted and replaced as instructed by @pHill5136. Assigning to @pHill5136 to verify.

[2015-10-09 22:44] elinz opened #1282 "The Test/IncidentHotSpots/GPServer is owned by DemoIntelligence but resides in the AGS Test folder"
@conklinbd @lfunkhouser @nfeuerstein Is everyone okay with this?

[2015-10-09 22:45] conklinbd commented on #1280
verified.

[2015-10-09 22:45] #1280 closed

[2015-10-09 22:47] conklinbd commented on #1282
This should be corrected.

[2015-10-09 22:48] conklinbd commented on #1282
My recommendation is to pull it from the release.

[2015-10-09 22:54] lfunkhouser commented on #1282
This item (id:797e7473926b430fa19788f62b56afe9) will not be released.  Owner changed to @nfeuerstein

[2015-10-09 22:54] nfeuerstein commented on #1282
Agreed.  Let's pull it.

[2015-10-09 23:06] elinz opened #1283 "Web map "SALUTE Reports" references a service/layer that does not exist"
Web map 1e607ce98b6241baa05e53f8171638de is referencing the following layer that does not exist:
NationalIntelligence/ObservationReports/FeatureServer/1

This service only has layer 0.

[2015-10-09 23:08] elinz commented on #1283
This web map is also used in:
Web Mapping Application       895d6bffcd1a4d829d30601b6cfa1f97   "SPOT Report"

[2015-10-09 23:11] elinz opened #1284 "Why is image service "True Color / Natural Color (321) 1990-2010" owned by ReleasedOpsServer"
@lfunkhouser @nfeuerstein Not sure why this is owned by ReleasedOpsServer acocunt. This is an external image service (not on the dev portal/server).

[2015-10-09 23:13] dfoll commented on #1224
finished all mine @lfunkhouser  you can close after they are satisfactory.

[2015-10-09 23:44] elinz commented on #1281
Verified portal items 7e098cb0d923464ab6089920b20fc70c  and 53e37c5d1d6e4fe3a6970a2879ce4508  have been deleted. Closing issue.

[2015-10-09 23:44] #1281 closed

[2015-10-09 23:45] elinz commented on #1282
I'll verify since I submitted the issue.

[2015-10-09 23:48] elinz commented on #1282
Verified that ownership of this service is now @nfeuerstein. Closing issue.

[2015-10-09 23:48] #1282 closed

[2015-10-09 23:49] elinz commented on #1283
@nfeuerstein I'll update the web map json and have the web map point to layer 0.

[2015-10-09 23:59] elinz commented on #1283
I fixed the layer to point to NationalIntelligence/ObservationReports/FeatureServer/0 and I updated the item id stored in the web map data json to point to the correct guid for this feature service item; it was pointing to an non-existent item.

[2015-10-09 23:59] #1283 closed

[2015-10-10 00:17] ScottCecilio commented on #1146
@dfoll @phil7277 I created a video for Land Operations and have posted it.  I talked to @jrweakland and discussed with the the possibility of just making an additional copy for ISOP.  We both agreed that since these two videos would almost be identical it did not make sense to post them both.

[2015-10-10 00:44] ScottCecilio commented on #1199
Posted

[2015-10-10 00:44] #1199 closed

[2015-10-10 11:47] lfunkhouser commented on #1224
verified as fixed.

[2015-10-10 11:47] #1224 closed

[2015-10-10 11:48] lfunkhouser commented on #1113
@karlterrey Is this complete?

[2015-10-10 11:50] lfunkhouser commented on #1187
Assigning to @ACueva to release after he tests the new service

[2015-10-10 11:59] lfunkhouser commented on #1284
id:3abe5386bb5946bc876eac9e47541667 is owned by ReleasedOpsServer because it is the same as this item on arcgis.com http://www.arcgis.com/home/item.html?id=181cc5a85c4d43789298e6d927e82079
The plan was items that mimic that of ArcGIS Online would be owned by ReleasedOpsServer. @conklinbd @nfeuerstein Should this be owned by ReleasedIntelligence instead?
@ACueva please verify the owner before extra

[2015-10-10 14:49] karlterrey commented on #1113
@lfunkhouser Yes this is not complete.

[2015-10-10 16:43] elinz commented on #1284
I ask since this service is not actually hosted on the dev portal/server and is not associated with any part of the portal organization settings/configurations or shared with the basemap, gallery or web app groups. Thanks.

[2015-10-11 06:07] NatalieCampos commented on #1250
This issue has been fixed.  The fix required a new Cached elevation mosaic to be made and a small cache over the Monterrey Area to be created.  Portal Item maintains the same description as the previous version.

![image](https://cloud.githubusercontent.com/assets/5116835/10415183/98dd9608-6fa3-11e5-884a-161a2a68349c.png)

[2015-10-11 06:27] ACueva commented on #1187
Service has been tested, appears to be working properly now. id=daeab256eb5d4e0e82929874ea35365e
I have changed ownership to ReleasedOpsServer

[2015-10-11 06:41] #1187 closed

[2015-10-11 06:42] ACueva commented on #1250
verified as fixed.

[2015-10-11 06:42] #1250 closed

[2015-10-11 13:14] kerryrobinson opened #1285 "Install Test: InstallIIS.bat, error adding MIME type"
Server OS:  Windows Server 2012 R2

When running InstallIIS.bat, I get the following error:

![image](https://cloud.githubusercontent.com/assets/3383476/10416887/1fd23e92-7022-11e5-8dec-abdf8ae72769.png)

This is because the .json MIME type already exists (I double checked).   So this is not critical but might be worth either checking for the exsistance of the MIME type before issuing the command,

[2015-10-11 13:51] kerryrobinson opened #1286 "Install Test: .NET Framework 3.5 isn't installed"
Server OS: Windows Server 2012 R2

I received the following error when running Install/InstallOpsServer.bat:
![image](https://cloud.githubusercontent.com/assets/3383476/10417029/e0e2040c-7025-11e5-9be3-792810134202.png)

It seems that .NET 4.5 is already installed with WinSrv2012R2 but not 3.5.

I used Server Manager to enable 3.5 on my server, then re-ran InstallOpsServer.bat and did not get the

[2015-10-11 22:07] kerryrobinson opened #1287 "Install Test: Copy Files on Data folder doesn't work due to incredibly long filename"
CopyData.py failed when copying the R:\OPSServerInstall\Server\Staging\Data folder due to a long file name:

![image](https://cloud.githubusercontent.com/assets/3383476/10417901/e97d5d64-7043-11e5-8f42-f9a13b4c600e.png)

The name was so long Explorer wouldn't let me copy and paste the filename, so here is a screenshot:
![image](https://cloud.githubusercontent.com/assets/3383476/10417927/c53083f4-7

[2015-10-12 04:02] ACueva commented on #1287
@kerryrobinson I believe this issue might go away when we address this issue. https://github.com/Esri/ops-server-config/issues/1243

[2015-10-12 07:28] kerryrobinson commented on #1287
@ACueva OK thanks.  Yes it is the same thing, so we can ignore the folder.

[2015-10-12 11:27] kerryrobinson opened #1288 "Install Test: PublishHostedServices.py didn't work until I gave all users the Publisher role"
I received an error when running PublishHostedServices.py (the error message was on line 334, and the error code was just 'code').

I realized I was only able to publish this service manually through the Portal once I made the user (Demo Military in this case) a Publisher.  Once i changed all users to have the Publisher role, this script ran successfully.

I'm not sure if this is something that sh

[2015-10-12 13:09] elinz commented on #1288
@kerryrobinson I found this issue when I performed the first test of the fall release. I changed the role of the Demo and Released users to publisher on the dev server; forgot to make the change to the extracted content I shipped to you. This script will work on the final build of Ops Server. Thanks. Assigning back to you to close. Thanks.

[2015-10-12 13:14] kerryrobinson commented on #1288
@elinz sounds good. closing issue.

[2015-10-12 13:14] #1288 closed

[2015-10-12 13:16] elinz commented on #1286
@kerryrobinson The InstallOpsServer.bat script checks that this dependency (.NET 3.5 and 4.5) has been met, the InstallIIS.bat will install .NET 3.5. If 4.5 is not enabled by default on the particular OS you are installing on then you have to manually enable. At some point I'll add the 4.5 to the installer but won't be there for the Fall release of Ops Server. Assigning back to you. Thank you.

[2015-10-12 13:20] kerryrobinson opened #1289 "Install Test: Running CopyFiles.py on hosted caches... caches already exist"
When running Copy/files on the CachesHosted folder, i get the message that the dataset already exists (but it is an empty cache):
![image](https://cloud.githubusercontent.com/assets/3383476/10428769/b57d689e-70eb-11e5-9d5f-47be26a8fa10.png)

If i delete the existing version in c:\arcgisserver\directories\arcgiscache, the copy works fine.

[2015-10-12 13:24] elinz commented on #1289
@kerryrobinson Step #1 in the "Copy hosted service caches" section instructions the user to move the existing hosted cache folders out of the arcgiscache folder before you copy the cache files from the external drive. I'll make the text bold red in the install guide right now and resend to you.

[2015-10-12 13:26] kerryrobinson commented on #1289
@elinz Aha, i see that now. Completely missed that. Maybe make it in bold or highlight it somehow.  All of these things blur into each other eventually...

[2015-10-12 13:27] elinz commented on #1289
@kerryrobinson I'll break step #1 into two steps and make the file move bold red.

[2015-10-12 13:27] conklinbd commented on #1279
Please add more info to this issue.

[2015-10-12 13:27] kerryrobinson commented on #1289
reopening to track the edit to the document

[2015-10-12 14:06] kerryrobinson commented on #1289
document fix looks good.

[2015-10-12 14:06] #1289 closed

[2015-10-12 14:07] kerryrobinson commented on #1286
@elinz OK. However for some reason that didn't happen for me, 3.5 was never installed so i had to manually do it.

[2015-10-12 22:28] pHill5136 commented on #1241
Closing this item these services will not be released.

[2015-10-12 22:28] #1241 closed

[2015-10-12 22:45] ACueva opened #1290 "Jenkins build server: delete Pro not final installer"
ArcGIS Pro not final folder is being included with the build.  Delete this folder from the Esri Software copied from location.

[2015-10-12 22:46] ACueva opened #1291 "Jenkins build server: Pro install files copied to incorrect location"
Files should live in the Software\ArcGISPro folder.

[2015-10-12 22:47] ACueva opened #1292 "Jenkins Build Server: Update ArcGIS Pro version"
Currently ArcGIS Pro 1.0.2 is being included in the build.  Update the version to 1.1.1

[2015-10-12 23:07] elinz opened #1293 "Generate hosted feature service definition file for Fall 2015 release"
WriteHostedServiceDefinitions.py

[2015-10-12 23:10] elinz opened #1294 "Make final updates to install guide"
- [x] make sure to include info about possible issue creating initial portal administrator account.
- [x] Update resource spec table.
- [x] Make server name/username/password in script examples and other references consistent.
- [x] Review section "Verify that Geoevent extension is updating feature services" and make necessary edits.

[2015-10-12 23:11] elinz opened #1295 "Review "Ops Server Config Preparation.docx" make changes if necessary"

[2015-10-12 23:11] elinz opened #1296 "Save install and config doc to .pdf after making final changes to Word docs"

[2015-10-13 13:53] elinz opened #1297 "Republish NationalIntelligence/DistanceFromWater service; I mistakenly deleted from dev server"

[2015-10-13 13:58] elinz opened #1298 "TEM2015 Test 02: original NationalIntelligence/CoastalReliefModel was not found during RemapIDsOnServices.py execution"
The portal item for this service did exist in the test portal, but RemapIDsOnServices.py could not find the item. I didn't manually correct the id in the service json. I left the item owned by admin and shared the item with everyone. There is at least web map that references this service that has GUIDs in the web map data. On the test portal these GUIDs are remapped so they are correct. The only t

[2015-10-13 14:09] elinz opened #1299 "TEM2015 Test 02: CopyFiles.py did not copy all the cache files"
There were no errors thrown during script execution, however, there were some warnings which I typically see when copying feature classes with relationship classes. Examples of warning message shown below.

ACTION: At this point I think the best course of action is to modify the installation guide to have users use robocopy to copy files in place of the CopyFiles.py scripts.

- Copying folder...

[2015-10-13 14:16] elinz opened #1300 "TEM2015 Test 02: FindOrphandedHostedService.py with DELETE option is not deleting items"

[2015-10-13 14:52] elinz commented on #1300
Fixed in Esri\ops-server-config v.next. Also copied to our TEM2015 build OpsServerBuilds\Archive\20151011_0757. Closing issue.

[2015-10-13 14:52] #1300 closed

[2015-10-13 15:34] elinz opened #1301 "TEM2015 Test 02: Confirm that Hosted/CountIncidentsByLOC wasn't configured as tile service"
The dev server has a folder in the arcgiscache folder for this service. When I published this service to the test machine no cache folder was created for this service. If it's not needed I'll delete the cache folder for this service from the build.

Don't believe having this folder on the Ops Server would cause any problems.