[2015-10-13 16:08] elinz opened #1302 "Generate ServiceList.txt file to use with StartStopServices.py script"
Generate the ServiceList.txt file containing a list of all non-hosted services released so that users can use in the StartStopServices.py script.

[2015-10-13 16:18] elinz commented on #1293
Generated .json file and saved to the TEM2015 build (OpsServerBuilds\Archive\20151011_0757\OPSServerInstall\Portal\hosted_service_definitions.json). Closing issue.

[2015-10-13 16:18] #1293 closed

[2015-10-13 16:23] elinz opened #1303 "Jenkins build server: Generate hosted feature service definition json file"
Need to generate json file that stores feature service editing, sync, export and tracking properties. During the build process, execute the Utilties\WriteHostedServiceDefinitions.py script for all the Demo and Released users. Store the output file "hosted_service_definitions.json" directly under the build folder OPSServerInstall\Portal.

[2015-10-13 16:43] elinz opened #1304 "TEM2015 Test 02: Two different FarthestOnCircle GP services are released"
The GUIDs are for the portal items on the dev portal.
Military/FarthestOnCircle.GPServer (779c8029eac24a129ce95a8f4caa8301)
Military/FarthestOnCircleImageService.GPServer (688999e1df1a4b3ca1eaa63996d3b487)

[2015-10-13 18:26] jfrygeo commented on #1304
The Farthest On Circle Image Service ( 688999e1df1a4b3ca1eaa63996d3b487 ) ideally should be the only one released.... It works with an image service, but due to issue #777 it does not work with IWA, so the other service (Military/FarthestOnCircle.GPServer (779c8029eac24a129ce95a8f4caa8301)) was created. I have tried the image service with other OpsServer cuts (at UC) and confirmed that it works wi

[2015-10-13 20:11] kerryrobinson opened #1305 "TEM2015: Time Aware template web app doesn't reference Portal JSAPI"
The Time aware templates web app (used with the NAIP Over Time app (id:645bcc9a7be94e1cbe3541e8767bf7f6) doesn't reference the Portal-hosted version of the jsapi.

In order to work without internet, \SolutionsWeb\Apps\NaiotnalIntel\time-aware-template-master\index.html needs to be modified:

[code]

This is the first web app i've noticed that does this, not sure if others have the same problem.  B

[2015-10-13 20:35] elinz commented on #1304
Will we assess what action to be taken for this release.

[2015-10-13 20:49] kerryrobinson opened #1306 "Elevation Profile: Consider hosting local version of the Elevation Profile Service (for Elevation Profile Web App)"
It's not possible to run the Elevation Profile web app (id:51e72f629e0a4600bcb964115adb5e71) without an internet connection as it uses an esri-hosted Elevation Analysis Profile Task (http://elevation.arcgis.com/arcgis/rest/services/Tools/ElevationSync/GPServer).

However it is possible to host this service locally, according to this blog post: http://blogs.esri.com/esri/arcgis/2014/08/26/setting-u

[2015-10-13 21:21] lfunkhouser commented on #1301
Folder will be deleted from the build and the test server.

[2015-10-13 21:43] elinz opened #1307 "TEM2015 Test 02: Military/PiracyBySubregion2009to2013 and Military/NGASubregions feature and map service do not exist"
This was owned by DemoMilitary on the dev server

[2015-10-13 22:27] elinz opened #1308 "TEM2015 Test 02: Geoevent outputs are no longer listed in the monitor"
might be a memory resource issue.

[2015-10-13 22:31] kerryrobinson opened #1309 "web scenes don't seem to import correctly during ops server install"
web scene seems to be corrupt after installing ops server.  it needs to be manually recreated; i can't find anyway to edit the layers that make up the scene.

[2015-10-13 22:39] kerryrobinson opened #1310 "install doc- edits to geoevent section"
a few updates to geoevent sectin of install doc:

- step 2b should say to copy the contents of the OpsServerInstall\GeoEventData folder
- after importing the GeoEventConfig.xml , step 3eiii, i had to use the url: https://server.domain.com:6443/arcgis instead of https://server.domain.com/ags

[2015-10-13 23:45] kerryrobinson opened #1311 "Is there a simulation file for the Movement data?"
I have GeoEvent working OK but no input for the Movement data.  Is there a simulation file that should be used?

[2015-10-14 14:12] elinz commented on #1247
Completed on build 20151011_0757. Closing issue.

[2015-10-14 14:12] #1247 closed

[2015-10-14 14:13] elinz commented on #318
@conklinbd Moving this to version - after next. For Fall release, we manually created a txt file containing the list of AGS services that Geoevent relies on.

[2015-10-14 14:40] elinz opened #1312 "Create script to update hosted feature service editing, sync, export, tracking properties"

[2015-10-14 14:45] elinz commented on #1312
Fixed in Esri\ops-server-config v.next. Created script UpdateHostedServiceDefinition.py. Also copied script to build 20151011_0757 (planned Fall release candidate). Closing issue.

NOTE: script used in conjunction with WriteHostedServiceDefinition.py script.

[2015-10-14 14:45] #1312 closed

[2015-10-14 14:47] elinz commented on #914
@conklinbd Fixed in #1312 (note: without ArcREST). Closing issue.

[2015-10-14 14:47] #914 closed

[2015-10-14 14:52] conklinbd commented on #1311
@kerryrobinson this will be included with the movement demo.
I am still working on packaging it up.

[2015-10-14 14:54] conklinbd commented on #1295
I am assuming this is for this release.

[2015-10-14 14:55] conklinbd commented on #1294
Assume this is for this upcoming release. Setting milestone.

[2015-10-14 14:55] conklinbd commented on #1195
I am closing this since it has been verified via other issues.

[2015-10-14 14:55] #1195 closed

[2015-10-14 14:56] elinz commented on #1294
@conklinbd yes, just forgot to set the milestone.

[2015-10-14 14:57] elinz commented on #1295
@conklinbd yes, I just forgot to set the milestone.

[2015-10-14 15:00] elinz commented on #636
@kerryrobinson @conklinbd This step is not necessary with this release. I've removed this section from the installation guide.

[2015-10-14 15:03] elinz commented on #636
Fixed in Esri\ops-server-config v.next. Closing issue.

[2015-10-14 15:03] #636 closed

[2015-10-14 15:12] elinz commented on #845
@conklinbd For the Fall release we ran the ops-server-config\Publish\Server\RepairMosaicDatasets.py script using a daily build of 10.4. Moving this to version - after next since our plan is to use 10.4 for the Spring release and I would like to verify this on 10.4 ArcGIS Server.

[2015-10-14 15:23] elinz commented on #1285
@kerryrobinson Added the following note in red to the "Install Internet Information Services (IIS)" section of the install guide:
![image](https://cloud.githubusercontent.com/assets/4635490/10488281/ce2fa980-724c-11e5-9955-46c778d03fd6.png)

[2015-10-14 15:26] elinz commented on #1285
@kerryrobinson I checked in the install guide change to Esri\ops-server-config v.next. Assigning back to you to verify. If you think this mod to the install guide sufficiently addresses your concern please just close the issue.

[2015-10-14 15:29] kerryrobinson commented on #1285
Looks good. Just a small spelling error in your text... "mimeMap" instead of "mimiMap".   I'll go ahead and close.

[2015-10-14 15:29] #1285 closed

[2015-10-14 15:31] elinz commented on #1285
@kerryrobinson I'll fix the spelling issue.

[2015-10-14 16:00] conklinbd commented on #1309
Assigned to @elinz. If you want me to look into this, let me know.

[2015-10-14 16:01] conklinbd commented on #1305
My guess is that the original app did not have the correct urls.

@ACueva could probably investigate this issue.

[2015-10-14 16:02] elinz commented on #1309
@conklinbd If you can take a look at this that would be great. I'm looking into another publishing issue right now.

[2015-10-14 16:03] conklinbd commented on #1304
@jfrygeo does the other service Farthest On Circle GP Tool (779c8029eac24a129ce95a8f4caa8301) not work? Just trying to asses if this is a showstopper or not.

[2015-10-14 16:26] elinz commented on #1304
Let's release both of these GP services with the Fall release in case a customer wants to enable IWA on their Ops Server; in this case they will have a GP service that will work.

[2015-10-14 16:28] conklinbd commented on #1304
Sounds good to me. I will just put this issue for the after-next milestone so we can see if this can be resolved in 10.4.

[2015-10-14 16:28] conklinbd commented on #1304
Actually realized that #777 better captures this issue. I am closing this item.

[2015-10-14 16:28] #1304 closed

[2015-10-14 17:24] elinz commented on #1307
The issue was these services were published from .sd files from an old development server, which referenced AGS folder names from the old server and not the current development server thereby causing the GetSDFiles.py script not to copy these .sd files to the build location (the script matches published service folder/server_name to folder/server_name stored in the .sd file).

I've manually edited

[2015-10-14 17:24] #1307 closed

[2015-10-14 17:32] elinz opened #1313 "Republish Military/PiracyBySubregion2009to2013 from original source"
See #1307

[2015-10-14 17:33] elinz opened #1314 "Republish Military/NGASubregions from original source"
See #1307

[2015-10-14 17:40] elinz opened #1315 "TEM2015 Test 02: web map "Predictive Analysis Demo Map" references service that was not released"
Web map dev id: e8effa285e7e4cfcab3b004a3cfc8e55 references elevation service dev id: 93207e73bc804fb897eba2d5ef2b382d that was not released.

[2015-10-14 18:04] kerryrobinson opened #1316 "Seaside Initial Population at Risk Assessment Web Map not released"
This web map (id: 2969122d244048ecad0900278eaa6aa1) is needed for the Tsunami Hits Monterey Coast Briefing Book (id:b851f6a1a2eb4fe4a58fa3145219e0c2), which is released.

[2015-10-14 18:09] nfeuerstein opened #1317 "Need Demographic Feature Service"
@dhagens is developing a widget (CI_KR : Critical Infrastructure Key Resources) and needs a demographic feature service with the following fields:
Age categories
Males
Females
White
Black
Asian
Hispanic

A feature service similar to this: http://sampleserver6.arcgisonline.com/arcgis/rest/services/Census/MapServer/2 would fulfill the needs of the widget development as well as additional demographic

[2015-10-14 20:24] BobBooth opened #1318 "TEM2015 Test 02: Public Information Map Description missing spaces between words"
The Description text for the Public Information Map, item 4bbe2b10e96c4bb59093496941bf80cf has several missing spaces between words.
![image](https://cloud.githubusercontent.com/assets/3801392/10496686/cf1c3280-7276-11e5-860f-1a72cf3fcd40.png)

[2015-10-14 20:40] BobBooth opened #1319 "TEM2015 Test 02: Operations Response web mapping app Locate Incident widget fails to pick up rapidly sketched vertices"
When I digitize a polygon using the Locate Incident widget in the Operations Response web mapping app - d3edfee7294d417a9a9f5f3e67adf98b I find that it doesn't register mouse clicks if I rapidly sketch the polygon. It does register each vertex if I pause between clicks.
![image](https://cloud.githubusercontent.com/assets/3801392/10497126/2215e844-7279-11e5-9387-501e7bf32b2c.png)

[2015-10-14 20:48] BobBooth commented on #1318
Also missing a space in description of 6e2199d78cb4415db8a8b9105a12cccb  and 6e2199d78cb4415db8a8b9105a12cccb between "to" and "view".
Multiple similar issues in description of b03b5ec0ffeb45829844160c52781a3c.

[2015-10-14 20:50] NatalieCampos opened #1320 "TEM2015 Test02: World Elevation WGS84 has extra raster function attached"
For the portal item (id:f4511f57cea74617876e39cfa8e23bfa), the Slope RGB2 raster function needs to be removed.

![image](https://cloud.githubusercontent.com/assets/5116835/10497398/712607ba-727a-11e5-97d2-2589f7773657.png)

[2015-10-14 21:04] NatalieCampos opened #1321 "TEM2015 Test 02: Coastal Relief Model still points to development server"
The Coastal Relief Model does not load as it still points to

/ags/rest/services/NationalIntelligence/CoastalReliefModel/ImageServer?f=json&callback=dojo.io.script.jsonp_dojoIoScript1._jsonpCallback

[2015-10-14 21:09] elinz commented on #1321
@NatalieCampos Please provide more information. When you say "Coastal Relief Model" are you taking about a service, a web map? What's the id of the portal item? When you say "does not load" what are you referring to? If it's a service are you trying to display the service in the portal viewer?

Tell us how to replicate the issue. This doesn't really tell us anything. Thanks.

[2015-10-14 21:11] NatalieCampos commented on #1321
- id=8df0127db0854fdf9a96d4c9c4b6bbd4
- by does not load, I mean that it does not load in the web map
![image](https://cloud.githubusercontent.com/assets/5116835/10497917/71231034-727d-11e5-8b78-4832be3bf2b2.png)
- to reproduce click the portal item and add to a new web map

[2015-10-14 21:15] BobBooth opened #1322 "TEM2015 Test 02: Tsunami Damage Assessment 3D has no data"
The 3D scene opens to a gridded sphere - no data.  Item 4c84bc4126b7445784003e1b5c5b95b7
![image](https://cloud.githubusercontent.com/assets/3801392/10498001/12a4a760-727e-11e5-97fb-eac84a395cc6.png)

[2015-10-14 21:23] NatalieCampos opened #1323 "TEM2015 Test 02: There are two versions of the Coastal Relief Model"
There are two versions of the Coastal Relief Model.  One is owned by ReleasedIntel and the other is owned by admin.  The ReleasedIntel points to the develeopment server while the admin service points to the Test server.
To reproduce search for Coast Relief.

![image](https://cloud.githubusercontent.com/assets/5116835/10498194/3242cdc6-727f-11e5-8aed-e142c2c6a135.png)

[2015-10-14 21:32] elinz commented on #1323
The portal item owned by "admin" is the publisher of the service on the test ArcGIS Server. The portal item owned by ReleasedIntelligence is the owner of the service on the dev ArcGIS Server. The RemapIDsOnServices.py script should modify the guid stored in the service json so that the service is remapped to the original owner. The fact that the ReleasedIntelligence item still references the dev s

[2015-10-14 21:32] BobBooth opened #1324 "TEM2015 Test 02: basemap not cached in whole extent of example features"
Reviewed presentation: ArcGIS for Geospatially Enabling the Intelligence Collector (0555560732ae406495cf5fa55b6bd023), in the Drug Grows section, zoomed in to center of map, lost basemap.  This may just be because it is south of the AOI, but the features straddle the line.
To repro, zoom in where feature data is, lose basemap (the basemap service is at /ags/rest/services/Basemaps/TopographicMap/Ma

[2015-10-14 21:39] BobBooth opened #1325 "TEM2015 Test 02: map data does not match map frame"
Map data frame does not match space allocated.
![image](https://cloud.githubusercontent.com/assets/3801392/10498741/1f114f5a-7281-11e5-93e7-ebc8f13b5ab6.png)
You can pan this map area and the data updates, but does not fill the grey area.
![image](https://cloud.githubusercontent.com/assets/3801392/10498764/422f3254-7281-11e5-89e7-437466173f3f.png)
Tested on Chrome.

[2015-10-14 21:40] elinz commented on #1325
@BobBooth Please add the GUID of the associated portal item to the issue.

[2015-10-14 21:45] BobBooth commented on #1325
The story map is 0555560732ae406495cf5fa55b6bd023
The web map that is not fitting the window is 277feeeb08f349e6b8e3078aa2232ee2

[2015-10-14 21:53] BobBooth opened #1326 "TEM2015 Test 02: map not displayed, prompted for portal sign-in"
In Story Map presentation: Reviewed presentation: ArcGIS for Geospatially Enabling the Intelligence Collector (0555560732ae406495cf5fa55b6bd023) on second to last pane, topic is ArcGIS WebApp Builder, prompted for portal login credentials.
![image](https://cloud.githubusercontent.com/assets/3801392/10499032/da79edaa-7282-11e5-88b3-e63017365b3a.png)

[2015-10-14 22:26] elinz commented on #1326
@BobBooth I believe this is expected behavior if your not already signed into the portal. I don't think you can access web app builder unless you are signed in.

[2015-10-14 22:26] BobBooth opened #1327 "TEM2015 Test 02: Mission Report domain issues"
The Mission Report geoform (item cf0c106d2bf6489b97dc9f97165f4072) has one dropdown that shows selectable items.  This is coming from a coded value domain, I think.  The order of the items is strange (not alphabetized, <Null> appears second in list).
Items in the list do not have consistent spacing (Troops in Contact vs PatternOfLife)
Also, several other fields look like they could benefit from co

[2015-10-14 22:30] BobBooth commented on #1326
OK.  I can't seem to sign in to the portal.

[2015-10-14 22:30] elinz commented on #1326
@BobBooth You need to create an account.

[2015-10-14 22:35] BobBooth commented on #1326
OK, Seems to work after I do that.
Guess that "log in to the portal" should be part of the instructions for demos (probably are).

[2015-10-14 22:46] BobBooth opened #1328 "TEM2015 Test 02: Typo in product name, Pliades should be Pléiades"
In the description of World Imagery Basemap Service (/ags/rest/services/Basemaps/Imagery/MapServer)
Pliades should be Pléiades
Also there are a number of spaces missing between words. Maybe a cut/paste artifact.
Worldwide.The
UnitedStates
Globally.In
etc...

[2015-10-14 23:07] BobBooth opened #1329 "TEM2015 Test 02: Intelligence SIGINT dashboard video widgets not available"
Downloaded and opened Intelligence/SIGINT dashboard
id:4b66154bc0c54ec08e0f195cfc73651c
Two panels say "The Custom widget VideoWidget is not accessible"
![image](https://cloud.githubusercontent.com/assets/3801392/10500523/a482fbaa-728d-11e5-9132-a8852b90bc42.png)

Other widgets look good.

[2015-10-15 00:04] elinz commented on #1310
@kerryrobinson I made the first edit about the OpsServerInstall\GeoEventData folder, but didn't make your second edit; I left as https://server.domain.com/ags as this does work. Maybe something else is wrong in your environment? we can discuss more.

[2015-10-15 00:06] dfoll opened #1330 "TEM2015 Test 02: URL in document links for VCP and Lodgment Planning are not working"
Noticed that the url in the document links are not working, as in when you click on the url it takes you to a new page, with a 404 error.  Using the dropdown below the thumbnail to "open" also returns a 404.

https://[testserver05]/arcgis/home/item.html?id=18578392acfb40a5b55fabfee4bb65a6  -- vcp
https://[testserver05]/arcgis/home/item.html?id=5edf7000d0c14f8695eca14386f35ab2   -- lodgment

don't

[2015-10-15 00:09] elinz commented on #1330
@dfoll The "Downloads" folder is still copying (it takes hours) to the test server so not all links we work right now. Only EmergencyManagment and Intel are copied right now. In addition I believe @lfunkhouser still needs to rename folders and/or files in the build "Downloads" folder.

[2015-10-15 00:11] dfoll commented on #1330
check.

@elinz feel free to close this then if you are confident that it will be fine after the downloads folder is done copying

[2015-10-15 00:12] elinz commented on #1299
I modified the install guide to instruct users to use robocopy instead of the CopyFiles.py script.

[2015-10-15 00:12] elinz commented on #1299
Fixed in Esri\ops-server-config v.next. Closing issue.

[2015-10-15 00:12] #1299 closed

[2015-10-15 00:14] elinz opened #1331 "Add section in install guide to run the UpdateHostedServiceDefinition.py script"

[2015-10-15 13:49] elinz commented on #1331
Fixed in Esri\ops-server-config v.next. Closing issue.

[2015-10-15 13:49] #1331 closed

[2015-10-15 13:53] elinz commented on #1310
@kerryrobinson I'll make a note in the guide that states that that using https://server.domain.com:6443/arcgis is an alternative in case https://server.domain.com/ags does not work.

[2015-10-15 13:53] conklinbd commented on #1329
It appears that the dashboard has a reference to the AddIn id:D9E73D85E0874CC4A192A6873BE71E3D
The new id for this AddIn is
id:aae674686c5d4564b390fa2ba8afd560

The dashboard config json has an array of ids that need to be updated during the copy process.
addInIds: [
"D9E73D85E0874CC4A192A6873BE71E3D"
]

[2015-10-15 13:54] conklinbd commented on #1328
This is something we will resolve for the next release.

[2015-10-15 13:55] conklinbd commented on #1327
This is something we can fix in the next release.

[2015-10-15 13:55] conklinbd commented on #1326
@BobBooth Can you verify that this issue is resolved?

[2015-10-15 13:57] conklinbd commented on #1325
I can not reproduce this issue. Please provide more information.

[2015-10-15 14:00] conklinbd commented on #1324
This is a known issue. We will not build high resolution caches for the entire AOI.

[2015-10-15 14:00] #1324 closed

[2015-10-15 14:04] conklinbd commented on #1322
This appears to have been an issue during the publish. There is no data associated with the web scene. sharing/rest/content/items/4c84bc4126b7445784003e1b5c5b95b7/data is empty.
This is the only Web Scene we are copying so this must be an issue with publishing of this text item type.

[2015-10-15 14:05] conklinbd commented on #1321
This issue depends on #1323 being resolved.

[2015-10-15 14:06] conklinbd commented on #1321
Assigning to @NatalieCampos to retest after the other issue is resolved.

[2015-10-15 14:06] conklinbd commented on #1320
We will not fix this for this release.

[2015-10-15 14:07] conklinbd commented on #1319
I would consider this a known limit of the template.

[2015-10-15 14:07] #1319 closed

[2015-10-15 14:07] conklinbd commented on #1318
Will not fix. These items are taken directly from the EM released content and not modified.

[2015-10-15 14:07] #1318 closed

[2015-10-15 14:08] elinz commented on #1323
@NatalieCampos @conklinbd I'll manually edit the service json to point to the item owned by "ReleasedIntelligence" and delete the item owned by "admin".

[2015-10-15 14:08] conklinbd commented on #1316
@elinz adding to your queue for manual extraction.

[2015-10-15 14:09] conklinbd commented on #1330
Assigned to @dfoll for retesting. Also, I do not consider this a showstopper for the release so even if it doesn't get fixed we will proceed with the release.

[2015-10-15 14:11] conklinbd commented on #1315
Added to queue for manual extraction

[2015-10-15 14:16] lfunkhouser commented on #1327
@conklinbd @ScottCecilio  "Report Classification" and "PlatformType" should have a drop-down as well.  The coded value domains are missing for these fields.  Is it possible that something happened in the copy that it only kept the "required" field coded value domains? This is part of the Land Ops demo.

[2015-10-15 14:22] lfunkhouser opened #1332 "TEM2015 Test 02: Mission Report geoform missing coded value domains"
Mission Report from Aerial Assets for use with Land Operations geoform id:b2838eb9eddb434bb77738825640ea4c

Report Classification and Platform Type fields should have a drop-down using coded-value domains.  Is it possible something happened with the copy that only the field marked "required" kept the coded value domains?

![image](https://cloud.githubusercontent.com/assets/3800729/10516451/31fadec

[2015-10-15 14:27] elinz commented on #1310
@kerryrobinson I add the change about URLs in red. If you like the change please close the issue.

![image](https://cloud.githubusercontent.com/assets/4635490/10516638/18c526ac-730e-11e5-9d36-fae2f5f2f9ab.png)

[2015-10-15 14:31] kerryrobinson commented on #1310
looks good.

[2015-10-15 14:31] #1310 closed

[2015-10-15 15:03] elinz commented on #1323
@NatalieCampos @conklinbd Finished the modifications as well as editing the URL on the portal item. Assigning back to verify

[2015-10-15 15:10] BobBooth commented on #1326
If it is a requirement to view the presentation that the user be signed it to the portal, then this issue is user error. It behaves as designed.  Just confusing if you're not signed in.
Closing.

[2015-10-15 15:10] #1326 closed

[2015-10-15 15:18] elinz commented on #1315
@conklinbd Is this queue stored somewhere?

[2015-10-15 15:21] BobBooth commented on #1325
Open the app in Chrome.
___arcgis/apps/MapJournal/index.html?appid=0555560732ae406495cf5fa55b6bd023
I find that if I go directly to the affected page and the Chrome window is maximized, I see the map fitting the window as designed. If I have Chrome window at less than full screen size, visit the previous page (Smart Mapping
**Quick example of the Illicit drug grows between 2009 - 2014 in Californi

[2015-10-15 15:32] conklinbd commented on #1315
In github man!

[2015-10-15 15:35] elinz commented on #1315
@conklinbd So you adding "Added to queue for manual extraction" string to issues so we can search for these?

[2015-10-15 15:37] conklinbd commented on #1315
Yeah. Simpler than adding a new label.

[2015-10-15 15:41] elinz commented on #1298
Publishing TEM2015 portal content to another portal to see if the Coastal Relief model service portal item URL is modified to test machine URL.

[2015-10-15 15:41] elinz commented on #1316
Added to queue for manual extraction

[2015-10-15 15:45] elinz commented on #1309
@kerryrobinson Is the web scene in question the one listed in the issue #1322 ?

[2015-10-15 15:49] elinz commented on #1301
@nfeuerstein I deleted this cache folder from the test machine. Can you test if this service Hosted/CountIncidentsByLOC is working as expected? If it is, assign the issue back to me and I will delete this cache folder from the TEM2015 build and close this issue. Thanks.

[2015-10-15 15:55] kerryrobinson commented on #1309
Yes I believe so.

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Eric Linz <notifications@github.com>
Date: 15/10/2015 17:46 (GMT+01:00)
To: Esri/ops-server-config <ops-server-config@noreply.github.com>
Cc: Kerry Robinson <krobinson@esri.com>
Subject: Re: [ops-server-config] web scenes don't seem to import correctly during ops server install (#1309)

@kerryrobin

[2015-10-15 16:20] elinz commented on #1298
Can't reproduce this issue. Pubilshed TEM2015 portal content to another 10.3.1 portal and the server name was replaced during content publishing. Closing issue.

[2015-10-15 16:20] #1298 closed

[2015-10-15 17:09] elinz commented on #1329
99.9% sure that they issue is that the publishing script didn't update the GUIDS because the addInIds are stored in uppercase and not lowercase. Looking into modifying update logic to search for both uppercase and lowercase guids.

[2015-10-15 17:11] pHill5136 opened #1333 "TEM2015 Test 02: Test Stream Service Creation workflow from Movement Analysis GeoEvent and Dashboard Demo Script"

[2015-10-15 17:15] pHill5136 commented on #1333
@conklinbd @elinz
Tested demo script at //DemoScripts/Intelligence/MovementAnalysis/MovementAnalysisDemoScript.docx all looks good.
Reassign to Eric to close issue

[2015-10-15 17:15] #1333 closed

[2015-10-15 17:17] pHill5136 opened #1334 "TEM2015 Test 02:Validate Opserver GeoEvent Config"
Test that all services import from geoevent config properly

[2015-10-15 17:19] dfoll commented on #1330
these two are working now, however i am seeing this behavior with the visibility and range document link... will open a new issue for that

[2015-10-15 17:24] dfoll opened #1335 "TEM2015 Test 02: URL in document link for Visibility and Range is not working"
Noticed that the url in the document link is not working, as in when you click on the url it takes you to a new page, with a 404 error. Using the dropdown below the thumbnail to "open" also returns a 404.

https://[testserver05].esri.com/arcgis/home/item.html?id=38d2af7806d04868b1302cca314e417d

don't know how widespread this problem is, i did not go through checking other document links, i actual

[2015-10-15 17:30] dfoll opened #1336 "TEM2015 Test 02: No portal item for Visibility and Range on test server"
There is no portal item for Visibility and Range on [testserver05].... i'm positive this should exist,as it was just updated. see issue below in regards to it being updated.

#1269

[2015-10-15 18:20] elinz commented on #1329
I've updated the PortalContentPost.py, UpdatePortalGUIDs.py, and UpdateWebApps.py scripts to search for uppercase, lowercase versions of the search string as well as the original search string.

[2015-10-15 18:21] NatalieCampos commented on #1323
The fix has been verified.

[2015-10-15 18:21] #1323 closed

[2015-10-15 18:21] elinz commented on #1329
Fixed in Esri\ops-server-config v.next. Will verify if scripts modifications solved the widget issue when testing Ops Server install on "TEM2015 Test 03" machine.

[2015-10-15 18:22] NatalieCampos commented on #1321
Verified

[2015-10-15 18:22] #1321 closed

[2015-10-15 18:31] elinz commented on #1336
@dfoll Please clarify. What is missing? Is it the document link item or application template item?

Application template items for the "Downloads" will not be included in the Ops Server release. As far as document link items I believe that only a document link item for the latest download will be included in the Ops Server release; note this is a document link item for version 4.0.0 of Visibility

[2015-10-15 19:27] topowright opened #1337 "TEM2015 Test 02: Application "Elevation Profile of Damaged Areas" is missing layers"
The following layers are missing that are being listed in the Table of Content in the application:

id:5ba2b7dec99245879efa188b44b5740f
Application LInk:
arcgis/apps/Elevations/index.html?appid=5ba2b7dec99245879efa188b44b5740f

Layers are missing:

Damage Assessment - Damage to Buildings
Damage Assessment - Damaged to Areas

I would expect that these layers would be in the application because they

[2015-10-15 20:16] elinz commented on #1337
@topowright These layers exist. The app 5ba2b7dec99245879efa188b44b5740f references the web map e094868a1d274a59959f508c4ea1598a ("Multiple Businesses and Police Station Destroyed").

This web map has the following damage related layers, which do exist:
/ags/rest/services/Hosted/DamageAssessment/FeatureServer/0 (Damage to Buildings) - contains no records.
/ags/rest/services/Hosted/DamageAssessment

[2015-10-15 21:02] topowright opened #1338 "TEM2015 Test 02: Intelligence SIGINT Dashboard missing Video Widget"
The Operations dashboard is missing the custom video widget.

id: 4b66154bc0c54ec08e0f195cfc73651c

Background:

When this widget was used at UC 2015 it would have to be manually added; however, I do not see this widget as a option in the portal items.

[2015-10-15 21:04] elinz commented on #1338
@topowright This is a duplicate issue. See #1329. Please close issue.

[2015-10-15 21:08] jrweakland opened #1339 "TEM2015 Test 02: Military Reports Ops Dashboard Failed to Load in Browser"
id:01d66af31fa54cee96dcb3ab6b3d77fc

![e0ac968c-7345-11e5-9bc5-9956eeb284dd](https://cloud.githubusercontent.com/assets/5739155/10528296/41a237ea-734a-11e5-817c-560678ba893c.png)

[2015-10-15 21:17] #1338 closed

[2015-10-15 21:21] topowright opened #1340 "TEM2015 Test 02:Two Farthest on Circle Tools available on Maritime Threat Tools Application"
The application Maritime Threat Tools has two buttons inside the application that does the same thing.

item URL:  apps/webappviewer/index.html?id=f6417c04a63543018b09a77ccd1edc67

id: f6417c04a63543018b09a77ccd1edc67

[2015-10-15 21:22] lfunkhouser commented on #1336
Confirmed with @dfoll it was the template he was referring to and explained that desktop templates won't be released as portal items.  Closing issue.

[2015-10-15 21:22] #1336 closed

[2015-10-15 21:25] jrweakland opened #1341 "TEM2015 Test 02: Operation Cobra Strike (Display Only) Does Not Load the Ops Dashboard"
id:6f4e49320d4a4f15a9556504b287ddbd

![822f84f4-7348-11e5-8cd7-98112afb18ba](https://cloud.githubusercontent.com/assets/5739155/10528286/29c87396-734a-11e5-81a3-c3cb3cae9f4c.png)

[2015-10-15 21:26] conklinbd commented on #1339
@jrweakland Be careful in your screenshots to not capture internal urls.

[2015-10-15 21:31] jrweakland opened #1342 "TEM2015 Test 02: Military Reports Feature Layer is Not Available"
id:ffe4be0233ce4e95a3752464abd37283

![2ad5fc6e-7349-11e5-88e0-ad11b59e66d0](https://cloud.githubusercontent.com/assets/5739155/10528265/093fe97e-734a-11e5-8607-c6e972651280.png)

[2015-10-15 21:32] pHill5136 commented on #1334
@elinz
Services importing properly. Simulations run as expected.

[2015-10-15 21:34] topowright opened #1343 "TEM2015 Test 02: Layers do not draw in Maritime Weather Environment and Operational Effects Application"
Only one layer currently draws in the application: 5b1b0859e54c47cc9a6dd8d3ab288575

I think this problem is because there is no time widget loaded in the map. Layers that are missing:

Wind Warnings
Wave Warnings
Beaufort Sea States
Underway Replenishment
Winds HIllshade

[2015-10-15 21:52] elinz commented on #1322
The problem is that the portalpy module I'm using has the incorrect data type for "Web Scenes" it should be "Text/JSON", but it was defined as "File" due to incorrect information in the portal api help page for the 10.3.1 portalhelp/apidocs/rest/index.html?item.html#/Items_and_item_types/02t60000001n000000/ “Items and item types”.

[2015-10-15 21:58] elinz commented on #1322
Updated the portalpy\_init_.py file. Fixed in Esri\ops-server-config v.next. Will verify after testing on TEM2015 Test 03 machine.

Added to queue for manual extraction

[2015-10-15 22:00] jrweakland opened #1344 "TEM2015 Test 02: MEDEVAC Requests Fails"
id:1d230e9956884ff0ba6a60786c6207a8

![9159c674-734d-11e5-89b0-84bdd5bb1a37](https://cloud.githubusercontent.com/assets/5739155/10529252/137d9c22-7351-11e5-894c-c8e6976f0206.png)

[2015-10-15 22:01] topowright opened #1345 "TEM2015 Test 02: Wave Watch III Waves and Winds"
Layer is not drawing in the portal map viewer

id: id=e6ebb3b7d87141b0a10ce8920f4ec5e5

[2015-10-15 22:02] conklinbd commented on #1343
@topowright the issue seems to actually be that the is no service Military/WaveWatchIII. When the server is back up I will see if this item was released.
@jfrygeo

[2015-10-15 22:03] conklinbd commented on #1343
The title of the app is Maritime Weather Environment and Operational Effects

[2015-10-15 22:04] topowright opened #1346 "TEM2015 Test 02: Meteorological Service of Canada (MSC) GeoMet Geospatial Web Services"
id=835d048facb04b52822bb83a24040d3a

Service does not draw in portal web viewer

[2015-10-15 22:05] conklinbd commented on #1342
This works for me. I think this was just a performance issue.
To retest, if the web map doesn't load the first time just wait 5 seconds and then hit refresh on the browser.

[2015-10-15 22:05] elinz commented on #1343
@topowright @conklinbd @jfrygeo service ags/admin/services/Military/WaveWatchIII.ImageServer does exist on test server so it was released.

[2015-10-15 22:06] conklinbd commented on #1341
Can't Reproduce. Most like just a performance issue.

[2015-10-15 22:08] elinz commented on #1345
@topowright The service associated with this portal service item does exist ( ags/rest/services/Military/WaveWatchIII/ImageServer) and does display in the portal map viewer.

[2015-10-15 22:08] conklinbd commented on #1340
I think this is confusing but not an issue for the release. Putting in to the next release.

[2015-10-15 22:09] conklinbd commented on #1339
Can't reproduce (think it is a performance issue).

[2015-10-15 22:11] conklinbd commented on #1337
I think was strictly a performance issue.

[2015-10-15 22:11] conklinbd commented on #1332
I will look into this as soon as dev server is back up.

[2015-10-15 22:12] conklinbd commented on #1344
URL in your screenshot.

[2015-10-15 22:13] conklinbd commented on #1344
Can't reproduce.

[2015-10-15 22:15] conklinbd commented on #1345
HMMM. I just looked for this service and it didn't show up.
Must be slow startup time. Maybe it is the same issue as #1343

[2015-10-15 22:15] topowright commented on #1343
@conklinbd @jfrygeo
This is the item I have created for that issue:

https://github.com/Esri/ops-server-config/issues/1345

[2015-10-15 22:15] conklinbd commented on #1343
This works now. I think this is strictly a performance issue.

[2015-10-15 22:16] conklinbd commented on #1345
This works now, seems to be strictly a performance issue.

[2015-10-15 22:17] topowright commented on #1345
@conklinbd @elinz I have verified that this service now draws successfully.

[2015-10-15 22:17] #1345 closed

[2015-10-15 22:18] conklinbd commented on #1346
I believe we determined that this is a known limit and does not work.
@elinz and @jrweakland is that correct?

If so we probably shouldn't have released this.

[2015-10-15 22:21] BobBooth opened #1347 "TEM2015 Test 02: Maritime Domain Awareness Dashboard: No features appear in several widgets"
Testing Maritime Domain Awareness Dashboard (739b56c981784918b24da56c4b514fdc) Browser based version.
Page 2 - In Protected Areas widget, nothing listed.
![image](https://cloud.githubusercontent.com/assets/3801392/10529102/e0eef0d6-734f-11e5-8dac-e7bca43674dd.png)
Page 3: Nothing shows up in Shipping Lanes widget.
![image](https://cloud.githubusercontent.com/assets/3801392/10529111/f8cc5a18-734f-1

[2015-10-15 22:22] topowright commented on #1343
@conklinbd I still do not see layers drawing in the application

[2015-10-15 22:23] conklinbd commented on #1343
Wait a few minutes and then try again.
@topowright

[2015-10-15 22:25] BobBooth opened #1348 "TEM2015 Test 02: Maritime Chart Service Application Properties widget changes have no effect"
Testing portal item 9bd3b16fdd6f497dacf82dd4dfbccb14
The Properties (gear) widget opens and has contour depth and Miscellaneous tabs. Changes made on either tab seem to have no effect on the app.
![image](https://cloud.githubusercontent.com/assets/3801392/10529221/d3ff5ea0-7350-11e5-94bb-85f5d8062fab.png)
![image](https://cloud.githubusercontent.com/assets/3801392/10529225/dec58918-7350-11e5-89a8-

[2015-10-15 22:30] BobBooth opened #1349 "TEM2015 Test 02: No damage assessment features display on map"
Testing What is Web GIS web mapping Application, item 42b2b67c672045388433bacd6e2a6676
Operational Data, slide 2, Field Data Tsunami Damage Assessment
No damage assessment features display on map; just basemap.
possibly related to https://github.com/Esri/ops-server-config/issues/1322
![image](https://cloud.githubusercontent.com/assets/3801392/10529302/8b433d02-7351-11e5-9ea5-eb2e818cd4c4.png)

[2015-10-15 22:32] BobBooth opened #1350 "TEM2015 Test 02: Monitored Facilities and Suspicious Location widgets show no data"
Testing What is Web GIS web mapping Application, item 42b2b67c672045388433bacd6e2a6676
On Apps tab, slide 2, the Monitored Facilities and Suspicious Location Frequented widgets are showing no data.
![image](https://cloud.githubusercontent.com/assets/3801392/10529338/e9419ade-7351-11e5-8511-9e154fbfc729.png)

[2015-10-15 22:34] BobBooth opened #1351 "TEM2015 Test 02: Map data does not load "An error occurred while loading the map""
Testing What is Web GIS web mapping Application, item 42b2b67c672045388433bacd6e2a6676
Apps tab, 6th slide, Briefing Book, page 3 of 4 Demographic Data in the affected Zone
Map data does not load "An error occurred while loading the map"
![image](https://cloud.githubusercontent.com/assets/3801392/10529370/30b7c258-7352-11e5-8eb6-612f0760145b.png)

[2015-10-16 13:30] jfrygeo commented on #1343
For the WebApp, "Maritime Weather Environment"  (f844541853f743f7a7c6f1b13aa680a8), there's a performance issue/widget issue with the version of Web AppBuilder deployed with this OpsServer.

 In order to make the layers load quickly, press on the time widget, if the time widget is not turned on, it takes a few minutes for the layers to load. This issue has been fixed in new versions of the Web App

[2015-10-16 13:38] conklinbd commented on #1350
@BobBooth this was because the movement simulation was not run. This is part of the demo setup step.

[2015-10-16 13:38] #1350 closed

[2015-10-16 13:39] conklinbd commented on #1348
Not a priority for the release. Assigning for the next release.
@jfrygeo

[2015-10-16 13:40] conklinbd commented on #1347
Not a priority for this release.

[2015-10-16 13:42] conklinbd commented on #1343
I am going to treat this as a known issue for 10.3.1. We can retest with 10.4

[2015-10-16 13:43] jfrygeo commented on #1348
Looks like they (Maritime Chart Server team) may be editing some of the services. We could log an issue on this repository https://github.com/Esri/maritimechartservice-sample-viewer. For future releases, we could install our own services/apps.

[2015-10-16 13:50] jfrygeo commented on #1347
<li> The GeoEvent simulator for "MaritimeOps-Ship-Position" was stoppped. Turned it on.

<li> Make sure there is a simulator running using the GeoEvent Extension and supplied AIS data in csv format. The sample data is at the location:

..\\MaritimeOperations\OperationsDashboard_MaritimeDomainAwareness\Data\AIS Simulations\

The simulator should be broadcast on port :5566

[2015-10-16 14:07] conklinbd commented on #1332
The behavior of this application is the same on the development server as it was on the nsec server so this error was not introduced during the copying process.

On the development server this form relies on this service id:b1ab24b97f9f4bd4925d2a5f0b792fce
Military/IntelReports/FeatureServer/0. This service does not have coded value domains.
The only reason there are drop downs for mission type is

[2015-10-16 15:20] elinz commented on #1349
The reason why features are not displayed is that the underlying feature service (Hosted/DamageAssessment/FeatureServer) contains no features. I checked on the dev server and this service is supposed to have features. This is a hosted service, which means it is republished to Ops Server through the service definition stored on the portal. I extracted the contents and examined the file geodatabase

[2015-10-16 16:13] elinz commented on #1337
I looked into this further. The portal item associated with this service Hosted/DamageAssessment/FeatureServer states in the description "You can create an empty hosted feature service from this existing feature service." Therefore it was the intent of the service author that this service was not suppose it have any features.

[2015-10-16 16:26] elinz commented on #1349
I looked into this further. The web map associated with this app is referencing the service Hosted/DamageAssessment/FeatureServer. Examining the description on portal service item for this service states. "You can create an empty hosted feature service from this existing feature service." Therefore it was the intent of the service author that this service was not suppose it have any features. My a

[2015-10-16 16:59] elinz commented on #1351
The issue is that the web map "Seaside Initial Population at Risk Assessment" (id 2969122d244048ecad0900278eaa6aa1 on dev server) is not released. NOTE: damage assessment feature still won't draw even if web map is released since the hosted feature service is empty on deployed ops servers.

[2015-10-16 17:28] elinz commented on #1351
Added to queue for manual extraction

[2015-10-16 17:30] #1334 closed

[2015-10-16 17:32] conklinbd commented on #1309
This was resolved in #1322 so I am closing this issue.

[2015-10-16 17:32] #1309 closed

[2015-10-16 17:36] elinz commented on #1349
I'll go ahead and extract the features from the service on dev server and load them into the file geodatabase in the .sd file. Assigning issue to me.

[2015-10-16 17:37] elinz commented on #1349
Replaced the DamageAssessment.sd in the build folder 20151011_0757\OPSServerInstall\Portal\PortalContent\ReleasedIntelligence\items\8b48ede2cfaa4252bc0ed2adb003e2a9\data.

NOTE: the the buildings and areas features classes have data. The bridge feature class didn't have any features in the dev server service.

[2015-10-16 17:38] elinz commented on #1349
Will verify on TEM2015 Test 03 server.

[2015-10-16 17:42] conklinbd commented on #1316
@nfeuerstein this needs to be released today by 1300.
@lfunkhouser

[2015-10-16 17:45] conklinbd commented on #1351
Duplicate of #1316

[2015-10-16 17:45] #1351 closed

[2015-10-16 17:47] conklinbd commented on #1315
This item needs to be released @nfeuerstein
@lfunkhouser

[2015-10-16 17:49] conklinbd opened #1352 "Items for manual extractions"
ID from DEV Server:
- [x] id: 2969122d244048ecad0900278eaa6aa1 Seaside Initial Population at Risk Assement Web Map
related to issue #1316
- [x] id:fda053a2afd5468b8d2fb8ee441012b1 Tsunami Damage Assessment 3D Web Scene
Related to issue #1322
- [x] id:93207e73bc804fb897eba2d5ef2b382d Elevation Image Service
Related to issue #1315

[2015-10-16 17:49] conklinbd commented on #1316
Issue #1352 depends on this item

[2015-10-16 17:50] conklinbd commented on #1315
Issue #1352 depends on this item

[2015-10-16 17:50] conklinbd commented on #1322
Issue #1352 depends on this item

[2015-10-16 17:50] conklinbd commented on #1351
Issue #1352 depends on this item

[2015-10-16 17:52] #1330 closed

[2015-10-16 17:54] conklinbd commented on #1308
Consider this a performance issue.

[2015-10-16 17:54] #1308 closed

[2015-10-16 17:58] nfeuerstein commented on #1316
@lfunkhouser tested the map and then added to Demo Review group.

[2015-10-16 18:02] nfeuerstein commented on #1315
@lfunkhouser tested the elevation layer and then shared with Demo Review.  I'm adding a new issue (after next) to find out why we need two elevation services over the same geography.

[2015-10-16 18:16] lfunkhouser commented on #1316
Seaside Initial Population at Risk Assessment released by DemoIntelligence

[2015-10-16 18:26] lfunkhouser commented on #1315
Released by DemoIntelligence

[2015-10-16 20:06] conklinbd commented on #1315
I have verified this and closed it since we have the other open issue for the extraction.

[2015-10-16 20:06] #1315 closed

[2015-10-16 20:07] conklinbd commented on #1316
Verified.

[2015-10-16 20:07] #1316 closed

[2015-10-16 20:08] conklinbd commented on #1346
This wasn't a known issue but unfortunately this external service is outside of our control.
This can not be "fixed" by us.

[2015-10-16 20:08] #1346 closed

[2015-10-16 20:15] conklinbd commented on #1332
We will see if we can find anything. @jrweakland or @topowright

[2015-10-16 20:23] conklinbd commented on #1332
We are trying to replace this service:
id:b1ab24b97f9f4bd4925d2a5f0b792fce

[2015-10-16 20:33] topowright commented on #1337
@elinz Based on the above information there are no actions.

[2015-10-16 20:33] #1337 closed

[2015-10-16 20:35] elinz commented on #1337
@topowright I've loaded the features from the service on the dev server into the file geodatabase stored in the .sd file for the associated portal item in the Ops Server build so the damage buildings and damage area feature classes will have features; note the damage bridges feature class didn't have any features on the dev server.

[2015-10-16 20:43] jrweakland commented on #1332
@conklinbd - @topowright is sending you a mpk from @phil7277 that was used for install at the usmc prototype lab.

[2015-10-16 21:39] conklinbd commented on #1332
This is still for @topowright to work with @elinz

[2015-10-16 22:11] #1344 closed

[2015-10-16 22:13] jrweakland commented on #1342
Works

[2015-10-16 22:13] #1342 closed

[2015-10-16 22:35] topowright commented on #1332
@conklinbd @jrweakland Added the following domains to the SDE:

MIssion Type
Classification
Platform Type
Sensor Capabilities

Added new features using the Geoform.

[2015-10-16 22:37] topowright commented on #1332
@lfunkhouser Please verify

[2015-10-16 22:58] jrweakland commented on #1339
works

[2015-10-16 22:58] #1339 closed

[2015-10-16 23:02] lfunkhouser commented on #1332
verified as fixed on test server

[2015-10-16 23:02] #1332 closed

[2015-10-17 16:57] elinz commented on #1352
Extracted these items and integrated them into the build OpsServerBuilds\Archive\20151011_0757.

[2015-10-17 16:57] elinz commented on #1352
I'll verify by publishing to TEM2015 Test 03 server.

[2015-10-17 17:01] elinz commented on #1352
Still need to extract SD file for Elevation service.

[2015-10-17 21:46] elinz commented on #1301
I deleted the Hosted_CountIncidentsByLOC from the build folder 20151011_0757\OPSServerInstall\Server\Staging\CachesHosted.

[2015-10-17 22:20] elinz commented on #1302
Create script to generate a file containing the services names (pattern: foldername/servicename.servicetype) to a file.

[2015-10-17 22:22] elinz commented on #1302
Copied new script ListServicesInSDFiles.py to build folder 20151011_0757\OPSServerInstall\Software\ops-server-config\Utilities. Closing issue.

[2015-10-17 22:22] #1302 closed

[2015-10-18 03:29] elinz commented on #1349
Verified on TEM2015 Test 03 server. Closing issue:
![image](https://cloud.githubusercontent.com/assets/4635490/10562368/be2d05fa-750d-11e5-8fe6-5ca9f8873286.png)

[2015-10-18 03:29] #1349 closed

[2015-10-18 03:33] elinz commented on #1322
Verified on TEM2015 Test 03 server. Closing issue.

![image](https://cloud.githubusercontent.com/assets/4635490/10562377/34fdda6a-750e-11e5-938b-5121d223fc3d.png)

[2015-10-18 03:33] #1322 closed

[2015-10-18 03:46] elinz commented on #1329
Verified on TEM2015 Test 03 server. Closing issue.

![image](https://cloud.githubusercontent.com/assets/4635490/10562413/ff1e2c86-750f-11e5-8af1-968ff2a68058.png)

[2015-10-18 03:46] #1329 closed

[2015-10-18 04:03] elinz commented on #1305
FYI: the UpdateWebApps.py is configured to search/replace guids and server names in all .html files.

@kerryrobinson @conklinbd @ACueva Just examined the \SolutionsWeb\Apps\NationalIntel\time-aware-template-master\index.html file in the TEM2015 release build (20151011_0757) and I find that the server name references do not exist:

![image](https://cloud.githubusercontent.com/assets/4635490/1056245

[2015-10-18 04:08] elinz opened #1353 "Jenkins build server: execute Utilities\ListServicesInSDFiles.py to create ServiceDefinitions\ServiceList.txt"
In the build process please execute the Utilities\ListServicesInSDFiles.py to create the OPSServerInstall\Server\ServiceDefinitions\ServiceList.txt file based on the .sd files in the OPSServerInstall\Server\ServiceDefinitions folder.

[2015-10-18 04:13] elinz commented on #1341
Tested against the TEM2015 Test 03 server. I can't replicate. Was the ops dashboard from the specific portal installed?

![image](https://cloud.githubusercontent.com/assets/4635490/10562497/c8dd448c-7513-11e5-9f56-3119962767e4.png)

[2015-10-18 22:49] elinz opened #1354 "Modify UpdateWebApps.py to update *.config files"
Found server name in SolutionsWeb\Apps\EmergencyManagement\MyHazardInformation\proxy\proxy.config file.

Modify the script to update *.config files.

[2015-10-18 22:59] elinz commented on #1354
Fixed in Esri\ops-server-config v.next. Also copied to TEM2015 build. Closing issue.

[2015-10-18 22:59] #1354 closed

[2015-10-19 15:07] conklinbd commented on #1311
I have shared the simulation file with the demo and scripts content.
DemoAndScripts\Intelligence\MovementAnalysis.

To @lfunkhouser to verify.

[2015-10-19 15:17] conklinbd commented on #1137
I will not have time to make a video so I am closing this.

[2015-10-19 15:17] #1137 closed

[2015-10-19 15:31] elinz commented on #1296
Fixed in Esri\ops-server-config v.next. Also included in TEM 2015 build 20151011_0757. Closing issue.

[2015-10-19 15:31] #1296 closed

[2015-10-19 15:32] elinz commented on #1295
Fixed in Esri\ops-server-config v.next. Also included in TEM 2015 build 20151011_0757. Closing issue.

[2015-10-19 15:32] #1295 closed

[2015-10-19 15:32] kerryrobinson commented on #1305
@elinz correct, the web app wasn't modified to use the server's JSAPI in the first place.

this is what i  manually replaced them with:
![image](https://cloud.githubusercontent.com/assets/3383476/10582244/cdaab0e6-767e-11e5-8af6-dee696a09d38.png)
![image](https://cloud.githubusercontent.com/assets/3383476/10582250/db1b99f2-767e-11e5-8771-a4de04f284a1.png)

[2015-10-19 15:32] elinz commented on #1294
Fixed in Esri\ops-server-config v.next. Also included in TEM 2015 build 20151011_0757. Closing issue.

[2015-10-19 15:32] #1294 closed

[2015-10-19 15:36] elinz commented on #1305
@kerryrobinson Understand. Didn't read this close enough.

[2015-10-19 15:39] kerryrobinson commented on #1305
Ideally index.html gets updated to point to the server before the disk is cut so that your script will make the update.  Probably too late for that though so maybe a note in the install doc to manually update it?

[2015-10-20 13:34] jrweakland commented on #1341
@elinz - Yes. I downloaded ops dashboard from the specific portal. NOTE: I was using Internet Explorer 11.0.9600.18036

[2015-10-20 13:34] #1341 closed

[2015-10-20 21:07] NatalieCampos commented on #1147
Video has been posed to \\disldb\OpsServerStaging\2015_Q4\Resources\Videos\ImageDiscovery

[2015-10-20 21:10] dfoll commented on #1133
posted in the folder

[2015-10-20 21:10] #1133 closed

[2015-10-20 21:12] #1147 closed

[2015-10-20 21:17] dfoll commented on #1335
the name of the file has been updated to match, so the url will work

[2015-10-20 21:17] #1335 closed

[2015-10-20 21:24] dfoll commented on #1142
this workshop never actually happened at uc15

[2015-10-20 21:24] #1142 closed

[2015-10-20 21:52] dfoll commented on #1145
content of this demo theater is duplicated by the creating meaningful maps tech workshop

[2015-10-20 21:52] #1145 closed

[2015-10-22 15:26] elinz commented on #1352
Verified all items and service definition files if required were manually extracted.

[2015-10-22 15:26] #1352 closed

[2015-10-22 19:56] elinz commented on #1297
I've republished the NationalIntelligence/DistanceFromWater service. Closing issue.

[2015-10-22 19:56] #1297 closed

[2015-10-23 15:33] jfrygeo commented on #828
I am not sure what this is. This could be deleted.

John

Sent from my iPhone

On Oct 23, 2015, at 6:22 PM, Eric Linz <notifications@github.com<mailto:notifications@github.com>> wrote:

The web map id 62a27df4c4ca49e5b7b9638810ed6a98 references the following service which is located in the AGS "Test" folder:

Service: 0a637deb8cd64d81947e822d5261eee7

Name: Climate Southwest Asia
Owner: @jfrygeo<h

[2015-10-27 17:28] NatalieCampos commented on #1320
The Slope RGB Map2 has been removed from the mosaic dataset.

![image](https://cloud.githubusercontent.com/assets/5116835/10766580/74c72956-7c95-11e5-8a57-b45087a69deb.png)

[2015-10-27 17:28] #1320 closed

[2015-10-28 18:22] BobBooth commented on #1328
This seems to be fixed - I can't see the test server anymore but on the dev server, the service description at /ags/rest/services/Basemaps/Imagery/MapServer looks right.
Portal item 5a20dc19f2e47c8ad3b0a38eca94671 looks right too.
Perhaps someone on the EM team fixed?

[2015-10-28 21:14] ACueva commented on #1328
This issue has not yet been resolved.  Confirmed on a test machine that the issue still exists.

[2015-10-28 21:42] NatalieCampos commented on #1328
The issue seems that there spelling errors are in the service definition.  Doc reviewed ensured that the portal description is correct but the changes need to be made to the original service definitions.  This issue needs to be looked at so that when the ops server is copied it is using the original service definition and not the updated/corrected portal description.

[2015-10-29 14:14] jfrygeo commented on #1313
Republished (overwrite existing service)
<li> item# 765c051ab7d14139bd8dc8857ed2e435
<li>../Military/PiracyBySubregion2009to2013/FeatureServer/

[2015-10-29 15:50] jfrygeo commented on #1314
Republished (overwrite existing service) NGA Subregions:
<li> item: bee2ec5acb7e4c3f9a37c4b37406f8da
<li> Military/NGASubregions/FeatureServer

[2015-11-02 19:08] KSteinicke opened #1357 ".NET 3.5 Framework gets not installed on Windows 2012R2"
By default the .NET Framework 3.5 is not installed on Widows Server 2012R2. In order to install it you need to specify the "sources\sxs" folder.

Dism.exe /online /enable-feature /featurename:NetFX3 /All /Source:D:\sources\sxs /LimitAccess

[2015-11-02 19:10] KSteinicke opened #1358 "Chrome does not allow connection to https://server.fqdn:6443/arcgis"
Chrome does not allow connection to https://server.fqdn:6443/arcgis due to certificate issue. Chrome dose not trust the certificate Server creates upon installation.

[2015-11-02 19:10] KSteinicke opened #1359 "Chrome does not allow connection to https://server.fqdn:7443/arcgis"
Chrome does not allow connection to https://server.fqdn:7443/arcgis due to certificate issue. Chrome dose not trust the certificate Portal creates upon installation.

[2015-11-02 19:12] KSteinicke opened #1360 "Cannot federate server with 6443 port"
When federating the server to portal there is an error connecting to server.

I used a AD CS to create the CA signed certificates. I imported the certificate into Server and Portal to be used on the 6443/7443 ports. IIS uses the certificate on 443.

I managed to federate with the WebAfdaptor as admin URL.

[2015-11-02 19:13] KSteinicke opened #1361 "No Patches are installed with OPSServer"
There are no Patches installed with OPSServer.

[2015-11-02 19:13] KSteinicke opened #1362 "Use /LOG parameter with robocopy to improve performance"
Use /LOG parameter with robocopy to improve performance

[2015-11-02 19:15] KSteinicke opened #1363 "Error while registering DataStores during service publishing"
![publish_services](https://cloud.githubusercontent.com/assets/5754586/10891425/3e220a3e-819e-11e5-8f21-7afc23c4ef15.png)

Problem could be resolved by restarting the script.

[2015-11-02 20:00] KSteinicke commented on #1360
![error_reg_server](https://cloud.githubusercontent.com/assets/5754586/10892627/c905a27c-81a4-11e5-81c1-0876d214d435.png)

[2015-11-02 20:34] KSteinicke commented on #1360
This is likely just an issue connected with my setup, GPOs etc.

[2015-11-02 20:34] #1360 closed

[2015-11-03 22:13] Nekillims opened #1364 "Places of Interest Feature Service Field Name [Type]"
I was trying to filter Government Places layer by the [Type] attribute in ArcMap using Properties>Definition Query.  The "Type" attribute shows up as "Type_" and a query that uses this attribute returns nothing.  When I enter "Type" manually in the query, it works just fine.  The service definition seems to be okay, and I was pretty sure I took care of the _ after the field name "Type" in the data

[2015-11-03 22:39] tongeg opened #1365 "Online API references in SolutionWeb Apps"
The API is referred to js.arcgis.com in the SolutionWeb applications. (c:\inetpub\wwwroot\SolutionWeb\Apps)
Most of the apps can be edited manually to the Portal API (version 3.13):
env.js -> apiURL = “//<host>/arcgis/jsapi/jsapi”

ImageDiscovery and maybe some more is using 3.14.
Need to download the newer api version manually for this.

[2015-11-03 22:44] ACueva commented on #1365
Can confirm this is an issue for disconnected environments.

Web application fails to load due to not being able to hit:

- [ ] dojo.css
- [ ] claro.css
- [ ] esri.css
- [ ] ResizeHandle.css
- [ ] init.js

[2015-11-03 22:47] ACueva opened #1366 "Image Observables references external resources"
https://servername/SolutionsWeb/Apps/NationalIntel/ImageObservables/

Web application fails to load due to not being able to hit:

- [ ] dojo.css
- [ ] claro.css
- [ ] esri.css
- [ ] ResizeHandle.css
- [ ] init.jsWeb application fails to load due to not being able to hit:

[2015-11-03 22:48] ACueva opened #1367 "Image Discovery App references external resources"
https://servername/SolutionsWeb/Apps/NationalIntel/ImageDiscovery/

Web application fails to load due to not being able to hit:

- [ ] dojo.css
- [ ] claro.css
- [ ] esri.css
- [ ] ResizeHandle.css
- [ ] init.js

[2015-11-03 22:51] ACueva opened #1368 "Predictive Analysis references external resources"
https://servername/SolutionsWeb/Apps/NationalIntel/PredictiveAnalysis/

Web application fails to load due to not being able to hit:

- [ ] dojo.css
- [ ] claro.css
- [ ] esri.css
- [ ] ResizeHandle.css
- [ ] init.js

[2015-11-03 22:55] ACueva opened #1369 "Incident Analysis Viewer references external resources"
https://servername/SolutionsWeb/Apps/EmergencyManagement/IncidentAnalysisViewer

Web application fails to load due to not being able to hit:

- [ ] dojo.css
- [ ] claro.css
- [ ] esri.css
- [ ] ResizeHandle.css
- [ ] init.js

[2015-11-03 22:58] ACueva opened #1370 "Logistics Planning app references external resources"
https://servername/SolutionsWeb/Apps/EmergencyManagement/LogisticsPlanning

Web application fails to load due to not being able to hit:

- [ ] dojo.css
- [ ] claro.css
- [ ] esri.css
- [ ] ResizeHandle.css
- [ ] init.js

[2015-11-03 23:01] ACueva opened #1371 "My Hazard Information app references external resources"
https://servername/SolutionsWeb/Apps/EmergencyManagement/MyHazardInformation

Web application fails to load due to not being able to hit:

- [ ] iphone.css
- [ ] esri.css
- [ ] 3.11/

[2015-11-03 23:03] ACueva opened #1372 "Operations Response app references external resources"
https://servername/SolutionsWeb/Apps/EmergencyManagement/OperationsResponse

Web application fails to load due to not being able to hit:

- [ ] dojo.css
- [ ] claro.css
- [ ] esri.css
- [ ] ResizeHandle.css
- [ ] init.js

[2015-11-04 13:47] tongeg opened #1373 "Suggestion – Logging function for scripts"
Would be very handy to collect all errors produced from all the scripts in an easy overview log file.

It is very easy to miss an error from the current output log in the command prompt, which might have big effects later on in the installation.

[2015-11-04 15:05] KSteinicke opened #1374 "CSS path in ArcGIS Server Administrator Directory REST handlers not set correctly"
ArcGIS Server Administrator Directory:

*Home* > *system* > *handlers* > *rest* > *servicesdirectory*

**is set to:**
- https://server.fqdn/arcgis/home/js/dojo/dijit/themes/tundra/tundra.css
- https://server.fqdn/arcgis/home/js/esri/css/esri.css

**should be set to:**
- https://server.fqdn/arcgis/home/js/jsapi/dijit/themes/tundra/tundra.css
- https://server.fqdn/arcgis/home/js/jsapi/esri/css/esri.

[2015-11-04 16:25] ACueva commented on #1374
Duplicate issue:
https://github.com/Esri/ops-server-config/issues/1242

[2015-11-04 16:25] #1374 closed

[2015-11-04 16:55] elinz commented on #1242
Modified the paths in the SetServicesDirectoryProps.py script to the following:
https://server.domain/arcgis/jsapi/jsapi/dijit/themes/tundra/tundra.css and
https://server.domain/arcgis/jsapi/jsapi/esri/css/esri.css

Based on the information provided in the following help topic (although the paths in the doc are not 100% correct):
http://server.arcgis.com/en/portal/latest/administer/linux/connectin

[2015-11-04 16:55] #1242 closed

[2015-11-04 18:04] kerryrobinson opened #1375 "NAIP Over Time web app points to external JSAPI"
Need to update index.html here: C:\inetpub\wwwroot\SolutionsWeb\Apps\NationalIntel\time-aware-template-master to point to Portal's JSAPI. (there are three places in the file to update).

[2015-11-04 18:05] kerryrobinson opened #1376 "Movement Analysis Demo didn't make it on the TEM 2015 release"
Only an early version of the script is on the release version of the disk. Need to make the script and simulators, etc available to people with the Ops Server (the Web GIS story map references the Movement Analysis dashboard).

[2015-11-04 18:14] KSteinicke opened #1377 "Predictive Analysis Tools download link is broken"
*The folder seems to have been renamed to Intel after the item has been published.*

*Item location is set to*
- https://server.fqdn/Downloads/Intelligence/PredictiveAnalysisTools1.3.0.zip

*Should be*
- https://server.fqdn/Downloads/Intel/PredictiveAnalysisTools1.3.0.zip

[2015-11-06 20:17] elinz opened #1378 "Add .mp4 MIME type to IIS install"

[2015-11-10 16:46] abrowning80 commented on #1204
@BobBooth this was done can you now close the issue, thanks

[2015-11-10 16:48] abrowning80 commented on #1143
This has been done please can you close the issue. Thanks

[2015-11-10 17:02] BobBooth commented on #1204
I confirm that the videos are on the share.

[2015-11-10 17:02] #1204 closed

[2015-11-10 19:48] elinz opened #1379 "Final "DemoAndScripts" folder did not make the 2015 Q4 Release"

[2015-11-10 19:49] elinz opened #1380 "Include updated SetServicesDirectoryProps.py script in 2015 Q4 Patch"

[2015-11-10 19:50] elinz opened #1381 "Include updated Install Guide in 2015 Q4 Patch"

[2015-11-10 22:18] elinz commented on #1369
References JS API 3.14, 3.13 and 3.11.

[2015-11-10 22:19] elinz commented on #1370
References JS API 3.14, 3.13 and 3.11.

[2015-11-10 22:20] elinz commented on #1371
References JS API 3.11.

[2015-11-10 22:20] elinz commented on #1372
References JS API 3.14, 3.13 and 3.11.

[2015-11-10 22:24] elinz opened #1382 "BriefingBook app references external JS API"
SolutionsWeb\Apps\NationalIntel\BriefingBook

References JS API 3.10.

[2015-11-10 22:27] elinz opened #1383 "CrowdSourceManager references external JS API"
SolutionsWeb\Apps\NationalIntel\CrowdSourceManager
References JS API 3.13.

[2015-11-10 22:30] elinz opened #1384 "CrowdSourceReporter app references external JS API"
SolutionsWeb\Apps\NationalIntel\CrowdSourceReporter

References 3.12 and 3.13

[2015-11-10 22:32] elinz commented on #1367
References 3.14, 3.13, and 3.11

[2015-11-10 22:34] elinz commented on #1366
References 3.14, 3.13, and 3.11.

[2015-11-10 22:36] elinz commented on #1368
References 3.13, and 3.11.

[2015-11-10 22:39] elinz commented on #1375
References 3.14 and 3.13.

[2015-11-11 14:22] jfrygeo opened #1385 "Unable to edit "Apps Journal" story map in "What is Web GIS?" story map"
<li>Signed in as the owner of the Apps Journal Story Map.
<li>Tried to "Configure App" for the story map and then receive "404".

<li>However, went back to item description page for the Apps-Journal and pressed "Edit" (as in the item description)
<li>hit "cancel"
<li>hit "Configure App" -it works.

[2015-11-12 19:44] jrweakland commented on #1271
This feature service was created by @pHill5136

[2015-11-12 19:49] jrweakland commented on #1270
This service was created by @pHill5136

[2015-11-12 19:59] jrweakland commented on #1265
This GP service was created by @kgonzago

[2015-11-12 20:13] jrweakland commented on #1130
These two services were created by @pHill5136

[2015-11-13 08:36] adgiles opened #1386 "Documentation - Copy enterprise geodatabase datasets (Page 26)"
The example Path for the <sourcefolder> at step 2 is incorrect, it currently reads:

OPSServerInstall\Server\Staging\Caches

should be:

OPSServerInstall\Server\DistributionEntGDBs

[2015-11-13 13:41] kgonzago commented on #1265
@jrweakland @conklinbd @ACueva That service should not have been created. Python scripts were provided for Line of Sight purely as a guide to how an LOS service is created and referenced in the Elevation Profile Table widget. This is noted in the README.md. I recommend deleting that LOS service.

[2015-11-17 17:03] ACueva commented on #1265
@kgonzago I've deleted the portal item.  I checked and there was no LOS service on the ArcGIS Server.

[2015-11-17 17:03] #1265 closed

[2015-11-30 21:08] conklinbd opened #1387 "testing for trigger"
I am just testing to see if this triggers an issue

[2015-11-30 21:46] #1387 closed

[2015-11-30 23:25] NatalieCampos commented on #1375
Reassigning to @nfeuerstein

[2015-11-30 23:28] elinz commented on #1375
@NatalieCampos Reassigning to myself. I'm working on the 2015 Q4 release patch which will include the updates to this app. After patch is finished I will update the app files on the development server.

[2015-12-01 19:22] lfunkhouser commented on #1311
Closing. verified as fixed.

[2015-12-01 19:22] #1311 closed

[2015-12-01 19:29] kerryrobinson commented on #1311
Unfortunately this didn't make it into the DemosAndScripts folder on the disks distributed at the TEM.

[2015-12-01 19:30] elinz commented on #1311
It will be in the 2015 Q4 Patch.

[2015-12-02 18:46] NatalieCampos commented on #986
This has been fixed.  Assigning to @ACueva for verification and explanation of the issue.

[2015-12-02 18:52] ACueva commented on #986
FYI @kAilshie. Long story short, I goofed when I created this basemap.  I had swapped the base layer with overlay layer.  I manually edited the json config for this web map.

[2015-12-02 18:52] #986 closed

[2015-12-02 19:26] kAilshie commented on #986
@ACueva @NatalieCampos and FYI to others that stumble across this... Working with Avi we found out that the web app-builder basemap gallery widget caches all the basemap layer configurations. Since the application was built before the basemap fix I also had to go into my web application and update the basemap gallery widget's configuration to fix this in my app.

[2015-12-14 23:58] NatalieCampos commented on #1267
@ScottCecilio The imagery basemap has been updated to include L19 (the largest scale) for a small AOI around the airport. Please verify and close this issue if it has been fixed for your needs.

[2015-12-15 22:37] elinz commented on #1384
Modified oauth-callback-twitter.html file to reference local js api (i.e. /arcgis/jsapi/jsapicompact). Closing issue.

[2015-12-15 22:37] #1384 closed

[2015-12-15 22:40] elinz commented on #1382
Modified print-book.htm file to reference local js api (i.e. /arcgis/jsapi/jsapicompact). Closing issue.

[2015-12-15 22:40] #1382 closed

[2015-12-15 22:40] elinz commented on #1381
Done.

[2015-12-15 22:40] #1381 closed

[2015-12-15 22:41] elinz commented on #1380
Done

[2015-12-15 22:41] #1380 closed

[2015-12-15 22:41] elinz commented on #1379
Final "DemoAndScripts" folder was included in 2015 Q4 Patch.

[2015-12-15 22:41] #1379 closed

[2015-12-15 22:44] elinz commented on #1376
Included in 2015 Q4 Patch.

[2015-12-15 22:44] #1376 closed

[2015-12-15 22:50] elinz commented on #1368
Modified the following files to reference local js api (i.e. /arcgis/jsapi/jsapicompact):
env.js
widgets\QueryEditor\lib\js\queryEditor\css\QueryEditor.css
widgets\QueryInspector\lib\js\queryEditor\css\QueryEditor.css

[2015-12-15 22:50] #1368 closed

[2015-12-15 22:56] elinz commented on #1367
Modified the env.js file to reference the local js api (i.e. /arcgis/jsapi/jsapicompact). Closing issue.

[2015-12-15 22:58] elinz commented on #1366
Modified the env.js file to reference the local js api (i.e. /arcgis/jsapi/jsapicompact). Closing issue.

[2015-12-15 22:58] #1366 closed

[2015-12-15 23:03] elinz commented on #1365
This has been addressed for non-emergency management apps on our development server as well as in the 2015 4th Quarter Patch.

[2015-12-15 23:03] #1365 closed

[2015-12-15 23:07] elinz commented on #1383
Upon further review, can't find any references to external js api. Closing issue.

[2015-12-15 23:07] #1383 closed

[2015-12-15 23:10] elinz commented on #1375
Modified index.html file to reference local js api (i.e. /arcgis/jsapi/jsapicompact). Closing issue.

[2015-12-15 23:10] #1375 closed

[2015-12-15 23:16] elinz commented on #1377
This has been addressed in the 2015 4th Quarter Ops Server Patch. Users are instructed to rename the Downloads\Intel folder in the IIS web server to Downloads\Intelligence.

[2015-12-15 23:16] #1377 closed

[2015-12-15 23:27] elinz opened #1388 "Jenkins build server: rename Downloads\Intel folder to Intelligence"
URLs for portal document link items reference folder Intelligence, but folder created by build process is named Intel instead of Intelligence.

[2015-12-15 23:31] elinz commented on #1314
Extracted SD files from ArcGIS Server. Verified that "folderName" property in serviceconfiguration.json file references the "Military" folder. Closing issue.

[2015-12-15 23:31] #1314 closed

[2015-12-15 23:34] elinz commented on #1313
Extracted SD files from ArcGIS Server. Verified that "folderName" property in serviceconfiguration.json file references the "Military" folder. Closing issue.

[2015-12-15 23:34] #1313 closed

[2015-12-15 23:38] elinz commented on #1305
This has been corrected on development server and addressed in 2015 4th Quarter Ops Server Patch.
Note: issue related to #1375

[2015-12-15 23:38] #1305 closed

[2015-12-15 23:51] elinz commented on #1008
Tested 15 December 2015; I can add the online true color/natural color imagery service in web map using Chrome: https://imagery.arcgisonline.com/ArcGIS/rest/services/LandsatGLS/NaturalColor/ImageServer

Closing issue.

[2015-12-15 23:51] #1008 closed

[2015-12-15 23:56] elinz opened #1389 "CrowdSourceManager Web app references external code.jquery.com"
See following line in index.html file:
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

[2015-12-15 23:59] elinz opened #1390 "Duplicate CrowdSourceReporter folder in IIS SolutionsWeb folder"
App exists under NationalIntel folder (SolutionsWeb\Apps\NationalIntel\CrowdSourceReporter). However, this app also exists directly under the SolutionsWeb folder. I'm assuming that the SolutionsWeb\CrowdSourceReporter folder should be deleted.

[2015-12-16 14:57] elinz commented on #1168
@nfeuerstein issue #1008 has been resolved (i.e. issue with online SSL certificate issue). I've tested the Image Discovery app and it does work. I'll go ahead and close the issue.

[2015-12-16 14:57] #1168 closed

[2015-12-16 15:08] elinz commented on #1367
Re-opening issue. Upon testing the app on our development server after modifying the app to reference a local copy of the js api, I found the app does not load. It fails with the error "Unable to create map: a.trim is not a function".

Using Chrome developer tools it throws the following errors in the following files:
TypeError: a.trim is not a function       portalUtils.js:73
TypeError: a.trim is

[2015-12-18 16:17] elinz commented on #1362
@KSteinicke I tested robocopy with and without the /LOG parameter to copy the contents of the latest Ops Server USB drive to a desktop machine and found that there is no appreciative difference in the copy time.
1hr 15min using /LOG:filename
1hr 13min without /LOG:filename

Can you provide more information about your test case? Thank you.

[2016-01-04 17:39] joebayles commented on #1279
Update.

[2016-01-16 11:25] kerryrobinson commented on #986
@elinz I also had to fix this manually on my Ops Server.  I don't think it was included in the Patch...but it should be noted as something that needs to be fixed (if there is another patch or another announcement to the group who have Ops Servers).

[2016-01-17 17:41] kerryrobinson opened #1391 "Update LandOps.xml GeoMessage file on Ops Server to use unique _id field instead of unique designation"
The LandOps.xml tracks simulation file doesn't have a unique _id per track as per the GeoMessage 1.1 specification.  While the GeoEvent service will always update the features in the database listening to this message, the Vehicle Commander and Squad Leader apps both expect the _id value to be unique in order to update a graphic (not the unique designation field).  Therefore those apps show repeat

[2016-01-27 17:39] nfeuerstein commented on #1390
Deleted SolutionsWeb\CrowdSourceReporter

[2016-01-27 17:39] #1390 closed

[2016-01-27 17:50] nfeuerstein commented on #1317
@dhagens is this demographic feature service still needed?

[2016-01-27 17:51] #1301 closed

[2016-01-27 17:51] dhagens commented on #1317
It can be removed.

From: Natalie Feuerstein [mailto:notifications@github.com]
Sent: Wednesday, January 27, 2016 12:50 PM
To: Esri/ops-server-config
Cc: Daniel Hagens
Subject: Re: [ops-server-config] Need Demographic Feature Service (#1317)

@dhagens<https://github.com/dhagens> is this demographic feature service still needed?

—
Reply to this email directly or view it on GitHub<https://github.com

[2016-02-01 14:47] ACueva opened #1392 "Include license manager in software repository"
We should include license manager for those people running concurrent use licenses.

[2016-02-08 19:38] phil7277 opened #1394 "Unable to Add Domains to existing feature class on SDE."
I would like to use the existing Domains to drive the types of information collected. The Domains I would like to use are:
Classification
SensorCapabilities
MissionTypes
PlatformTypes

[2016-02-08 19:42] phil7277 opened #1395 "Need permissions to update Mission Report GEOFORM and Feature Service."
I need to update the existing Mission Report GEOFORM and Feature Service. It is currently owned by Demo Intelligence. I need the ownership of these items transferred to me.

[2016-02-08 21:54] elinz commented on #1394
Which SDE database are these domains associated with?

-------- Original message --------
From: Phil Suarez
Date:02/08/2016 12:56 PM (GMT-08:00)
To: Esri/ops-server-config
Cc: Eric Linz
Subject: [ops-server-config] Unable to Add Domains to existing feature class on SDE. (#1394)

I would like to use the existing Domains to drive the types of information collected. The Domains I would like to use ar

[2016-02-08 21:56] elinz commented on #1394
And which feature class?

-------- Original message --------
From: Phil Suarez
Date:02/08/2016 12:56 PM (GMT-08:00)
To: Esri/ops-server-config
Cc: Eric Linz
Subject: [ops-server-config] Unable to Add Domains to existing feature class on SDE. (#1394)

I would like to use the existing Domains to drive the types of information collected. The Domains I would like to use are:
Classification
SensorCapab

[2016-02-08 22:51] phil7277 commented on #1394
It is the “military.sde.missionreports” feature class. The Military.SDE does not have the coded value Domains.  This must have been recreated by someone when released. The original feature class that powered the apps was “currentoperations.sde. ISRMissionReports”. The CurrentOperations.SDE does have the coded values but is not used to support the feature services for this information layer.

Regar

[2016-02-09 00:20] ACueva opened #1396 "InstallSettings.bat not honoring breaks when edited in notepad"
ops-server-config/Install/InstallSettings.bat not honoring page breaks when edited in notepad.

Due to being a disconnected environment having to install another editor is not an acceptable work-around.

Result is having to go through the file and enter breaks manually.

[2016-02-09 00:26] ACueva opened #1397 "Log files should be written as installation is processing"
Currently there are no log files being written out.
Work-around is to manually copy the dos prompt window session and paste it into a text document.

I experienced a machine failure during the installation process and was unable to check the dos prompt window for failures.  Log files would have helped identify installation issues.

[2016-02-09 00:35] ACueva opened #1398 "Ops Server installation Guide asks users to delete c:\inetpub"
Ops Server installation Guide asks you to:

"IIS – After uninstalling, delete the C:\inetpub folder."
under Uninstall existing software section.

This can be very dangerous as not everyone has a dedicated machine for the Ops Server.  Deleting the content of c:\inetpub could potentially delete all of the user's hosted applications/content.

[2016-02-09 17:40] joebayles opened #1399 "Ops Server Install Guide suggests incorrect paths"
On page 25, under **Copy enterprise geodatabase datasets**, Step 2 lists the incorrect source folder:

should be:

... folder path of SDE connection files/file geodatabases (i.e. the OPSServerInstall\Server\DistributionEntGDBs folder on the external drive).

[2016-02-09 22:50] elinz commented on #1394
@phil7277 You can't make changes to the database schema because there are schema locks. The following list the services which are reference data from the military SDE database:
- Military/IntelReports (MapService: 60d9c717ebd64314bb1764bd5ea5c96b; FeatureService: b1ab24b97f9f4bd4925d2a5f0b792fce; both owned by DemoMilitary)
- Military/VehicleTrackRoutes (MapService: abe1a564e7df47a3a56461d25d2b467

[2016-02-10 17:37] elinz commented on #1399
Closing issue.

[2016-02-10 17:37] #1399 closed

[2016-02-10 17:39] elinz opened #1400 "In install guide replace references to server.domain.com with server.domain"

[2016-02-10 20:53] elinz commented on #1400
Fixed in master. Closing issue.

[2016-02-10 20:53] #1400 closed

[2016-02-19 18:35] elinz opened #1401 "The "unregister data store" endpoint requires Force parameter at 10.4 ArcGIS Server"
I ran the PublishToOpsServer.py script and the unregister data store statement fails with the following error:
ERROR:{u'reason': u'FORCE_PARAMETER_NOT_PROVIDED_OR_IS_FALSE', u'message': u'The data store could not be unregistered because a force parameter was not provided with value true.', u'success': False}

[2016-02-29 17:58] elinz opened #1402 "For 10.4 version of scripts remove ops_install_geoevent_patches variable in InstallSettings.bat"

[2016-02-29 17:58] elinz commented on #1402
Remove mention in install guide.

[2016-02-29 17:59] elinz opened #1403 "Update Install Guide for 10.4"
- [x] Updated software references from 10.3.1 to 10.4

- [x] Add new window service user/password variables to table in "Install" and configure the Ops Server installation scripts section.

- [x] Remove ops_install_geoevent_patches variable in table in "Install" and configure the Ops Server installation scripts section.

- [x] Remove 'Install "Portal for ArcGIS 10.3.1 Hot Fix" section.

- [x] Upda

[2016-02-29 18:40] elinz opened #1404 "Update Ops Server Configuration Preparation doc for 10.4"
- [x] Update software references from 10.3.1 to 10.4

- [x] Update the "Create the "KeepPublishedSD"..." step to 10.4.

- [x] Remove screenshot in 'Create the "KeepPublishedSD"...' step.

[2016-02-29 18:47] elinz commented on #1404
Fixed in ops-server-config/v.next. Closing issue.

[2016-02-29 18:47] #1404 closed

[2016-02-29 18:47] elinz commented on #1403
Fixed in ops-server-config/v.next. Closing issue.

[2016-02-29 18:47] #1403 closed

[2016-02-29 18:48] elinz commented on #1402
Fixed in ops-server-config/v.next. Closing issue.

[2016-02-29 18:48] #1402 closed

[2016-02-29 21:00] elinz commented on #1401
Added 'force' key to unregister function in DataStore.py module.

[2016-02-29 21:02] elinz commented on #1401
Fixed in ops-server-config/v.next. Closing issue.

[2016-02-29 21:02] #1401 closed

[2016-02-29 21:08] elinz commented on #1396
InstallSettings.bat file in repo is honoring breaks in notepad. Issue is with the 2015 4th Quarter release of the .bat file. Opening separate issue.

[2016-02-29 21:08] #1396 closed

[2016-02-29 21:09] elinz opened #1405 "2015 Q4 version of InstallSettings.bat not honoring breaks when edited in notepad"

[2016-03-01 22:44] jrweakland opened #1407 "Image Shift with Airbus Image Services- Pleiades, SPOT, and TerraSAR-X"
_From @Nekillims on November 10, 2015 14:50_

I did  a check in a web map of the Pleiades, TerraSAR-X, and SPOT 5 images over Monterey.
Pleiades-  about 5 to 20 Meters difference (measured), azimuth (estimated) 275 deg Image shift relative to base (an image point is x meters west of the object in the basemap)  magnitude of shift varies from image to image, but the direction is fairly consistent.

[2016-03-01 22:44] jrweakland commented on #1407
@Nekillims - should this issue be in the desktop templates repo or the ops server config repo?

[2016-03-01 22:44] jrweakland commented on #1407
_From @lfunkhouser on December 1, 2015 20:5_

@Nekillims Are you using these in a template? If they are not from a template and they are on the development server, please log/transfer this issue to the ops-server-config repo so it can be addressed.

[2016-03-14 13:56] pshowalter opened #1410 "NationalIntelligence\Elevation service - appears to be using feet and meters for elevation surfaces"
The NationalIntelligence\Elevation service MDS appears to be using a mix of data that includes data with elevation in feet, and meters.

![image](https://cloud.githubusercontent.com/assets/6842145/13746651/acac7496-e9ca-11e5-876b-99b2c0b5f389.png)
![image](https://cloud.githubusercontent.com/assets/6842145/13746663/bb2a55c4-e9ca-11e5-87fd-5eeeacd11229.png)

[2016-03-15 16:11] NatalieCampos commented on #1410
@elinz This is an issue that has been repeatedly fixed.  There seems to be an issue with the mosaic datasets losing raster functions after they are
1. republished as seen at last years UC both at UC and when we returned
2. there is a system upgrade 10.4

This issue should be investigated further so that the issue can be addressed without having a ton or fixes after items 1 or 2 are performed.

[2016-03-15 20:40] NatalieCampos opened #1411 "cached elevation service does not show up in the Pro 1.2 Portal window"
Previously, the cached elevation service was viewable in Pro 1.1 by checking an enable cache option on the properties.  Currently, the cached elevation service is no longer view-able as a portal option (though it is viewable in ArcMap and the portal as an item).  I have contacted Melanie Summers and she will check with content management so see if this is a bug or as designed.

![image](https://cl

[2016-03-15 20:53] NatalieCampos commented on #1410
This service is for the Predicitive Analysis demo data.  Whoever built the
\\[severname]\Data\DerivedLayers\PredictiveAnalysis.gdb\Elevation mosaic dataset within the PredictiveAnalysis.gdb needs to add the unit conversion raster function to the lidar data only and then regenerate the overviews.  <-- Assigning to @dfoll

Additionally, I question on why there is a DemoIntelligence elevation service

[2016-03-15 21:18] NatalieCampos opened #1412 "NationalIntelligence Image Services Failing to draw after 10.4 update"
Failed to draw in ArcMap 10.4 but would draw in the Portal.  I did stop the service and restart it in order for the service to draw in ArcMap and it seems to be working fine now.  This issue maybe related to 10.4 server upgrade.  @elinz The errors seem to be on services that are based on mosaic datasets.  We should do some testing to isolate the problems.

[2016-03-15 21:23] NatalieCampos commented on #1412
The CostalReliefModel also failed to draw and needed to be restarted.
![image](https://cloud.githubusercontent.com/assets/5116835/13794521/7abf027e-eab9-11e5-8112-a97497df0c8d.png)

[2016-03-15 21:27] NatalieCampos commented on #1412
The CountrY Boundaries services failed to draw and needed to be stopped and then restarted to enable viewing in ArcMap.
![image](https://cloud.githubusercontent.com/assets/5116835/13794612/005d9ca6-eaba-11e5-8bda-0cbe74c3ef04.png)

[2016-03-15 21:36] NatalieCampos opened #1413 "NationalIntelligence\DigitalSurfaceModel: fails to draw"
The DSM failed to draw as seen in issue #1412.  Upon Stopping and Restarting there seem tp be an issue with the path to the overview data.  The original paths were UNC paths and now they are point to a C: drive.  This issue may have been  caused by the 10.4 upgrade.  This issue was also seen last year at the UC as well as upon return for UC.

![image](https://cloud.githubusercontent.com/assets/511

[2016-03-15 21:41] elinz commented on #1413
@NatalieCampos This wouldn't be caused by an upgrade to 10.4 server.

[2016-03-15 21:43] NatalieCampos commented on #1412
The NationalIntelligence\DistanceFromAllWeatherRoadsMosaic  services failed to draw and needed to be stopped and then restarted to enable viewing in ArcMap.
![image](https://cloud.githubusercontent.com/assets/5116835/13794928/c70e8b84-eabb-11e5-9354-b1a770412993.png)

[2016-03-15 21:47] NatalieCampos commented on #1412
The NationalIntelligence\DistanceFromForestEdgeMosaic:  services failed to draw and needed to be stopped and then restarted to enable viewing in ArcMap.

![image](https://cloud.githubusercontent.com/assets/5116835/13795196/e874427c-eabc-11e5-82ed-2a664277ab2c.png)

[2016-03-15 21:54] NatalieCampos commented on #1412
The NationalIntelligence\DistanceFromOceanMosaic: services failed to draw and needed to be stopped and then restarted to enable viewing in ArcMap.
![image](https://cloud.githubusercontent.com/assets/5116835/13795389/b41ec96a-eabd-11e5-8660-430dcd989ac4.png)

[2016-03-15 21:58] NatalieCampos commented on #1412
The NationalIntelligence\DistanceFromTrailsMosaic: services failed to draw and needed to be stopped and then restarted to enable viewing in ArcMap.

![image](https://cloud.githubusercontent.com/assets/5116835/13795480/49d49728-eabe-11e5-9a89-e37537b53ae7.png)

[2016-03-15 21:58] elinz commented on #1413
@NatalieCampos The mosaic datasets for last years UC servers were intentionally altered to a local path because of a bug in the repair mosaic dataset paths gp tool which failed to update paths containing certain UNC patterns. The paths in mosaic datasets on the production file server were not altered and therefore would have the original UNC path.

[2016-03-15 22:01] NatalieCampos commented on #1412
The NationalIntelligence\DistanceFromWaterSourcesMosaic:  services failed to draw and needed to be stopped and then restarted to enable viewing in ArcMap.

![image](https://cloud.githubusercontent.com/assets/5116835/13795558/c7e5095e-eabe-11e5-98f4-0ab8c4e75e62.png)

[2016-03-15 22:08] NatalieCampos commented on #1412
The NationalIntelligence\LandCover: services failed to draw and needed to be stopped and then restarted to enable viewing in ArcMap
![image](https://cloud.githubusercontent.com/assets/5116835/13795722/b5ea4fb0-eabf-11e5-8a2e-d1d21f509867.png)

[2016-03-15 22:21] NatalieCampos opened #1414 "LandCoverDemo image service cannot be added to ArcMap"
The LandCoverDemo image service is cannot be added to ArcMAP. See error below.  I could not find a cooresponding image service in the portal to test.  I am unsure what the error means.  I am unaware of whose service this is. Can you please assign to correct person? @elinz

@jrweakland Is it necessary to have two land cover services? One for Demo and one for not?
![image](https://cloud.githubuserco

[2016-03-15 22:22] NatalieCampos commented on #1412
The NationalIntelligence\PopulationDensity: services failed to draw and needed to be stopped and then restarted to enable viewing in ArcMap

![image](https://cloud.githubusercontent.com/assets/5116835/13796043/b6cfafae-eac1-11e5-8e2b-adc66676f9ac.png)

[2016-03-15 22:25] NatalieCampos commented on #1412
The NationalIntelligence\Spot5Pan: services failed to draw and needed to be stopped and then restarted to enable viewing in ArcMap
![image](https://cloud.githubusercontent.com/assets/5116835/13796117/1f9edd0c-eac2-11e5-8c6c-eccdd0ae08eb.png)

[2016-03-15 22:30] NatalieCampos commented on #1412
The NationalIntelligence\SpotMS: services failed to draw and needed to be stopped and then restarted to enable viewing in ArcMap

![image](https://cloud.githubusercontent.com/assets/5116835/13796208/aceeb93e-eac2-11e5-9fb4-99cabd608db7.png)

[2016-03-15 22:33] NatalieCampos commented on #1412
![image](https://cloud.githubusercontent.com/assets/5116835/13796255/f70e1f0a-eac2-11e5-8426-34ece8c63d0c.png)

[2016-03-15 22:33] NatalieCampos commented on #1412
![image](https://cloud.githubusercontent.com/assets/5116835/13796310/479c5a2c-eac3-11e5-8720-9bc90bbc7064.png)

[2016-03-15 22:36] NatalieCampos commented on #1412
![image](https://cloud.githubusercontent.com/assets/5116835/13796398/bbf50b8a-eac3-11e5-95a8-91c7244e6657.png)

[2016-03-15 22:41] NatalieCampos commented on #1412
All of the abover services had to be stopped and restarted in order to be viewed in ArcMap though they were viewable in the portal map (some of them).  I am unsure whether this is a configuration issue or 10.4 or a script issue.  @elinz Please tell me how I can help you test where the issue originates or the stopping and starting should be added to the OpsServer documentation so that customers/dis

[2016-03-15 22:44] NatalieCampos commented on #1413
@elinz I have fixed the path issue on this service after we returned for UC.  This service has worked fine since then.  Since the upgrade there seems to be an issue.  I can change the path from C: to a UNC path but it seems that there is a bigger issue in that I should not have to constantly change the paths everytime there is a change to the server.  Please tell me how I can help so that we can i

[2016-03-15 22:58] jrweakland commented on #1414
@NatalieCampos - I do not believe that we need two services for the same data. My guess is that the LandCoverDemo image service is from last year's FedGIS and UC.

[2016-03-15 23:13] NatalieCampos commented on #1414
The description for this service is below.  As wells as the folder data on which it was created.  I also recommend deleting the service.

![image](https://cloud.githubusercontent.com/assets/5116835/13797183/da04bbb6-eac8-11e5-8b55-504a5588da83.png)

![image](https://cloud.githubusercontent.com/assets/5116835/13797189/e5380510-eac8-11e5-9912-fd6b412c5e5a.png)

[2016-03-16 16:53] NatalieCampos commented on #1411
The answer from Content Management is "as designed".  Though a cached elevation service can be viewed dynamically in ArcMap 10.x, a cached elevation service will not viewable in Pro.  Meaning for Pro 2 elevation services will be needed.  A cached elevation is needed if you want to use it as a surface to drape features on.  A non-cached elevation (regular mosaic or image) will be needed if you want

[2016-03-16 16:53] #1411 closed

[2016-03-16 17:11] NatalieCampos commented on #1410
Currently the NationalIntelligence\Elevation is a single raster created from multiple rasters.  Because of this I am unable to add the unit conversion raster function to the data that is in the wrong measurement units.  This single raster needs to be created.  I have discussed this with @dfoll.

@pshowalter There is debate on this service.  If you need an elevation service right now, please use th

[2016-03-16 17:53] pshowalter commented on #1410
Looks like it would be a good service to use for analysis, rather than global, but have found a few services to test with.
Objective was to test different elevation surface types (Elevation Service, fGDB, MDS, dted) and various PCS’s using  Military Tools for ArcGIS.

·        Cached World Elevation – does not display in my ArcMap 10.3.1 or Pro 1.2 – suggestions?  This service is Web Mercator

·

[2016-03-16 21:15] NatalieCampos commented on #1410
- cached world elevation is a Lerc service that can not be used in Pro but can still be viewed dynamically in ArcMap.  Though I don't know for how much longer.  To view it in ArcMap r-click in the properties and check the Enable Cache View.

![image](https://cloud.githubusercontent.com/assets/5116835/13828906/54f6aeac-eb81-11e5-91a0-3f0f31e2e035.png)

If you need mosaic datasets you can use the MD

[2016-03-16 22:10] pshowalter commented on #1410
If it’s going away, it may not be worth the effort to run to ground.

Enable Cache mode is checked, but nothing displays.
When I add the Service, I get an RGB Layer in the TOC, and it is just named “Cached World Elevation” not “NationalIntelligence\CachedWorldElevation” like I see in the TOC from your screen capture.
Also, Description should be changed if its not viewable in Pro

Description: A gl

[2016-03-24 04:04] #905 closed

[2016-03-24 04:05] topowright commented on #939
This is no longer an issue

[2016-03-24 04:05] #939 closed

[2016-03-24 16:28] jfrygeo opened #1415 "Intel Report Feature Service is Unreachable"
This goes with issue #1395. The feature service "IntelReports" is unreachable. ../services/Military/IntelReports/FeatureServer/0

[2016-03-24 18:21] nfeuerstein commented on #1415
@jfrygeo looks like that service was deleted.  I was not the original publisher of that information and wasn't able to find a map package on the ops server to republish the "IntelReports".  @phil7277 did you publish the "IntelReports" service?  This was the description: "A Feature Service with the locations of incidents over the Monterey, CA region based off of the Combined Information Data Networ

[2016-03-24 19:53] phil7277 commented on #1415
Team, I have not updated any services or published this service. I am currently in training but can take a look at this once I am done.

Regards,
Phil

Phil Suarez | ISR/SOF Account Executive
Esri | Defense & Intelligence
8615 Westwood Center Dr. | Vienna, VA. 22180 | USA
T 909-793-2853<tel:909-793-2853> x2829 | M 571-328-6802<tel:571-328-6802>
psuarez@esri.com<mailto:psuarez@esri.com> | www.esri.

[2016-03-29 19:21] NatalieCampos commented on #1413
this service has been fixed.  it now draws correctly.

[2016-03-29 19:21] #1413 closed

[2016-04-12 17:45] NatalieCampos opened #1416 "Unable to publish to 3D webscene"
I am unable to publish a 3D point layer to a 3D scene.  The email is from Melanie Summers depicting the problem.  This issue is preventing the updating of the UMR template to Pro 1.3.

Hey Natalie,

So this succeeds when I share to our 10.4 portal but also fails for me going to "dev portal"

The error message the cache job is returning is ERROR 001812: Unable to connect to the database used for sc

[2016-04-12 18:10] NatalieCampos commented on #1416
3d multipatches fail to cache as well.

[2016-04-15 20:43] elinz commented on #1416
The problem was that the registration of the nosql database was corrupt, i.e through the Server admin API, we could not access the admin/data/items/nosqlDatabases/AGSDataStore_nnnnn/ machines/"machine" REST endpoint. After unregistering and re-registering ArcGIS Data Store the endpoint could be reached and validated. Web scene cache generation now works. Closing issue.

[2016-04-15 20:43] #1416 closed

[2016-04-18 09:00] astha11 opened #1417 "Failed to publish/delete an ArcGIS Service"
**When I am trying to overwrite an existing service, I get the following error:**
![image](https://cloud.githubusercontent.com/assets/18527264/14598704/7c6815f0-054b-11e6-8488-49bdd63f5e04.png)
![image](https://cloud.githubusercontent.com/assets/18527264/14598753/acbb0a3c-054b-11e6-8e04-1fa12b00c2cb.png)
**It could be that the underlying folder has been corruted. However, I am not able to delete t

[2016-04-18 21:45] elinz commented on #1417
@astha11 It appears that this issue was created in this GitHub repo by mistake, as it is not related to the use of scripts provided in this repo or in the scope of this repo. You can post questions to https://geonet.esri.com, http://support.esri.com/ or contact Esri Technical Support. Thank you.

[2016-04-18 23:13] elinz opened #1418 "Cache generation for hosted tile service fails during publishing"
Using ArcMap, I publish a hosted tile service and choose to "Build cache automatically when the service is published". The service is created, the folders for the service cache are created, as well as the status file geodatabase, but the cache is not created. The message I receive after the publishing operation has completed is:

"The service has been published successfully. The cache for the serv

[2016-04-19 15:50] nfeuerstein commented on #1395
Is this still needed? @phil7277

[2016-04-19 18:27] phil7277 commented on #1395
No I do not. Lyle has now taken this over.

Regards,
Phil

Phil Suarez | ISR/SOF Account Executive
Esri | Defense & Intelligence
8615 Westwood Center Dr. | Vienna, VA. 22180 | USA
T 909-793-2853<tel:909-793-2853> x2829 | M 571-328-6802<tel:571-328-6802>
psuarez@esri.com<mailto:psuarez@esri.com> | www.esri.com<http://www.esri.com/>

From: Natalie Feuerstein [mailto:notifications@github.com]
Sent: T

[2016-04-20 10:08] #1417 closed

[2016-04-26 17:33] elinz opened #1419 "Install Guide: Add "Portal Resources for Esri Maps for Office" in "Uninstall existing software" section"
Before uninstalling Portal for ArcGIS, users should uninstall the Portal Resources for Esri Maps for Office since this is installed under the Portal install directory structure.

[2016-04-26 17:35] elinz opened #1420 "Install Guide: Add "ArcGIS Predictive Analysis Web Services" in "Uninstall existing software" section"
Before uninstalling ArcGIS for Server, users should uninstall ArcGIS Predictive Analysis Web Services.

After uninstalling, delete the C:\Program Files\ArcGIS\Predictive Analysis folder if it's not automatically deleted.

[2016-04-26 17:59] elinz opened #1421 "Test Web Scene distribution to 10.4 Ops Servers"
Test the Ops Server publishing process to determine whether web scenes and their associated scene layers/feature layers are published correctly to other Ops Servers.

[2016-04-26 20:16] elinz opened #1422 "Install Guide: update folders to delete after uninstalling Geoevent"
The install guide states in the "Uninstall existing software" section to delete the C:\Data folder after uninstalling Geoevent. This folder location and name was changed in the last release of Ops Server. Change to C:\OpsServer\GeoEventData in install guide.

[2016-04-26 20:34] elinz opened #1423 "Install Guide: instruct to delete OS account that AGS runs as after uninstalling all Esri software"
Currently, the install guide instructs users to the delete the OS user account that the ArcGIS Server windows services runs as after they have uninstalled ArcGIS for Server.

Change so that we instruct the user to delete the OS user account for AGS after all Esri software is uninstalled. The reason for this is that other Esri software such as Portal or Data Store may be using the same OS account.

[2016-04-26 20:46] elinz opened #1424 "Install Guide: before uninstall Openfire, have user stop and uninstall windows service"
In the "Uninstall existing software" section before we instruct user to uninstall Openfire have the user stop and install the Openfire windows service by executing the following:

openfire-service /stop
openfire-service /uninstall

NOTE: the openfire-service.exe is located in C:\Program Files (x86)\Openfire\bin folder.

[2016-04-26 20:59] elinz opened #1425 "Install Guide: in "Uninstall existing software" instruct user to delete "Downloads" folder"
Under "Web applications "installed" under IIS, add C:\inetpub\wwwroot\Downloads folder.

[2016-04-27 00:45] elinz opened #1426 "Install Guide: Update "Configure portal settings" section for 10.4"
- Map tab: "Web App Templates" is now "Configurable Apps".
- Groups tab: I believe "Gallery Applications" is now "Configurable Apps". Need to double-check. When I updated the production portal from 10.3.1 to 10.4, the "NSEC Gallery Templates" group is set as the Groups > Configurable Apps.

[2016-04-27 00:48] elinz opened #1427 "After upgrade from 10.3.1 to 10.4 the non-data based geocode services do not start"
After upgrading the production server from 10.3.1 to 10.4, the MGRS and Longitude/Latitude geocode services fail to start with the following error:
Service failed to start
"ServiceName".GeocodeServer:
"ServerName"
the input is not a geographic or projected coordinate system

[2016-05-05 15:32] elinz commented on #1427
I extracted the MGRS.loc and latitude/longitude .loc files from the .sd files we released with the Fall 2015 Ops Server and when I attempt to publishing these from ArcMap 10.4 I receive the error 00096 "Locator is invalid". The MGRS.loc that is installed with ArcMap 10.4 does publish to our development 10.4 ArcGIS Server.

[2016-05-05 18:16] elinz commented on #1427
The issue is that the .loc.xml file has an extra "\" character at the beginning of the GEOGCS definition. At 10.4 the geometry object parser is more stringent and does not accept this as a valid definition. Removing this extra character allows the service to be started.

[2016-05-09 17:11] elinz commented on #1427
I've created new .sd files contained edited versions of the .loc.xml files for both MGRS and LongitudeLatitude geocode services and have placed these in the arcgisserver\directories\arcgissystem\arcgisuploads\admin folder on the production server so when the .sd files are extracted the corrected .sd files for these services will be extracted as well.

[2016-05-09 17:11] #1427 closed

[2016-05-18 20:49] elinz opened #1428 "PortalContentPost.py failing with "Invalid group capability" error"
Used PortalContentExtract.py script to export user content against 10.4 portal. Used PortalContentPost.py to import to 10.4.1 portal and when the script tries to create groups for users the script fails with the following error:

Creating groups ...

Creating '2' group(s) for user '_user_'...
... group 'Gallery App Group'
ERROR:portalpy:Unable to create group.
ERROR:portalpy:Invalid group capabili

[2016-05-18 20:59] elinz opened #1429 "PortalContentDestroyer.py: deletes "esri_" users"
Starting at 10.4, portalpy.users() method is incorrectly returning the "esri_nav" internal account, which should not be deleted. Modify script so that any "esri_" users are not deleted.

[2016-05-18 23:42] elinz commented on #1429
Fixed. Added code so user accounts starting with 'esri_' are not deleted.

[2016-05-18 23:42] #1429 closed

[2016-05-21 21:31] elinz opened #1431 "Create process to publish scene services"
Current scripts aren't sufficient. Need to build scripts to create hosted scene services from associated hosted feature services. Also need process to re-generate the scene cache.

[2016-05-21 21:42] elinz commented on #1421
Current process wasn't sufficient. See #1431 and #1432

[2016-05-21 21:42] #1421 closed

[2016-05-21 21:43] elinz commented on #1431
Merge fixed from v.next. Closing issue.

[2016-05-21 21:43] #1431 closed

[2016-05-21 21:45] elinz opened #1433 "Install Guide: add sections for publishing hosted scene services"
- [x] Need to add section to execute PublishHostedSceneServices.py.
- [x] Need to add section to run BuildSceneCaches.py.

[2016-05-21 21:50] elinz opened #1434 "Create source validation process for hosted scene services"
We currently have a script, called ValidateHostedServiceSources.py to verify that each service definition item in portal has an associated hosted feature or tile service and vice-versa. We need to create a similar validation process for hosted scene services.

Can either follow a similar pattern as the ValidateHostedServiceSources.py or possibly create a new process which uses the item relationshi

[2016-05-21 22:20] elinz opened #1435 "GetSDFiles.py: do not attempt to copy SD files for hosted services"
Hosted services store their service definition files as portal items and not in the arcgis server directories folder structure so do not attempt to copy these files for hosted services.

The script reports errors (i.e. ***ERROR: SD file does not exist for this service.*** ) when the .sd file wasn't found for hosted services. Why wade through errors in script output that aren't errors.

[2016-05-21 22:23] elinz opened #1436 "GetSDFiles.py: see if the output from uncompressing the .sd file be suppressed"
The script uses 7zip to extract the service configuration json from the .sd file. This leads to unneeded output that we need to wade through to review the output of the scripts. Check if there is a way to suppress the output. Still need the option to write the output to debug.

[2016-05-21 22:29] elinz opened #1437 "ValidateHostedServiceSources.py: see if the output from uncompressing the .sd file be suppressed"
Similar to #1436
This script calls the same function to run 7zip.

[2016-05-22 17:57] elinz opened #1438 "Image item "Sample Legacy Intelligence Report" is referenced by a released item, but not released itself"
The "Sample Legacy Intelligence Report" image item (id:ad4723bfec334906acdf77e4e32fe22a) should be released. It's referenced by the released map journal item "Geospatially Enabling the Intelligence Collector (Map Journal)" (id:cf92fbb86028410cbdd84947d7e7a56a).

[2016-05-23 02:04] phil7277 commented on #1438
@elinz this ID references an image we do not have release doc for. We need to update the release item, and either recreate doc/image, with different entries, or  remove it from the map journal.

[2016-05-24 14:05] #1267 closed

[2016-05-26 18:59] NatalieCampos opened #1439 "Document Links on production server are broken"
Document Links on production server are broken (see urban mission rehearsal).  These need to be updated.

[2016-05-26 19:14] elinz commented on #1439
This is not a bug. This is intentional.  We are not copying any of the template downloads to the production server. Just make sure that the URL after the server name is correct and it will work when the content is deployed.

[2016-05-26 19:14] #1439 closed

[2016-06-06 17:09] elinz opened #1440 "Portal item for imagery basemap service is missing"
Service "Basemaps//Imagery.MapServer" is associated with a portal item (55a20dc19f2e47c8ad3b0a38eca94671; MapServer) that does not exist.

@NatalieCampos If you create a new portal item for this service, I will edit the service so it will point to this new portal item.

[2016-06-06 17:38] elinz opened #1441 "Jenkins build server: Generate hosted scene service definition json file"
Need to generate json file that stores the scene service definitions. During the build process, execute the Utilties\WriteHostedSceneServiceDefinitions.py script for all the Demo and Released users (NOTE: for user conference this will need to be executed for all users).

A separate file is created for each scene service. The script parameters have you specify the path to a folder to store the file

[2016-06-06 17:45] elinz opened #1442 "Jenkins build server: for user conference we are extracting all users"
Just a reminder that for user conference we will be extracting content for all users so the build process will have to be modified.

Here are _some_ of the scripts that I know where you can specify a list of users as a script parameter:

Publish\Portal\PortalContentExtract.py
Support\GetSDFiles.py
Utilities\WriteHostedServiceDefinitions.py
Utilities\WriteHostedSceneServiceDefinitions.py

[2016-06-06 18:04] elinz opened #1443 "KML: make sure that portal items of type KML and item type "file" can be extracted and published"

[2016-06-06 20:16] elinz commented on #1443
In order for this to work, I had to modify the URL_BASED_ITEM_TYPES and FILE_BASED_ITEM_TYPES lists in the portalpy\__init__py file. I removed KML from the URL list, and added it to the FILE list.

[2016-06-06 20:18] conklinbd commented on #1443
The slight problem with that solution is that you can add KML urls to the Portal.

[2016-06-06 20:25] elinz commented on #1443
@conklinbd Correct. The functions to publishing items will need to be modified to add additional logic for this unique case where the item type is a member of two different categories (URL and FILE). Searching our production portal for type:KML I only find items of in the category FILE. So for now I was going to commit this change for UC until I have more time to look into the logic to handle both

[2016-06-06 20:27] elinz commented on #1443
@conklinbd If your okay with my change I will make a pull request to get the change into master.

[2016-06-06 20:28] conklinbd commented on #1443
@elinz that seems fine.

[2016-06-06 22:10] elinz commented on #1443
There is an item type called 'KML Collection' that was not documented in the portal sharing api. I added this type to the FILE_BASED_ITEM_TYPES list.

[2016-06-06 22:38] elinz opened #1445 "Service Definition item missing for hosted service "High_Intensity_Drug_Trafficking_Areas_(HIDTA)""
@ScottCecilio Found that shapefile item d361304339364931bc3bbdf2e2038c1c was used to created this hosted service. The ops server distribution process only supports automatic republishing of hosted services when the source of the service is a service definition portal item. This service will have to be republished.

-----------------------------------------------------------------------------------

[2016-06-06 23:01] elinz opened #1446 "Service Definition exists for hosted service "IncidentsForSentiment/FeatureServer" but service does not exist"
Service definition portal item id de070a8367004796ac1bd24b74023557 exists, but the hosted feature services it creates does not exist.

Probably a case where the hosted service was deleted, but publisher failed to delete the associated service definition item.

If this services does not need to exist, please delete the service definition item; otherwise this service will be published on the user co

[2016-06-06 23:15] elinz opened #1447 "Service Definition exists for hosted service "HDSentimnetIncidents_WFL/FeatureServer" but service does not exist"
Service definition portal item id 5b30929e28d3496b87a7148136044c4f exists, but the hosted feature services it creates does not exist.

Probably a case where the hosted service was deleted, but publisher failed to delete the associated service definition item.

If this services does not need to exist, please delete the service definition item; otherwise this service will be published on the user co

[2016-06-07 21:05] #1443 closed

[2016-06-07 21:07] elinz commented on #1428
The issue is that the createGroup endpoint in the portal sharing api only accepts form-data and not json. So the capabilities and tags list properties had to be converted to comma delimited strings.

[2016-06-07 21:11] elinz commented on #1428
Fixed. Change in master.

[2016-06-07 21:11] #1428 closed

[2016-06-07 21:27] elinz commented on #1440
New portal item was created. Edited service json to point to this new item, id c3ac1bc16b4f417088e6a621b3b5715d

[2016-06-07 21:27] #1440 closed

[2016-06-09 23:05] topowright commented on #1446
From my understanding if the issue does not have feedback or resolved in 24 hours we are supposed to delete the service. Do you have a different understanding?

[2016-06-10 14:57] conklinbd commented on #1446
@topowright that is correct.

[2016-06-11 16:42] elinz opened #1449 "Invalid file geodatabase for item "Incidents""
Performed a test extract and publish of the portal items from the production portal to a 10.4.1 portal and received the following error during the portal add item operation of the PortalContentPost.py script:

        Publishing item 4665f2260dee4e5e9130be5acfea3b28 (7/29)...
ERROR:portalpy:Error while analyzing File Geodatabase 'Incidents.zip' Unable to extract 'file geodatabase' Invalid File Geo

[2016-06-11 21:35] elinz opened #1450 "Update portalpy __init__.py based on types found portal properties file"
Portal has a file called 'gw-content-types.properties' which stores the valid item types. Update the url, text, and file lists in the portalpy __init__.py file based on the contents of the gw-content-types.properties file.

[2016-06-11 22:38] elinz commented on #1450
Fixed in v.next. Merged into master.

[2016-06-11 22:38] #1450 closed

[2016-06-12 14:20] elinz opened #1452 "Modify PortalContentPost.py script so it doesn't update ids/urls in "esri" owned items"
I'm testing the script against 10.4.1 final it's throwing the following error when cycling through the esri owned items to update ids/urls. We don't need to update the ids or urls in the "esri_" owned items so modify the script to not process these items.

        Id: 1c783c741c234323903a9a7c6ac11f2e    Title: 'Check In' (Layer Template), Owner: 'esri_apps'

Traceback (most recent call last):
  Fi

[2016-06-12 14:33] elinz opened #1453 "Modify PortalContentExtract.py script to not extract "esri" owned items"
At 10.4, a new account 'esri_nav' was added, but it is not configured correctly so it shows up as a built-in account to the portal and therefore, the extract script is extracting the content for this account.

Modify the script so it doesn't extract any accounts starting with "esri_".

A workaround until this change can be made is to exclude this account from being extracted by specifying -esri_na

[2016-06-12 23:51] elinz commented on #1453
Fixed in v.next. Merged into master.

[2016-06-12 23:51] #1453 closed

[2016-06-12 23:51] elinz commented on #1452
Fixed in v.next. Merged into master.

[2016-06-12 23:51] #1452 closed

[2016-06-13 14:23] jrweakland opened #1455 "Military Overlay does not load services"
id:d17475c2dfdb4f5d9c01b235e5f6ef4e

[2016-06-13 14:26] jrweakland opened #1456 "Maritime Domain Awereness DIS 2016 400 error"
id:2bb62fdd2c0041a09fc75ef770251c7c

ERROR: URL issue - code: 400; message: ; url: http://geo.weather.gc.ca/geomet/?lang=E

[2016-06-13 14:28] jrweakland opened #1457 "RangeFanFromBearingLimits 10060 error"
id:b087038cd9e34d40961f2dc1ea73f327

ERROR: URL issue - code: 10060; message: [Errno 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond

This is coming from your rugged 8.

[2016-06-13 14:34] jrweakland opened #1458 "Meteorological Service of Canada OWS Data Server - WMS code 400"
id:77fbc709f6e04b5e9538fc8a7daf5ade

ERROR: URL issue - code: 400; message: ; url: http://geo.weather.gc.ca/geomet/

[2016-06-13 14:34] jrweakland commented on #1458
same issue on  id:0ccfa184e8bd4eb997c8660bbc74c1e6

[2016-06-13 14:36] jrweakland commented on #1458
same issue for -
id:0ccfa184e8bd4eb997c8660bbc74c1e6
id:e7acdb1efb584dbe8cb1a698a16e64e3

[2016-06-13 14:41] jrweakland opened #1459 "Identifying Communities at Risk code 10060 and 401 errors"
id:e56e5621bbed4732a1d72e72a5eb55f1

ERROR: URL issue - code: 10060; message: [Errno 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond COMING FROM national public safety

ERROR: URL issue - code: 401; message: COMING FROM this portal

[2016-06-13 16:14] jfrygeo commented on #1457
@jrweakland I have no clue what this is. The rugged server is currently down. This reference can be deleted.

[2016-06-13 16:17] jfrygeo opened #1460 "Maritime Boundaries feature service not appearing in Map. The REST endpoint exists, but no data in webmap."
item= bf3cca6ca1bb45dd903e3df969156bd0

Service: https://<server name>/Military/MaritimeBoundaries/FeatureServer

[2016-06-13 16:19] jrweakland commented on #1455
id:204c215aad8545339f1a013b21be1b56 is the item consuming the service

[2016-06-13 16:27] joebayles commented on #1455
Deleted the item, to you for verification.

[2016-06-13 17:24] jrweakland commented on #1457
@jfrygeo - you will need to remove or delete what you do not want on the portal for UC.

[2016-06-13 17:28] jrweakland commented on #1460
@jfrygeo - I do not own this item.

[2016-06-13 17:30] jfrygeo commented on #1460
DemoMilitary?

Sent from my iPhone

On Jun 13, 2016, at 1:28 PM, Jim Weakland <notifications@github.com<mailto:notifications@github.com>> wrote:

@jfrygeo<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_jfrygeo&d=CwMCaQ&c=n6-cguzQvX_tUIrZOS_4Og&r=LOFtvHGMxkJ_DWps2cZi-A&m=2m02lVTHIn3k2-Zp2qmiQ7R8ZFFfIP-fVrNjG5Tb9SE&s=E0eFgEaDUXYlx7D-4NmRmKiw_haDqtRkOh-I2urpScA&e=> - I do not own thi

[2016-06-13 17:33] jrweakland commented on #1460
There has not been a military team in over three months. I would suggest @ACueva or @elinz to take a look at it. I believe that this is a service that you created for the new geography.

[2016-06-13 17:34] jfrygeo commented on #1460
I can republish but seems weird that the data is gone @ACueva

[2016-06-13 18:12] elinz opened #1461 "Can't republish the hosted service MinorityPopMonterey_WFL"
I was testing the publishing of the service definition files stored in portal for the hosted services and encountered an error while publishing the service definition item id 1713a43f75e246208a7acf6f617959fc to a test 10.4.1 portal. Not sure what the issue is at this point. Be aware that this service may have to be manually published to the UC servers.

        Job ID:          j16e235f66710451787

[2016-06-13 18:43] jfrygeo commented on #1460
@ACueva I tried to republish this feature service and received an ERROR:001369 from ArcMap. "Failed to Create the Service."

[2016-06-13 19:23] jfrygeo commented on #1460
I did not own the item. The item was transferred to me, then I was able to republish.

[2016-06-13 19:23] #1460 closed

[2016-06-13 22:24] elinz opened #1462 "WriteHostedSceneServiceDefinitions.py script incorrectly sets "name" value in output json file to item title"
In order to publish a hosted scene service from the associated hosted feature service we have to provide the appreciate json publishing parameters. This json can be found on the scene service rest endpoint (/rest/services/Hosted/"service"/SceneServer). However, we can't simply write the data out to a json file; it must have a "name" property added. I incorrect set the "name" property value to the

[2016-06-13 22:57] elinz commented on #1462
Fixed. Tested. Merged fix from v.next into master.

[2016-06-13 22:57] #1462 closed

[2016-06-14 14:33] jrweakland commented on #1456
@jfrygeo - This came up as an error again in today's output.

[2016-06-14 14:37] jrweakland opened #1464 "Military Operational Activity Effects from Weather- For Single Display"
id:8a863cd96e66456692c1a4342b011474

ERROR: URL issue - code: 400; message: ; url: http://geo.weather.gc.ca/geomet/?lang=E

[2016-06-14 14:40] jrweakland opened #1465 "Maritime Domain Awareness (Web Map)"
id:9bdc470e155541c08344eea228186f52

ERROR: URL issue - code: 400; message: ; url: http://geo.weather.gc.ca/geomet/?lang=E

[2016-06-14 14:50] elinz commented on #1456
@jrweakland @jfrygeo There are some URLs that the url check tool will flag as an error. An example is if the url requires a token. I always verify if the reported error is actually an error by pasting the URL in a browser. If not an error, comment this in the GitHub issue and close. On subsequent error reports search GitHub for this id/issue to check if it was already reported and if error is vali

[2016-06-14 15:02] jrweakland opened #1466 "OrderOfBattleTest"
id:22f07b41f21f4bda873a87d99d8b3d52

ERROR: URL issue - code: 500;

The test folder has been deleted. Please delete or update this web map.

[2016-06-14 15:05] jrweakland opened #1467 "Order of Battle Test"
id:33b6c26728fd4f609bce4cdf995c8cf4

ERROR: URL issue - code: 500

The test folder has been deleted. Please update or delete this operation view.

[2016-06-14 15:13] jrweakland opened #1468 "Operations Center- SIGINT Reports"
id:fd80e9eb4f6d458ea4ee47739de638b4

The test folder has been deleted. Please update or delete this Web Map.

[2016-06-14 15:17] phil7277 commented on #1468
Webmap "id:fd80e9eb4f6d458ea4ee47739de638b4" has been deleted.

[2016-06-14 15:17] #1468 closed

[2016-06-14 17:18] jfrygeo opened #1469 "Farthest on Circle Image Service gives error about invalid ownership. This was previous issue and is expericend when IWA."
item.html?id=688999e1df1a4b3ca1eaa63996d3b487

[2016-06-15 17:46] jrweakland commented on #1466
I deleted this item on 06/15/2016

[2016-06-15 17:46] #1466 closed

[2016-06-15 17:47] jrweakland commented on #1467
I deleted this item on 06/15/2016.

[2016-06-15 17:47] #1467 closed

[2016-06-15 17:55] jrweakland commented on #1465
John verified that the service opens in his web map.

[2016-06-15 17:55] #1465 closed

[2016-06-15 17:55] jrweakland commented on #1464
John verified that this opened in his operation view

[2016-06-15 17:55] #1464 closed

[2016-06-15 17:56] jrweakland commented on #1458
John verified that this WMS opens in his web maps

[2016-06-15 17:56] #1458 closed

[2016-06-15 17:57] jrweakland commented on #1456
John verified that this services works in his web map.

[2016-06-15 17:57] #1456 closed

[2016-06-15 17:57] #1455 closed

[2016-06-15 19:15] jrweakland commented on #1457
I deleted the portal item on 06/015/2016

[2016-06-15 19:15] #1457 closed

[2016-06-15 19:16] jrweakland commented on #1459
@topowright - please check on this item today or I will delete at 1645 today. 06/15/2016

[2016-06-15 21:06] jrweakland commented on #1459
delete by lyle.

[2016-06-15 21:06] #1459 closed

[2016-06-15 21:08] topowright commented on #1449
I am not sure why this is here, but I think it should be deleted. There is no need to have a zip file of incidents.

[2016-06-16 13:41] phil7277 commented on #1449
@elinz @topowright ; Team , I do not understand the issue on this. This is content in my folder that is not shared for release, BUt information stored to work with. Are we not suppose to have anything on the development portal unless it is finished and releasable? This can be deleted if needed. This is just reference content.

[2016-06-16 16:35] elinz commented on #1449
@phil7277 It's ok to have this content on the development portal. For "official" releases of Ops Server we would only be extracting portal items for the released/demo accounts, but for UC release we extract portal items for all accounts. If this item is not need for UC then you don't have to perform any corrective action.

[2016-06-21 03:53] elinz opened #1470 "PublishHostedSceneService.py script reporting incorrect number of items where info transfer was skipped"
At the end of execution, the script reports "Services where info transfer was skipped because "original" service item did not exist:". In one test, each scene service that was published reported that it couldn't find the original service item, but the summary report at the end of the script reported 0.

Total number of...
Source items to publish: 8
Publishing jobs: 8
Publishing jobs completed: 8
P

[2016-06-21 03:57] elinz opened #1471 "If statement in PublishHostedSceneService.py get_source_item_ids function is not 100% correct"
The get_source_item_ids  function has the following "if" statement:
if item['type'] in 'Feature Service':

While this does work, it is not 100% error proof, since "in" is used in sequences, such as lists, etc.

A more accurate statement would be to check for equality:
if item['type'] == 'Feature Service':

[2016-06-21 04:17] elinz opened #1473 "Increase the default number of items returned by search and related functions in portalpy module"
PortalPy functions such as "search", will be default return only a 1000 items. Our development portal has more than 1000 items and this is causing a problem running the ops-server-config scripts. Increase the "num" default value for the following functions:

search - increase from 1,000 to 100,000
webmaps - increase from 1,000 to 100,000
groups - increase from 1,000 to 5,000
org_users - increase f

[2016-06-21 04:37] elinz opened #1474 "Exclude "built-in" items from being process by the UpdatePortalGUIDs.py script"
The script executes a search to return items to process which include items owned by "internal" built-in accounts that start with "esri_". Exclude items owned by any accounts that start with "esri_" from being processed.

[2016-06-21 04:39] elinz opened #1475 "Add try/except code blocks to UpdatePortalGUIDs.py script"
In preparation for users conference this script failed on at least one items owned by an "esri_" account (see #1474). Add try/except code blocks so script won't fail when it encounters an error.

[2016-06-21 04:45] #1474 closed

[2016-06-21 04:49] elinz opened #1477 "Add try/except code blocks to PortalHostedServices.py script"
Add try/except code blocks to prevent script from fails on errors.

[2016-06-21 04:53] elinz commented on #1477
Fixed and merged from v.next into master.

[2016-06-21 04:53] #1477 closed

[2016-06-21 04:53] elinz commented on #1475
Fixed and merged from v.next into master.

[2016-06-21 04:53] #1475 closed

[2016-06-21 04:53] elinz commented on #1473
Fixed and merged from v.next into master.

[2016-06-21 04:53] #1473 closed

[2016-06-21 04:54] elinz commented on #1471
Fixed and merged from v.next into master.

[2016-06-21 04:54] #1471 closed

[2016-06-21 04:55] elinz commented on #1470
Fixed and merged from v.next into master.

[2016-06-21 04:55] #1470 closed

[2016-06-21 19:55] topowright opened #1479 "add the custom widgets to the build"
Currently we have widgets that we have configured manually to work with the WAB that is running off of portal. When the extraction happens these widgets are not grabbed. Should we grab these?

[2016-07-06 17:27] elinz opened #1480 "Update exe path in InstallEM4OWebContent.bat to reference latest installer for ArcGIS Maps for Office"
Change .exe name to name of latest installer release at time of Ops Server release.

[2016-07-06 17:35] elinz opened #1481 "Jenkins build server: update path to ArcGIS Maps for Office Portal Resources installer"
Product name has been changed from Esri Maps for Office to ArcGIS Maps for Office so we should make appropriate change to build process.

See #1480

[2016-07-11 16:56] elinz opened #1482 "create_group function in Portalpy module fails when 'capabilities' key does not exist"
I had modified the create_group function in __init__.py to handle the new 'capabilities' JSON property that was introduced at 10.4.1, but I failed to code for the fact that this property wouldn't exist in pre 10.4.1 extracted portal content.

[2016-08-23 13:57] kerryrobinson opened #1484 "NAIP Mosaic Dataset loses Time setting during upgrade to 10.4.1"
I noticed after I upgraded my Ops Server to 10.4.1 that the NAIP image service wasn't appearing as time-enabled in a web map.   This setting was no longer set on the mosaic dataset.

I had to update this setting in the properties for the mosaic dataset (C:\OpsServer\Data\FoundationOverlays\OrthophotoBase\NAIP\NAIP.gdb\NAIP).

Once I did that, I didn't need to make any additional changes to the web

[2016-09-06 14:29] elinz commented on #127
Process for publishing hosted services has already been researched and implemented for 2015 Fall release. Closing this issue.

[2016-09-06 14:29] #127 closed

[2016-09-06 14:41] elinz commented on #638
@kgonzago Changing milestone. Review if this needs to be released for this next Ops Server release. Otherwise you can change the milestone.

[2016-09-06 15:24] elinz commented on #765
@NatalieCampos It appears that this is still an issue with our World Elevation WGS84 service. Can you please see if this can be fixed for our current Ops Server release? Thanks.

[2016-09-06 16:07] kgonzago commented on #638
@elinz I can add the SD files for the GP services to the ERG widget repo. Is that a good option instead?

[2016-09-06 16:45] elinz commented on #638
@kgonzago I'm not sure. The important thing right now is to know if the service needs to be included in the Ops Server release. Based on your response it sounds like it doesn't so I'm changing the milestone to a future milestone.

[2016-09-06 16:51] elinz commented on #1114
@karlterrey This was previously assigned to Ben

[2016-09-06 18:06] kgonzago commented on #638
@elinz Sounds good.

[2016-09-06 18:19] elinz commented on #1129
@CraigCleveland Please verify if this task still needs to be completed and this current release. Content cutoff for portal/server content is 13 Sept. Cutoff for DemoAndScripts and Resource content is 16 Sept.

[2016-09-06 18:42] elinz commented on #1135
Did this need to be completed for this current release?

[2016-09-06 18:45] elinz commented on #1143
@dfoll Can you please verify that this task was completed and close if completed? Thank you.

[2016-09-06 18:47] elinz commented on #1146
@dfoll Can you please verify if this issue was fixed or requires more work? Thank you.

[2016-09-06 19:56] dfoll commented on #1135
i would just close this. it's been a year and it hasn't been done, so i don't have much confidence it get ever getting done

[2016-09-06 19:57] dfoll commented on #1136
i would just close this, it's been  a year and hasn't been done, so i don't have much confidence it will get done for the ops server

[2016-09-06 19:59] #1146 closed

[2016-09-06 20:07] elinz commented on #1372
EM content (web maps, etc) from last Fall 2015 release references external basemaps, so I'm not concerned that this app references external resources. Will change milestone to version after next and we can re-evaluate at a later time.

[2016-09-06 20:07] elinz commented on #1371
EM content (web maps, etc) from last Fall 2015 release references external basemaps, so I'm not concerned that this app references external resources. Will change milestone to version after next and we can re-evaluate at a later time.

[2016-09-06 20:07] elinz commented on #1370
EM content (web maps, etc) from last Fall 2015 release references external basemaps, so I'm not concerned that this app references external resources. Will change milestone to version after next and we can re-evaluate at a later time.

[2016-09-06 20:08] elinz commented on #1369
EM content (web maps, etc) from last Fall 2015 release references external basemaps, so I'm not concerned that this app references external resources. Will change milestone to version after next and we can re-evaluate at a later time.

[2016-09-06 20:21] elinz commented on #1391
@pHill5136 Can you please review and update .xml file for this current release of Ops Server, if it is still necessary? Thanks.

[2016-09-06 20:24] CraigCleveland commented on #1129
@elinz - confirming that to the best of my knowledge this task still needs to be completed.  Candidly I have no window into the status of this at all.  Sorry...

[2016-09-06 20:28] elinz commented on #1405
Current version of the InstallSettings.bat file is honoring breaks in notepad. Since we are about to release a new version of Ops Server I'm not too concerned about the 2015 Q4 version. Closing to close this issue.

[2016-09-06 20:28] #1405 closed

[2016-09-06 20:44] elinz commented on #1442
Only applied for UC. Closing issue.

[2016-09-06 20:44] #1442 closed

[2016-09-06 20:52] pHill5136 commented on #1391
Replaced the previous LandOps.xml file the new one provided by Kerry.

[2016-09-06 21:15] elinz commented on #1484
@kerryrobinson I made the following changes to the NAIP mosaic dataset:
Use Time: Yes; Start Time Field: Year; End Time Field: Year; Time Value Format: YYYY; Time Interval Units: Years.

There is a Time Interval Value field, but not sure if it's supposed to contain a value or what the value should be. Whether I set to value as 1 or leave empty the time slider shows each interval as 2 years, i.e.:

[2016-09-06 21:31] elinz opened #1485 "Update existing template document links to include "ArcGISforDefense" folder in URL"
Update existing template document links and change references in URL that include "ArcGISforIntelligence" and "ArcGISforMilitary" to "ArcGISforDefense".

Templates contained within ArcGISforIntelligence and ArcGISforMilitary from released location will be copied to ArcGISforDefense folder in Ops Server release.

[2016-09-06 21:33] elinz opened #1486 "Make sure there are document link items for latest version of each template"

[2016-09-06 21:46] elinz commented on #1479
@topowright We won't automatically extract any custom widgets from our production portal and include with the Ops Server release. It will be up to you to provide the following:
- Set of widget files that will work with 10.4.1 portal web app builder.
- Instructions on how to "install" these into an Ops Server portal installation

I can include a section in the Ops Server installation guide titled s

[2016-09-06 21:47] elinz opened #1487 "InstallGuide: create new section "Custom Web App Builder widgets (Optional)""
Reference instructions that @topowright will write. See #1479

[2016-09-06 21:54] elinz commented on #1461
@Dbarnes1 I can't find the hosted service "MinorityPopMonterey_WFL" that's associated with this service definition item (1713a43f75e246208a7acf6f617959fc). If this service no longer exists, please delete the service definition portal item. I will then verify and close this issue. Thank you.

[2016-09-06 21:57] elinz commented on #1449
@topowright @phil7277 Since I don't believe this item will be released in the current Ops Server release, i.e. 2016 4th Quarter, I'm going to close this issue.

[2016-09-06 21:57] #1449 closed

[2016-09-06 22:04] elinz commented on #1447
@eogden Can no longer find the service definition portal item in question, 5b30929e28d3496b87a7148136044c4f or any portal items with HDSentimnetIncidents_WFL in the title, so I'm closing this issue.

[2016-09-06 22:04] #1447 closed

[2016-09-06 23:28] elinz commented on #1461
Service definition item 1713a43f75e246208a7acf6f617959fc was deleted. I'm closing this issue.

[2016-09-06 23:28] #1461 closed

[2016-09-06 23:40] elinz commented on #1446
I deleted the service portal item de070a8367004796ac1bd24b74023557. Closing issue.

[2016-09-06 23:40] #1446 closed

[2016-09-06 23:49] elinz commented on #1445
@ScottCecilio The hosted feature service item "High Intensity Drug Trafficking Areas (HIDTA)"(bb2fdfcd9ba948cead8c2dc32aa6f209) is owned by you. Are there plans to release this service in the current Ops Server release? If yes, then it will need to be republished through ArcMap or ArcGIS Pro. The Ops Server publishing scripts do not support republishing from shapefiles or geodatabases, etc.

If it

[2016-09-07 00:22] elinz commented on #1414
@NatalieCampos @jrweakland According to the portal service item, which does in fact exist (ccc51a902cd6495cb32692dafa8ea4c6), this service is owned by @dfoll. According to portal item description this service was for the storytelling workshop and should be deleted after the 22 may multispectral land characteristics consortium.

This service can't be accessed because the dataset this image service

[2016-09-07 00:28] elinz commented on #1410
@dfoll What's the status of this issue? Thanks.

[2016-09-07 00:33] elinz commented on #1407
@jrweakland Any status update for this issue? It's been labled "In Progess". Thanks.

[2016-09-07 13:23] elinz commented on #1484
@kerryrobinson Thanks. I will go ahead and close out this issue.

[2016-09-07 13:23] #1484 closed

[2016-09-07 13:31] elinz opened #1488 ""Maritime Domain Awareness Dashboard" Operation View was previously released; should be this year?"
Item 0845dd9f0ee74d66b504e62804d2c2c6 was released in 2015 Q4 and owned by DemoMilitary. Currently, item is owned by @jfrygeo. If this item needs to be included in current release the it needs to go through release process (limited process if still going to be owned by a demo account).

@lfunkhouser FYI.

[2016-09-07 13:37] elinz opened #1489 ""Proximity Alert" feature service was previously released; should be this year?"
Item 478cbdd6f965408f9094ec5b33f0114d was released in 2015 Q4 and owned by DemoMilitary. Currently, item is owned by @jfrygeo. If this item needs to be included in current release the it needs to go through release process (limited process if still going to be owned by a demo account).

@lfunkhouser FYI.

[2016-09-07 13:40] elinz opened #1490 ""Proximity Alert" map service was previously released; should be this year?"
Item 5463afdb5cb8475689997dd07eb0d57b was released in 2015 Q4 and owned by DemoMilitary. Currently, item is owned by @jfrygeo. If this item needs to be included in current release the it needs to go through release process (limited process if still going to be owned by a demo account).

This map service is associated with feature service issue #1489

@lfunkhouser FYI

[2016-09-07 13:42] elinz opened #1491 ""Farthest On Circle" geoprocessing service was previously released; should be this year?"
Item 779c8029eac24a129ce95a8f4caa8301 was released in 2015 Q4 and owned by DemoMilitary. Currently, item is owned by @jfrygeo. If this item needs to be included in current release the it needs to go through release process (limited process if still going to be owned by a demo account).

@lfunkhouser FYI

[2016-09-07 13:44] elinz opened #1492 ""Maritime Domain Awareness" web map was previously released; should be this year?"
Item 995d354c59694c01bbd1ff877441526a was released in 2015 Q4 and owned by DemoMilitary. Currently, item is owned by @jfrygeo. If this item needs to be included in current release the it needs to go through release process (limited process if still going to be owned by a demo account).

@lfunkhouser FYI

[2016-09-07 13:49] elinz opened #1493 ""Mission Report" web mapping application was previously released; should be this year?"
Item c48bdb0b6d2f4dfea70f39b048a3ceb7 was released in 2015 Q4 and owned by DemoMilitary. Currently, item is owned by @conklinbd . If this item needs to be included in current release the it needs to go through release process (limited process if still going to be owned by a demo account).

@lfunkhouser FYI.

[2016-09-07 13:54] elinz opened #1494 ""Visibility And Range" document link was previously released; should be this year?"
Item 5e3361273fd04fcb8088cec71f659905 was released in 2015 Q4 and owned by ReleasedMilitary. Currently, item is owned by @topowright. If this item needs to be included in current release then it needs to go through release process.

NOTE: "Military" folder in document link URL also needs to be changed to "ArcGISforDefense".

@lfunkhouser FYI.

[2016-09-07 14:22] elinz opened #1495 "All template document links need to be reviewed"
This is a team effort task:

- Ensure that lastest version of each template has a document link portal item.
- If new version of template was created since last Ops Server release then update existing link item to reflect new template.
- Any references to "Military" or "Intelligence" folder in the document link URL needs to be changed to "ArcGISforDefense"

NOTE: All templates that existed in the

[2016-09-07 14:46] elinz commented on #1418
Retested 07 Sept 2016 and this issue still exists. I'm moving this issue to a later milestone since people can still build the cache (right-click service in ArcMap, Manage Cache > Manage Tiles

[2016-09-07 16:31] elinz commented on #845
Retested the ops-server-config\Publish\Server\RepairMosaicDatasets.py script on ArcGIS Server 10.4.1 which executes the out of the box RepairMosaicDatasets gp tool and it is working correctly. In the Ops Server Installation Guide I instruct people to use robocopy, and CopyGDBs.py  instead of the CopyData.py script so I'm going to close this issue.

[2016-09-07 16:31] #845 closed

[2016-09-07 16:36] elinz commented on #1482
I've fixed this in v.next and merged into master so I'm closing this issue.

[2016-09-07 16:36] #1482 closed

[2016-09-07 17:16] elinz commented on #1378
Fixed in v.next and merged into master. Closing issue.

[2016-09-07 17:16] #1378 closed

[2016-09-07 17:34] elinz commented on #1367
Modified the env.js file to reference the local js api (i.e. /arcgis/jsapi/jsapicompact). The app is now loading using the api version that was installed with 10.4.1. Closing issue.

[2016-09-07 17:34] #1367 closed

[2016-09-07 17:47] elinz commented on #1425
Edited Word doc with change 07 Sept 2016.

[2016-09-07 17:50] elinz commented on #1422
Edit was made to Word doc 07 Sept 2016.

[2016-09-07 17:55] elinz commented on #1419
Edited Word doc 07 Sept 2016.

[2016-09-07 18:09] elinz commented on #1420
Edit the Word doc 07 Sept 2016.

[2016-09-07 18:09] elinz commented on #1424
Edited Word doc 07 Sept 2016.

[2016-09-07 18:16] elinz commented on #1398
I added above the list of software uninstall steps a NOTE in red:
NOTE: uninstalling Internet Information Services (IIS) is not necessary.

[2016-09-07 18:20] elinz commented on #1386
Made change to Word doc.

[2016-09-07 18:25] elinz commented on #1423
Edited Word doc 07 Sept 2016.

[2016-09-07 18:26] elinz opened #1497 "InstallGuide: update Esri software references to 10.4.1"

[2016-09-07 19:15] jfrygeo opened #1498 "Please release Panga Boat Smuggling story map application demo"
This demo is part of the UC 2016 presentation for Maritime Big Data.

Panga Boat Story Map

Panga Boat Intelligence FS- 93b2bcccc17c486e92720f1059a8f1a2
Panga Boat Intelligence MS - f83dc1f4959e4f4f85fc1e688c05160b
Panga Boat Photograph 1 - 6bc0234bc77c4828a28746b8f51a0fe3
Panga Boat Photograph 2 - b31a3859e24c4542b6546010a05b7723
Panga Boat Smuggling WebMap -55e63ff71694417e8cef863ffe7f7122
Panga

[2016-09-07 19:16] NatalieCampos commented on #765
this  can not be fixed at this time.  The colorized version uses slope that is not  appropriate  for wgs 84.  this  results in the bug.  This raster function is included because it is part of the World Elevation Service functions.  Should this raster function be  removed @lfunkhouser @nfeuerstein ?  Or should this issue be closed as a known defect.

[2016-09-07 19:53] elinz commented on #1497
Edited Word doc 07 Sept 2016.

[2016-09-07 19:53] elinz opened #1499 "InstallGuide: Review memory and disk space requirements"

[2016-09-07 19:54] elinz commented on #1481
Lets use the 4.1 (Beta) version for this release.

[2016-09-07 23:41] elinz commented on #1485
This issue superseded by #1495. Closing this issue.

[2016-09-07 23:41] #1485 closed

[2016-09-07 23:42] elinz commented on #1486
This issue superseded by #1495. Closing this issue.

[2016-09-07 23:42] #1486 closed

[2016-09-07 23:54] elinz commented on #1480
Fixed in v.next. Closing issue.

[2016-09-07 23:54] #1480 closed

[2016-09-08 00:00] elinz opened #1500 "PreparationGuide: Update for this release"
Update the Ops Server Config Prepartion Word doc

[2016-09-08 00:09] elinz commented on #1497
Fixed in v.next. Closing issue.

[2016-09-08 00:09] #1497 closed

[2016-09-08 00:10] elinz commented on #1425
Fixed in v.next. Closing issue.

[2016-09-08 00:10] #1425 closed

[2016-09-08 00:10] elinz commented on #1424
Fixed in v.next. Closing issue.

[2016-09-08 00:10] #1424 closed

[2016-09-08 00:10] elinz commented on #1423
Fixed in v.next. Closing issue.

[2016-09-08 00:10] #1423 closed

[2016-09-08 00:11] elinz commented on #1422
Fixed in v.next. Closing issue.

[2016-09-08 00:11] #1422 closed

[2016-09-08 00:11] elinz commented on #1419
Fixed in v.next. Closing issue.

[2016-09-08 00:11] #1419 closed

[2016-09-08 00:12] elinz commented on #1398
Fixed in v.next. Closing issue.

[2016-09-08 00:12] #1398 closed

[2016-09-08 00:12] elinz commented on #1420
Fixed in v.next. Closing issue.

[2016-09-08 00:12] #1420 closed

[2016-09-08 00:13] elinz commented on #1386
Fixed in v.next. Closing issue.

[2016-09-08 00:13] #1386 closed

[2016-09-08 00:18] elinz opened #1501 "Create folder in Ops Server release folder structure where custom WAB widgets can be placed"
Create folder OPSServerReleases\2016_Q4\OPSServerInstall\WebAppBuilder\Widgets

[2016-09-08 00:18] elinz commented on #1501
Completed 07 September 2016.

[2016-09-08 00:18] #1501 closed

[2016-09-08 01:22] elinz commented on #1388
@ACueva This issue isn't relevant anymore since all of our templates are stored in Downloads\ArcGISforDefense. I'll close this issue.

[2016-09-08 01:22] #1388 closed

[2016-09-08 01:24] elinz opened #1502 "Jenkins build server: update where build process copies solution templates from"
I copied all of the released templates to the following folder on our production server:
C:\inetpub\wwwroot\Downloads\ArcGISforDefense

Update Jenkins build process to copy the templates from this location.

[2016-09-08 13:50] elinz commented on #1434
Moving to next milestone as I don't believe this task can be completed by deadline; and right now I'm not even sure if there are any scene services going to be released at this release of Ops Server.

[2016-09-08 13:51] elinz commented on #995
Don't think there are any scene services being release so being this to next milestone.

[2016-09-08 14:00] elinz commented on #1412
@NatalieCampos Please check each image service on our production server and see if problem still exists. Thank you.

[2016-09-08 14:01] elinz commented on #1412
@NatalieCampos Make sure to use ArcMap 10.4.1 since the server and portal were upgraded to 10.4.1.

[2016-09-08 14:05] elinz opened #1503 "Jenkins QC task: update so that screen output from GetSDFiles.py is captured"
The information needed for QC from the GetSDFiles.py script is actually output to the screen so we need Jenkins updated to capture the output from this script. Thanks.

[2016-09-08 14:36] mfunk commented on #877
Tested this today with the Story Map Tour (as Story Map Journal is deprecated). Had a few warnings about creating map tour point feature service, but eventually it worked and basic map service is now done.

[2016-09-08 14:36] #877 closed

[2016-09-08 15:12] mfunk commented on #1202
@jrweakland @nfeuerstein Is this still a relevant issue?

[2016-09-08 15:15] jfrygeo commented on #1489
@elinz  Yes. it should be released. I am currently fixing an issue I came across at the DIS 2016. Once fixed I will push for release @lfunkhouser

[2016-09-08 15:16] jfrygeo commented on #1492
@elinz Yes. it should be released. I am currently fixing an issue I came across at the DIS 2016. Once fixed I will push for release @lfunkhouser

[2016-09-08 15:23] jfrygeo commented on #1491
@elinz Yes. it should be released. I am currently fixing an issue I came across at the DIS 2016. Once fixed I will push for release @lfunkhouser

[2016-09-08 15:23] jfrygeo commented on #1490
@elinz Yes. it should be released. I am currently fixing an issue I came across at the DIS 2016. Once fixed I will push for release @lfunkhouser

[2016-09-08 15:23] jfrygeo commented on #1488
@elinz Yes. it should be released. I am currently fixing an issue I came across at the DIS 2016. Once fixed I will push for release @lfunkhouser

[2016-09-08 15:43] elinz opened #1504 "Military Overlay related services exists without portal items; assume author wanted them deleted"
@Dbarnes1 I'm assuming these services are yours as I can't verify ownership. Since the portal items don't exist anymore, I'm assuming your intent was to delete these services. Please confirm and I will delete these services. Thanks.

ERROR: Service "Military//MilitaryOverlay.MapServer" is associated with a portal item (850a7321fe724f429d1a0ba20c287c61; MapServer) that does not exist.

ERROR: Servi

[2016-09-08 15:45] Dbarnes1 commented on #1504
@elinz confirmed, you can go ahead and delete these services. They will need to be manually published once the ops server is distributed anyway. Thanks

[2016-09-08 15:55] elinz commented on #1504
I deleted MilitaryOverlay service, but having problems deleting the Military_Overlay_Pro1dot3 service, with error that another administrative process is trying to configure the server. I will attempt to delete the service at a later time.

[2016-09-08 16:29] elinz opened #1505 "Mismatch of owners for service definition item and hosted service EldoradoDrugGrows/FeatureServer"
Hosted Service Item:   Title - "EldoradoDrugGrows"

        id: d0d694b17ae44127b7a62908f36544be  owner: DemoIntelligence    type: Feature Service          service: EldoradoDrugGrows/FeatureServer

        Matching Source Item:

        Title: "EldoradoDrugGrows"
        id: 13fcc8aa26004629b6444599c7c7c953  owner: @ircampbell   type: Service Definition       service: EldoradoDrugGrows/FeatureServ

[2016-09-08 16:58] elinz opened #1506 "Imagery Basemap service portal item needs to be released"
item c3ac1bc16b4f417088e6a621b3b5715d need to be released

[2016-09-08 17:15] elinz opened #1507 "Need to sync and change ownership of ExecuteQuery/GPServer"
I republished the service ExecuteQuery/GPServer to our production server (c0d5b5d7c4b94b189ff3146567349cb4 ) but there exists a DemoIntelligence owner serviced item for this gp service (c9e065fe2b3c47d9bc1cec734affe711)   "Execute Query GP Service"

I need to change ownership of this service item to DemoIntelligence and edit the service json to point the service to the item c9e065fe2b3c47d9bc1cec7

[2016-09-08 17:29] elinz opened #1508 "Web Mapping App "Foundation Data Journal" references a web map item that does not exist"
Web map app 5cd903df8c234d9584f77bad9be47222 owned by DemoNationalSecurity...

ERROR: References web map item that does not exist: fd0831d938eb426da87e25ae54ad7234

@nfeuerstein Do you know who was the author of this app?

[2016-09-08 17:31] nfeuerstein commented on #1508
This is the one that Kerry made for last year's TEM.

[2016-09-08 17:31] elinz commented on #1508
@nfeuerstein Thanks.

[2016-09-08 17:41] elinz opened #1509 "Web Mapping App "What is Web GIS?" references a web map item that does not exist"
Web map app faef542a74e141398c05c43379a67004 owned by DemoNationalSecurity...

ERROR: References web map item that does not exist: 92bde83d826941a3919cc8fcacf68be8

[2016-09-08 17:44] elinz opened #1510 "Web Mapping App "Apps Journal" references a web map item that does not exist"
Web map app a0944c6a2b4f4847863af010461c24a5owned by DemoNationalSecurity...

ERROR: References web map item that does not exist: fd0831d938eb426da87e25ae54ad7234

[2016-09-08 17:45] mfunk commented on #1495
If there are any that are missing Document links I'll volunteer to add as many as I can.

[2016-09-08 17:46] elinz opened #1511 "Web Mapping App "Operational Data Journal" references a web map item that does not exist"
Web map app 9fba573b71d94cbe90553b75e0c8af89 owned by DemoNationalSecurity...

ERROR: References web map item that does not exist: fd0831d938eb426da87e25ae54ad7234

[2016-09-08 17:47] elinz opened #1512 "Web Mapping App "Deployment Journal" references a web map item that does not exist"
Web map app ab3c56bdd53e4fea8feccc4b8cfbf5c2 owned by DemoNationalSecurity...

ERROR: References web map item that does not exist: fd0831d938eb426da87e25ae54ad7234

[2016-09-08 18:20] joebayles commented on #1385
@jfrygeo is this still an issue?

@ACueva FYI

[2016-09-08 18:23] joebayles commented on #1391
Assigning to @kerryrobinson to verify.

[2016-09-08 18:29] joebayles commented on #1445
@ScottCecilio, what up wit dis?

[2016-09-08 18:30] joebayles commented on #1438
Per @phil7277: Delete the service, sir.

[2016-09-08 18:32] joebayles commented on #1493
@ScottCecilio do you still want this on the Ops Server?

[2016-09-08 18:32] ACueva commented on #1414
I deleted the Image Service and Portal Item.

@dfoll Please verify and close issue.

[2016-09-08 18:36] mfunk commented on #1495
Eric will give me access to template folder on server, I will compare list of template ZIPs to document links and see what needs to be created.

[2016-09-08 18:37] dfoll commented on #1414
i don't see it in the REST endpoint anymore

[2016-09-08 18:37] #1414 closed

[2016-09-08 18:42] joebayles commented on #1395
@topowright is this still an issue?

[2016-09-08 18:42] joebayles commented on #1394
@topowright did you assume this issue as well?

[2016-09-08 18:43] #1279 closed

[2016-09-08 18:45] joebayles commented on #1143
Closing because this is old.

[2016-09-08 18:45] #1143 closed

[2016-09-08 18:45] joebayles commented on #1136
Closing because this is old.

[2016-09-08 18:45] #1136 closed

[2016-09-08 18:45] mfunk commented on #1202
duplicate of #1143.... closing also.

[2016-09-08 18:45] #1202 closed

[2016-09-08 18:45] joebayles commented on #1135
Closing because this is old.

[2016-09-08 18:45] #1135 closed

[2016-09-08 18:46] joebayles commented on #1129
Closing because this is old.

[2016-09-08 18:46] #1129 closed

[2016-09-08 18:47] joebayles commented on #1114
Assigning to @karlterrey and @jrweakland to complete together.

[2016-09-08 18:48] joebayles commented on #1113
Assigning to @jrweakland and @karlterrey to complete together.

[2016-09-08 18:49] joebayles commented on #923
@kgonzago is this still an issue?

[2016-09-08 19:06] elinz commented on #1505
Changed owner of item 13fcc8aa26004629b6444599c7c7c953  to DemoIntelligence. Closing issue.

[2016-09-08 19:06] #1505 closed

[2016-09-08 19:10] elinz commented on #1438
Portal item ad4723bfec334906acdf77e4e32fe22a has been deleted. Closing issue.

[2016-09-08 19:10] #1438 closed

[2016-09-08 19:17] elinz commented on #1507
- Ownership of item c0d5b5d7c4b94b189ff3146567349cb4 was changed to @dfoll and he updated the description, summary, etc for this item.
-  I delete the item c9e065fe2b3c47d9bc1cec734affe711.
- I changed ownership of item c0d5b5d7c4b94b189ff3146567349cb4 to DemoIntelligence.

Closing issue.

[2016-09-08 19:17] #1507 closed

[2016-09-08 19:21] elinz commented on #1507
@dfoll I also changed ownership of the AnalyzeQueryFactors portal item be1e530f006f4a2b9f10036058d042f4 to DemoIntelligence.

[2016-09-08 19:40] jfrygeo opened #1513 "Please Release "Maritime Domain Awareness Dashboard" demo content for TEM"
@lfunkhouser @elinz The Maritime Domain Awareness Dashboard was previously released presentation that was used during 2016 UC DIS presentation. There were some issues with the shipping information not updating in the dashboard. These items were already released once and had been updating when a simulation file was set.

The issue with them not updating is that if you are running the GeoEvent simul

[2016-09-08 19:43] jfrygeo commented on #1492
@elinz WebMap shared with "DemoReview" group. Please change ownership for release

[2016-09-08 19:43] elinz commented on #1492
@jfrygeo I will close the issue when the item has been released.

[2016-09-08 19:45] jfrygeo commented on #1490
@elinz item shared to demo review group.

[2016-09-08 19:46] jfrygeo commented on #1489
@elinz item shared to demo review group.

[2016-09-08 19:47] jfrygeo commented on #1488
@elinz item shared to demo review group.

[2016-09-08 20:07] elinz commented on #1513
- Sample CSV File: 6b11665dc1924f6898a48a31a1f9ff15 - Already owned by DemoMilitary, updated 08 Sept 2016.

- [ ] "Maritime Domain Awareness" Operations Dashboard - I'm assuming it's 0845dd9f0ee74d66b504e62804d2c2c6, owned by @jfrygeo needs to be released as owner DemoMilitary

- [ ] "Maritime Domain Awareness" web map - 995d354c59694c01bbd1ff877441526a, owned by @jfrygeo  needs to be released as

[2016-09-08 20:13] elinz commented on #1513
@jfrygeo @lfunkhouser I will take care of this.

[2016-09-08 20:16] jfrygeo commented on #1488
Item removed from demo review group. Noticed that geofenced items are not updating. @pHill5136 In the dashboard (https://"portal"/arcgis/home/item.html?id=0845dd9f0ee74d66b504e62804d2c2c6), the geofenced items are not showing up. There are filters set on the shipping data that should populate lists in the dashboards. It looks like the geoevent service here https://"geoevent Server":6143/geoevent/m

[2016-09-08 20:20] dfoll commented on #1507
@elinz sounds good, thanks

[2016-09-08 20:55] elinz commented on #1513
@jfrygeo Based on #1488 I am not changing ownership of any of these items to DemoMilitary yet.

[2016-09-08 21:18] elinz commented on #1512
@kerryrobinson it's possible that these are really not causing a problem. Most, if not all of the Story Map applications reference a webmap that does not exist, however, when I click through all the "slides" on a couple of these apps I don't see a problem. One of the QC scripts we run finds these issues. You can find the references to the missing webmap through the portal sharing api. i.e. arcgis/

[2016-09-08 21:24] elinz commented on #1498
- [ ] Panga Boat Intelligence FS- 93b2bcccc17c486e92720f1059a8f1a2, change owner to DemoMilitary.
Panga Boat Intelligence MS - f83dc1f4959e4f4f85fc1e688c05160b, change owner to DemoMilitary.
Panga Boat Photograph 1 - 6bc0234bc77c4828a28746b8f51a0fe3, change owner to DemoMilitary.
Panga Boat Photograph 2 - b31a3859e24c4542b6546010a05b7723, change owner to DemoMilitary.
Panga Boat Smuggling WebMap -

[2016-09-08 21:26] mfunk commented on #1495
the plan:
1) Starting by getting a list of all template ZIP files on the server into Excel (211 ZIP files)
2) Filter the list by the latest version (there are multiple versions of the templates listed -- 75 ZIP files )
3) List to portal search for "type:Document" (ouch .... only 35 matches)
4) Check each item in step 3 and add the document link to Excel document
5) Look at the difference between l

[2016-09-08 21:35] elinz commented on #1498
@jfrygeo All 6 items requested to be released have been released, i.e. ownership has been changed to DemoMilitary; also unshared with Demo Review group.

Please verify and then close this issue. Thanks.

[2016-09-08 21:45] elinz opened #1514 "Add additional users to the exclude_users list in CopyItemToEachAccount.py"
- [x] We created two new accounts, Demonstration and ArcGISforDefense which will now contain the "Released" and "Demo" items. Add these two accounts to the exclude_users list so that the Tag excel spreadsheet item is not added to these two accounts.
- [x] Redeploy script to production server.
- [x] Remove tag items that exist in these portal accounts on the production server.
- [x] Rerun the sched

[2016-09-08 21:51] ACueva commented on #1479
@dfoll FYI

[2016-09-08 21:54] elinz commented on #1495
@mfunk Thank you

[2016-09-08 22:01] dfoll opened #1515 "Confirm latest PA Web installers are being used in the ops server scripts"
Making sure the latest PA Web .dlls are being used in the ops server script(s). I believe the services are good already, and because the services are good already, the .sd files should be of no concern, but making sure the .dlls needed for those services are installed with the ops server script(s). If you need if the most recent version of PA Web .zip is attached, the setup.exe is inside this .zip

[2016-09-08 22:02] elinz commented on #1514
Made fix in v.next. Closing this issue.

[2016-09-08 22:02] #1514 closed

[2016-09-08 22:02] dfoll commented on #1515
@ACueva

[2016-09-08 22:20] elinz commented on #1515
@dfoll @ACueva I am only including the ESRI.ArcGIS.GPAT.Web.Install.msi and setup.exe from the .zip file you referenced. I've already copied these files into our staging location for the software installer piece of the Ops Server release.

@dfoll Close issue whenever you are ready.

[2016-09-08 22:26] dfoll commented on #1515
exactly what i was hoping to hear. thanks @elinz

[2016-09-08 22:26] #1515 closed

[2016-09-08 22:47] elinz opened #1516 "Relocate EmergencyManagement IIS apps so they are not included in the release"
Move the following folder so Jenkins does not include it in the build:
c:\inetpub\wwwroot\SolutionsWeb\Apps\EmergencyManagement

[2016-09-08 23:26] elinz commented on #1389
@nfeuerstein I checked the portal and there are no items which reference the custom versions of CrowdSourceManager or CrowdSourceReporter apps under SolutionsWeb\Apps\NationalIntel so there is no reason to fix the issue with the external reference.

In fact, if you don't have any objections, I would like to move the files for these custom versions of the apps out of the SolutionsWeb folder so they

[2016-09-08 23:31] elinz commented on #1516
Moved this folder to TEM2016Release\SolutionsWeb_files_removed_from_release\Apps located on the production server. Closing the issue.

[2016-09-08 23:31] #1516 closed

[2016-09-08 23:33] elinz opened #1517 "Relocate zip files in IIS apps folder so they are not included in the release"
Move the following folder so Jenkins does not include it in the build:
c:\inetpub\wwwroot\SolutionsWeb\Apps\EmergencyManagement

[2016-09-08 23:34] elinz commented on #1517
Moved to folder TEM2016Release\SolutionsWeb_files_removed_from_release\Apps\NationalIntel\zips on the production server. Closing issue.

[2016-09-08 23:34] #1517 closed

[2016-09-09 00:57] mfunk commented on #1495
**WORKING LIST**

THE FOLLOWING NEED FULL DOCUMENT LINK **CREATED**:

- [ ] CompoundMap5.0.0.zip
- [ ] CoordinateConversionArcGISPro1.0.1.zip
- [ ] CoordinateConversionArcMap1.0.1.zip
- [ ] CoordinateConversionWAB1.0.0.zip
- [ ] DistanceAndDirectionArcGISPro1.0.0.zip
- [ ] DistanceAndDirectionArcMap1.0.0.zip
- [ ] HelicopterLandingZone_4.0.0.zip
- [ ] ImageChangeDetection2.0.1.zip
- [ ] ImageryBas

[2016-09-09 01:20] mfunk commented on #1495
HOW TO ADD A NEW LINK (Adapted from deleted page in OneNote 2016):

**How to Create a Document Link**

To create a document link for the NSEC TEM 2016 RELEASE:

1. Log into the server
1. Go to **My Content**
1. Select **Add Item** >> **From the web**
1. Select **Document** in the next dialog
	1. **URL:** This is the URL to the template on the server (https://"server"/Downloads/ArcGISforDefense/"te

[2016-09-09 12:42] lfunkhouser commented on #1198
This video will not be included in the Ops Server Release. Closing issue.

[2016-09-09 12:42] #1198 closed

[2016-09-09 14:12] mfunk commented on #1495
Starting on **CompoundMap5.0.0.zip**

[2016-09-09 14:44] mfunk commented on #1495
Starting on ** ImageChangeDetection2.0.1.zip**

[2016-09-09 15:24] mfunk commented on #1495
Starting on **CoordinateConversionArcGISPro1.0.1.zip**

[2016-09-09 15:48] mfunk commented on #1495
Starting on **DistanceAndDirectionArcGISPro1.0.0.zip** and **DistanceAndDirectionArcMap1.0.0.zip**.

These will go into ONE Document link with internal links to the separate downloads.

[2016-09-09 15:53] topowright commented on #1479
@dfoll there is nothing for you to do on this issue.

I have finished the instructions and placed them in the following folder:

2016_Q4\OPSServerInstall\WebAppBuilder\Widgets\

@elinz Please verify that the instructions are placed in the correct folder.

[2016-09-09 15:58] ScottCecilio commented on #1445
Items were removed from the Ops Server build as they are no longer needed.

[2016-09-09 15:58] #1445 closed

[2016-09-09 16:00] ScottCecilio commented on #1493
Yes I would like to keep this as it is being used with demonstrations for Land Ops as well as the AF demo.

[2016-09-09 16:02] mfunk commented on #1495
Starting on ** VisibilityArcGISPro1.0.0.zip** and **VisibilityArcMap1.0.0.zip**.

These will go into ONE Document link with internal links to the separate downloads.

[2016-09-09 16:20] mfunk commented on #1495
Starting on **CrossCountryMobility_3.0.0.zip**

[2016-09-09 16:22] pHill5136 commented on #1488
@jfrygeo is this affecting the ship position service?

[2016-09-09 16:27] mfunk commented on #1495
Starting on **HelicopterLandingZone_4.0.0.zip**.

[2016-09-09 16:30] jfrygeo commented on #1488
The ship position feature service is used with a few geofences in the "MaritimeOps-ShipPosition" GeoEvent service. When ships move into a certain region ("Area to be Avoided", "shipping lanes", "Proximity Alert,") a field calculator writes to a field and then in the dashboard, a list populates. The "Proximity Alert" feature service is created from military vessels and then the output is used as a

[2016-09-09 16:31] Dbarnes1 commented on #1495
@mfunk Starting on **ImageryBasemap3.0.0.zip**

[2016-09-09 16:40] jrweakland commented on #1407
@NatalieCampos - These services are under your account on NSEC. Do you plan on releasing them this ops server release?

[2016-09-09 16:41] joebayles commented on #1493
@nfeuerstein assigning you because it's release-related at this point... @lfunkhouser FYI

[2016-09-09 16:43] mfunk commented on #1495
Starting on **IncidentAnalysis5.0.0.zip**.

[2016-09-09 16:55] jfrygeo opened #1518 "Cannot overwrite existing service. Possible due to ownership of services."
Need to republish some services that GEE is using as geofences. Cannot republish services possibly due to ownership of the services. These services were published as the user "DemoMilitary" and now do not have rights as a publisher to overwrite the services.
![republishing](https://cloud.githubusercontent.com/assets/5074686/18395524/b6cd12f6-768c-11e6-8a39-4bfc1505ef47.JPG)

[2016-09-09 16:56] elinz commented on #1495
@mfunk Finished with GeonamesLocator4.1.1.zip

[2016-09-09 16:59] elinz commented on #1518
@jfrygeo You shouldn't attempt to overwrite a service you don't own. So what are the names of the services? You didn't mention it in the issue.

[2016-09-09 17:02] mfunk commented on #1495
Starting on **MilitaryAspectsofTerrain_1.0.0.zip**.

[2016-09-09 17:04] NatalieCampos commented on #1407
These services can be released.  They have been fully documented with permissions and all that is neccary for release.

[2016-09-09 17:07] elinz commented on #1518
@ACueva Assigning to you as I have to head out in a few minutes. Thanks.

[2016-09-09 17:33] mfunk commented on #1495
Starting on **PointofOriginDetection5.0.1.zip**.

[2016-09-09 17:35] NatalieCampos commented on #1412
All services are in working order.

[2016-09-09 17:35] #1412 closed

[2016-09-09 17:38] NatalieCampos commented on #1407
Talked to @jrweakland.  these will be released. Issue is being closed.

[2016-09-09 17:38] #1407 closed

[2016-09-09 17:40] jfrygeo commented on #1518
I own the service. - "Proximity Alert"

[2016-09-09 17:40] Dbarnes1 commented on #1495
@mfunk starting on **PredictiveAnalysisWeb1.1.0.zip**

[2016-09-09 17:42] jfrygeo commented on #1518
When the opsserver scripts published the content, it was published under "DemoMilitary." The services were transferred over to me so I could attempt to republish. Getting the error above when I try to republish the service.

[2016-09-09 17:55] mfunk commented on #1495
Starting on **RangeCards2.0.0.zip**.

[2016-09-09 18:25] Dbarnes1 commented on #765
remove from mosaic and have @jrweakland verify.

[2016-09-09 18:28] Dbarnes1 commented on #1506
Completed.

[2016-09-09 18:28] #1506 closed

[2016-09-09 18:30] Dbarnes1 commented on #1410
@dfoll - delete this service.

[2016-09-09 18:40] jfrygeo commented on #1518
I was able to republish the service after the service restart. Service is here https://"server"/ags/rest/services/Military/ProximityAlert/FeatureServer

[2016-09-09 18:40] #1518 closed

[2016-09-09 18:47] jfrygeo commented on #1488
republished "Proximity alert" feature service (https://"portal"/arcgis/home/item.html?id=478cbdd6f965408f9094ec5b33f0114d). The buffer is not being created.

[2016-09-09 18:53] Dbarnes1 commented on #1495
@mfunk @dfoll already created **PredictiveAnalysisWeb1.1.0**, I'm marking it as complete.

[2016-09-09 18:53] jfrygeo commented on #1488
@elinz could you transfer ownership of the "Maritime Boundaries" feature and map service so I can republish? I want to try and see if republishing the service could make the geofences work again.

- https://"portal"/arcgis/home/item.html?id=aa2c139f19f54f9ca92f6fce564aea1f

- https://"portal"/arcgis/home/item.html?id=bf3cca6ca1bb45dd903e3df969156bd0

[2016-09-09 19:01] mfunk commented on #1495
Starting on **ScannedMapsBasemap3.0.0.zip**.

[2016-09-09 19:43] jfrygeo opened #1519 "No Spatiotemporal Big Data Stores available in GeoEvent"
![nostbdsavailable](https://cloud.githubusercontent.com/assets/5074686/18400467/07456ce4-76a4-11e6-994f-9007ce541ef8.JPG)

Typically, the list of registered ArcGIS Server connections usually appears in this dialog.

[2016-09-09 19:48] mfunk commented on #1495
Starting on **SunPositionAnalysis_1.0.0.zip**.

[2016-09-09 19:52] elinz commented on #1488
@ACueva can you please change ownership? Thanks

-------- Original message --------
From: John Fry
Date:09/09/2016 11:54 AM (GMT-08:00)
To: Esri/ops-server-config
Cc: Eric Linz , Mention
Subject: Re: [Esri/ops-server-config] "Maritime Domain Awareness Dashboard" Operation View was previously released; should be this year? (#1488)

@elinz<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.

[2016-09-09 20:00] mfunk commented on #1495
Starting on **TimeSpanAnalysis2.0.0.zip**.

[2016-09-09 20:17] lfunkhouser commented on #1495
@mfunk There are 2 Compound Map doc links. One for previous version 4.0.0 exists id=1ebce832b268418aa2adda47ba766586 - this could be updated for the new version instead of creating an additional item, id=37c6d44fdb9f41c98dad95a0d42fb91e for version 5.0.0. Which one do you want to use/release?

[2016-09-09 20:21] Dbarnes1 opened #1520 "Execute Query Url is broken- WMS service will not add to map"
The Execute Query item threw a "URL issue" from the QC scripts. The WMS service isn't adding to the map. @dfoll since this item is an output of predictive analysis web I'm assigning you to offer insight/guidance on how this should be addressed.

Link to item: https://"portal"/arcgis/home/item.html?id=3f67a3ea9022445d969da5dc3a966127

[2016-09-09 20:24] mfunk commented on #1495
@lfunkhouser @ACueva @elinz

All of the document links that needed to be CREATED are done.

Next is to update existing ones. For that I either need someone to assign them to me or give me permissions to edit them directly.

[2016-09-09 20:27] mfunk commented on #1495
@lfunkhouser I cannot see 1ebce832b268418aa2adda47ba766586:

![image](https://cloud.githubusercontent.com/assets/3093182/18401782/14e345a0-7691-11e6-81f7-9f3e4495cc75.png)

[2016-09-09 20:39] jfrygeo commented on #1488
Republished Maritime Boundaries map/feature service. Will see if dashboard is updating with geofenced items.

[2016-09-09 20:40] NatalieCampos commented on #765
the slope rgb raster function has been removed from all relevant elevation services.

[2016-09-09 20:40] #765 closed

[2016-09-09 20:52] dfoll commented on #1520
@elinz not sure i can explain this as eloquently as @kAilshie did for me, but essentially this map service is the one used to display the results of running a particular instance of the gp service, which gets an "id" associated with it.  this portal item sorta points to nothing. on top of that, the workflow of adding this service to a map manually is not something we intend a user to do

i persona

[2016-09-09 20:53] dfoll commented on #1520
sorry for the nonsense blabber...
@elinz maybe this explanation directly from @kAilshie will make more sense...

[2016-09-09 21:02] mfunk commented on #1495
@lfunkhouser @ACueva @elinz

I've got permissions and have moved all of my Document links to **ReleasedMilitary**.

[2016-09-09 21:03] mfunk commented on #1495
Starting on **SolutionsGeoprocessingToolbox2.2.0.zip**.

[2016-09-09 21:17] mfunk commented on #1495
Starting on **DistancetoAssets2.0.1.zip**.

[2016-09-09 21:21] mfunk commented on #1495
Starting on **ClearingOperations5.0.1.zip**.

[2016-09-09 21:33] mfunk commented on #1495
Starting on **BeachLanding4.0.0.zip** owned by *ReleasedMilitary*.

@lfunkhouser can you delete or unshare your Document link to Beach Landing so we don't confuse it with the "fixed" one?

[2016-09-09 21:38] mfunk commented on #1495
Starting on **GeoMessageSimulator1.0.0Windows-x64.zip**.

[2016-09-09 21:41] Dbarnes1 commented on #1495
@mfunk starting on **LodgmentPlanning5.0.0.zip**

[2016-09-09 21:44] jrweakland opened #1521 "Foundation Data Journal: References web map item that does not exist"
item id:5cd903df8c235d9584f77bad9be47222

is missing a web map. id:4d0831d928eb426da87e25ae54ad7234

[2016-09-09 21:47] mfunk commented on #1495
Starting on **VehicleCommander4.1.1Windows-x64.zip**.

[2016-09-09 21:48] Dbarnes1 commented on #1495
Fixed **LodgmentPlanning5.0.0.zip** There is a document link for this template that is owned by @lfunkhouser, can you remove/hide this?

[2016-09-09 21:50] Dbarnes1 commented on #1495
@mfunk starting on **NationalSecurityBasemaps2.0.1.zip**

[2016-09-09 21:56] Dbarnes1 commented on #1495
@mfunk starting on **RangeDomeAnalysis3.0.0.zip**

[2016-09-09 22:02] Dbarnes1 commented on #1495
@mfunk starting on **VehicleCommander4.1.1Windows-x64.zip**

[2016-09-09 22:03] mfunk commented on #1495
@Dbarnes1 Negative.... I'm already on Vehicle Commander....

[2016-09-09 22:13] ACueva commented on #1519
Had to re-validate the data store.  Looks like it came back up. @jfrygeo assigning it back to you to close if issue has been resolved.
![9-9-2016 3-12-06 pm](https://cloud.githubusercontent.com/assets/3093940/18404522/d68fdbe2-769f-11e6-9ff5-947fea5193c9.jpg)

[2016-09-09 22:15] mfunk commented on #1495
@topowright it seems there is only one **Visibility and Range** document link. I'm going to update it and send it to *ReleasedMilitary*.

Starting on **VisibilityAndRange5.0.0.zip**.

[2016-09-09 22:21] mfunk commented on #1495
@lfunkhouser Done with updating the document links.

[2016-09-09 22:24] lfunkhouser commented on #1495
The beach landing template owned by lfunkhouser is not intended to be released. The one owned by ReleasedMilitary should be the item that gets updated if needed.

[2016-09-09 22:30] ACueva commented on #1385
Looks like the issue is a missing "arcgis" in the URL.  For some reason, once you follow @jfrygeo 's workflow, it works.  Suggest we see if this behaviour occurs at latest release.

[2016-09-09 22:37] dfoll commented on #1410
i have taken personal ownership of this item and unshared it (instead of deleting, just in case, we find out we need it back for some reason, then it's still around for a couple days).

@ircampbell @kAilshie in the PA webmap i replaced this layer with the global elevation layer that @NatalieCampos recommends we use

[2016-09-09 22:37] #1410 closed

[2016-09-09 22:42] ACueva commented on #1076
I was able to reproduce this issue yet again.  This item is owned by @eogden.  It's not going to be released as a part of the TEM.  Moving to Version - After Next.

[2016-09-10 01:11] elinz commented on #1520
To my knowledge the errors thrown on WMS Urls are not really issues.

-------- Original message --------
From: Daniel Barnes
Date:09/09/2016 1:22 PM (GMT-08:00)
To: Esri/ops-server-config
Subject: [Esri/ops-server-config] Execute Query Url is broken- WMS service will not add to map (#1520)

The Execute Query item threw a "URL issue" from the QC scripts. The WMS service isn't adding to the map. @df

[2016-09-11 02:44] elinz opened #1522 "InstallGuide: move uninstall ArcGIS Data Store before uninstall ArcGIS Server"
...in Uninstall Software section

[2016-09-11 22:37] elinz opened #1523 ""GeoEventData" Geoevent folder data store points to incorrect folder"
It used to point to C:\OpsServer\GeoEventData. Now it point to D:\geoeventdata.

@pHill5136 @adgiles I'm not sure if this error was introduced by importing a geoevent xml config. FYI. We shouldn't import any xml configs for adding new geoevent services as there is pontential for "wiping out" existing services/data stores/etc. I'm going to reset the folder to C:\OpsServer\GeoEventData

[2016-09-11 22:42] elinz opened #1524 "Geoevent folder data store that points to c:\data no longer exists"
Up until a week or so ago we had a folder data store on the Geoevent server that referenced the folder C:\Data. This data store does not exist any more.

Not sure what's going on here. Can you look into this please?

[2016-09-11 22:44] elinz commented on #1523
Reset the data store to point to C:\OpsServer\GeoEventData. Closing issue.

[2016-09-11 22:44] #1523 closed

[2016-09-11 22:51] elinz commented on #1504
I was able to delete the service Military\Military_Overlay_Pro1dot3. Issue was probably fixed during server restart. Closing this issue.

[2016-09-11 22:51] #1504 closed

[2016-09-11 22:56] elinz commented on #1479
Instructions and widgets placed in correct folder. Closing issue.

[2016-09-11 22:56] #1479 closed

[2016-09-11 22:58] elinz opened #1525 "InstillGuide: Update the Geoevent data store section based on final configuration of GEE"

[2016-09-12 14:03] kgonzago commented on #923
@joebayles I reached out to @Nekillims but never got a response. Both widget and template are configurable to allow users to supply their own custom elevation profile service. This issue can be closed.

[2016-09-12 15:03] jrweakland commented on #923
Nekillims is Sandy Milliken - so I understand why you did not get a response.

[2016-09-12 15:36] dfoll commented on #1520
@elinz ... sounds like we can close this then?

[2016-09-12 15:40] joebayles commented on #923
Closing based on feeback from @kgonzago.

[2016-09-12 15:40] #923 closed

[2016-09-12 16:08] elinz opened #1526 "Service Military\Mil2525CWeb map service does not have a service definition file"
Without a service definition file this non-hosted service can't be published to an Ops Server. Based on the name of the service, I'm assuming this has military symbology so it was published from Pro as a non-hosted service so it will need to be manually published by people setting an Ops Server

@Dbarnes1 Will this service be a part of this Ops Server Release? If yes, are you creating the document

[2016-09-12 16:30] Dbarnes1 commented on #1526
@elinz I just deleted this service and the associated portal items, so it should be gone now. The documentation I've included goes over how to publish services from Pro from scratch, as that workflow will be easier than re-pointing their data to existing services.

[2016-09-12 16:38] elinz commented on #1526
@Dbarnes1 Thanks. I will close this issue.

[2016-09-12 16:38] #1526 closed

[2016-09-12 16:59] pHill5136 commented on #1524
@elinz Not sure why this was deleted or how/ by whom??? I looked at an older config and the c:/data path is paired with a data store named 'Data'. I restored the data store in GEE.

[2016-09-12 17:22] elinz commented on #1520
@dfoll I'm going to delete the portal item 3f67a3ea9022445d969da5dc3a966127 since the map service json doesn't references any portal items so it's not necessary to have any portal items for this. I'm also going to delete the map service item b741ffa9eb41415daf4cff1023491be1 since it's not needed.

[2016-09-12 17:23] jrweakland commented on #1114
Completed on 09/12/2016

[2016-09-12 17:23] #1114 closed

[2016-09-12 17:23] jrweakland commented on #1113
Completed on 09/12/2016

[2016-09-12 17:23] #1113 closed

[2016-09-12 17:25] elinz commented on #1520
@dfoll Deleted these two portal items. Closing this issue.

[2016-09-12 17:25] #1520 closed

[2016-09-12 17:33] elinz opened #1527 ""Mission Report" Geoform web map app does not open"
item 4ab19d716e4442daaacf006fdeb52677 Mission Report throws the following error when it's opened:

Unable to create map: Form layer does not exist. Please configure the application and set the layer.

Note: this app is being consumed by the "Geospatially Enabled the Intelligtence Collector (Map Journal)" web map app (story map) - cf92fbb86028410cbdd84947d7e7a56a

[2016-09-12 18:14] elinz opened #1528 ""Maritime Domain Awareness" web map references URL that I can't access"
web map 995d354c59694c01bbd1ff877441526a references the url...
http://geo.weather.gc.ca/geomet/?lang=E

When I access this url I receive an error that this site can't be reached.

[2016-09-12 18:16] elinz opened #1529 ""Meteorological Service of Canada (MSC) GeoMet Geospatial Web Services" WMS url doesn't respond"
WMS service item 14808ff0a2f94601a02711d78f824ae9 references the url...
https://geo.weather.gc.ca/geomet/?lang=E&service=WMS&request=GetCapabilities

When I access is a browser I receive an error that that the site can't be reached.

[2016-09-12 18:21] topowright commented on #1527
@elinz I have finished my work and turn back on the service. This should be working now. Please verify.

[2016-09-12 18:26] topowright commented on #1493
This item (c48bdb0b6d2f4dfea70f39b048a3ceb7) owned by @conklinbd  can be deleted. The released version of this app has the following id: 4ab19d716e4442daaacf006fdeb52677

[2016-09-12 18:26] topowright commented on #1493
I will delete this app.

[2016-09-12 18:27] elinz opened #1530 ""Apps Journal" story map referenc es web map item that does not exist"
a0944c6a2b4f4847863af010461c24a5 references web map item fd0831d938eb426da87e25ae54ad7234 that does not exist.

[2016-09-12 18:29] topowright commented on #1395
This issue has been fixed. The issue was in referance to the Domains not working properly. This can now be confirmed in the GeoForm with the following id:4ab19d716e4442daaacf006fdeb52677.

[2016-09-12 18:31] topowright commented on #1395
This has been fixed and was verified by @Dbarnes1

[2016-09-12 18:31] #1395 closed

[2016-09-12 18:32] topowright commented on #1394
This has been fixed and verified by @Dbarnes1

[2016-09-12 18:32] #1394 closed

[2016-09-12 18:32] elinz opened #1531 "Web Mapping App "Platform Journal" references a web map item that does not exist"
Web map app c7bb0e2ef81a42eebbb5d6d50c0a9dc3 owned by DemoNationalSecurity...

ERROR: References web map item that does not exist: fd0831d938eb426da87e25ae54ad7234

[2016-09-12 18:33] elinz opened #1532 "Web Mapping App "Web Maps Journal" references a web map item that does not exist"
Web map app 47a2a3b4659b41c08e6029353eb7b272 owned by DemoNationalSecurity...

ERROR: References web map item that does not exist: fd0831d938eb426da87e25ae54ad7234

[2016-09-12 18:35] topowright commented on #1493
I have pushed this item to demointelligence

[2016-09-12 18:35] topowright commented on #1493
@elinz please verify.

[2016-09-12 18:35] elinz opened #1533 "Web Mapping App "Web GIS Journal" references a web map item that does not exist"
Web map app bd0655c6fcb94310b78628a805749227 owned by DemoNationalSecurity...

ERROR: References web map item that does not exist: 92bde83d826941a3919cc8fcacf68be8

[2016-09-12 18:36] elinz opened #1534 "Web Mapping App "Analysis Journal" references a web map item that does not exist"
Web map app a42cb66b46a14c519b0db70b6f0d5437 owned by DemoNationalSecurity...

ERROR: References web map item that does not exist: fd0831d938eb426da87e25ae54ad7234

[2016-09-12 18:40] topowright commented on #1494
@elinz  This item is now owned by releasedmilitary. Please verify

[2016-09-12 18:42] elinz commented on #1527
@topowright I verified that this is now working. I am closing issue. Thank you.

[2016-09-12 18:42] #1527 closed

[2016-09-12 18:43] elinz commented on #1524
@pHill5136 I verified that is was fixed. I'm closing the issue. Thank you.

[2016-09-12 18:43] #1524 closed

[2016-09-12 18:44] pHill5136 commented on #1488
@jfrygeo I have it writing out to proximity buffers. I turned off the delete features in the output because features were getting deleted every 20 seconds because the datetime coming in from the simulation is stale. Can you verify whether the proximity buffers are working now?

[2016-09-12 18:45] elinz commented on #1494
@topowright I verified that is item is now owned by ReleasedMilitary. I'm closing this issue. Thank you.

[2016-09-12 18:45] #1494 closed

[2016-09-12 18:46] elinz commented on #1493
@joebayles @topowright I verified that is item is now owed by DemoIntelligence. I'm closing this issue. Thanks.

[2016-09-12 18:46] #1493 closed

[2016-09-12 19:08] jfrygeo commented on #1519
I was able to create a spatiotemporal big data store using the "default" connection as it was the only one that was showing up.

[2016-09-12 19:09] elinz commented on #1519
@ACueva @jfrygeo The "default" data store entry should not have been used for the Spatiotemporal Big Data Stores "connection". I had created the data store "OpsServer-Portal-SpatioTemporal" and assigned to the Big Data stores in the past for this purpose. I just registered the "OpsServer-Portal-SpatioTemporal" data store and now it shows up in the list of big data store connections. But haven't se

[2016-09-12 19:15] jfrygeo commented on #1529
I am able to see the WMS layer in a web map for the item Meteorological Service of Canada (MSC) GeoMet Geospatial Web Services:

https://"Portal"/arcgis/home/item.html?id=14808ff0a2f94601a02711d78f824ae9

Please verify service works in a web map.

[2016-09-12 19:20] elinz commented on #1519
@jfrygeo @ACueva I went ahead and changed the connection to use "OpsServer-Portal-SpatioTemporal" data store. Going to talk to geoevent team to see if there is any problem changing the connection after the big data store data sources have been created.

[2016-09-12 19:21] jfrygeo commented on #1528
I can see the information from that WMS service in a web map. When trying to access this URL from a browser:

https://geo.weather.gc.ca/geomet/?lang=E&service=WMS&request=GetCapabilities

You cannot reach it, but adding the WMS url in a web map the information shows up properly.

Please test URL in a web map and close issue. Very similar to issue #1529

[2016-09-12 19:25] jfrygeo commented on #1519
I haven't loaded any data yet. I can delete the current map/feature services and create new ones with the "OpsServer-Portal-SpatioTemporal" connection.

[2016-09-12 19:37] jfrygeo commented on #1519
Created map services/feature services with the "OpsServer-Portal-SpatioTemporal" connection.

[2016-09-12 19:37] elinz commented on #1519
@jfrygeo Talking with the geoevent team it does not appear that the Big Data Store data sources store the "alias" of the data store connection that was used in the Manage Spatiotemporal Big Data Stores. If you think it's safer to delete and recreate the new data sources now that I changed it to use "OpsServer-Portal-SpatioTemporal" connection please feel free.

[2016-09-12 19:38] elinz commented on #1519
@jfrygeo ok. Thanks. I will go ahead and close this issue.

[2016-09-12 19:38] #1519 closed

[2016-09-12 19:44] elinz opened #1535 ""SpatialTemporalBDS" folder data store is not needed"
The "SpatioTemporalBDS" folder data store references the folder c:\data\SpatioTemporalBDS. There is already a data store named "Data" which references the C:\data folder so creating a separate data store entry for the SpatioTemporalBDS subfolder is unnecessary. Probably when you created the "SpatioTemporalBDS" data store entry the "Data" was didn't exist. For some reason it was deleted I think som

[2016-09-12 19:47] elinz commented on #1529
@jfrygeo I will close this issue. Thanks.

[2016-09-12 19:47] #1529 closed

[2016-09-12 19:49] jfrygeo commented on #1535
I think @ACueva  created this folder ("GeoeventServer"\SpatioTemporalBDS\Shipping) so I am able to drop some AIS data into it. Lets keep this as I just transferred some csvs there.

[2016-09-12 19:52] elinz commented on #1535
@jfrygeo Having the folder C:\data\SpatioTemporalBDS\Shipping isn't a problem it's that we have an unneeded data store called "SpatioTemporalBDS". The "Data" data store references the C:\data folder so there is no need to create other data store entries that reference sub folders to the C:\data folder.

[2016-09-12 19:56] elinz commented on #1535
@jfrygeo Closing this issue.

[2016-09-12 19:56] #1535 closed

[2016-09-12 19:56] jfrygeo commented on #1498
Verified.

[2016-09-12 19:56] #1498 closed

[2016-09-12 20:00] elinz commented on #1528
@jfrygeo Tried to add new wms service using this url ( https://geo.weather.gc.ca/geomet/?lang=E&service=WMS&request=GetCapabilities) in a web map and received the following error:

"The WMS service, https://geo.weather.gc.ca/geomet/?lang=E, cannot be added to the map. It is either not available or you have entered an invalid URL for the type of layer you want to reference."

[2016-09-12 20:02] elinz commented on #1503
@ACueva Closing issue since screen output is captured in the Jenkins console output log.

[2016-09-12 20:02] #1503 closed

[2016-09-12 20:07] jfrygeo opened #1536 "Duplicate Items on Portal / Please delete the following"
The following items have been released:

Panga Boat Intelligence FS- 93b2bcccc17c486e92720f1059a8f1a2
Panga Boat Intelligence MS - f83dc1f4959e4f4f85fc1e688c05160b
Panga Boat Photograph 1 - 6bc0234bc77c4828a28746b8f51a0fe3
Panga Boat Photograph 2 - b31a3859e24c4542b6546010a05b7723
Panga Boat Smuggling WebMap -55e63ff71694417e8cef863ffe7f7122
Panga Boat Smuggling Web App - 9342dd42160943aa9c2e76fa0

[2016-09-12 20:09] elinz commented on #1536
- [ ] Panga Boat Smuggling - 288c9305f2024c138f6a62bf5d0e7593
- [ ] Estimated Departure Region -edd2973b115e4c95a8c2dccb7630cc71
- [ ] Panga Boat Locations web map- e862816421f443b489d24a4c4254dcdb
- [ ] Panga_Boat_Ranges web map - 2bb1f05bb9d54c2ea2615c7c92d0645c
- [ ] Historic Smuggling Route FS - cd6de56aa82a4fe38ac5e7558f8af548
- [ ] Historic Maritime Drug Smuggling Routes - cd172aa6ea77463487

[2016-09-12 20:14] elinz commented on #1536
@jfrygeo Done. Deleting this content. Closing issue.

[2016-09-12 20:14] #1536 closed

[2016-09-12 20:16] elinz commented on #1513
@jfrygeo What is the status? Is all content ready to go? I know you were having a problem with #1488 . Thanks.

[2016-09-12 20:26] jfrygeo commented on #1488
@phil7277 Good work. Geofences working, shipping updating.

@elinz please release the following components of this demonstration:

-Maritime Boundaries map service-aa2c139f19f54f9ca92f6fce564aea1f
-Maritime Domain Awareness Web Map - 995d354c59694c01bbd1ff877441526a
-Maritime Domain Awareness Dashboard - 0845dd9f0ee74d66b504e62804d2c2c6
-ProximityAlert FS- 478cbdd6f965408f9094ec5b33f0114d
-Proximi

[2016-09-12 20:29] jfrygeo commented on #1513
All good to go for release. Please close out #1488 #1489 #1490 #1492 #1528

[2016-09-12 20:30] elinz commented on #1488
- [ ] Maritime Boundaries map service-aa2c139f19f54f9ca92f6fce564aea1f
- [ ] Maritime Domain Awareness Web Map - 995d354c59694c01bbd1ff877441526a
- [ ] Maritime Domain Awareness Dashboard - 0845dd9f0ee74d66b504e62804d2c2c6
- [ ] ProximityAlert FS- 478cbdd6f965408f9094ec5b33f0114d
- [ ] ProximityAlert MS- 5463afdb5cb8475689997dd07eb0d57b

[2016-09-12 20:38] elinz commented on #1488
NOTE: ownership of Maritime Boundaries feature service item bf3cca6ca1bb45dd903e3df969156bd0 associated with map service item aa2c139f19f54f9ca92f6fce564aea1f had been previously changed to DemoMilitary.

Changed ownership of the specified items to DemoMilitary. Closing this issue.

[2016-09-12 20:38] #1488 closed

[2016-09-12 20:40] elinz commented on #1489
Item was released; now owned by DemoMilitary. Closing issue.

[2016-09-12 20:40] #1489 closed

[2016-09-12 20:41] elinz commented on #1490
Item has been released. Now owned by DemoMilitary. Closing issue.

[2016-09-12 20:41] #1490 closed

[2016-09-12 20:43] elinz commented on #1492
Item has been released. Now owned by DemoMilitary. Closing issue.

[2016-09-12 20:43] #1492 closed

[2016-09-12 20:46] elinz commented on #1513
Closing this issue. Items have been released. Ownership changed to DemoMilitary.

[2016-09-12 20:46] #1513 closed

[2016-09-12 21:02] elinz commented on #1528
@jfrygeo Haven't been able to add the WMS url to a web map. Each attempt has thrown errors. I'm going to go ahead and close this issue since you have been able to get this to work.

[2016-09-12 21:02] #1528 closed

[2016-09-12 21:05] elinz commented on #1086
@ACueva I'm closing this issue as the geoevent hotfix and patch was for 10.3.1 release.

[2016-09-12 21:05] #1086 closed

[2016-09-12 21:05] elinz commented on #938
@ACueva This does not apply for the 10.4.1 release. I'm closing this issue.

[2016-09-12 21:05] #938 closed

[2016-09-12 22:14] ACueva commented on #1481
TODO: verify EM4O is being copied over correctly.

[2016-09-12 22:22] jfrygeo opened #1537 "Please share hosted feature services from the BDS user"
@elinz Can you share the following feature and map services so I can use them in a web application. It is not letting me share them.

-AISHistoric FS - 6eaba7e4813c4dc9a85927d6a9ef44b9
-AISHistoric MS - 3fa6248067ca4fca8dca79b51b4b31fb
-AISHistoricSOGMin - a8373a48c8754829af429681a1dd3eae

[2016-09-12 22:22] ACueva commented on #1441
TODO: Demonstration and ArcGISforDefense

[2016-09-12 22:39] ACueva commented on #1292
Software folder was updated.  Included version 1.3, 1.3.1.

[2016-09-12 22:39] #1292 closed

[2016-09-12 22:40] ACueva commented on #1291
Folder exists as listed above.

[2016-09-12 22:40] #1291 closed

[2016-09-12 23:02] ACueva commented on #1287
Removing the files from the release build included on the USB drive.  In addition, different copy tool is used for install (RoboCopy)

[2016-09-12 23:02] #1287 closed

[2016-09-12 23:03] ACueva commented on #1243
Closed, same issues as #1287

[2016-09-12 23:03] #1243 closed

[2016-09-12 23:03] ACueva commented on #1290
Done.

[2016-09-12 23:03] #1290 closed

[2016-09-12 23:06] ACueva commented on #1230
Verified.

[2016-09-12 23:06] #1230 closed

[2016-09-12 23:17] ACueva commented on #1106
CopySD build script modified to include ${build.users.toextract} variable.

[2016-09-12 23:17] #1106 closed

[2016-09-12 23:34] ACueva commented on #908
Automated copying of "c:\data" folder on GEE.  We had to copy c:\data and c:\OpsServer\GeoEventData due to people putting files all over the place.

[2016-09-12 23:38] ACueva commented on #829
Database is being copied.

[2016-09-12 23:38] #829 closed

[2016-09-13 00:26] elinz commented on #1537
@jfrygeo I have shared these items with Everyone.

[2016-09-13 00:30] elinz commented on #1537
@jfrygeo Just making sure. Did you write up instructions on how to republish these services as these services can't be automatically republished. Thanks.

[2016-09-13 00:31] elinz commented on #1537
Closing issue.

[2016-09-13 00:31] #1537 closed

[2016-09-13 00:32] elinz commented on #1389
@nfeuerstein Is it ok to remove these apps from the SolutionsWeb\Apps\NationalIntel IIS folder?

[2016-09-13 00:41] elinz opened #1538 "InstallGuide: Update number of portal named users need for this release."
These release we are merging content from the previous Demo accounts and the Released accounts into just two accounts, Demonstration and ArcGISforDefense. So the minimum number of named users will drop from 10 to 5 (Domonstration, ArcGISforDefense, the admin account and the end user will probably want a couple of extract named users.

[2016-09-13 01:40] elinz commented on #1534
Discussed issue with Kerry. If the app opens and each "tab" of the story app works then the missing web map item is not an issue. Tested web map app and missing web map item appears not to be a problem. Closing issue.

[2016-09-13 01:40] #1534 closed

[2016-09-13 01:42] elinz commented on #1533
Discussed issue with @kerryrobinson. If the app opens and each "tab" of the story app works then the missing web map item is not an issue. Tested web map app and missing web map item appears not to be a problem. Closing issue.

[2016-09-13 01:42] #1533 closed

[2016-09-13 01:43] elinz commented on #1532
Discussed issue with @kerryrobinson. If the app opens and each "tab" of the story app works then the missing web map item is not an issue. Tested web map app and missing web map item appears not to be a problem. Closing issue.

[2016-09-13 01:43] #1532 closed

[2016-09-13 01:44] elinz commented on #1531
Discussed issue with @kerryrobinson. If the app opens and each "tab" of the story app works then the missing web map item is not an issue. Tested web map app and missing web map item appears not to be a problem. Closing issue.

[2016-09-13 01:44] #1531 closed

[2016-09-13 01:45] elinz commented on #1530
Discussed issue with @kerryrobinson. If the app opens and each "tab" of the story app works then the missing web map item is not an issue. Tested web map app and missing web map item appears not to be a problem. Closing issue.

[2016-09-13 01:45] #1530 closed

[2016-09-13 01:46] elinz commented on #1512
Discussed issue with @kerryrobinson. If the app opens and each "tab" of the story app works then the missing web map item is not an issue. Tested web map app and missing web map item appears not to be a problem. Closing issue.

[2016-09-13 01:46] #1512 closed

[2016-09-13 01:47] elinz commented on #1511
Discussed issue with @kerryrobinson. If the app opens and each "tab" of the story app works then the missing web map item is not an issue. Tested web map app and missing web map item appears not to be a problem. Closing issue.

[2016-09-13 01:47] #1511 closed

[2016-09-13 01:48] elinz commented on #1510
Discussed issue with @kerryrobinson. If the app opens and each "tab" of the story app works then the missing web map item is not an issue. Tested web map app and missing web map item appears not to be a problem. Closing issue.

[2016-09-13 01:48] #1510 closed

[2016-09-13 01:49] elinz commented on #1508
Discussed issue with @kerryrobinson. If the app opens and each "tab" of the story app works then the missing web map item is not an issue. Tested web map app and missing web map item appears not to be a problem. Closing issue.

[2016-09-13 01:49] #1508 closed

[2016-09-13 01:53] elinz commented on #1521
id is 5cd903df8c23**_4_**d9584f77bad9be47222.

Discussed issue with @kerryrobinson. If the app opens and each "tab" of the story app works then the missing web map item is not an issue. Tested web map app and missing web map item appears not to be a problem. Closing issue.

[2016-09-13 01:53] #1521 closed

[2016-09-13 01:57] elinz opened #1539 "Receiving error about elevation service is some web scenes"
When accessing the web map app faef542a74e141398c05c43379a67004 and select the 2nd page in the "Web Maps" tab the following error is thrown:

Basemap is not supported
Service NationalIntelligence/WorldElevationCache/ImageServer not found