[2015-07-13 21:02] topowright opened #905 "Observation Reports updated or created in ArcGIS are not being updated in Mark Logic"
Due to Global ID conflicts data created in ArcGIS cannot be added to Mark Logic. if it is added to Mark Logic there will be a ping pong affect. @conklinbd @pHill5136.

[2015-07-13 21:04] topowright commented on #904
@conklinbd @pHill5136 Is this a schema problem? If so can we identify this? They have 885 records right now that are the same records that we have in our database. I would think those points would populate properly and they are also coming over as Null. That is why I think this is a schema issue

[2015-07-13 21:05] topowright commented on #904
Here is a link to the service that we are populating

https://nsec.esri.com/ags/rest/services/NationalIntelligence/ObservationReportsML/FeatureServer

[2015-07-13 21:05] jfrygeo commented on #895
I have validated:
<li>Shipping feature service updating with local GEE simulator
<li>Fences seem to working in Dashboard
<li> Updates coming through in Dashboard
<li> Monitor is acting appropriately

[2015-07-13 21:09] pHill5136 commented on #904
The call to the obi rest endpoint does not return all of the attributes. The only attribute that is returned that maps to ArcGIS is geometry. Dave has to program their service to return the other fields.  They exist in the obi db the rest endpoint just doesn't pass them back when a rest query occurs. Once he has those fields returned we might have to modify the incoming geoevent definition to matc

[2015-07-13 21:13] topowright commented on #904
Dave Grant and I will discuss the updates that we need from Mark Logic tomorrow morning.

[2015-07-13 22:03] joebayles commented on #890
At a minimum,

|Military|Intelligence|
|:---:|:---:|
|Command|Foundation Management|
|Administration|Collection and Integration|
|Intelligence|Exploitation and Analysis|
|Operations|Information Sharing|
|Sustainment||

@jrweakland? @nfeuerstein?

[2015-07-13 22:14] conklinbd commented on #894
@topowright I had to recreate the SD file. The one you provided did not have feature access enabled. Additionally, the layer order was changed because a group layer was added. For future work we should use immutable IDs.

The SD file is created and published on mini01. Need to publish to all other servers.

[2015-07-13 22:54] conklinbd opened #906 "Message Simulation directory is a mix of old and new simulations"
The Message Simulation folder seems to be a mix of old and new simulation files. We need to clean it up to only be the current valid simulation files and the batch script for launching the simulation needs to be updated.

[2015-07-13 23:01] pHill5136 opened #907 "Need geoevent services for sustainment"
@abrowning80 @helyx-rterry @joebayles

We need to get geoevent services and valid service definitions with the exact name of the <_type> tag for geoevent definitions coming into the geomessage adapter. Any fields that don't match on the incoming definition will be dropped by the geomessage input connector.

[2015-07-14 00:27] abrowning80 commented on #907
Looking into this in the next 24 hrs.

[2015-07-14 02:39] jrweakland commented on #890
:+1:

[2015-07-14 02:46] jrweakland commented on #903
@joebayles

[2015-07-14 02:47] abrowning80 commented on #903
@elinz @jrweakland This should now all be sorted once I republish what I have got, need to try in next 24hrs

[2015-07-14 03:55] jrweakland commented on #903
:+1:

[2015-07-14 03:58] jrweakland commented on #902
@joebayles

[2015-07-14 04:04] jrweakland commented on #901
@joebayles

[2015-07-14 04:05] jrweakland commented on #882
:+1:

[2015-07-14 04:23] jrweakland commented on #893
@elinz - I have noticed that sometimes when I create a service I get something similar to the image. But if I refresh the page, the item displays as expected. Think that might be related?

[2015-07-14 04:27] jrweakland commented on #879
@CraigCleveland

[2015-07-14 04:28] jrweakland commented on #881
@CraigCleveland

[2015-07-14 04:28] jrweakland commented on #880
@CraigCleveland

[2015-07-14 13:03] CraigCleveland commented on #879
@elinz @jrweakland This service has been deleted. I believe it was "leftover" from initial publishing attempts, which were all failing, so I subsequently went the hosted route which work successfully.

[2015-07-14 13:07] CraigCleveland commented on #881
@elinz @jrweakland The ability to publish hosted tile services from ArcGIS Desktop was not possible during the publishing process.  Both myself and Avi could not remedy the issue when we were looking into it.  To that end I published the hosted feature services and generated the tiles from there.  I'll re-work the web maps to just consume the feature services and deal with the performance issues..

[2015-07-14 13:08] CraigCleveland commented on #880
@elinz @jrweakland Ditto to previous comment.  Will re-work the web maps as a workaround for this release.

[2015-07-14 13:15] elinz opened #908 "Jenkins build server: Rename OPSServerInstall\Geoevent\Data folder"
Change name of folder "Data" to "GeoEventData" in the folder OPSServerInstall\Geoevent.

With new structure on the dev GEE server we need to call the this folder "GeoEventData" otherwise the import of the xml configuration will fail on an import.

[2015-07-14 13:22] elinz opened #909 "Install guide: Modify "Configure Geoevent for Ops Server" section for latest GEE"
"Copy the Ops Server enrichment files and jar files to your server" step (dependent on #908):
- [x] Change reference from "OPSServerInstall\Geoevent\Data" folder to "OPSServerInstall\Geoevent\GeoEventData".
- [x] Change reference from "...on your external drive to C:\Data" to "...on your external drive to "C:\OpsServer\GeoEventData".

@elinz NOTE: Need to add other modifications to doc for GEE

[2015-07-14 14:57] kgonzago commented on #784
@elinz: @ACueva republished the GP service - https://app.asana.com/0/23019535413942/28389452384457/f

[2015-07-14 15:30] elinz commented on #784
@kgonzago I looked into this a bit further. While the .sd file does exist on the server the .sd file states that the service exists in the root folder and not in the Military folder, therefore when the sd extract script compares the services on the server and the .sd files to see if a .sd files exist for this service it can't find it since the .sd file is incorrect. The service needs to be republi

[2015-07-14 15:30] elinz commented on #784
@kgonzago Reopened as the issue is not fixed.

[2015-07-14 19:25] conklinbd commented on #906
@pHill5136 this needs to be done today.

[2015-07-14 19:25] conklinbd commented on #904
@topowright is there progress on this?

[2015-07-14 19:27] conklinbd commented on #895
@pHill5136 so is this complete?

[2015-07-14 19:29] conklinbd commented on #826
@jrweakland I believe this was incorrectly assigned to this milestone.

[2015-07-14 19:41] conklinbd commented on #907
@pHill5136, @joebayles, @jrweakland @abrowning80 @helyx-rterry

As I discussed with @abrowning80 today this is a nice to have, not a must have.
This is a major project that should have been planned properly and not just tried to shoe horn in at the last minute.

If you guys can do this, I hope you realize that you need to do it on multiple servers since the content has already been copied.
We will

[2015-07-14 20:54] pHill5136 commented on #895
Juat waiting on Aidan to get Sustainment stuff. Everything else looks good.

[2015-07-14 21:01] pHill5136 commented on #906
This is complete. Eric will put the new batch on the UC servers.

[2015-07-14 21:09] elinz opened #910 "Delete the "Tag Library" items from all UC machines"

[2015-07-14 21:25] pHill5136 commented on #904
Just tested this. All attributes are coming over. I had to change the incoming geoevent definition for a few of the attributes to match the names of attribute fields as they are returned by obi.

[2015-07-14 22:19] conklinbd commented on #895
We can't wait for that. They will just need to deploy the sustainment stuff if they get it working.

Let's just go ahead and deploy this to all the server.
@elinz

[2015-07-14 22:34] pHill5136 commented on #907
@abrowning80 @joebayles @jrweakland

The sustainment services are still up on https://afmieopsgep.esri.com:6143/geoevent/manager.

You can use this to model the sustainment services. The login pw are the same as elsewhere.

Note that you may have to point the output services to different feature services.

[2015-07-14 22:58] pHill5136 commented on #904
I checked that observation reports are now receiving attributes. All is working now.

[2015-07-14 23:06] elinz opened #911 "Configure each UC machine with unique UDP ports"

[2015-07-14 23:12] elinz commented on #895
@conklinbd I deployed GEE config to all the other machines last night and this morning.

[2015-07-14 23:12] #895 closed

[2015-07-14 23:14] elinz commented on #906
@conklinbd @pHill5136 I copied the C:\MessageSimulator\Messages folder and C:\MessageSimulator\messages_simulation.bat file to all the other UC machines approx. 16:00 Pacific today 14 July.

[2015-07-14 23:14] #906 closed

[2015-07-15 00:38] elinz commented on #911
Modified "geomessage udp in" input on each UC machine include backup machines; added port numbers to message_simulation.bat file which launches message simulator .exe on each UC machine including backup machines.

[2015-07-15 00:38] #911 closed

[2015-07-15 00:43] topowright commented on #904
@pHill5136 The service is not adding any features at this point. I have test this multiple times and seen no features being added.

[2015-07-15 07:46] helyx-rterry commented on #907
To my knowledge there are some of the Sustainment services running on afmiedev but certainly the primary service is missing. There is probably enough on there to get you through a short demo. The output services could be pointed at the new Sustainment Reporting service on NSEC - presuming that that there is no issue with adding NSEC portal as a registered server to amfiedevgep GEE? If you are goin

[2015-07-15 07:50] helyx-rterry commented on #907
*afmieopsgep  is the server I was referring to sorry!

[2015-07-15 12:33] elinz opened #912 "Create batch file to enable and run the Message Simulator"
Currently, in the install guide I provide the commands that a user has to run at the command prompt. I should create a batch file that users can run. Here are the commands:

SCHTASKS /Change /TN MessageSimulator /ENABLE
SCHTASKS /Run /TN MessageSimulator

NOTE: also add check in this batch file to verify that user is running command prompt as admininstrator; have this code snippet in the InstallOp

[2015-07-15 13:26] topowright commented on #904
@conklinbd @pHill5136 This is now working great.

[2015-07-15 13:26] #904 closed

[2015-07-15 14:03] elinz commented on #912
Sync'ed with https://github.com/elinz/ops-server-config/tree/v.next

[2015-07-15 14:03] #912 closed

[2015-07-15 14:08] elinz opened #913 "Update MessageSimulatorTask.xml to match current configuration"
- [x] Change task description from..
<Description>Run the AFMIE Message Simulation batch file</Description>
to...
<Description>Run the NSEC Message Simulation batch file</Description>

- [x] Change Command from...
<Command>C:\MessageSimulator\afmmessages_simulation.bat</Command>
to...
<Command>C:\MessageSimulator\messages_simulation.bat</Command>

[2015-07-15 14:40] conklinbd commented on #894
This has been published to all the UC machines.

[2015-07-15 14:40] #894 closed

[2015-07-15 16:40] elinz commented on #910
Deleted tag library items from all UC machines.

[2015-07-15 16:40] #910 closed

[2015-07-15 17:02] conklinbd commented on #890
@elinz Just assume Joe's suggested names are good.

[2015-07-15 20:11] joebayles commented on #890
@ACueva, unless @jrweakland or @nfeuerstein say differently, let's do this:

|Military Login|Military Display Name|Intelligence Login|Intelligence Display Name|
|:---:|:---:|:---:|:---:|
|MIL1|Administration|INT1|Foundation Management|
|MIL 2|Command|INT2|Collection and Integration|
|MIL 3|Operations|INT3|Exploitation and Analysis|
|MIL 4|Sustainment|INT4|Information Sharing|

[2015-07-16 00:04] elinz opened #914 "Users need to republish hosted services with the "missing" service properties"
Need to investigate why some properties on hosted services published during Ops Server installation for UC didn't have the same editing properties (edit, sync, export, etc) as the source hosted services. I believe that after the hosted service was originally published, the owner of the service modified these properties on the portal item, which means these properties are not stored in the service

[2015-07-16 00:40] pHill5136 opened #915 "update mlobi-transport on UC machines"
I fixed a bug in the mlobi-transport (Mark Logic Transport) that fixes some date time issues.

the file is: mlobi-transport-10.3.1.jar

The following UC machines need to be updated

nsecmini01 02, 03, 04
nseclt08, nseclt09

Already updated nsecmini07 and nsecgee.

[2015-07-16 00:54] elinz commented on #915
@pHill5136 @conklinbd @topowright I copied the modified .jar file to 01 through 06 and 08 and 09 UC machines.

[2015-07-16 00:54] #915 closed

[2015-07-16 17:03] phil7277 opened #916 "Crowd Source Reporter Gallery Template"
The Crowd Source Reporter app was used to create an Operations Center Reporter group application template. The Ops Server copies made to the mini servers, does not honor the group share into the application resulting in the following error message when trying to access the operations center report:

"Configured group is invalid or no items have been shared with this group yet."

![screenshot 14](h

[2015-07-16 17:05] conklinbd commented on #916
Please provide a link to the item for the app or the group id.

[2015-07-16 17:13] conklinbd commented on #916
@elinz
This looks like an issue with the GUID replacement logic. The group id for this app is stored in the data for the item.
https://nsecmini05.esri.com/arcgis/sharing/content/items/cddb71c5da4b4397a062c2ed8ad0cfee/data

This group is the same id as the original group id from the portal. We will need to add logic in the future to change the group id in the item data with the new id for the group

[2015-07-16 17:14] phil7277 commented on #916
I have recreated the application on nsecmini01, 02 and 03. In order to support UC Demoes, I ill be recreating the app on
nsecmini04.esri.com
nsecmini07.esri.com
nseclt08.esri.com
nseclt09.esri.com

I will not update the backup servers in order to troubleshoot this issue. The link to the item is: https://nsecmini05.esri.com/arcgis/apps/CrowdsourceReporter/index.html?appid=cddb71c5da4b4397a062c2ed8a

[2015-07-16 17:17] conklinbd opened #917 "Group Gallery Applications need to have their Group ID replaced during Publish Portal Content"
Group Gallery Applications store the ID of the group they are accessing in the item data. This ID needs to be updated with the new Group ID when the portal content is published to a new portal.

This issue was reported for UC #916 .

[2015-07-16 17:17] conklinbd commented on #916
I created a new issue for post UC to fix the publishing scripts.

#917

[2015-07-16 17:18] conklinbd commented on #916
@phil7277 Once you have manually resolved this issue on the Tower, Workshop and Demo Theater machines you can close the issue.

[2015-07-16 17:19] conklinbd commented on #905
@topowright does this issue need to be addressed for UC?

[2015-07-16 17:20] conklinbd commented on #786
@jfrygeo we think this issue has been resolved with a change to the permission level for the ArcGIS Server account on the NSEC Server. I am closing this as resolved.
Reopen if you encounter this issue again.

[2015-07-16 17:20] #786 closed

[2015-07-16 17:55] phil7277 commented on #916
Operations Center Reporter has been recreated on all machines with the exception of the back up servers:
nsecmini05.esri.com
nsecmini06.esri.com

[2015-07-16 18:01] elinz commented on #916
@phil7277 Can you please recreate on the backup servers 05 and 06? Without making these same fixes on the backup servers, the backup servers won't be useful if we actually need to use these backup machines since the fixes won't be applied. Thanks.

[2015-07-16 18:16] phil7277 commented on #916
@elinz, I recreated the Gallery App on the Backup Servers 05 and 06. Great point! Thanks.

[2015-07-16 18:16] #916 closed

[2015-07-17 13:14] conklinbd commented on #890
@ACueva is this done?

[2015-07-17 16:28] ScottCecilio opened #918 "Access to content shared to "Everyone", not accessible through current "User" role permissions"
The Intel Support to Operations - Map Journal, associated web maps, applications, and layers are all shared with "Everyone".  However, when a user with a "User" role tries to access the applications, and webmaps they are not granted permission.  Due to this maps and applications are not opening for the user. @phil7277, @elinz , @jrweakland

https://[dev server]/arcgis/home/item.html?id=e8f3b790b28

[2015-07-17 16:47] conklinbd commented on #918
@ScottCecilio can you provide the links for the apps that are not opening? I am not having any issue accessing, even if I set myself to a user role.

Is there a specific user that is having trouble accessing? We can troubleshoot it with them.

[2015-07-17 17:12] phil7277 commented on #918
@conklinbd The links for the apps that were not opening up are:
Crowd Source Reporter App: https://nsec.esri.com/arcgis/home/item.html?id=29013195a6aa480c8bc3d1c34dbea5f0

Map Journal: https://nsec.esri.com/arcgis/apps/GeoForm/index.html?appid=c48bdb0b6d2f4dfea70f39b048a3ceb7

Operations Dashboard:
https://nsec.esri.com/arcgis/apps/dashboard/index.html#/d6f09cebdbad474a8c6cad9e94609222

The person

[2015-07-17 17:29] conklinbd commented on #918
Ok. Changing the role for the individual user is the only option for now. We can look into this in more detail after UC.

[2015-07-27 15:00] CraigCleveland commented on #837
@elinz Any update on this issue?  I'm finding the identical experience to @NatalieCampos - I'm able to successfully publish polygon multipatch feature classes (e.g. buildings) to other Portals, including my own and UC related NSEC Portals (e.g. nsecmini04), but not the "master" NSEC Portal.

[2015-07-27 15:13] elinz commented on #837
@CraigCleveland Can you provide me data so I can reproduce? Thanks.

[2015-07-27 15:20] CraigCleveland commented on #837
@elinz I've sent some sample buildings for you to work with via email.  The file size was too big to attach here.

[2015-07-27 15:41] elinz commented on #837
@CraigCleveland What are the steps to reproduce? What type of ArcGIS Pro project are you creating?

[2015-07-27 17:22] CraigCleveland commented on #837
@elinz you can reproduce by opening ArcGIS Pro, creating a new Scene, adding the buildings I sent and then trying to Share as Web Layer.  I was able to move past the point @NatalieCampos was because @ACueva temporarily bumped up my account on NSEC, however nothing ever successfully published.

[2015-07-27 17:28] elinz commented on #837
@CraigCleveland Thanks. I'll have to look at this another time. Right now I can't publish any hosted service to the portal from ArcGIS Pro or ArcMap.

[2015-07-27 17:38] elinz commented on #837
@CraigCleveland I created a local scene project in ArcGIS Pro, added the buildings you provided, but on the Share ribbon there is no Share as "Web Layer" icon. There is only a Share As "Web Scene" and it's disabled.

[2015-07-27 17:40] CraigCleveland commented on #837
@elinz that was the initial experience @NatalieCampos had, as well as I had, but I was able to move beyond that when @ACueva bumped me up to Admin temporarily.  Not that that should have anything to do with it, but that's what worked to at least enable the button...however publishing continued to fail.

[2015-07-27 17:42] elinz commented on #837
@CraigCleveland my account is an administrator.

[2015-07-27 18:14] ScottCecilio opened #919 "Missing cached Imagery"
Please see the following service.  I have applications relying on this data and when I zoom in I have a gap in my Imagery cache.

https://nsec.esri.com/ags/rest/services/Basemaps/Imagery/MapServer

[2015-07-27 21:14] NatalieCampos commented on #837
@elinz This is what needs to happen

1.  you have to be logged into a portal account
2.  you need to have your buildings as a 3d layer. Use the *Layer 3D to Feature Class* to create the 3D layer.
3. You can share your buildings as a 3D layer so that they can be added to a portal scene by right clicking and sharing as a web layer.
![image](https://cloud.githubusercontent.com/assets/5116835/8915964/

[2015-07-28 14:02] elinz commented on #919
@ScottCecilio Please provide coordinate where issue occurs.

[2015-07-28 21:24] elinz opened #920 "Create utility script to list AGS services"

[2015-07-28 22:33] ACueva commented on #890
No chat servers were needed for the UC.

[2015-07-28 22:33] #890 closed

[2015-07-29 11:38] ScottCecilio commented on #919
When zooming slowly I lose the basemap at 1:9,028.  The basemap reappears at 1:4,514

[2015-07-30 16:46] ACueva commented on #919
@NatalieCampos, @nfeuerstein is on vacation this week, is this something you could take a look at?

[2015-07-30 20:24] Nekillims opened #921 "Digital Surface Model Elevation service not working"
View service returns a checkerboard pattern.  No elevation values returned when inspecting elevation posts.  Suspect invalid paths.

![digital surface model screen](https://cloud.githubusercontent.com/assets/11337235/8994117/67d49714-36d7-11e5-9879-633869758df5.JPG)

[2015-07-30 20:49] Nekillims opened #922 "Data Issues with World Elevation WGS84 Service"
Visual anomalies where high resolution data was added, query sometimes returns "missing" .  This could cause problems with appllications that use the elevation data.
![world elevation wgs84 screen](https://cloud.githubusercontent.com/assets/11337235/8994366/d8bb36c6-36d8-11e5-88a4-d24842c35079.JPG)

[2015-07-30 20:52] Nekillims commented on #922
Profile web app template points to ArcGIS Online elevation data and profile does not agree with elevation data viewed in map display.
![elevation profiles screen](https://cloud.githubusercontent.com/assets/11337235/8994718/1d45ab4e-36db-11e5-9fba-dcd2f32fc3d0.JPG)
Need a version of the template that allows user to select elevation source.

[2015-07-30 20:54] conklinbd commented on #922
@Nekillims this second comment seems to be unrelated and should be opened as a seperate issue.

[2015-07-30 20:55] Nekillims commented on #922
Yes I just caught that.

[2015-07-30 20:57] Nekillims opened #923 "Profile Web App Template points to ArcGIS Online Elevation Service"
Profile web app template points to ArcGIS Online elevation data and profile does not agree with elevation data viewed in map display.
![elevation profiles screen](https://cloud.githubusercontent.com/assets/11337235/8994878/fc0cb78c-36db-11e5-8248-693e7a44dea0.JPG)

 Need a version of the template that allows user to select elevation source.

[2015-07-30 21:22] Nekillims opened #924 "World Elevation Cache Disappears at scales larger than ~ 1:600,000"
Might be an issue if someone need a shaded relief display at medium to large scale outide our primary AOI.  Visibility range indicates it should be visible at all view scales
![world elevation cache screen](https://cloud.githubusercontent.com/assets/11337235/8995463/98604920-36df-11e5-820a-76dac00bfc42.jpg)

[2015-07-30 21:25] Nekillims commented on #924
![world elevation cache screen](https://cloud.githubusercontent.com/assets/11337235/8995519/e7e5f0da-36df-11e5-80b5-83d589e10047.jpg)

[2015-07-30 21:29] Nekillims commented on #924
![world elevation cache screen](https://cloud.githubusercontent.com/assets/11337235/8995599/83f6abd6-36e0-11e5-9088-6dbd14369b55.jpg)

[2015-07-30 21:49] conklinbd commented on #924
@NatalieCampos Is the Elevation Cache meant for visualization or just for use as the base elevation in the scene viewer?

[2015-07-30 22:17] NatalieCampos commented on #924
@conklinbd  The "cached" part of the cached elevation service is meant to be an elevation for scene and Pro. Visualization is possible by unchecking the **Enable cache view
** on the context menu in ArcMap and Pro.

![image](https://cloud.githubusercontent.com/assets/5116835/8996416/98d4d8b6-36cc-11e5-948b-d9a0a2b4f288.png)

 I am unable to view the cached elevation service dynamically in a webmap

[2015-08-03 16:00] jrweakland commented on #923
@kgonzago - not sure if this is in your lane.

[2015-08-03 16:02] jrweakland commented on #924
@Nekillims - please close this issue when appropriate

[2015-08-03 16:48] NatalieCampos commented on #922
A unit conversion was added to all the Lidar derived mosaic dataset items.  This fixes the visual anomalies.

![image](https://cloud.githubusercontent.com/assets/5116835/9042579/818728b2-39c4-11e5-9ca6-fccafe8ee522.png)

[2015-08-03 19:56] NatalieCampos commented on #921
The error is the service is related to a data path issue. I haverepathed them so they can be used now.  @elinz  What is the correct UNC path for the mosaic datasets?

The original paths were:  \\nsecdata\Data\FoundationOverlays\Elevation
The new(broken) paths are:  C:\OpsServer\Data\FoundationOverlays\Elevation

[2015-08-03 22:57] NatalieCampos commented on #919
This seems to be a rest/soap issue as the 1:4k  scale is visiblle  in ArcMap but not portal. Per @ACueva I will recache the 1:4k  scale and see if that fixes it

In ArcMap
![image](https://cloud.githubusercontent.com/assets/5116835/9049193/43ab99f8-39f4-11e5-81f3-57d0121a5863.png)

[2015-08-04 16:18] kgonzago commented on #923
@jrweakland @Nekillims this profile template and WebApp Builder profile widget uses the same elevation service from ArcGIS Online. Is the issue where the features on the map and elevation profile are out of sync? or there isn't a way to supply another elevation profile service?

[2015-08-04 18:18] conklinbd commented on #919
@NatalieCampos This is because ArcMap will always grab another level of data if there are cache tiles missing. Testing form ArcMap is not reliable if you are using the service.

If you view the cache file directly you will see the missing tiles.

[2015-08-04 18:22] conklinbd commented on #883
@nfeurstein I think this was resolved with a more recent build Can you confirm?

[2015-08-05 01:22] Nekillims commented on #923
@kgonzago @jrweakland   The map display (with shaded relief) points to the NSEC elevation services, but the profile is hardcoded to point to ArcGIS Online.  It is possible that some of our distributor or customer deployments may only have access to the Portal.  That would be problematic for installation and configuration.  Plus, in our case we have high res elevation data (Lidar) that is not used

[2015-08-05 01:28] Nekillims commented on #922
@NatalieCampos  Much better, but it looks like there is a missing "tile" at center right and a couple of other anomalies to the south, and one in Monterey Bay that stands out.  As an old-school DTED guy, these types of anomalies will generate questions about the data.   For our purposes, I'm not sure how much effort we should be spending on cleaning up the data.

[2015-08-05 01:47] Nekillims commented on #924
@jrweakland I'm not entirely comprehending this thread.
"I am unable to view the cached elevation service dynamically in a webmap and so the WGS84 service should be used. Also the cached service is in web mercator. Below is the full global extent of the cached service dynamically displayed within ArcMap."  Does this mean it can only be used in ArcMap and Pro but not a web map?  If so, the document

[2015-08-05 16:37] conklinbd commented on #924
@NatalieCampos could you discuss this with @Nekillims  and make sure the item description is updated to make it clear how this service should be used.

[2015-08-05 20:22] Nekillims commented on #924
I talked with @NatalieCampos.  @conklinbd  The intent is that this is a dynamic service for the desktop but is not viewable in a web map with this version of Portal.  It may be viewable in a future release.  The service description needs to be updated with a statement that this is only for desktop consumption.  I do not have edit access to the Item description to make this description update.

[2015-08-06 19:37] topowright commented on #905
@conklinbd @jrweakland
Looking at testing a new solution where we would not use GlobalIDs, but trackIDs instead.

[2015-08-06 22:16] NatalieCampos commented on #919
@ScottCecilio I have updated the imagery cache.  Can you please verify and close if completed.

[2015-08-07 13:33] kgonzago commented on #923
@Nekillims I'll reach out to you next week to gather more info to properly address issue/enhancement.

[2015-08-10 17:08] ACueva opened #925 "Jenkins build fails on SD extraction"
[exec] ***** ERROR ENCOUNTERED *****
     [exec] PYTHON ERRORS:
     [exec] Traceback info:
     [exec]   File "\\disldb\Development\Commercial\OpsServerBuilds\Archive\temp\opsserver\ops-server-config-v.next\SupportFiles\GetSDFiles.py", line 445, in main
     [exec]     sdFiles = get_sd_files(sdRootFolder)
     [exec]
     [exec] Error Info:
     [exec] [Errno 13] Permission denied: 'serviceconfig

[2015-08-10 19:36] elinz opened #926 "Change the ArcGIS Server security configuration from "HTTP and HTTPS" to "HTTPS only""

[2015-08-10 20:59] elinz opened #927 "Change portal security to "Allow access to the portal through SSL only""

[2015-08-10 21:10] elinz opened #928 "Build process: manually repair paths in mosaic datasets"
Issue with RepairMosaicDatasetPaths gp tool, which does not currently work on UNC paths where server name started with "n". So after file geodatabases are copied from the data server, all the paths in all the mosaic datasets will need to be manually repaired to replace UNC path with local path C:\OpsServer\Data.

[2015-08-11 15:26] ScottCecilio commented on #919
I was able to verify that the cache is now visible in the affected scales.  Thanks for the fix.

[2015-08-11 15:26] #919 closed

[2015-08-12 16:48] NatalieCampos commented on #924
Updated usage language was added to the portal description.

[2015-08-12 16:55] elinz opened #929 "Jenkins build server: block all IPs from accessing dev server machines"
After we notify users of Ops Server cutoff, there are still users access various servers. The build process does disconnect users that have open sessions to files and folders, but users could re-estable the session and cause problems for the build process.

We need to block all IPs except the IP of the build server and certain admin users such as @ACueva @conklinbd @elinz

Need to block access to

[2015-08-12 17:01] elinz opened #930 "Jenkins build server: shutdown AGS and Geoevent windows service on geoevent server"
In addition to shutting down AGS windows servers on the dev AGS servers before the data copy we should also shutdown AGS and geoevent windows service on the dev geoevent machine.

[2015-08-12 18:32] elinz opened #931 "Jenkins build server: perform search/replace of server names in ops-server-config repo"
need to search/replace server names in PortalContentPost.py and OpsServerConfig.py

[2015-08-12 18:35] elinz opened #932 "Comment out code block in PortalContentPost.py that shares built in items with web app and gallery group"
Can now perform this operations out of the box in the portal organization settings and this is documented in the Ops Server installation guide.

[2015-08-12 20:43] NatalieCampos commented on #922
The voids/anomalies are expected behavior.  This issue is that the extent of the lidar (in las file format) is based on geometry and a void fill applied.  This allows us to create a surface from points and fill in areas that are missing (houses, vegetation).  The void fill causes the triangulation to the geometry extent.  Seen below in the red lines.  The void fill prevents the mosaic dataset from

[2015-08-12 20:43] #922 closed

[2015-08-12 21:14] elinz opened #933 "Alter StartStopServices.py so that it does not operate on hosted services"

[2015-08-12 21:15] elinz commented on #933
Hosted services can't be started or stopped.

[2015-08-12 23:50] ACueva commented on #929
need to research the following further:

sc \\server stop Lanmanserver

Killing this windows service should kill all windows shares.  This does not affect unc paths.

[2015-08-12 23:58] ACueva commented on #925
Possibly related to issues with password expiration.  Closing issue for now.

[2015-08-13 16:59] elinz opened #934 "Jenkins build server: replace "isWebTier":true to false for Web builder apps"
Web builder applications have a "isWebTier": property set to true (i.e. "isWebTier":true) on our development server because we have implemented integrated windows authentication (IWA). I'm assuming most implementations of Ops Server are for demo purposes and therefore not using IWA. Therefore during the Jenkins build process after we copy the web app files we should set this property to false.

Ac

[2015-08-14 16:06] NatalieCampos commented on #921
the DSM has been fixed and updated. @Nekillims can you please verify and close this issue

[2015-08-16 23:38] elinz commented on #933
Fixed in Esri\ops-server-config v.next.

[2015-08-16 23:38] #933 closed

[2015-08-16 23:45] elinz commented on #932
Fixed in Esri\ops-server-config v.next

[2015-08-16 23:45] #932 closed

[2015-08-16 23:53] elinz commented on #926
Fixed in Esri\ops-server-config v.next.

[2015-08-16 23:53] #926 closed

[2015-08-16 23:59] elinz commented on #927
Fixed in Esri\ops-server-config v.next.

[2015-08-16 23:59] #927 closed

[2015-08-17 00:05] elinz commented on #920
Script Utilities\ListServices.py in Esri\ops-server-config v.next.

[2015-08-17 00:05] #920 closed

[2015-08-17 00:11] elinz commented on #917
Fixed in Esri\ops-server-config v.next.

[2015-08-17 00:11] #917 closed

[2015-08-17 00:17] elinz commented on #913
Fixed in Esri\ops-server-config v.next.

[2015-08-17 00:17] #913 closed

[2015-08-17 00:23] elinz commented on #845
This is an issue with the Repair Mosaic Dataset Paths geoprocessing tool; search/replace not working if UNC path and path starts with "n" (maybe other characters such as "t").

[2015-08-17 00:33] elinz opened #936 "Update UpdateWebApps.py to determine which "read" json code block to use"
Script currently has code blocks to read json files with two different sets of properties. Modify script to determine which code block to execute based on which json properties exist in the specified file.

[2015-08-17 00:37] elinz commented on #729
Created script Utilities\ManageServiceProperties.py in Esri\ops-server-config v.next.

[2015-08-17 00:37] #729 closed

[2015-08-17 00:42] elinz opened #937 "Modify ManageServiceProperties.py to not alter properties on hosted services"
Min/max instances and cluster name should not be edited. See AGS Manager app for example - the app does not allow administrator to edit these properties.

[2015-08-17 00:53] elinz commented on #695
Fixed awhile back.

[2015-08-17 00:53] #695 closed

[2015-08-17 00:56] elinz commented on #884
Checked today and this service no longer exists. Closing issue.

[2015-08-17 00:56] #884 closed

[2015-08-17 22:41] elinz commented on #886
I deleted this service.

[2015-08-17 22:41] #886 closed

[2015-08-18 00:59] Nekillims commented on #924
Updated description is fine

[2015-08-18 00:59] #924 closed

[2015-08-18 01:08] #921 closed

[2015-08-18 01:19] Nekillims commented on #922
I spoke with Gerry Kinn about this today since he is on the raster team.  We are thinking that there should be a way in the LAS to set the values of the missing points to null so that the mosaic dataset (or any other application using the LAS) will "know" not to include them in any calculation.  If this problem is typical of LAS datasets, it could be problematic for users doing terrain calculation

[2015-08-18 04:37] jrweakland commented on #922
@Nekillims - have you spoke to Clayton Crawford or Steve Snow about this issue?

[2015-08-18 15:31] Nekillims commented on #922
@jrweakland  No, but Gerry and I went through it this morning.  There are editing tools that can be applied to the surface or elevation model derived from the LAS dataset to designate the area of missing data with a  "no data"  flag.  when ingested into the mosaic dataset, the system will ignore the areas of "no data" when processing and pick the next best dataset.
1.  LAS to surface or elevation

[2015-08-18 15:53] elinz commented on #629
Fixed in Esri\ops-server-config v.next.

[2015-08-18 15:53] #629 closed

[2015-08-18 16:11] elinz commented on #758
Fixed in Esri\ops-server-conf v.next. Verified that OperationsDashboardUtility.exe executes successfully after modification.

[2015-08-18 16:11] #758 closed

[2015-08-18 17:00] elinz commented on #937
Fixed in Esri\ops-server-config v.next.

[2015-08-18 17:00] #937 closed

[2015-08-18 19:36] elinz commented on #936
Fix in Esri\ops-server-config v.next.

[2015-08-18 19:36] #936 closed

[2015-08-19 05:02] jrweakland commented on #905
@nfeuerstein - I am including you since this has been tagged with AFI.

[2015-08-19 15:23] elinz opened #938 "Jenkins build server: Create folder OPSServerInstall\Software\ArcGISGeoEventPatches"
I am configuring the install scripts to install the Geoevent group layer patch; require location to store patch. Modify the Jenkins build server to create the following folder:
OPSServerInstall\Software\ArcGISGeoEventPatches

I have already copied the patch file to OpsServerBuilds\Archive\ESRI Software\ArcGISGeoEventPatches\GroupLayerPatch folder.

[2015-08-19 16:03] elinz commented on #851
Fixed in Esri\ops-server-config v.next.

[2015-08-19 16:03] #851 closed

[2015-08-20 16:12] topowright opened #939 "GEE - Creating Output - Update MarkLogic Feature Service"
@pHill5136 Could we drop the use of a track id for this output extension being that the schema currently does not match this configuration?

[2015-08-20 16:57] pHill5136 commented on #939
@topowright The output relies on a trackid for updating features. If trackid exists it updates if it does not exist it adds a feature. In a strictly add feature scenario trackids are not required. I would have to look at the output I created. I think I wrote it for update only, but there should be a way to modify the transport to support either update or add a feature when the connector is configu

[2015-08-21 16:59] ACueva opened #940 "Ops Server scripts not honoring pauses in build process"
Install scripts are not honoring pauses and are not waiting for human input

Affected OS: Windows 7 64-bit.

VM created using internal ECS system.

[2015-08-21 17:35] elinz commented on #940
Please be specific in where in the install process the pause is not be honored. Thanks.

-------- Original message --------
From: Avi Cueva
Date:08/21/2015 9:59 AM (GMT-08:00)
To: Esri/ops-server-config
Cc: Eric Linz
Subject: [ops-server-config] Ops Server scripts not honoring pauses in build process (#940)

Install scripts are not honoring pauses and are not waiting for human input

Affected OS:

[2015-08-24 13:54] elinz commented on #852
@kAilshie What's the status of creating the silent installer? I need to add the installation of the Predictive Analysis tools to the Ops Server installation with the next week or so. Thanks.

[2015-08-24 14:08] elinz commented on #494
Added GlobeServer and GeoDataServer. Keep issue open as these values should be re-checked for each new ArcGIS Server version.

[2015-08-24 14:15] elinz commented on #639
Install PostgreSQL 9.3.5 instead of 9.3.4

[2015-08-24 14:56] kAilshie commented on #852
Last I spoke about this was with @ACueva before the UC.  We discussed that the installer was made as a microsoft installer project.  This link shows some options that I believe are for running it silently:  https://support.microsoft.com/en-us/kb/227091

I have not verified that the command line options work for the PA web installer but I believe it would look something like this: **msiexec.exe /i

[2015-08-24 17:35] elinz commented on #639
Fixed in Esri\ops-server-config v.next

[2015-08-24 17:35] #639 closed

[2015-08-24 19:50] elinz commented on #853
Fixed in Esri\ops-server-config v.next.

[2015-08-24 19:50] #853 closed

[2015-08-24 19:56] elinz opened #941 "Jenkins build server: Copy Predictive Analysis install files to Software\PredictiveAnalysis folder"
The ops server install process has been modified to run the predictive analysis installer. Please modify the Jenkins build server to copy the Predictive Analysis web installer files (i.e. ESRI.ArcGIS.GPAT.Web.Installer.msi and setup.exe) to the OPSServerInstall\Software\PredictiveAnalysis folder.

[2015-08-24 19:59] elinz commented on #762
Closing since this is a duplicate of #853

[2015-08-24 19:59] #762 closed

[2015-08-24 22:13] elinz commented on #892
Fixed in Esri\ops-server-config v.next

[2015-08-24 22:13] #892 closed

[2015-08-24 22:33] ACueva opened #942 "Create ArcGIS Server Site fails at 10.4"
![image](https://cloud.githubusercontent.com/assets/3093940/9454244/5a4884d2-4a75-11e5-976c-2b3c08d1780f.png)

[2015-08-25 01:18] elinz commented on #942
Based on the error message you may have remnants of an earlier ArcGIS Server build. Make sure you have uninstalled any previous server software and delete any remaining folders.

-------- Original message --------
From: Avi Cueva
Date:08/24/2015 3:33 PM (GMT-08:00)
To: Esri/ops-server-config
Cc: Eric Linz
Subject: [ops-server-config] Create ArcGIS Server Site fails at 10.4 (#942)

[image]<https://

[2015-08-25 13:45] elinz commented on #731
Fixed in Esri\ops-server-config v.next

[2015-08-25 13:45] #731 closed

[2015-08-25 13:54] elinz opened #943 "Update install guide to include instructions for creating long/lat and GNIS name geocoders"
Add instructions to section "Configure portal settings"

[2015-08-25 14:23] elinz commented on #823
Fixed in Esri\ops-server-config v.next

[2015-08-25 14:23] #823 closed

[2015-08-25 14:26] elinz commented on #939
@jrweakland Can you please review and set appropriate labels, milestone and assignee? Thank you.

[2015-08-25 15:37] elinz commented on #943
Fixed in Esri\ops-server-config v.next

[2015-08-25 15:37] #943 closed

[2015-08-25 16:31] elinz commented on #942
@ACueva Just ran the ops server installation on a new VM (Win Server 2012 R2) using ArcGIS Server 10.4 daily build 5305 and the create site was successfully created and I can log into server manager afterward. Recommend this issue be closed.

[2015-08-26 21:18] #942 closed

[2015-08-27 12:55] elinz commented on #238
Add capability to include/exclude a list of users on the script arguments.

[2015-08-27 12:55] #238 closed

[2015-08-27 12:56] elinz commented on #893
@jrweakland Investigating this issue right now.

[2015-08-27 14:42] elinz opened #944 "PortalContentPost.py parameter "UsersToPost is not working"
Specified list of users and script did not create these users or publish their content.

[2015-08-28 13:29] elinz commented on #944
User error on my part. The names I specified for the arguments were the "TargetUserName" values in the userfile.txt file; you need to specify the "SourceUserName" values. I'll modify the script parameter info to notify user which values to use.

[2015-08-28 13:48] elinz commented on #944
Fixed in Esri\ops-server-config v.next.

[2015-08-28 13:48] #944 closed

[2015-08-28 13:55] elinz commented on #628
@garys-esri Can't replicate issue. This may have been an issue in earlier builds if the OS account was not explicitly a member of the local administrators group. Recommend this issue be closed; if issue is encountered again we can reopen.

[2015-08-28 14:00] garys-esri commented on #628
I haven't gone through the Ops Server install in ages, so I couldn't tell you if the issue still exists. If you're not seeing it, then most likely it was either a special case on the machine I used or an issue that was resolved in a subsequent build. I'm fine if you close this issue.

[2015-08-28 14:03] elinz opened #945 "Receive error "ERROR:portalpy:Item does not exist in this folder" when running various portal scripts"
Research where this error is thrown in the portalpy module. It occurs when "accessing" portal items that are contained with a user's portal folder.

Examples of scripts that throw error:
PortalContentPost.py
PublishHostedServers.py

Currently, we tell users to ignore this error as it's a false positive. We should really re-code the portalpy functionality to avoid scripts throwing this error.

[2015-08-28 14:04] elinz commented on #628
Thanks @garys-esri I will close the issue.

[2015-08-28 14:04] #628 closed

[2015-08-28 15:42] #909 closed

[2015-08-28 16:00] elinz commented on #636
@kerryrobinson at least so far, for the Fall 2015 release, it looks like we won't need to perform any Post-copy data procedures.

[2015-08-28 16:50] elinz opened #946 "Add summary stats to PublishHostedServices.py"

[2015-08-28 16:56] elinz commented on #893
Published hosted services several times and the problem with thumbnails is not a consistent problem. Believe this could be a timing/resource issue. I have put delays before each of the code blocks that perform transfer of item information and sharing properties and based on the testing so far this looks like it may have solved the issue. Closing issue for now. If we find the issue has cropped up a

[2015-08-28 16:56] #893 closed

[2015-08-28 16:56] elinz commented on #893
Fixed in Esri\ops-server-config v.next.

[2015-08-28 16:57] elinz commented on #946
Fixed in Esri\ops-server-config v.next.

[2015-08-28 16:57] #946 closed

[2015-08-28 17:36] elinz opened #947 "PublishHostedServices.py throwing "unsupported operand types(s)" error"
Following error is thrown when transferring the item info for the MontereyDistrictBoundaries hosted service:

***** ERROR ENCOUNTERED *****
PYTHON ERRORS:
Traceback info:
  File "C:\ops-server-config\Publish\Portal\PublishHostedServices.py", line 419, in main
    resp = transfer_item_info(portal, src_item_id, target_item_id)

Error Info:
unsupported operand type(s) for +: 'NoneType' and 'str'

[2015-08-28 21:36] elinz opened #948 "Owner of service definition item "MontereyDistrictBoundaries" is not the same as the associated hosted service item"
@nfeuerstein @ScottCecilio Service Definition item b4e8b641bdae416882a48e835a5ab86c ("MontereyDistrictBoundaries") must be owned by the same owner as the associated hosted service item f5bfbaca4c744df2b30479838de43afb ("District Boundaries") - Hosted\MontereyDistrictBoundaries/FeatureServer otherwise issues are encountered when setting up an Ops Server.

I will go ahead and changes ownership of th

[2015-08-28 21:44] elinz commented on #789
@NatalieCampos I re-ran report and a service definition item does not exist on the portal for this hosted service. Reopening the issue.

[2015-08-28 21:55] elinz commented on #789
@NatalieCampos Please ignore.

[2015-08-28 21:55] #789 closed

[2015-08-28 22:00] elinz commented on #881
@CraigCleveland FYI: Re-ran report and the Hosted\LanguagesInUkraineByOblastTiles/MapServer item still exists. Without service definition portal item, the service won't be published during stand-up of Ops Server. Options are to republish the hosted service so service definition item is uploaded to portal or delete this hosted service. Thanks.

[2015-08-28 22:03] elinz commented on #880
@CraigCleveland FYI: Re-ran report and the hosted service item still exists. Without service definition portal item, the service won't be published during stand-up of Ops Server. Options are to republish the hosted service so service definition item is uploaded to portal or delete this hosted service. Thanks.

[2015-08-28 22:07] elinz opened #949 "Hosted service MotorcadeRoute/FeatureServer does not have a service definition item"
The hosted service "MotorcadeRoute" item exists 6e2d88b599da481cb967a0f9430ea9f9 but does not have an associated service definition portal item. Without the service definition item the service won't be published during Ops Server publishing.

NOTE: Only hosted services published from ArcGIS Desktop or ArcGIS Pro, which upload a service definition item to portal, are supported by the ops server con

[2015-08-28 22:09] elinz opened #950 "Hosted service ObservationPoints/FeatureServer does not have a service definition item"
The hosted service "ObservationPoints" item exists 01ba782e2eb3445895d2c81f914977f9 but does not have an associated service definition portal item. Without the service definition item the service won't be published during Ops Server publishing.

NOTE: Only hosted services published from ArcGIS Desktop or ArcGIS Pro, which upload a service definition item to portal, are supported by the ops server

[2015-08-28 22:10] elinz opened #951 "Hosted service Observer1NOTVisible/FeatureServer does not have a service definition item"
The hosted service "Observer1NOTVisible" item exists 5e8d29c532124c0bad56a347720ea7ef but does not have an associated service definition portal item. Without the service definition item the service won't be published during Ops Server publishing.

NOTE: Only hosted services published from ArcGIS Desktop or ArcGIS Pro, which upload a service definition item to portal, are supported by the ops serve

[2015-08-28 22:11] elinz opened #952 "Hosted service Observer1Visible/FeatureServer does not have a service definition item"
The hosted service "Observer1Visible" item exists 90fcfda5bc004641b224d7deca50262e but does not have an associated service definition portal item. Without the service definition item the service won't be published during Ops Server publishing.

NOTE: Only hosted services published from ArcGIS Desktop or ArcGIS Pro, which upload a service definition item to portal, are supported by the ops server c

[2015-08-28 22:12] elinz opened #953 "Hosted service Observer2NOTVisible/FeatureServer does not have a service definition item"
The hosted service "Observer2NOTVisible" item exists a30800f1f8c8403b8a0f144120cf5423 but does not have an associated service definition portal item. Without the service definition item the service won't be published during Ops Server publishing.

NOTE: Only hosted services published from ArcGIS Desktop or ArcGIS Pro, which upload a service definition item to portal, are supported by the ops serve

[2015-08-28 22:13] elinz opened #954 "Hosted service Observer2Visible/FeatureServer does not have a service definition item"
The hosted service "Observer2Visible" item exists 09b98443d8de4a57896b0ecc04dc4cf0 but does not have an associated service definition portal item. Without the service definition item the service won't be published during Ops Server publishing.

NOTE: Only hosted services published from ArcGIS Desktop or ArcGIS Pro, which upload a service definition item to portal, are supported by the ops server c

[2015-08-28 22:15] elinz opened #955 "Hosted service Observer3Visible/FeatureServer does not have a service definition item"
The hosted service "Observer3Visible" item exists 94ca9c1c84484d27af2c3058a6894a4a but does not have an associated service definition portal item. Without the service definition item the service won't be published during Ops Server publishing.

NOTE: Only hosted services published from ArcGIS Desktop or ArcGIS Pro, which upload a service definition item to portal, are supported by the ops server c

[2015-08-28 22:16] elinz opened #956 "Hosted service Observer3NOTVisible/FeatureServer does not have a service definition item"
The hosted service "Observer3NOTVisible" item exists 2dce7b811680482690b082d259204dcb but does not have an associated service definition portal item. Without the service definition item the service won't be published during Ops Server publishing.

NOTE: Only hosted services published from ArcGIS Desktop or ArcGIS Pro, which upload a service definition item to portal, are supported by the ops serve

[2015-08-28 22:20] elinz opened #957 "Hosted service MyaDrive/FeatureServer does not have a service definition item"
The hosted service "MyaDrive" item exists 2004ae5aefd14c0fb7e545a3f50aa1dc but does not have an associated service definition portal item. Without the service definition item the service won't be published during Ops Server publishing.

NOTE: Only hosted services published from ArcGIS Desktop or ArcGIS Pro, which upload a service definition item to portal, are supported by the ops server config pu

[2015-08-28 22:24] elinz opened #958 "Hosted service Ebola_Outbreaks/FeatureServer does not have a service definition item"
The hosted service "Ebola_Outbreaks" item exists bfba972dc62d4a4d982e496016ad5eb7 but does not have an associated service definition portal item. Without the service definition item the service won't be published during Ops Server publishing.

NOTE: Only hosted services published from ArcGIS Desktop or ArcGIS Pro, which upload a service definition item to portal, are supported by the ops server co

[2015-08-28 22:26] elinz opened #959 "Hosted service Districts/MapServer does not have a service definition item"
The hosted service "Districts" item exists 7400e51dde3547f59867747e5fa8a32e but does not have an associated service definition portal item. Without the service definition item the service won't be published during Ops Server publishing.

NOTE: Only hosted services published from ArcGIS Desktop or ArcGIS Pro, which upload a service definition item to portal, are supported by the ops server config p

[2015-08-28 22:28] elinz opened #960 "Hosted service targetdeck/FeatureServer does not have a service definition item"
The hosted service "targetdeck" item exists 4938aca35d9d4b36b37455a610f9f30a but does not have an associated service definition portal item. Without the service definition item the service won't be published during Ops Server publishing.

NOTE: Only hosted services published from ArcGIS Desktop or ArcGIS Pro, which upload a service definition item to portal, are supported by the ops server config

[2015-08-28 22:33] elinz opened #961 "Service Definition item (IncidentHotSpots) exists without an associated hosted service"
Hosted service IncidentHotSpots/MapServer does not exist, but associated service definition item "IncidentHotSpots" e7ac0db53cb0496f9607c591e0bb2ef6 exists; please delete the following item; otherwise the hosted service will be published to ops servers.

[2015-08-28 22:36] elinz opened #962 "Service Definition item (IncidentHotSpots) exists without an associated hosted service"
Hosted service Map/MapServer does not exist, but associated service definition item "IncidentHotSpots" 019ef1d8880749269c26e44e490f4f5a exists; please delete the following item; otherwise the hosted service will be published to ops servers.

[2015-08-28 22:38] elinz opened #963 "Service Definition item (CompoundMap) exists without an associated hosted service"
Hosted service CompoundMap/FeatureServer does not exist, but associated service definition item "CompoundMap" 84f165cbc7404302b1597c3116d6d1f2 exists; please delete the following item; otherwise the hosted service will be published to ops servers.

[2015-08-31 17:03] elinz opened #964 "Update PortalContentPost.py argument description for {UsersToPost}"
Change type "{OpsServerTypesToPost}" to "{GroupsToPost}"

[2015-08-31 20:01] elinz commented on #948
Fixed.

[2015-08-31 20:01] #948 closed

[2015-08-31 20:03] elinz commented on #947
This was an issue with the hosted service being owned by a different owner then the "original" hosted service. Changed ownership and transfer of item information succeeds.

[2015-08-31 20:03] #947 closed

[2015-08-31 20:13] elinz commented on #964
Fixed in Esri\ops-server-config v.next.

[2015-08-31 20:13] #964 closed

[2015-08-31 20:13] CraigCleveland commented on #881
@elinz given that the performance of the feature services in and of themselves (i.e. without tile services) was not that bad, I plan to leave the map and apps the way they are.  Just not worth the additional busy work.  If I unshare the tile services that were generated from the feature services is that enough for you?  Or do you need me to delete them outright?

[2015-08-31 20:15] CraigCleveland commented on #880
@elinz see my comment on previous thread for full details.  Short version is I plan to utilize only feature services...

[2015-08-31 20:18] elinz commented on #881
@CraigCleveland Please delete the un-needed hosted LanguagesInUkraineByOblastTiles map service. Thanks.

[2015-08-31 20:19] elinz commented on #880
@CraigCleveland Please delete the hosted LanguagesInCrimeaTiles/MapServer map service. Thanks.

[2015-08-31 20:20] CraigCleveland commented on #881
@elinz - deleted.

[2015-08-31 20:20] CraigCleveland commented on #880
@elinz - deleted.

[2015-08-31 20:30] elinz commented on #880
@CraigCleveland hosted service LanguagesInCrimeaTiles.MapServer service and portal item 93f8ddef0a5a462e8730940234b13b9c still exist. Let me know and I can delete this for you.

[2015-08-31 20:31] elinz commented on #881
@CraigCleveland The hosted service LanguagesInUkraineByOblastTiles.MapServer still exists (portal item doesn't exist). I can delete this for you, just let me know.

[2015-08-31 20:50] CraigCleveland commented on #881
@elinz - deleted.  Not sure how it got orphaned, but either way it's taken care of now.

[2015-08-31 20:50] CraigCleveland commented on #880
@elinz they should be gone now.  The previous delete failed for some reason...

[2015-08-31 20:58] CraigCleveland commented on #950
@elinz I'll get this cleaned up when we get the ability to publish multipatch buildings to the NSEC Portal. This feature service works in conjunction with a UC presentation I created around the Scene Viewer and without the multipatch buildings the demo is essentially moot...so I'll be tabling this until that's resolved, at which point I'll knock this out.  In the meantime I'll unshare everything s

[2015-08-31 20:59] CraigCleveland commented on #951
@elinz I'll get this cleaned up when we get the ability to publish multipatch buildings to the NSEC Portal. This feature service works in conjunction with a UC presentation I created around the Scene Viewer and without the multipatch buildings the demo is essentially moot...so I'll be tabling this until that's resolved, at which point I'll knock this out.  In the meantime I'll unshare everything s

[2015-08-31 20:59] CraigCleveland commented on #952
@elinz I'll get this cleaned up when we get the ability to publish multipatch buildings to the NSEC Portal. This feature service works in conjunction with a UC presentation I created around the Scene Viewer and without the multipatch buildings the demo is essentially moot...so I'll be tabling this until that's resolved, at which point I'll knock this out.  In the meantime I'll unshare everything s

[2015-08-31 21:00] CraigCleveland commented on #953
@elinz I'll get this cleaned up when we get the ability to publish multipatch buildings to the NSEC Portal. This feature service works in conjunction with a UC presentation I created around the Scene Viewer and without the multipatch buildings the demo is essentially moot...so I'll be tabling this until that's resolved, at which point I'll knock this out.  In the meantime I'll unshare everything s

[2015-08-31 21:00] CraigCleveland commented on #954
@elinz I'll get this cleaned up when we get the ability to publish multipatch buildings to the NSEC Portal. This feature service works in conjunction with a UC presentation I created around the Scene Viewer and without the multipatch buildings the demo is essentially moot...so I'll be tabling this until that's resolved, at which point I'll knock this out.  In the meantime I'll unshare everything s

[2015-08-31 21:00] CraigCleveland commented on #955
@elinz I'll get this cleaned up when we get the ability to publish multipatch buildings to the NSEC Portal. This feature service works in conjunction with a UC presentation I created around the Scene Viewer and without the multipatch buildings the demo is essentially moot...so I'll be tabling this until that's resolved, at which point I'll knock this out.  In the meantime I'll unshare everything s

[2015-08-31 21:00] CraigCleveland commented on #956
@elinz I'll get this cleaned up when we get the ability to publish multipatch buildings to the NSEC Portal. This feature service works in conjunction with a UC presentation I created around the Scene Viewer and without the multipatch buildings the demo is essentially moot...so I'll be tabling this until that's resolved, at which point I'll knock this out.  In the meantime I'll unshare everything s

[2015-08-31 21:07] CraigCleveland commented on #837
@elinz any update on the status of this?

[2015-08-31 23:38] elinz commented on #837
@CraigCleveland Found that the custom role for "Publish hosted scene layers" was disabled. I've enabled the role for all customer roles that allow users to publish hosted content. @NatalieCampos is going to re-test in the morning. I've tested and as a non-administrator I was able to publish the buildings you provide me successfully as a web scene. I could then view the buildings in scene viewer on

[2015-08-31 23:55] CraigCleveland commented on #837
@elinz that's great news!  I just ran a quick test with no luck, but I am on VPN now and have mix luck with NSEC while off the network.  I'll try it again in the AM and let you know how I make out.

[2015-09-01 12:23] CraigCleveland commented on #837
@elinz I tried to publish buildings again this morning and was met with failure, but after re-reading your note above I think it may have to do with my role.  At the moment I'm listed as an Administrator (a remnant of troubleshooting pre-UC with Avi I believe), and you noted your update was to all "customer" roles and that you used a non-Admin role in your testing.  Due to that maybe a downgrade o

[2015-09-01 13:11] elinz commented on #837
Administrators can publish web scene layers. My user as an admin can publish and I tested changing my role to a custom role such as solutions team member and can publish no problems and the buildings draw once the caching job has finished.

-------- Original message --------
From: Craig Cleveland
Date:09/01/2015 5:23 AM (GMT-08:00)
To: Esri/ops-server-config
Cc: Eric Linz
Subject: Re: [ops-server-

[2015-09-01 14:23] elinz commented on #837
@CraigCleveland did more testing. I can publish a web scene and the buildings successfully display (after caching), but I when I publish the buildings layer in ArcGIS Pro as a web layer and then try to the web layer in Scene Viewer I receive an error stating "Layer cannot be added: Multipatch Feature Services are not supported.

[2015-09-01 14:35] elinz commented on #837
@CraigCleveland Published the buildings as a web layer to another 10.3.1 portal/server and the building feature service does add to Scene viewer and does draw. Hmmm?

[2015-09-01 14:44] CraigCleveland commented on #837
@elinz that's been my experience all along...  Not sure what's happening with NSEC Portal???

[2015-09-01 18:15] elinz commented on #837
@CraigCleveland @NatalieCampos When you publish the web layer, both a feature layer item and scene layer item are created in the portal. When adding to scene viewer you have to add the scene layer not the feature layer (even though "Add layer to scene" is in the context drop down control). Adding a feature layer to scene only works if the underlying feature service is not multipatch.

[2015-09-01 18:49] CraigCleveland commented on #837
@elinz I'm cooking with gas now.  I am able to successfully publish Scene Services with multipatch features!  The bottom line is it takes awhile on NSEC for the building cache to be built, but after that completes it's good to go.

[2015-09-01 19:50] #837 closed

[2015-09-01 19:59] elinz commented on #837
Resolution summary:
1) Non-administrators could not publish web scenes or web layers because the "Publish hosted scene layers" role was not enabled. Enabled for all custom roles where we allow users to create hosted type of content.
2) The data won't display in the Scene Viewer until the cache has completed building. The caching process took awhile on the dev server so unless you checked on the ca

[2015-09-01 20:13] elinz opened #965 "Web map "Social_Cultural_Landuse_Monterey" referencing external basemap"
Web map "Social_Cultural_Landuse_Monterey" (id: fa3b37570c654a02b059d5cd5fee85d3) is referencing an ArcGIS online basemap http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer.

If the operation layers of a web map reference a service on the dev server then the basemap should be a service on the dev server also.

[2015-09-01 20:15] elinz opened #966 "Web map "Social_Cultural_Leisure_Monterey" referencing external basemap"
Web map "Social_Cultural_Landuse_Monterey" (id: 6bc1727e44e74ac4816e94ead3d1e29d) is referencing an ArcGIS online basemap http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer.

If the operation layers of a web map reference a service on the dev server then the basemap should be a service on the dev server also.

[2015-09-01 20:16] elinz opened #967 "Web map "Social_Cultural_Structures_Monterey" references external basemap"
Web map "Social_Cultural_Structures_Monterey" (id: 93fa586351ac4d5f8881ba800bb94c64) is referencing an ArcGIS online basemap http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer.

If the operation layers of a web map reference a service on the dev server then the basemap should be a service on the dev server also.

[2015-09-01 20:17] elinz opened #968 "Web map "Social_Cultural_Tourism_Historic_Monterey" references external basemap"
Web map "Social_Cultural_Tourism_Historic_Monterey" (id: 97c3a378442043648c37a51c0d69a848) is referencing an ArcGIS online basemap http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer.

If the operation layers of a web map reference a service on the dev server then the basemap should be a service on the dev server also.

[2015-09-01 20:18] elinz opened #969 "Web map "Social_Cultural_Areas_Monterey" references external basemap"
Web map "Social_Cultural_Areas_Monterey" (id: 9584bd0a9ac94a05b05afb0cbdf5c666) is referencing an ArcGIS online basemap http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer.

If the operation layers of a web map reference a service on the dev server then the basemap should be a service on the dev server also.

[2015-09-01 20:30] elinz opened #970 "Web map "MyaDrive" references external basemap"
Web map "MyaDrive" (id: 6172bd7ba5fa4530a3e3c0be135289ce) is referencing an ArcGIS online basemap https://services.arcgisonline.com/ArcGIS/rest/services/Reference/World_Boundaries_and_Places/MapServer and https://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer

If the operation layers of a web map reference a service on the dev server then the basemap should be a service on

[2015-09-01 20:32] elinz opened #971 "Web map "Concealment" references an external basemap"
Web map "Concealment" (id: e0003df7ff6f4c02b91743b3bcf0b7d9) is referencing an ArcGIS online basemap http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer.

If the operation layers of a web map reference a service on the dev server then the basemap should be a service on the dev server also.

[2015-09-01 20:34] elinz opened #972 "Web map "Monterey Bay Foundation Data" references external basemap"
Web map "Monterey Bay Foundation Data" (id: f987b8c5862d45c6ad8b91cb09ef5d26) is referencing an ArcGIS online basemap http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer.

If the operation layers of a web map reference a service on the dev server then the basemap should be a service on the dev server also.

[2015-09-01 20:35] elinz opened #973 "Web map "Artillery Deployment Location Analysis" references external basemap"
Web map "Artillery Deployment Location Analysis" (id: 6be4ecc1f7cf4e0ca12cd195c0ac142a) is referencing an ArcGIS online basemap http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer.

If the operation layers of a web map reference a service on the dev server then the basemap should be a service on the dev server also.

[2015-09-01 20:37] elinz opened #974 "Web map "Cover from Flat Trajectory Weapons" reference external basemap"
Web map "Cover from Flat Trajectory Weapons"  (id: 72bfee9edda94254a21115399c76d266) is referencing an ArcGIS online basemap http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer.

If the operation layers of a web map reference a service on the dev server then the basemap should be a service on the dev server also.

[2015-09-01 20:38] elinz opened #975 "Web map "Drop Zone Analysis" references external basemap"
Web map "Drop Zone Analysis" (id: d7951616773440d09e6fdf03219c908e) is referencing an ArcGIS online basemap http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer.

If the operation layers of a web map reference a service on the dev server then the basemap should be a service on the dev server also.

[2015-09-01 20:39] elinz opened #976 "Web map "Helicopter Landing Zone Analysis" references external basemap"
Web map "Helicopter Landing Zone Analysis"  (id: f1fed506070f430eaae14de597077ea0) is referencing an ArcGIS online basemap http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer.

If the operation layers of a web map reference a service on the dev server then the basemap should be a service on the dev server also.

[2015-09-01 20:40] elinz opened #977 "Web map "Helicopter Landing Zone Analysis After Mudslides" references external basemap"
Web map "Helicopter Landing Zone Analysis After Mudslides" (id: 2090f8268b174d16862ce128684a6c3a) is referencing an ArcGIS online basemap http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer.

If the operation layers of a web map reference a service on the dev server then the basemap should be a service on the dev server also.

[2015-09-01 20:41] elinz opened #978 "Web map "Modified Combined Obstacle Overlay" references external basemap"
Web map "Modified Combined Obstacle Overlay" (id: fcf95c15f30c4f3b9170b116de3be1bc) is referencing an ArcGIS online basemap http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer.

If the operation layers of a web map reference a service on the dev server then the basemap should be a service on the dev server also.

[2015-09-01 20:42] elinz opened #979 "Web map "Road Conditions After Storm" references external basemap"
Web map "Road Conditions After Storm"  (id: 8b44f401e60e4abdbd2ebef663b1a3b2) is referencing an ArcGIS online basemap http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer.

If the operation layers of a web map reference a service on the dev server then the basemap should be a service on the dev server also.

[2015-09-01 20:52] elinz opened #980 "Web map "Predictive Analysis Test Map 2" references services that do not exist"
Web map "Predictive Analysis Test Map 2" (id: 34dc3152548841c68b8007210fefe0b8) references the following services that do not exist:
NationalIntelligence/DistanceFromValuableResources/ImageServer
NationalIntelligence/DistanceFromSettlements/ImageServer
NationalIntelligence/DistanceFromGovernment/ImageServer
NationalIntelligence/DistanceFromMajorRoads/ImageServer

[2015-09-01 20:55] elinz opened #981 "Web map "Test Map 2" references services that do not exist"
Web map "Test Map 2" (id: fa0cf0457f7d4f4c9debfbe6f8656ee5) references the following services that do not exist:
https://nsec.esri.com/ags/rest/services/NationalIntelligence/DistanceFromMajorRoads/ImageServer

[2015-09-01 21:00] elinz opened #982 "Web map "Climate - Diurnal Temperature Range" references services that do not exist"
Web map "Climate - Diurnal Temperature Range" (id: bd28675fb98746a0a93ea6ee967c7033) references the following services that do not exist:
https://nsec.esri.com/ags/rest/services/Test/Climate/MapServer

[2015-09-01 21:02] elinz opened #983 "Web map "Climate - Relative Humidity" references services that do not exist"
Web map "Climate - Relative Humidity" (id: e7dc436afcf64a32893a69377edbbd6a) references the following services that do not exist:
https://nsec.esri.com/ags/rest/services/Test/Climate/MapServer

[2015-09-01 21:07] elinz opened #984 "Portal service item "Districts" exists without the service"
Portal service item "Districts" (id:7400e51dde3547f59867747e5fa8a32e) exists but the service does not exist.

[2015-09-01 21:10] elinz opened #985 "Web map "Predictive Analysis Test Map" references services that do not exist"
Web map "Predictive Analysis Test Map" (id: 55451ab5c76b46eda06675a72b30bec1) references the following services that do not exist:
https://nsec.esri.com/ags/rest/services/NationalIntelligence/DistanceFromValuableResources/ImageServer
https://nsec.esri.com/ags/rest/services/NationalIntelligence/DistanceFromMajorRoads/ImageServer
https://nsec.esri.com/ags/rest/services/NationalIntelligence/DistanceF

[2015-09-03 23:08] kAilshie commented on #981
I deleted the web map

[2015-09-03 23:08] kAilshie commented on #980
I deleted the web map

[2015-09-04 11:12] eogden commented on #969
The basemap has now been changed to reference one on NSEC.

[2015-09-04 11:13] eogden commented on #968
The basemap has now been changed to reference one on NSEC.

[2015-09-04 11:13] eogden commented on #967
The basemap has now been changed to reference one on NSEC.

[2015-09-04 11:14] eogden commented on #966
The basemap has now been changed to reference one on NSEC.

[2015-09-04 11:14] eogden commented on #965
The basemap has now been changed to reference one on NSEC.

[2015-09-08 18:28] kAilshie opened #986 "Dark Gray Basemap draws on top of raster layers in a web map"
I was creating a web map that contained many image service layers and when I changed from the default basemap to the dark gray basemap all my layers became hidden.  This does not happen when I change to any of the other basemaps.

[2015-09-08 22:52] ACueva commented on #981
Verified.

[2015-09-08 22:52] #981 closed

[2015-09-08 22:53] ACueva commented on #980
Verified

[2015-09-08 22:53] #980 closed

[2015-09-09 08:55] abrowning80 commented on #907
This is being worked on at present and a working version should be available soon.

[2015-09-09 08:58] abrowning80 commented on #903
This is all legacy data now and has been deleted so issue can be closed.

[2015-09-09 09:27] abrowning80 commented on #902
Data is legacy data and has been deleted so issue can be closed.

[2015-09-09 09:28] abrowning80 commented on #901
This is legacy data that has been deleted so issue can be closed.

[2015-09-09 09:29] abrowning80 commented on #900
Data now deleted so issue can e closed.

[2015-09-09 10:03] abrowning80 commented on #899
@elinz  Issue resolved can now be closed.

[2015-09-09 10:04] abrowning80 commented on #898
@elinz  Issue resolved can now be closed.

[2015-09-09 10:05] abrowning80 commented on #897
@elinz  Issue resolved as data has been delted can now be closed.

[2015-09-09 10:19] abrowning80 commented on #891
@elinz  Issue resolved as have deleted the folder as was stuff for UC but is no longer relevant. Issue can now be closed.

[2015-09-09 10:25] abrowning80 commented on #887
@elinz  Issue resolved can now be closed.

[2015-09-09 10:32] abrowning80 commented on #873
@elinz  Issue resolved layers have been fixed, can now be closed.

[2015-09-09 10:34] abrowning80 commented on #872
@elinz  Issue resolved, layer is now available, can now be closed.

[2015-09-09 10:37] abrowning80 commented on #871
@elinz  Issue resolved, data is now available, can now be closed.

[2015-09-09 10:45] abrowning80 commented on #870
@elinz Item has been deleted issue can now be closed.

[2015-09-09 10:48] abrowning80 commented on #869
@elinz  issue resolved so issue can be closed thanks

[2015-09-09 10:54] abrowning80 commented on #842
@elinz  This was a test service but wasn't used for UC, Am hoping that once i have final sign off of my MAOW v2 stuff then I will be updating all this to use it as the final service.  Please close this issue

[2015-09-09 10:57] abrowning80 commented on #803
@elinz Web Map removed so please close the issue.

[2015-09-09 12:54] elinz commented on #903
Verified that Data\MAoW07072015 folder no longer exists. Closing issue.

[2015-09-09 12:54] #903 closed

[2015-09-09 12:55] elinz commented on #902
Verified that folder Data\MAoW07072015 no longer exists. Closing issue.

[2015-09-09 12:55] #902 closed

[2015-09-09 12:56] elinz commented on #901
Verified that folder Data\MAoW07072015 no longer exists. Closing issue.

[2015-09-09 12:56] #901 closed

[2015-09-09 12:56] elinz commented on #900
Verified that folder Data\MAoW07072015 no longer exists. Closing issue.

[2015-09-09 12:56] #900 closed

[2015-09-09 12:58] elinz commented on #899
Verified that mosaic dataset paths now reference UNC path. Closing issue.

[2015-09-09 12:58] #899 closed

[2015-09-09 13:00] elinz commented on #898
Verified that mosaic data paths now reference UNC paths. Closing issue.

[2015-09-09 13:00] #898 closed

[2015-09-09 13:01] elinz commented on #897
Verified that file geodatabase Data\MAoW\Geodatabase\MaowTest.gdb no longer exists. Closing issue.

[2015-09-09 13:01] #897 closed

[2015-09-09 13:02] elinz commented on #891
Verified that folder data\Sustainment no longer exists. Closing issue.

[2015-09-09 13:02] #891 closed

[2015-09-09 13:18] elinz commented on #887
Verified that this service no longer exists, therefore the .sd file is no longer necessary. Closing issue.

[2015-09-09 13:18] #887 closed

[2015-09-09 13:28] elinz commented on #873
Verified. Closing issue.

[2015-09-09 13:28] #873 closed

[2015-09-09 13:30] elinz commented on #872
Verified fixed. Closing issue.

[2015-09-09 13:30] #872 closed

[2015-09-09 13:30] jfrygeo commented on #722
-Not able to release farthest on circle using an image service as background data for the tool to work. This is due to issue #777 .
![farthestoncredentials](https://cloud.githubusercontent.com/assets/5074686/9763030/45d80628-56d5-11e5-8c32-68178912adf1.PNG)

However, it can be released with using a raster in a file geodatabase but it is not optimal due to it being a workaround.

[2015-09-09 13:42] elinz commented on #871
Verified. Closing issue.

[2015-09-09 13:42] #871 closed

[2015-09-09 13:44] elinz commented on #870
Verified. Closing issue.

[2015-09-09 13:44] #870 closed

[2015-09-09 13:46] elinz commented on #869
Verified. Closing issue.

[2015-09-09 13:46] #869 closed

[2015-09-09 13:46] elinz commented on #842
Closing issue for now.

[2015-09-09 13:46] #842 closed

[2015-09-09 13:47] elinz commented on #803
Verified that web map was deleted. Closing issue.

[2015-09-09 13:47] #803 closed

[2015-09-09 13:57] jrweakland commented on #979
Fixed. Topographic basemap is now from NSEC.

[2015-09-09 14:06] jrweakland commented on #978
Fixed. Changed basemap to NSEC.

[2015-09-09 14:11] jrweakland commented on #977
Fixed. Changed basemap to NSEC.

[2015-09-09 14:15] jrweakland commented on #976
Fixed. Changed basemap to NSEC.

[2015-09-09 14:17] jrweakland commented on #975
Fixed. Changed basemap to NSEC.

[2015-09-09 14:22] jrweakland commented on #974
Fixed. Changed basemap to NSEC.

[2015-09-09 14:24] jrweakland commented on #939
@pHill5136 - Is this something that can be completed today? Or will we need to push it back until February?

[2015-09-09 14:28] jrweakland commented on #973
Fixed. Changed basemap to NSEC.

[2015-09-09 14:30] jrweakland commented on #972
Fixed. Changed basemap to NSEC.

[2015-09-09 14:34] jrweakland commented on #971
Fixed. Changed basemap to NSEC.

[2015-09-09 14:40] jrweakland commented on #970
@dhagens - We are getting the Ops Server ready for the upcoming release and need to get this fixes as soon as possible. Thanks.

[2015-09-09 15:04] elinz commented on #970
Verified. Closing issue.

[2015-09-09 15:04] #970 closed

[2015-09-09 15:05] elinz commented on #971
Verified. Closing issue.

[2015-09-09 15:05] #971 closed

[2015-09-09 15:06] elinz commented on #972
Verified. Closing issue.

[2015-09-09 15:06] #972 closed

[2015-09-09 15:08] elinz commented on #973
Verified. Closing issue.

[2015-09-09 15:08] #973 closed

[2015-09-09 15:10] elinz commented on #974
Verified. Closing issue.

[2015-09-09 15:10] #974 closed

[2015-09-09 15:14] elinz commented on #975
Verified. Closing issue.

[2015-09-09 15:14] #975 closed

[2015-09-09 15:14] elinz commented on #976
Verified. Closing issue.

[2015-09-09 15:14] #976 closed

[2015-09-09 15:16] elinz commented on #977
Verified. Closing issue.

[2015-09-09 15:16] #977 closed

[2015-09-09 15:17] elinz commented on #978
Verified. Closing issue.

[2015-09-09 15:17] #978 closed

[2015-09-09 15:18] elinz commented on #979
Verified. Closing issue.

[2015-09-09 15:18] #979 closed

[2015-09-09 15:34] elinz opened #987 "Service "NationalIntelligence//SignificantActivity.MapServer" is associated with a portal item that does not exist"
Service "NationalIntelligence//SignificantActivity.MapServer" is associated with a portal item (03d78feda64d4eaea74c4d6a37512329; FeatureServer) that does not exist.

Most likely cause of issue, publisher intended to delete the non-hosted service, but deleted it by deleting the portal item(s). The correct way to delete a non-hosted service is to delete it through the AGS connection which will dele

[2015-09-09 15:36] elinz opened #988 "Service "NationalIntelligence//DistanceFromWaterSourceMosaic.ImageServer" is associated with a portal item that does not exist"
Service "NationalIntelligence//DistanceFromWaterSourceMosaic.ImageServer" is associated with a portal item (197cacd838e3496e9dc784219fb3565c; ImageServer) that does not exist.

Most likely cause of issue, publisher intended to delete the non-hosted service, but deleted it by deleting the portal item(s). The correct way to delete a non-hosted service is to delete it through the AGS connection which

[2015-09-09 15:41] elinz commented on #885
@joebayles @dfoll This service still exists. I will delete.

[2015-09-09 15:44] elinz commented on #885
@joebayles @dfoll Service has been deleted.

[2015-09-09 15:44] #885 closed

[2015-09-09 15:49] elinz opened #989 "Service "Test//testDSM.ImageServer" is associated with a portal item that does not exist"
Service "Test//testDSM.ImageServer" is associated with a portal item (eda15c522bae4d4095da7863421a11de; ImageServer) that does not exist.

Most likely cause of issue, publisher intended to delete the non-hosted service, but deleted it by deleting the portal item(s). The correct way to delete a non-hosted service is to delete it through the AGS connection which will delete both the service and the

[2015-09-09 15:52] elinz commented on #989
@NatalieCampos @nfeuerstein I will go ahead and delete this image service.

[2015-09-09 15:52] elinz commented on #989
@NatalieCampos  @nfeuerstein I have delete this image service. Closing issue.

[2015-09-09 15:52] #989 closed

[2015-09-09 15:55] elinz opened #990 "Service "NationalIntelligence//LandCoverDemoforUC.ImageServer" is associated with a portal item that does not exist"
Service "NationalIntelligence//LandCoverDemoforUC.ImageServer" is associated with a portal item (6555d7f59cc84742a3a5759b6836011e; ImageServer) that does not exist.

Most likely cause of issue, publisher intended to delete the non-hosted service, but deleted it by deleting the portal item(s). The correct way to delete a non-hosted service is to delete it through the AGS connection which will delet

[2015-09-09 15:55] elinz commented on #990
@nfeuerstein @NatalieCampos I will delete this image service.

[2015-09-09 15:56] elinz commented on #990
@nfeuerstein @NatalieCampos I deleted this service. Closing issue.

[2015-09-09 15:56] #990 closed

[2015-09-09 15:58] elinz opened #991 "Service "Imagery_North_Natalie.MapServer" is associated with a portal item that does not exist"
Service "Imagery_North_Natalie.MapServer" is associated with a portal item (f23795d1c98c480cbe3de64147f09edf; MapServer) that does not exist.

Most likely cause of issue, publisher intended to delete the non-hosted service, but deleted it by deleting the portal item(s). The correct way to delete a non-hosted service is to delete it through the AGS connection which will delete both the service and

[2015-09-09 15:58] elinz commented on #991
@nfeuerstein @NatalieCampos I will delete this service.

[2015-09-09 16:05] elinz commented on #991
@nfeuerstein @NatalieCampos The service has been deleted. Closing issue.

[2015-09-09 16:05] #991 closed

[2015-09-09 16:10] elinz opened #992 "Service "NationalIntelligence//MontereyBoundaries.MapServer" is associated with portal items that does not exist"
Service "NationalIntelligence//MontereyBoundaries.MapServer" is associated with a portal item (b4eb89e2dfeb4bc6bf6e690f2825761b; MapServer) that does not exist.

Service "NationalIntelligence//MontereyBoundaries.MapServer" is associated with a portal item (59b101deeb224b439be0165e28dfda11; FeatureServer) that does not exist.

Most likely cause of issue, publisher intended to delete the non-hosted

[2015-09-09 16:10] elinz commented on #992
@nfeuerstein I will delete this service.

[2015-09-09 16:13] elinz commented on #992
@nfeuerstein I have deleted this service. Closing issue.

[2015-09-09 16:13] #992 closed

[2015-09-09 16:15] elinz opened #993 "Service "NationalIntelligence//LinesOfCommunicationOverlay.MapServer" is associated with a portal item that does not exist"
Service "NationalIntelligence//LinesOfCommunicationOverlay.MapServer" is associated with a portal item (7ab01386cad14f1f9f0adba709aabe6c; MapServer) that does not exist.

Most likely cause of issue, publisher intended to delete the non-hosted service, but deleted it by deleting the portal item(s). The correct way to delete a non-hosted service is to delete it through the AGS connection which will

[2015-09-09 16:27] nfeuerstein commented on #988
Service deleted.

[2015-09-09 16:27] #988 closed

[2015-09-09 16:27] nfeuerstein commented on #993
Service Deleted.

[2015-09-09 16:27] #993 closed

[2015-09-09 16:30] nfeuerstein commented on #985
Web map deleted.

[2015-09-09 16:30] #985 closed

[2015-09-09 16:32] nfeuerstein commented on #984
Item deleted.

[2015-09-09 16:32] #984 closed

[2015-09-09 16:33] nfeuerstein commented on #959
Service deleted.

[2015-09-09 16:33] #959 closed

[2015-09-09 16:41] nfeuerstein commented on #883
Resolved.

[2015-09-09 16:41] #883 closed

[2015-09-09 16:43] nfeuerstein commented on #881
Confirmed it was deleted.

[2015-09-09 16:43] #881 closed

[2015-09-09 16:43] nfeuerstein commented on #879
Confirmed service was deleted.

[2015-09-09 16:43] #879 closed

[2015-09-09 16:44] #850 closed

[2015-09-09 17:57] elinz opened #994 "Hosted service targetdeck/FeatureServer was published from CSV file"
The hosted service "targetdeck" item (4938aca35d9d4b36b37455a610f9f30a) was published from a CSV file and won't be published during the Ops Server publishing process.

NOTE: Only hosted services published from ArcGIS Desktop or ArcGIS Pro, which upload a service definition item to portal, are supported by the ops server config publishing scripts.

[2015-09-09 18:08] elinz opened #995 "ValidateHostedServiceSources.py not validating correctly against "SceneServer" service types"
I have a hosted service item "EricWebSceneSolDevMemRole_WSL" (f0f72a42ecf44c2e803766575139a756) which the script reports does not have a matching source item, but service definition item does exist.

When I was designing script I didn't realize that scene services were hosted services, so modify script to handle this case.

[2015-09-09 18:18] ACueva commented on #848
Item fd34995f3b214d6e8498c0109a15d229 no longer exists on the portal. Closing issue.

[2015-09-09 18:18] #848 closed

[2015-09-09 18:23] dhagens commented on #957
This service was added for working with the map tools in Ops Dashboard.  There is no need for this to be published to Ops Server at this time.  Do I need to do anything else at this point to resolve anything?

[2015-09-09 18:27] mfunk commented on #983
Deleted.

[2015-09-09 18:27] #983 closed

[2015-09-09 18:28] mfunk commented on #982
Deleted.

[2015-09-09 18:28] #982 closed

[2015-09-09 18:30] mfunk commented on #958
Deleted.

[2015-09-09 18:30] #958 closed

[2015-09-09 19:04] ACueva commented on #822
Item 43d300b5bbff41a48191e88e71641715 does not exist. Closing.

[2015-09-09 19:04] #822 closed

[2015-09-09 19:20] elinz opened #996 "Web map "SustainmentReportingWebMap" references services that do not exist"
Web map "SustainmentReportingWebMap" (id: dbb2e4817bde467b9f336196590f925e   ) references the following services that do not exist:
https://nsec.esri.com/ags/rest/services/NationalIntelligence/MontereyBoundaries/FeatureServer/2
https://nsec.esri.com/ags/rest/services/NationalIntelligence/MontereyBoundaries/FeatureServer/1
https://nsec.esri.com/ags/rest/services/NationalIntelligence/MontereyBoundar

[2015-09-09 19:22] elinz opened #997 "Web map "Distance From Water" references services that do not exist"
Web map "Distance From Water" (id: 6214c50aa89b43a0ac842ac2bb1ba7eb) references the following services that do not exist:
https://nsec.esri.com/ags/rest/services/NationalIntelligence/DistanceFromWater/MapServer

[2015-09-09 19:29] elinz opened #998 "Web map "Predictive Analysis Demo Map" references services that do not exist"
Web map "Predictive Analysis Demo Map" (id: e8effa285e7e4cfcab3b004a3cfc8e55) references the following services that do not exist:
https://nsec.esri.com/ags/rest/services/NationalIntelligence/DistanceFromWaterSourcesMosaic/ImageServer

[2015-09-09 19:35] elinz opened #999 "Web map "P. A. web map test" references services that do not exist"
Web map "P. A. web map test" (id: a7cfc145dfe44c468c98ca750a4cdd5f) references the following services that do not exist:
https://nsec.esri.com/ags/rest/services/NationalIntelligence/DistanceFromMajorRoads/ImageServer
https://nsec.esri.com/ags/rest/services/NationalIntelligence/DistanceFromGovernment/ImageServer
https://nsec.esri.com/ags/rest/services/NationalIntelligence/DistanceFromSettlements/Im

[2015-09-09 19:37] elinz opened #1000 "Web map "Climate - Diurnal Temperature Range" references services that do not exist"
Web map "Climate - Diurnal Temperature Range" (id: bd28675fb98746a0a93ea6ee967c7033) references the following services that do not exist:
https://nsec.esri.com/ags/rest/services/Test/Climate/MapServer

[2015-09-09 19:49] mfunk commented on #1000
This was handled under #982.

[2015-09-09 19:49] #1000 closed

[2015-09-09 19:50] elinz commented on #982
@mfunk oops. Sorry. I was reviewing a report that was generated just before you resolved this issue.

[2015-09-09 19:55] mfunk commented on #982
:stuck_out_tongue_closed_eyes:

[2015-09-09 20:08] kAilshie commented on #998
@elinz I created this web map just a few days ago and this service existed.  I checked with the content owner and he said he did not delete any items.  Do you know what happened to the service? I would like, if possible, to continue using it.

[2015-09-09 20:13] elinz commented on #998
@kAilshie The service does not exist anymore, so someone deleted it.

[2015-09-09 20:23] elinz commented on #998
@kAilshie The service was deleted this morning because the associated portal item did not exist. This meant that someone previously attempted to delete the service, but did not perform the delete correctly (i.e. for non-hosted services they must delete the service through the ArcGIS Server connection and not by deleting the portal item).

[2015-09-10 14:35] abrowning80 commented on #996
@elinz -  Have had a look at this issues and have added in the District Boundaries layer which was the only one that I could find published on NSEC and saved it under my folder as SustainmentReportingWebmap2.  Please can you confirm that you are happy with this and if so close the issue.

[2015-09-10 15:48] elinz opened #1001 "Jenkins build server: Update Openfire to latest 3.10.2 build"

[2015-09-10 15:51] elinz opened #1002 "Check for new build of Operations Dashboard Deployment Utility"

[2015-09-10 20:23] CraigCleveland commented on #997
@elinz I have no idea how this one particular service would have been deleted?  My guess is someone had an "oops" moment.  I'll republish today so we can put this one to bed.

[2015-09-10 20:50] CraigCleveland commented on #949
@elinz it doesn't appear I'm going to be able to get data permissions for the main focal point of this demonstration, hence I'm not going to clean this up and have simply deleted it.

[2015-09-10 20:50] #949 closed

[2015-09-10 20:55] CraigCleveland commented on #950
@elinz it doesn't appear I'm going to be able to get data permissions for the main focal point of this demonstration, hence I'm not going to clean this up and have simply deleted it.

[2015-09-10 20:55] #950 closed

[2015-09-10 20:56] CraigCleveland commented on #951
@elinz it doesn't appear I'm going to be able to get data permissions for the main focal point of this demonstration, hence I'm not going to clean this up and have simply deleted it.

[2015-09-10 20:56] #951 closed

[2015-09-10 20:56] CraigCleveland commented on #952
@elinz it doesn't appear I'm going to be able to get data permissions for the main focal point of this demonstration, hence I'm not going to clean this up and have simply deleted it.

[2015-09-10 20:56] #952 closed

[2015-09-10 20:57] CraigCleveland commented on #953
@elinz it doesn't appear I'm going to be able to get data permissions for the main focal point of this demonstration, hence I'm not going to clean this up and have simply deleted it.

[2015-09-10 20:57] #953 closed

[2015-09-10 20:57] CraigCleveland commented on #954
@elinz it doesn't appear I'm going to be able to get data permissions for the main focal point of this demonstration, hence I'm not going to clean this up and have simply deleted it.

[2015-09-10 20:57] #954 closed

[2015-09-10 20:57] CraigCleveland commented on #955
@elinz it doesn't appear I'm going to be able to get data permissions for the main focal point of this demonstration, hence I'm not going to clean this up and have simply deleted it.

[2015-09-10 20:57] #955 closed

[2015-09-10 20:57] CraigCleveland commented on #956
@elinz it doesn't appear I'm going to be able to get data permissions for the main focal point of this demonstration, hence I'm not going to clean this up and have simply deleted it.

[2015-09-10 20:57] #956 closed

[2015-09-10 21:00] #880 closed

[2015-09-10 21:22] CraigCleveland commented on #997
@elinz republished and web map fixed.  Should be good to go!

[2015-09-10 21:26] elinz commented on #997
Verified fixed.

[2015-09-11 08:51] eogden commented on #969
@elinz  @nfeuerstein could you please check that I have resolved this issue correctly and close it?

[2015-09-11 08:55] eogden commented on #968
@elinz  @nfeuerstein could you please check that I have resolved this issue correctly and close it?

[2015-09-11 08:56] eogden commented on #967
@elinz  @nfeuerstein could you please check that I have resolved this issue correctly and close it?

[2015-09-11 08:56] eogden commented on #966
@elinz  @nfeuerstein could you please check that I have resolved this issue correctly and close it?

[2015-09-11 08:56] eogden commented on #965
@elinz  @nfeuerstein could you please check that I have resolved this issue correctly and close it?

[2015-09-11 14:02] elinz opened #1003 "Create separate script to copy files"
Use CopyData.py as the basis.

[2015-09-11 17:32] ACueva commented on #834
Verified

[2015-09-11 17:32] #834 closed

[2015-09-11 20:56] elinz commented on #1003
Fixed in Esri/ops-server-config v.next build.

[2015-09-11 20:56] #1003 closed

[2015-09-11 20:58] elinz opened #1004 "Create separate script to repair mosaic dataset paths"

[2015-09-14 13:04] abrowning80 commented on #907
@pHill5136 This was for UC which has now passed so can be closed.  A new version of the dashboard is being worked on and should be available soon.

[2015-09-14 13:47] elinz opened #1005 "Configure Ops Server install process to install Portal 10.3.1 HotFix"

[2015-09-14 14:54] #907 closed

[2015-09-14 21:09] elinz commented on #1004
Fixed in Esri/ops-server-config v.next.

[2015-09-14 21:09] #1004 closed

[2015-09-14 22:13] dfoll opened #1006 "Nuclear Santa Cruz .csv file needs copyright permissions for the images"
The Nuclear Santa Cruz .csv contains list of locations of nuclear facilities and a network path to annotated "images" of these locations.  We should have a filled out G-141 for the location data, even if it is made up data. We should also have copyright information for all the images.

It looks like they are actually screenshots of some imagery that we may or may not own. If they are just screensh

[2015-09-14 23:26] karlterrey commented on #1006
I will check on this with legal.
No G-141 should be needed though for fictitious data in a cvs file that Esri made up. It just needs to be clearly noted as fictitious data for demonstration purposes.

[2015-09-14 23:31] dfoll commented on #1006
@karlterrey ... thanks for paying attention to this... how about the other issue, are there any shortcuts we can utilize about the photos... i believe (but need to confirm) that they are just screenshots from imagery we already own

[2015-09-14 23:32] karlterrey commented on #1006
That's what I am checking with legal.

[2015-09-14 23:33] karlterrey commented on #1006
@dfoll That's what I am checking with legal.

[2015-09-14 23:34] dfoll commented on #1006
@karlterrey cool, thanks... guess i misread your first comment

[2015-09-15 16:23] ACueva commented on #1001
@elinz I believe you already did this?

[2015-09-15 17:21] elinz commented on #928
@ACueva The RepairMosaicDatasetPath gp tool has been fixed in Desktop 10.4. So after the data files have been copied to build location run the ops-server-config\Publish\Server\RepairMosaicDatasets.py (new script for this next ops server release) on a desktop 10.4 machine to replace the UNC path with C:\OpsServer\Data.

[2015-09-15 21:40] karlterrey commented on #1006
@dfoll No need for a G-141 for the csv. The photographs do need source citation and if necessary permissions. I am not sure who obtained the Getty image in there but we need to know if we can use it, where we got it from, when etc. Most of the photos are imagery images. We need those sources noted, i.e. what imagery is it. Need to make sure it is clearly noted as fictitious data, especially any im

[2015-09-15 21:44] karlterrey commented on #1006
@dfoll No need for a G-141 for the csv. The photographs do need source citation and if necessary permissions. I am not sure who obtained the Getty image in there but we need to know if we can use it, where we got it from, when etc. Most of the photos are imagery images. We need those sources noted, i.e. what imagery is it. Need to make sure it is clearly noted as fictitious data, especially any im

[2015-09-16 14:41] ScottCecilio commented on #508
I have redesigned this presentation and have organized the folders to be more clear. Request this be closed.

[2015-09-16 14:47] csmoore commented on #1006
When @HeatherEisan (and Carolyn before her) did this for the solutions icon images, she created some [very thorough attribution docs](https://github.com/Esri/solutions-symbology-data/tree/master/documentation) - I'm not sure if this is how you want to do or standardize on this - but wanted to make sure you were aware of that approach.

Note: For images you get off of Flickr you usually see a varia

[2015-09-16 17:44] ScottCecilio commented on #963
I believe that there is an associated feature service that was simply renamed to "Monterey Airport Compound Map".  I have renamed the Service Definition for clarity.

[2015-09-16 22:12] ACueva commented on #1001
Reassigning back to myself to:

- [ ] Update 3rd party installation folder with latest installer
- [ ] Update installation guide if necessary

[2015-09-17 13:05] jfrygeo opened #1007 ""IntelligenceSupportToOperations.arpx" does not have tools in toolboxes with ArcGIS Pro 1.1"
Received IntelligenceSupportToOperations.arpx from @phil7277 and @conklinbd that they used with their trip to Colombia (week of 8/25 (ca.) The arpx file did not contain tools when they were expanded in the table of contents.
![intelligencesupporttooperationstools](https://cloud.githubusercontent.com/assets/5074686/9933746/03169588-5d1b-11e5-8a05-8afbefe41dca.png)

-This was experienced with ArcGIS

[2015-09-17 13:31] ScottCecilio commented on #1007
@jfrygeo @conklinbd , I gave @phil7277  this demonstration in a .zip format before the Colombia trip because the project was failing to package.  I have recently discovered that the failure was being caused by some of the tools referencing a local geodatabase on the developers machine.  I have since extracted only the necessary tools from the toolboxes and was able to successfully package the deom

[2015-09-17 14:23] conklinbd commented on #1007
:+1:

[2015-09-17 14:31] ScottCecilio commented on #962
Item item "IncidentHotSpots" 019ef1d8880749269c26e44e490f4f5a has been deleted

[2015-09-17 14:31] #962 closed

[2015-09-17 14:32] ScottCecilio commented on #961
Item "IncidentHotSpots" e7ac0db53cb0496f9607c591e0bb2ef6" has been deleted

[2015-09-17 14:32] #961 closed

[2015-09-17 14:33] #1007 closed

[2015-09-17 17:54] MaryClawson opened #1008 "Natural Color Landsat not available from portal"
Natural Color Landsat is listed as service in [dev server], however, I am not able to add it to a map-- error message occurs.

[2015-09-17 18:01] MaryClawson commented on #1006
The imagery used in for the annotated imagery graphics was screen captured from the ArcGIS Online Imagery Basemap.  Annotation was added using PowerPoint.  All of the annotations related to potential nuclear facilities are all fictions.  All are annotated with a disclaimer that they are for Demonstration Only and that Annotations are notional.  A read-me file has been added to \\nsec\SolutionsWeb\

[2015-09-17 18:01] #1006 closed

[2015-09-17 18:03] elinz commented on #1008
@MaryClawson This is a browser specific issue related to a problem with the SSL public key on the online server. If you use another browser such as IE, this service can be added to your web map.

[2015-09-17 18:10] elinz commented on #1008
@MaryClawson I have reported this issue to the imagery/raster dev team so they can redirect the issue to the appropriate ArcGIS Online support team.

[2015-09-17 18:55] MaryClawson commented on #1008
@elinz  Thanks, it opens when I use IE, but not Chrome.

[2015-09-18 21:49] ACueva commented on #941
Changes made, verify at next build.

[2015-09-18 22:00] ACueva commented on #930
Changes made, needs to be verified next build.

[2015-09-18 22:04] ACueva commented on #908
Changes made, verify at next build.

[2015-09-18 22:38] ACueva commented on #830
Changes made.  Verify at next release.

[2015-09-20 15:26] jrweakland commented on #1008
@MaryClawson - Please close this issue if appropriate.

[2015-09-20 17:47] jrweakland commented on #957
@elinz - your guidance would be appreciated.

[2015-09-20 17:50] jrweakland commented on #994
@phil7277 - Looks like you will need to add the CSV file to a ArcMap map document or a ArcGIS Pro project and publish the "targetdeck" item.

[2015-09-20 17:52] jrweakland commented on #963
@elinz - Is there an additional issue that needs to be resolved by @ScottCecilio?

[2015-09-20 17:53] jrweakland commented on #960
@phil7277 - see https://github.com/Esri/ops-server-config/issues/994 for additional information. These issues are related.

[2015-09-20 17:59] jrweakland commented on #939
@topowright @pHill5136 @elinz - This will wait until the v.after next milestone.

[2015-09-20 18:14] jrweakland commented on #854
@elinz + @ACueva - This there any resolution to this issue?

[2015-09-20 18:16] jrweakland commented on #826
@jfrygeo - can you try again and see if the service can be overwritten?

[2015-09-20 18:18] jrweakland commented on #784
@kgonzago - please look at eric's comment and republish when you have a chance.

[2015-09-20 18:19] jrweakland commented on #723
@pHill5136 - has this been resolved yet?

[2015-09-20 18:21] jrweakland commented on #777
@jfrygeo - have you had a chance to speak to the raster team yet?

[2015-09-20 18:21] jrweakland commented on #722
@jfrygeo - have you had a chance to speak to the raster team yet?

[2015-09-20 18:22] jrweakland commented on #683
@pHill5136 - has the been any movement on this issue?

[2015-09-20 18:23] jrweakland commented on #638
@kgonzago - will we be able to release this service by 09/30/2015?

[2015-09-20 18:26] jrweakland commented on #877
@mfunk - please check when we start to use 10.4 on NSEC.

[2015-09-21 15:36] jfrygeo commented on #722
I tried publishing about 1 month ago and still had same issue. Sorry I didn't have a chance to talk to raster and portal teams. Looks like in the github issue, Eric was trying to contact the team but a solution wasn't found.

Regards,
John
Sent from my iPhone

On Sep 20, 2015, at 2:22 PM, Jim Weakland <notifications@github.com<mailto:notifications@github.com>> wrote:

@jfrygeo<https://github.com/j

[2015-09-21 18:06] NatalieCampos commented on #779
This issue has been fixed with the inclusion of the "dummy" raster for the current version of the elevation cache.  The inclusion of the "dummy" raster with values of 0 overcomes the limitation of the nodata values.  The inclusion of the dummy raster will need to be reassessed if the cache is ever rebuilt.

[2015-09-21 18:10] #779 closed

[2015-09-22 15:23] conklinbd commented on #918
I don't think this is an issue we need to resolve for the Ops Server release.

[2015-09-22 15:32] phil7277 commented on #994
No need to have this feature service copied over for release. This was a test feature layer working with some content from ClearTerra LocateXT. I have deleted the feature layer!

[2015-09-22 15:32] #994 closed

[2015-09-22 15:34] NatalieCampos commented on #765
This is a know issue and it will not be fixed prior to the Sept cut off date.  @lfunkhouser @nfeuerstein Please move to future release.

[2015-09-22 15:36] phil7277 commented on #960
No need to have this feature service copied over for release. This was a test feature layer working with some content from ClearTerra LocateXT. I have deleted the feature layer.

[2015-09-22 15:36] #960 closed

[2015-09-22 15:39] kgonzago commented on #784
@elinz @jrweakland The LOS service will need to be removed since it is considered a "test" service. Please refer to conversation from this Asana task: https://app.asana.com/0/23019535413942/28389452384457

[2015-09-22 17:50] mfunk commented on #999
@elinz I don't have a P.A. web map test in my NSEC content. Something get orphaned? If it is "web map test" it can probably be deleted.

[2015-09-22 20:27] dfoll commented on #987
@elinz this service can be deleted. assigning issue back to @elinz as it is my understanding that he has to be the one to actually make the deletion

[2015-09-22 23:03] jfrygeo commented on #826
tried to republish ca. 9/1/2015, but got same errors.

[2015-09-22 23:09] jfrygeo commented on #722
tried again (today) to use farthest on circle using image service in a web application, but same errors occurred.

[2015-09-22 23:10] elinz commented on #722
nothing has changed in terms of the server/portal configuration so same errors are expected.

[2015-09-23 00:05] kAilshie commented on #998
I had Ian republish the service.  I believe this issue has been resolved.

[2015-09-23 14:10] mfunk commented on #999
Closing as this item (https://nsec.esri.com/arcgis/home/item.html?id=a7cfc145dfe44c468c98ca750a4cdd5f) does not exist as of 9/23/2015:

![image](https://cloud.githubusercontent.com/assets/3093182/10047203/d747e3e8-61c1-11e5-8437-1b8fe2ad9c89.png)

[2015-09-23 14:10] #999 closed

[2015-09-24 10:17] kerryrobinson opened #1009 "Install ArcGIS for Maritime: Server extension on Ops Server with publically releasable NOAA charts"
So that this can be demoed with out an internet connection.  It's a very simple install.

NOAA ENC data can be found here: http://www.nauticalcharts.noaa.gov/mcd/enc/download_agreement.htm.  If there is any permisisons issue with us including it on the Ops Server, then I recommend installing the Maritime extension on Server anyway, and we can allow users to download the data themselves and then ma

[2015-09-24 10:31] kerryrobinson opened #1010 "Publish Urban Mission Rehearsal Web Scene to Ops Server"
This is a very useful 3D demo for presentations. Can we include it on the Ops Server, or a similar 3D urban web scene?

[2015-09-24 16:33] jfrygeo commented on #1009
That's a great idea. I will write some documentation and provide NOAA charts on the OpsServer. @conklinbd

[2015-09-24 19:18] conklinbd commented on #1010
@NatalieCampos is this something you have done?

[2015-09-24 19:39] NatalieCampos commented on #1010
This was done on past servers but not the current NSEC.  All current work for UMR has been on the documenting and creating of versions for the CE project.  I will work with Jimmy and Lorraine to get this done prior to cutoff.

[2015-09-24 19:41] conklinbd commented on #1010
Thanks @NatalieCampos

[2015-09-24 19:57] NatalieCampos commented on #1010
The UMR webscene has been published.  The portal item summary and description remain the same as the previous AFMIEDEV portal item.  @jrweakland  Can you please review for release?

https://nsec.esri.com/arcgis/home/item.html?id=5f5e48f2cf48451b9fb8e5cecd7979b0

[2015-09-24 20:53] kerryrobinson commented on #1010
Thanks Natalie!

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Natalie Campos <notifications@github.com>
Date: 24/09/2015 20:57 (GMT+00:00)
To: Esri/ops-server-config <ops-server-config@noreply.github.com>
Cc: Kerry Robinson <krobinson@esri.com>
Subject: Re: [ops-server-config] Publish Urban Mission Rehearsal Web Scene to Ops Server (#1010)

The UMR webscene has

[2015-09-25 09:16] kerryrobinson opened #1011 "Including Military Operations feeds in latest Ops Server?"
Are there any plans to include Military Operations feeds (Friendly, Hostile, Situation Report, Intel Reports, etc) in the Fall 2015 release of Ops Server?   This is a key aspect of the current Ops Server release that I use in every presentation.   GeoEvent services, geofences, dashboards, etc.

I don't see it currently on NSEC.

[2015-09-25 12:11] conklinbd commented on #1011
@jrweakland @pHill5136

[2015-09-25 17:06] csmoore opened #1012 "What is the Ops Server Fall Release Schedule? + Repo Release Admin Tasks Reminders"
![image](https://cloud.githubusercontent.com/assets/3090809/10106704/33ae28ea-6384-11e5-84db-3f17f01f8857.png)

(@dfoll wanted to share this)

As part of this release, just a few reminders (in case not already captured elsewhere):

- [ ]  Scrub all the issues (ex. put closed issues into the v.next milestone since they are already done, move open ones you aren't doing to "version after next")
- [ ]

[2015-09-27 01:17] jrweakland commented on #1011
@kerryrobinson - My understanding is that @pHill5136  is creating GEE feeds for folks in the DCRO. These feeds should be included in the upcoming release of the Ops Server.

[2015-09-28 13:07] kerryrobinson commented on #1011
@jrweakland @pHill5136 @ScottCecilio   -  OK, I now see that there are updates being made to FriendlyOperations and HostileOperations over Monterrey.   There are are also still features over Afghanistan/Iran as well.  Should they be deleted?

 I don't see any situation reporting except for ISR Mission Reports and SPOT reports.  Are there any plans to include reports, sensor tracks, NAI/TAIs etc?

[2015-09-28 14:02] conklinbd commented on #1008
This issue does not seem to be something we need to address for the Ops Server release.
Changing the milestone to after next.

[2015-09-28 15:19] conklinbd opened #1013 "Event definitions for Geomessages contain errors"
There are an extremely large number of errors with the event definitions for the geomessages on the server. This is filling the log with errors which will make it really difficult for customers and distributors to figure out if their geoevent configuration is working.

We need to correct the event definitions to include all the required fields.

[2015-09-28 15:29] conklinbd opened #1014 "Geofence Sync Rule names should follow naming conventions"
In developing naming conventions for the GeoEvent server we decided that all components for a GeoEvent template should be in the format templatename-component name.

Several of the Geofence Sync rules do not follow this format. The most notable are the services that use 7,8,9 as their names.

We need to correct all the sync rules to use the proper naming convention.

[2015-09-28 16:24] elinz opened #1015 ""New Geography" feature service located on external server"
The NewGeography feature service (id: 9b789a22ffdd44549bd47d973929dd47) is not located on our development server. According to portal item description, this is a temp service until the foundation services have been updated.

This service is not working. Is this service still needed?

[2015-09-28 16:57] elinz commented on #996
@abrowning80 @jrweakland SustainmentReportingWebmap2 web map looks good, but is there a reason why you didn't fix the original web map dbb2e4817bde467b9f336196590f925e? Generally speaking, fixing the original resource is usually the best course of action. The problem here is that there could be other resources, such as web apps that reference the original web map which won't work correctly. Can yo

[2015-09-28 17:19] elinz opened #1016 "Web Map "Maritime Domain Awareness Dashboard" references service from NOAA that does not exist"
Web map 995d354c59694c01bbd1ff877441526a "Maritime Domain Awareness Dashboard" references URL http://nowcoast.noaa.gov/wms/com.esri.wms.Esrimap/obs that can be found.

[2015-09-28 17:25] elinz opened #1017 "WMS service item "Near Real-Time Observations NOAA nowCOAST WMS" references service from NOAA that does not exist"
WMS service item 6cc00b9f0afd4ea9ac5b859dda0fd253 "Near Real-Time Observations NOAA nowCOAST WMS" references the following URL from NOAA that does not exist:

http://nowcoast.noaa.gov/wms/com.esri.wms.Esrimap/obs

Accessing this URL generates the following error:
Not Found
The requested URL /wms/com.esri.wms.Esrimap/obs was not found on this server.

[2015-09-28 17:40] elinz opened #1018 "Web Map "ObservationsMap" references services/layers that do not exist"
Item id 3ca2b8e0e7eb4f8893143c11b00e42fc references the following services/layers that do not exist:
NationalIntelligence/ObservationReports/FeatureServer/0

This service only contains a single layer "SaluteReports" layer id 1.

[2015-09-28 17:42] elinz opened #1019 "Web Map "ClustersTest" references services/layers that do not exist"
Item id 519b87631e984e9c8b09ed93b86085d0 references the following services/layers that do not exist:
NationalIntelligence/ObservationReports/FeatureServer/0

This service only contains a single layer "SaluteReports" layer id 1.

[2015-09-28 17:43] pHill5136 opened #1020 "Share HostileOperations to DemoReview"
@jrweakland HostileOperations service needs to be shared to DemoReview

[2015-09-28 17:44] pHill5136 opened #1021 "FriendlyOperations Share to DemoReview"
@jrweakland FriendlyOperations service needs to be shared to Demo Review

[2015-09-28 17:45] pHill5136 opened #1022 "IntelReports Share to Demo Review"
@jrweakland Intel Reports service needs to be shared to demo Review group

[2015-09-28 17:48] pHill5136 opened #1023 "Share ObservationReports to DemoReview"
@jrweakland ObservationReports Service needs to be shared with DemoReview group

[2015-09-28 17:49] pHill5136 opened #1024 "Share ObservationReportsML to DemoReview"
@jrweakland ObservationReportsML Service needs to be shared with DemoReview group

[2015-09-28 18:05] elinz opened #1025 "Web Map "SALUTE Reports" references services/layers that do not exist"
Item id 1e607ce98b6241baa05e53f8171638de references the following services/layers that do not exist:
https://nsec.esri.com/ags/rest/services/NationalIntelligence/ObservationReports/FeatureServer/0

This service only contains a single layer "SaluteReports" layer id 1.

[2015-09-28 18:14] elinz opened #1026 "Web Map "Crowd Source reporter test map" references services/layers that do not exist"
Item id:cb423c99205c4c53a999852b960bdccb references the following services/layers that do not exist:
https://nsec.esri.com/ags/rest/services/NationalIntelligence/ObservationReports/FeatureServer/0

This service only contains a single layer "SaluteReports" layer id 1.

[2015-09-28 18:15] elinz opened #1027 "Web Map "Operations Center- SALUTE Reports" references services/layers that do not exist"
Item id:67eb8bf42ecd4bd3b20677fdc788c903 references the following services/layers that do not exist:
https://nsec.esri.com/ags/rest/services/NationalIntelligence/ObservationReports/FeatureServer/0

This service only contains a single layer "SaluteReports" layer id 1.

[2015-09-28 18:17] elinz opened #1028 "Service "ObservationsReports/FeatureServer" missing a layer"
Service d518e58360304d26a1dc4ab78aa45e29 ObservationReports used to have a layer 0, now it only has layer 1 "SaluteReports". Many web maps references layer 0.

[2015-09-28 18:19] elinz opened #1029 "Web Map "Monterey_Movement" references services/layers that do not exist"
Item id:44f6b6d4fe984f50a6ee5fa7cda196a3 references the following services/layers that do not exist:
https://nsec.esri.com/ags/rest/services/NationalIntelligence/ObservationReports/FeatureServer/0

This service only contains a single layer "SaluteReports" layer id 1.

[2015-09-28 20:05] joebayles opened #1030 "Briefing Book"
_From @joebayles on September 28, 2015 18:14_

https://nsec.esri.com/arcgis/home/item.html?id=db3f367dcfca4cc7b28ca288c0037323

- [x] No Summary
- [x] No Credits
- [x] Delete Protection Disabled

_Copied from original issue: ArcGIS/mil-intel-desktop-solutions-templates#125_

[2015-09-28 20:05] joebayles opened #1031 "Topographic Map"
_From @joebayles on September 28, 2015 18:15_

https://nsec.esri.com/arcgis/home/item.html?id=4c42ae61d0ab4cca8d4662bc6fff1041

- [x] No Summary
- [x] No Access and Use Constraints
- [x] Delete Protection Disabled

_Copied from original issue: ArcGIS/mil-intel-desktop-solutions-templates#126_

[2015-09-28 20:05] joebayles opened #1032 "Terrain"
_From @joebayles on September 28, 2015 18:15_

https://nsec.esri.com/arcgis/home/item.html?id=fab65a596f9e409499c1fb2368f00227

- [x] Title?
- [x] No Access and Use Constraints
- [x] Delete Protection Disabled

_Copied from original issue: ArcGIS/mil-intel-desktop-solutions-templates#127_

[2015-09-28 20:06] joebayles opened #1033 "Visibility and Range"
_From @joebayles on September 28, 2015 18:16_

https://nsec.esri.com/arcgis/home/item.html?id=b686d980cd5b497a95f95d8571c0826f
- [x] No Summary
- [x] Description needs to be complete
- [x] No Access and Use Constraints
- [x] No Credits
- [x] Delete Protection Disabled

_Copied from original issue: ArcGIS/mil-intel-desktop-solutions-templates#128_

[2015-09-28 20:06] joebayles opened #1034 "Distance to Assets"
_From @joebayles on September 28, 2015 18:16_

https://nsec.esri.com/arcgis/home/item.html?id=b0ec3983ee124cacac139140f1e85c7c

- [x] No Access and Use Constraints
- [x] No Credits
- [x] Delete Protection Disabled

_Copied from original issue: ArcGIS/mil-intel-desktop-solutions-templates#129_

[2015-09-28 20:06] joebayles opened #1035 "Line of Sight"
_From @joebayles on September 28, 2015 18:19_

https://nsec.esri.com/arcgis/home/item.html?id=bdb59e3de7904449aa92acb329873b4b

- [ ] Delete?

_Copied from original issue: ArcGIS/mil-intel-desktop-solutions-templates#130_

[2015-09-28 20:06] joebayles opened #1036 "Time Aware (New)"
_From @joebayles on September 28, 2015 18:20_

https://nsec.esri.com/arcgis/home/item.html?id=a8284006eb504022afce6e2c3f02f39b

- [x] Title?
- [x] Summary?
- [x] No Access and Use Constraints
- [x] No Credits

_Copied from original issue: ArcGIS/mil-intel-desktop-solutions-templates#131_

[2015-09-28 20:06] joebayles opened #1037 "Boundary and Places"
_From @joebayles on September 28, 2015 18:36_

https://nsec.esri.com/arcgis/home/item.html?id=0aeb3e0a856d42b78995186408937f0a

- [x] Title?
- [x] No Access and Use Constraints
- [x] Delete Protection Disabled

_Copied from original issue: ArcGIS/mil-intel-desktop-solutions-templates#132_

[2015-09-28 20:06] joebayles opened #1038 "Imagery"
_From @joebayles on September 28, 2015 18:37_

https://nsec.esri.com/arcgis/home/item.html?id=55a20dc19f2e47c8ad3b0a38eca94671

- [x] Title?
- [x] No Access and Use Constraints
- [x] Delete Protection Disabled

_Copied from original issue: ArcGIS/mil-intel-desktop-solutions-templates#133_

[2015-09-28 20:06] joebayles opened #1039 "Light Grey Canvas Labels"
_From @joebayles on September 28, 2015 18:38_

https://nsec.esri.com/arcgis/home/item.html?id=0d395746832342ea9505f8d318654c3e

- [x] No Access and Use Constraints
- [x] Delete Protection Disabled

_Copied from original issue: ArcGIS/mil-intel-desktop-solutions-templates#134_

[2015-09-28 20:06] joebayles opened #1040 "Light Grey Canvas"
_From @joebayles on September 28, 2015 18:39_

https://nsec.esri.com/arcgis/home/item.html?id=2970eaa4e2f44559a0c3cca33fe5dde1

- [x] Title?
- [x] No Access and Use Constraints
- [x] No Credits
- [x] Delete Protection Disabled

_Copied from original issue: ArcGIS/mil-intel-desktop-solutions-templates#135_

[2015-09-28 20:07] joebayles opened #1041 "Dark Grey Canvas Labels"
_From @joebayles on September 28, 2015 18:40_

https://nsec.esri.com/arcgis/home/item.html?id=cc19b6a12c83475a830d2e8060783d47

- [x] No Access and Use Constraints
- [x] No Credits
- [x] Delete Protection Disabled

_Copied from original issue: ArcGIS/mil-intel-desktop-solutions-templates#136_

[2015-09-28 20:07] joebayles opened #1042 "Dark Grey Canvas"
_From @joebayles on September 28, 2015 18:40_

https://nsec.esri.com/arcgis/home/item.html?id=030a8ec8848f4c5ab4fafb890977eee1

- [x] Title?
- [x] No Access and Use Constraints
- [x] Credits?
- [x] Delete Protection Disabled

_Copied from original issue: ArcGIS/mil-intel-desktop-solutions-templates#137_

[2015-09-28 20:07] joebayles opened #1043 "Oceans"
_From @joebayles on September 28, 2015 18:41_

https://nsec.esri.com/arcgis/home/item.html?id=0384031089ba4f48bf86ca7f1dd4a63c

- [x] Title?
- [x] No Access and Use Constraints
- [x] Delete Protection Disabled

_Copied from original issue: ArcGIS/mil-intel-desktop-solutions-templates#138_

[2015-09-28 20:17] elinz commented on #997
@CraigCleveland This is still an issue with this service. The service exists without a portal item. According to the service json it's supposed to be associated with item d4269c5dbf01495c8ae181952895e9ed which does not exist. If you can create a portal item I'll edit the service json to re-associated with this new portal item.

[2015-09-28 20:20] elinz opened #1044 "Service "Military//NGASubregions.MapServer.MapServer" is associated with a portal item that does not exist"
Service "Military//NGASubregions.MapServer" is associated with a portal item (523a2ef1f7b64237bc73c75cd7fe0ab4; FeatureServer) that does not exist.

Most likely cause of issue, publisher intended to delete the non-hosted service, but deleted it by deleting the portal item(s). The correct way to delete a non-hosted service is to delete it through the AGS connection which will delete both the servic

[2015-09-28 20:24] elinz opened #1045 "Service "Military//MissionReport.MapServer" is associated with a portal item that does not exist"
Service "Military//MissionReport.MapServer" is associated with a portal item (82cc48e34ba44e80a8f4efb6b401af59; MapServer) that does not exist.

[2015-09-28 20:28] elinz opened #1046 "Service "NationalIntelligence//OptimizedHotSpot.GPServer" is associated with a portal item that does not exist"
Service "NationalIntelligence//OptimizedHotSpot.GPServer" is associated with a portal item (b6d9ed696c184925ae200c71d4955885; GPServer) that does not exist.

@nfeuerstein @jrweakland Is this a military or intelligence team service? Thanks.

[2015-09-28 20:30] jfrygeo commented on #1044
https://nsec.esri.com/arcgis/home/item.html?id=537802eca0814e5185a3dfd36e06d6bd (NGASubregions) is for
https://nsec.esri.com/ags/rest/services/Military/NGASubregions/MapServer

https://nsec.esri.com/arcgis/home/item.html?id=bee2ec5acb7e4c3f9a37c4b37406f8da points to
https://nsec.esri.com/ags/rest/services/Military/NGASubregions/FeatureServer

Services work.

[2015-09-28 20:32] jfrygeo commented on #1044
Could be from using Esri Maps for Office - as that will create hosted features?

[2015-09-28 20:32] elinz opened #1047 "Service "Military//PiracyBySubregion2009to2013.MapServer" is associated with a portal item that does not exist"
ERROR: Service "Military//PiracyBySubregion2009to2013.MapServer" is associated with a portal item (ee4dabc9a8d24fc2bf1e9a1888a394d5; MapServer) that does not exist.

ERROR: Service "Military//PiracyBySubregion2009to2013.MapServer" is associated with a portal item (7d6f11fdf5bf41af9f76cb5b9f67629c; FeatureServer) that does not exist.

@jfrygeo Both the feature and map service portal item do not exi

[2015-09-28 20:35] jfrygeo commented on #1047
? they exist here: https://nsec.esri.com/arcgis/home/item.html?id=765c051ab7d14139bd8dc8857ed2e435

https://nsec.esri.com/arcgis/home/item.html?id=c33c98003a41459499e2b06978336f87

[2015-09-28 20:36] jfrygeo commented on #1047
I would delete those old items if possible

[2015-09-28 20:39] jrweakland commented on #1010
@NatalieCampos - reviewed and sent to the release team.
@lfunkhouser - added to the ReleaseReview group on nsec.
@kerryrobinson - please close this issue when appropriate.

[2015-09-28 20:40] elinz commented on #1044
@jfrygeo No, this is not a hosted service; if it was the service would be located in the "Hosted" folder. The services may work, but this doesn't mean that the service "infrastructure" is correct.

According to the service json information (shown below) the feature service should be pointing to the item 523a2ef1f7b64237bc73c75cd7fe0ab4. On a federated server you simply can't manually create a port

[2015-09-28 20:49] joebayles opened #1048 "Places of Interest"
https://nsec.esri.com/arcgis/home/item.html?id=dc98d111dc164933a13b20542db9fdcd

- [ ] Title?
- [ ] Summary should not be a definition of the concept, but a summary of the item.
- [ ] Delete Protection Disabled

[2015-09-28 20:51] conklinbd commented on #1015
I had not planned on maintaining this service. If someone else wants to publish it that is fine with me.
@nfeuerstein or @jrweakland ?

[2015-09-28 20:51] elinz commented on #1047
@jfrygeo The ids don't match because these portal items were not created correctly. When you create the service on a federated server, the portal items are automatically created. However, in this case, the portal items were deleted (which you shouldn't do for a non-hosted service). Then the portal items were manually re-created, which means that the service isn't actually associated with these por

[2015-09-28 20:57] elinz commented on #1044
@jfrygeo I corrected the service json. Closing issue.

[2015-09-28 20:57] #1044 closed

[2015-09-28 21:01] elinz commented on #987
@dfoll I deleted the NationalIntelligence//SignificantActivity service. Closing issue.

[2015-09-28 21:01] #987 closed

[2015-09-28 21:28] elinz commented on #963
@ScottCecilio @jrweakland The fixes described above actually didn't fix the problem.

- [ ] The "Monterey Airport Compound Map" service definition item (84f165cbc7404302b1597c3116d6d1f2 ) needs to be deleted. Renaming the SD item title to match the hosted service item doesn't solve anything as what's important is the service name captured in the SD file, which in this case is "CompoundMap".

- [ ]

[2015-09-28 21:31] elinz opened #1049 "Hosted service Illicit_Drug_Grows/FeatureServer does not have a service definition item"
The hosted service "Illicit Drug Grows" item exists 99c9cd90af9a4a3c9c315b45edb02216 but does not have an associated service definition portal item. Without the service definition item the service won't be published during Ops Server publishing.

NOTE: Only hosted services published from ArcGIS Desktop or ArcGIS Pro, which upload a service definition item to portal, are supported by the ops server

[2015-09-28 22:00] elinz opened #1050 "Hosted service MontereyDistrictBoundaries/FeatureServer does not have a service definition item"
The hosted service "District Boundaries" item exists f5bfbaca4c744df2b30479838de43afb but does not have an associated service definition portal item. Without the service definition item the service won't be published during Ops Server publishing.

NOTE: Only hosted services published from ArcGIS Desktop or ArcGIS Pro, which upload a service definition item to portal, are supported by the ops serve

[2015-09-28 22:03] jrweakland commented on #1035
@joebayles - changed https://nsec.esri.com/arcgis/home/item.html?id=bdb59e3de7904449aa92acb329873b4b to Demo Review group.

@kgonzago - in the future, we will want to move this from Vermont to the Monterey, CA area and release to the Try it Live experience as discussed when you were in CA in 09/2015.

[2015-09-28 22:09] elinz opened #1051 "Owner of service definition item "CountryBoundaries" is not the same as the associated hosted service item"
@nfeuerstein @sschwoppe  Service Definition item a1956f5df1d34a1fbe8c58e3b5e0b1b4("CountryBoundaries") must be owned by the same owner as the associated hosted service item 086c5358415e4a948764385685240cb7 ("Country Boundaries") - Hosted/CountryBoundaries/FeatureServer otherwise issues are encountered when setting up an Ops Server.

[2015-09-28 22:11] elinz opened #1052 "Owner of service definition item "eboladistricts/FeatureServer" is not the same as the associated hosted service item"
@nfeuerstein @sschwoppe Service Definition item df9de5d54c7045808ffb374fc4dea1a9("eboladistricts") must be owned by the same owner as the associated hosted service item b8966bd015e64a6d9576a57573c9610e("Districts in West Africa with reported  Ebola outbreaks") - Hosted/eboladistricts/FeatureServer otherwise issues are encountered when setting up an Ops Server.

[2015-09-28 22:13] elinz opened #1053 "Owner of service definition item "ebolahealthcarefac" is not the same as the associated hosted service item"
@nfeuerstein @sschwoppe Service Definition item 5aabd756391945dba7de363a3c0b3038("ebolahealthcarefac") must be owned by the same owner as the associated hosted service item d1a00d57cea2458a887d3a6b4052952b ("Ebola Healthcare Facilities") - Hosted/ebolahealthcarefac/FeatureServer otherwise issues are encountered when setting up an Ops Server.

[2015-09-28 22:15] elinz opened #1054 "Owner of service definition item "ebolaoutbreaks" is not the same as the associated hosted service item"
@nfeuerstein @sschwoppe Service Definition item 6df2cb73dd1d41c6a79e55c6fa0b15d7 ("ebolaoutbreaks") must be owned by the same owner as the associated hosted service item 8592ab25641446a0829964daf45a5548 ("Ebola Outbreaks") - Hosted/ebolaoutbreaks/FeatureServer otherwise issues are encountered when setting up an Ops Server.

[2015-09-28 22:16] elinz opened #1055 "Owner of service definition item "liberiabordercrossings" is not the same as the associated hosted service item"
@nfeuerstein @sschwoppe Service Definition item 24fe6e4a95a848beb8d869806955da83 ("liberiabordercrossings") must be owned by the same owner as the associated hosted service item 629ec8df73d1416291d4c1f18da77cc8 ("Liberia Border Crossings") - Hosted/liberiabordercrossings/FeatureServer otherwise issues are encountered when setting up an Ops Server.

[2015-09-28 22:17] jrweakland commented on #1024
@pHill5136 and @topowright - these portal items will not be shared with the Demo Review Group until the items have the: Title, Summary, Description, Access and Use Constraints, and Credits fields completely filled out. You are also missing thumbnails.

https://nsec.esri.com/arcgis/home/item.html?id=bff0a7b237e946b385bc7223d8af5ae4

https://nsec.esri.com/arcgis/home/item.html?id=e1786c4738b54473982

[2015-09-28 22:22] jrweakland commented on #1023
@pHill5136 and @topowright - these portal items will not be shared with the Demo Review Group until the items have the: Title, Summary, Description, Access and Use Constraints, and Credits fields completely filled out. You are also missing thumbnails and all of the proper tags.

There are two map image layers with the same name but different dates (this needs to be resolved):

https://nsec.esri.co

[2015-09-28 22:24] joebayles opened #1056 "SALUTE Reports"
https://nsec.esri.com/arcgis/home/item.html?id=1e607ce98b6241baa05e53f8171638de

- [x] Summary and Description should be more complete
- [x] No Access or Use Constraints
- [x] Delete Protection Disabled

[2015-09-28 22:27] jrweakland commented on #1022
@pHill5136 - these portal items will not be shared with the Demo Review Group until the items have the: Title, Summary, Description, Access and Use Constraints, and Credits fields completely filled out. You are also missing all of the proper tags.

https://nsec.esri.com/arcgis/home/item.html?id=60d9c717ebd64314bb1764bd5ea5c96b

https://nsec.esri.com/arcgis/home/item.html?id=b1ab24b97f9f4bd4925d2a5

[2015-09-28 22:30] jrweakland commented on #1021
@pHill5136 - these portal items will not be shared with the Demo Review Group until the items have the: Title, Summary, Description, Access and Use Constraints, and Credits fields completely filled out. You are also missing all of the proper tags.

https://nsec.esri.com/arcgis/home/item.html?id=6a33688d4bb6493aba882b86d934c4ce

https://nsec.esri.com/arcgis/home/item.html?id=e377b17ba01241ea80e74e7

[2015-09-28 22:32] jrweakland commented on #1020
@pHill5136 - these portal items will not be shared with the Demo Review Group until the items have the: Title, Summary, Description, Access and Use Constraints, and Credits fields completely filled out. You are also missing all of the proper tags. Why is there an unknown unit in the thumbnail for a hostile service?

https://nsec.esri.com/arcgis/home/item.html?id=e51a4c093b644a7f9cd12faf7df95da6

h

[2015-09-28 22:45] jrweakland commented on #1016
@jfrygeo - it is located here by chance?

https://nowcoast.noaa.gov/arcgis/rest/services/nowcoast

[2015-09-28 22:45] jrweakland commented on #1017
@jfrygeo - is it located here by chance?

https://nowcoast.noaa.gov/arcgis/rest/services/nowcoast

[2015-09-28 22:47] jrweakland commented on #1011
@kerryrobinson - @pHill5136 is adding more services as we speak.

[2015-09-28 23:02] joebayles opened #1057 "Streets"
https://nsec.esri.com/arcgis/home/item.html?id=39644e963b6541d8b9424b3ae0ee3512

- [x] Title?
- [x] No Summary
- [x] Description is light
- [x] No Access and Use Constraints
- [x] Delete Protection Disabled

[2015-09-28 23:17] joebayles commented on #1035
:+1:

[2015-09-28 23:17] #1035 closed

[2015-09-28 23:31] joebayles opened #1058 "Observation Reports"
https://nsec.esri.com/arcgis/home/item.html?id=12919c56d6a8446985a18d173f0f66f1

- [x] Title?
- [x] No Summary
- [x] Need more Description
- [x] No Access and Use Constraints
- [x] Delete Protection Disabled

[2015-09-28 23:56] joebayles opened #1059 "SALUTE Reporting"
https://nsec.esri.com/arcgis/home/item.html?id=895d6bffcd1a4d829d30601b6cfa1f97

- [x] Title (Maybe SALUTE Report GeoForm?)
- [x] Summary needs more
- [x] Description needs more
- [x] Delete Protection Disabled

[2015-09-29 00:02] joebayles opened #1060 "National Security Basemaps Gallery"
https://nsec.esri.com/arcgis/home/item.html?id=51cf9070de1c49b68f8f0daae80d7bd6

- [ ] No Access and Use Constraints
- [x] Delete Protection Disabled

[2015-09-29 00:47] jfrygeo commented on #1017
Jim,

NOAA just fielded a new nowcoast app and the urls have changed. They now have rest endpoints too. I will look to update this tomorrow.

Regards,
John

Sent from my iPhone

On Sep 28, 2015, at 5:45 PM, Jim Weakland <notifications@github.com<mailto:notifications@github.com>> wrote:

@jfrygeo<https://github.com/jfrygeo> - is it located here by chance?

https://nowcoast.noaa.gov/arcgis/rest/serv

[2015-09-29 11:48] CraigCleveland commented on #997
@elinz - done.  Here is the Portal item - https://nsec.esri.com/arcgis/home/item.html?id=002451cd86134f7fa8b9394174142242  Can you please coordinate with @nfeuerstein as she took this Sudan related content from me as she is preparing for the release.  My assumption is she'd like to have this item next to the other Sudan related items.  Thanks.

[2015-09-29 12:33] abrowning80 commented on #996
@elinz @jrweakland, @helyx-rterry is the owner of "SustainmentReportingWebMap" so is going to delete it as it is no longer needed.  This should resolve the issue.

[2015-09-29 12:46] jfrygeo commented on #826
Logged with support ticket #01688405

[2015-09-29 12:48] jfrygeo commented on #1047
This service is needed. Delete the old items and reference this portal item with the PiracyBySubregion2009to2013.MapServer map service....

[2015-09-29 13:31] elinz commented on #997
@CraigCleveland I've associated the service with the portal item and changed ownership to @nfeuerstein. Item exists in the root folder. Closing issue. Thanks for creating the new item.

[2015-09-29 13:31] #997 closed

[2015-09-29 13:34] elinz commented on #996
@abrowning80 @jrweakland Reassigning issue to @helyx-rterry

[2015-09-29 14:31] elinz commented on #1047
No need to delete old items as these didn't exist. I edited the service json to reference the map service and feature service items listed above. Closing issue.

[2015-09-29 14:31] #1047 closed

[2015-09-29 15:47] ACueva opened #1061 "Military Aspects of Weather 2.0"
- [ ] Release Notes inside of Tools/MST_Install folder. "ArcGIS 10.2 is preferred", we are shipping this template as a 10.3 template.
- [ ] Tools/scratch folder.  Are these files necessary or can we cleanup this folder prior to zipping?
- [ ] It appears we are using 3rd party tools for this template.  Do you know if we are able to distribute these 3rd party tools and if so what licensing agreement

[2015-09-29 15:47] ACueva commented on #1061
@jrweakland FYI

[2015-09-29 16:05] conklinbd commented on #1061
@ACueva shouldn't this be logged in the desktop template repository?
https://github.com/ArcGIS/mil-intel-desktop-solutions-templates/issues

[2015-09-29 17:05] pHill5136 commented on #1020
Updated metadata on services

[2015-09-29 17:06] pHill5136 commented on #1022
updated metadata on services

[2015-09-29 17:07] pHill5136 commented on #1021
updated metadata on services

[2015-09-29 17:22] ACueva commented on #1061
@conklinbd - This template will go out with the Ops Server release, this is why any issue affecting the ops server release is being logged against the Ops Server repo.  It's your call though.

[2015-09-29 17:31] conklinbd commented on #1061
Template issue should be on the template site. All released templates ship with the Ops Server but we won't hold up a release waiting for a template to ship.

[2015-09-29 17:34] ACueva commented on #1061
This issue was moved to ArcGIS/mil-intel-desktop-solutions-templates#139

[2015-09-29 17:34] #1061 closed

[2015-09-29 18:40] joebayles opened #1062 "Camps"
https://nsec.esri.com/arcgis/home/item.html?id=1b5ee365f46f417593e2e62eefbf776a

- [x] Title needs to be more specific
- [x] Description needs to be more specific
- [x] No Access and Use Constraints
- [x] No Credits
- [x] Delete Protection Disabled

https://nsec.esri.com/arcgis/home/item.html?id=621106f10a85416495445fc44e562edc

- [x] Title needs to be more specific
- [x] Description needs to be m

[2015-09-29 18:49] kgonzago commented on #1035
@jrweakland noted.

[2015-09-29 22:00] conklinbd commented on #1042
Updated by copying content from AGOL for this basemap including updating the title to be similar to the AGOL Basemap.

[2015-09-29 22:01] conklinbd commented on #1042
Back to you @joebayles

[2015-09-29 22:04] conklinbd commented on #1041
Fixed from AGOL item.
Back at you @joebayles

[2015-09-29 22:06] conklinbd commented on #1040
Fixed from AGOL item.
Back at you @joebayles

[2015-09-29 22:07] conklinbd commented on #1039
Updated from AGOL item.
Back at you @joebayles

[2015-09-29 22:09] conklinbd commented on #1038
Fixed based on AGOL. Back at you @joebayles

[2015-09-29 22:11] conklinbd commented on #1037
Fixed from AGOL Item. Back at you @joebayles

[2015-09-29 22:12] joebayles opened #1063 "Conflicts"
https://nsec.esri.com/arcgis/home/item.html?id=c4748fea240c44f6894a7b3f9faa5111

- [x] Title is vague
- [x] Description is vague
- [x] No Access and Use Constraints
- [x] No Credits
- [x] Delete Protection Disabled

https://nsec.esri.com/arcgis/home/item.html?id=a7afe86cdcfe4c2992b9b2e69f7fda4b

- [x] Title is vague
- [x] Description is vague
- [x] No Access and Use Constraints
- [x] No Credits
-

[2015-09-29 22:13] conklinbd commented on #1043
Fixed from AGOL item. Back at you @joebayles

[2015-09-29 22:14] conklinbd commented on #1015
I am assuming this isn't need.

[2015-09-29 22:14] #1015 closed

[2015-09-29 22:16] joebayles opened #1064 "Conflict Hot Spots"
https://nsec.esri.com/arcgis/home/item.html?id=b1c63be692174131af0908d0a73ece72

- [x] Title?
- [x] Description?
- [x] No Access and Use Constraints
- [x] No Credits
- [x] Delete Protection Disabled

[2015-09-29 22:18] conklinbd commented on #1057
Pulled from AGOL Service item. Back at you @joebayles

[2015-09-29 22:20] conklinbd commented on #1060
@joebayles I am not sure I understand why an application needs access and use constraints. This is data related and apps do not have data.

AGOL does not have access and use constraints on apps.

[2015-09-29 22:27] conklinbd commented on #1032
Fixed with AGOL content back at you @joebayles

[2015-09-29 22:29] conklinbd commented on #1031
Fixed with content from AGOL. Back at you @joebayles

[2015-09-29 22:30] conklinbd commented on #701
This isn't really needed at all. People have an easier time just adding it manually via url.

[2015-09-29 22:30] #701 closed

[2015-09-29 22:32] conklinbd commented on #367
The Address based locator does not need to be fixed for this release. I am closing this issue and we will open a new one for incorporating the community address locator if the EM team is unable to do it for this release (it is in their plans).

[2015-09-29 22:32] #367 closed

[2015-09-29 22:37] lfunkhouser commented on #1057
While this is pulled from AGOL service item, http://www.arcgis.com/home/item.html?id=d8855ee4d3d74413babfb0f41203b168, there is no documentation that states this is where this item came from.  Couldn't we just reuse the access and use constraints that they use and reuse some information from where the data came from?

For more details, it directs you to, World Street Map: http://www.arcgis.com/hom

[2015-09-29 22:38] joebayles opened #1065 "Distance From Towns"
https://nsec.esri.com/arcgis/home/item.html?id=92c34db399f2444b9cfdb9bb96a4d02e

- [x] Title?
- [x] Description?
- [x] No Access and Use Constraints
- [x] No Credits
- [x] Delete Protection Disabled

[2015-09-29 22:39] conklinbd commented on #1030
Updated from AGOL version. Back at you @joebayles

[2015-09-29 22:41] conklinbd commented on #1036
Updated based on AGOL item. Back at you @joebayles

[2015-09-29 22:44] joebayles opened #1066 "Distance From Water"
https://nsec.esri.com/arcgis/home/item.html?id=6214c50aa89b43a0ac842ac2bb1ba7eb

- [x] Title?
- [x] Description?
- [x] No Access and Use Constraints
- [x] No Credits
- [x] Delete Protection Disabled

[2015-09-29 22:47] joebayles opened #1067 "Distance from Roads"
https://nsec.esri.com/arcgis/home/item.html?id=3762bad8f7694e24b913a5d3a96b5b85

- [x] Title?
- [x] Description?
- [x] No Access and Use Constraints
- [x] No Credits
- [x] Delete Protection Disabled

[2015-09-29 22:48] joebayles opened #1068 "Potential Sites For Displacement Camps"
id=e38ef635741b4ca793d35935f1666667

- [x] Title?
- [x] Description?
- [x] No Access and Use Constraints
- [x] No Credits
- [x] Delete Protection Disabled

[2015-09-29 22:52] conklinbd commented on #1054
Changed owner to @nfeuerstein

[2015-09-29 22:52] conklinbd commented on #1052
Changed owner to @nfeuerstein

[2015-09-29 22:52] conklinbd commented on #1051
Changed owner to @nfeuerstein

[2015-09-29 22:52] conklinbd commented on #1055
Changed owner to @nfeuerstein

[2015-09-29 23:02] conklinbd commented on #1057
I reused the access and use constraints from the item. I think a live link is a much better idea then a static doc. These constraints are what the AGOL team wants us to use and enforce.

[2015-09-29 23:11] ACueva commented on #1057
@conklinbd - I don't see any access and use constraints on the item.
![9-29-2015 4-11-22 pm](https://cloud.githubusercontent.com/assets/3093940/10180723/c416156c-66c4-11e5-86ea-f6adba0af74a.png)

[2015-09-30 00:14] elinz commented on #1051
Verified this issue was fixed. Closing issue.

[2015-09-30 00:14] #1051 closed

[2015-09-30 00:15] joebayles commented on #1057
Not sure why this was all checked off, nothing has been changed. If you're saying that they are good how they are, then we can just release all of these items.

[2015-09-30 00:16] elinz commented on #1052
Verified this issue was fixed. Closing issue.

[2015-09-30 00:16] #1052 closed

[2015-09-30 00:18] elinz commented on #1054
Verified this issue was fixed. Closing issue.

[2015-09-30 00:18] #1054 closed

[2015-09-30 00:19] elinz commented on #1053
Verified issue was fixed. Closing issue.

[2015-09-30 00:19] #1053 closed

[2015-09-30 00:20] elinz commented on #1055
Verified issue was fixed. Closing issue.

[2015-09-30 00:20] #1055 closed

[2015-09-30 00:51] elinz opened #1069 "Change ownership of items owned by "OpsServer" to "ReleasedOpsServer""
Also change ownership of the groups owned by OpsServer. After changing ownership of items and groups, delete the OpsServer account.

[2015-09-30 00:52] joebayles commented on #1030
Released to ReleasedOpsServer

[2015-09-30 00:52] #1030 closed

[2015-09-30 00:58] joebayles commented on #1031
Released to ReleasedOpsServer

[2015-09-30 00:58] #1031 closed

[2015-09-30 01:05] joebayles commented on #1032
Released to ReleasedOpsServer

[2015-09-30 01:05] #1032 closed

[2015-09-30 01:13] joebayles commented on #1036
Released to ReleasedOpsServer

[2015-09-30 01:13] #1036 closed

[2015-09-30 01:23] joebayles commented on #1037
Released to ReleasedOpsServer

[2015-09-30 01:23] #1037 closed

[2015-09-30 01:31] joebayles commented on #1038
Released to ReleasedOpsServer

[2015-09-30 01:31] #1038 closed

[2015-09-30 01:44] jfrygeo commented on #1017
Service updated to:
<ln>https://nowcoast.noaa.gov/arcgis/rest/services/nowcoast/obs_meteocean_insitu_sfc_time/MapServer
<li>https://nsec.esri.com/arcgis/home/item.html?id=4fba403aa63b41b982c48af3043843d5

[2015-09-30 01:44] #1017 closed

[2015-09-30 01:46] jfrygeo commented on #1016
Services updated to reflect new NOAA REST Urls

[2015-09-30 01:46] #1016 closed

[2015-09-30 01:48] jfrygeo commented on #1009
Maritime Chart Server will not be installed on this OpsServer - however, the executable and ENC data are provided in the Maritime Operations folder for this opsserver build.

[2015-09-30 01:54] elinz commented on #1069
Issue fixed. Closing issue.

[2015-09-30 01:54] #1069 closed

[2015-09-30 01:55] elinz opened #1070 "Add thumbnails to groups owned by ReleasedOpsServer account"

[2015-09-30 02:06] elinz opened #1071 "Exclude the "Released", "Demo" and "Template" accounts from having the tag library added"

[2015-09-30 02:43] joebayles commented on #1041
Released to ReleasedOpsServer

[2015-09-30 02:43] #1041 closed

[2015-09-30 02:45] joebayles commented on #1042
Released to ReleasedOpsServer

[2015-09-30 02:45] #1042 closed

[2015-09-30 02:54] #1043 closed

[2015-09-30 02:59] #1057 closed

[2015-09-30 03:04] joebayles commented on #1060
Agreed.

[2015-09-30 03:04] #1060 closed

[2015-09-30 03:05] #1039 closed

[2015-09-30 03:07] #1040 closed

[2015-09-30 03:25] joebayles opened #1072 "Nuclear Facilities and Population Density"
https://nsec.esri.com/arcgis/home/item.html?id=07679831f8784d5c8184073526116776

- [x] Light Description
- [x] No Credits

[2015-09-30 03:32] joebayles opened #1073 "Image Discovery"
https://nsec.esri.com/arcgis/home/item.html?id=7fdb5ddd53a54766ae8641cb8c4609da

- [x] No Access and Use Constraints (If there are none, we're good)
- [x] No Credits (If it should say Esri, we're good)

[2015-09-30 04:14] joebayles opened #1074 "Illicit Drug Grows"
https://nsec.esri.com/arcgis/home/item.html?id=259d140ca5e9485d9560d217b76f5ea2

- [x] Why is there text from an excerpt to a news article?
- [X] No Credits

https://nsec.esri.com/arcgis/home/item.html?id=a4c628fc4aa04a05ad30fd32613df340

- [X] No Description
- [X] No Credits

https://nsec.esri.com/arcgis/home/item.html?id=f6e165bf688c46daa06048fed1fb43e9

- [X] No Credits

[2015-09-30 04:18] joebayles opened #1075 "GNIS Encoding"
https://nsec.esri.com/arcgis/home/item.html?id=55f0d69ba58040adbe2655b932be4bac

- [x] No Access and Use Constraints
- [x] Ensure Credits are correct

[2015-09-30 12:10] elinz commented on #1009
Clarification: Maritime Chart Server software and ENC data is being provided in this release as part of the Demos and Scripts.

@jfrygeo Let me know when you have provided whatever documentation/instructions in the Demos and Scripts folder and I will close this issue.

[2015-09-30 12:33] jfrygeo commented on #1009
Eric,

I assume the documentation is in the executable. I am not sure where there is any documentation. I have the executables and data in the Maritime Operations folder.

Regards,
John

From: Eric Linz [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 7:11 AM
To: Esri/ops-server-config
Cc: John Fry
Subject: Re: [ops-server-config] Install ArcGIS for Maritime: Server extension

[2015-09-30 12:35] elinz commented on #1009
@jfrygeo I'm referring to the install instructions; this must exist somewhere.

[2015-09-30 12:35] elinz commented on #968
Verified issue was fixed. Closing issue.

[2015-09-30 12:35] #968 closed

[2015-09-30 12:37] elinz commented on #969
Verified issue was fixed. Closing issue.

[2015-09-30 12:37] #969 closed

[2015-09-30 12:40] elinz opened #1076 "Labels are drawn below operational data in Web map "Social_Cultural_Areas_Monterey""
Web map 9584bd0a9ac94a05b05afb0cbdf5c666

[2015-09-30 12:45] elinz commented on #967
Verified issue was fixed. Closing issue.

[2015-09-30 12:45] #967 closed

[2015-09-30 12:46] elinz commented on #966
Verified issue was fixed. Closing issue.

[2015-09-30 12:46] #966 closed

[2015-09-30 12:47] elinz commented on #965
Verified issue was fixed. Closing issue.

[2015-09-30 12:47] #965 closed

[2015-09-30 12:52] elinz commented on #631
Fixed in Esri\ops-server-config v.next. Closing issue.

[2015-09-30 12:52] #631 closed

[2015-09-30 12:55] elinz commented on #957
@dhagens Please delete the hosted service MyaDrive/FeatureServer by deleting the portal item 2004ae5aefd14c0fb7e545a3f50aa1dc. Let me know and I can delete this for you.

[2015-09-30 12:59] elinz commented on #1071
Users to add: DemoEManagement, DemoIntelligence, DemoLGovt, DemoMilitary, DemoParksGardens, DemoSGovt, DemoUtilities, ReleasedEManagement, ReleasedIntel, ReleasedLGovt, ReleasedMilitary, ReleasedOpsServer, ReleasedParksGardens, ReleasedSGovt, ReleasedUtilities

[2015-09-30 13:04] jfrygeo commented on #1009
I will hunt this down from the MCS team.

From: Eric Linz [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 7:36 AM
To: Esri/ops-server-config
Cc: John Fry
Subject: Re: [ops-server-config] Install ArcGIS for Maritime: Server extension on Ops Server with publically releasable NOAA charts (#1009)

@jfrygeo<https://github.com/jfrygeo> I'm referring to the install instructions; thi

[2015-09-30 13:15] conklinbd commented on #1057
@joebayles I edited the item, but it looks like someone else must have had the item open for editing and my edits were overwritten. I have reverted the changes back to what I had from AGOL.
The main things I fixed were:
Changed the Title so it doesn't include the word basemap.
Updated the description
Included the correct credits and tags.

[2015-09-30 13:18] elinz commented on #1071
Need to add TemplateIntelligence and TemplateMilitary users.

[2015-09-30 13:20] dhagens commented on #957
It has been deleted.

From: Eric Linz [mailto:notifications@github.com]
Sent: Wednesday, September 30, 2015 8:55 AM
To: Esri/ops-server-config
Cc: Daniel Hagens
Subject: Re: [ops-server-config] Hosted service MyaDrive/FeatureServer does not have a service definition item (#957)

@dhagens<https://github.com/dhagens> Please delete the hosted service MyaDrive/FeatureServer by deleting the portal item

[2015-09-30 13:22] elinz commented on #1071
Fixed in Esri\ops-server-config v.next. Also deployed to development server and manually deleted the tag library items owned by these users. Closing issue.

[2015-09-30 13:22] #1071 closed

[2015-09-30 13:26] elinz commented on #957
@dhagens Thank you. Closing issue.

[2015-09-30 13:26] #957 closed

[2015-09-30 13:31] conklinbd commented on #1076
@elinz this seems to be an issue with the basemap itself on nothing @eogden can fix. I will take a look and see if I can resolve the basemap issue.

[2015-09-30 13:40] conklinbd commented on #1076
@elinz this seems to be an issue with this version of portal. Even if I manually add the reference layer I can not drag it on top of the other layers in the map.
I am not sure when this problem was introduced but we should see if this is fixed in 10.4.

I am pushing this issue to Version - After Next.

[2015-09-30 13:46] elinz commented on #1009
@jfrygeo Thanks.

[2015-09-30 14:01] elinz commented on #1070
Fixed. Closing issue.

[2015-09-30 14:01] #1070 closed

[2015-09-30 14:08] elinz commented on #1002
There is a new OperationsDashboardUtility executable for 10.3.1 dated 7/15/2015 named OperationsDashboardUtility_1031_147617.exe. Extract contents and integrate into ops-server-config build process.

[2015-09-30 14:16] jfrygeo commented on #1009
Added portal items for:
<li>Mapping and Charting Solution for Server Installation Guide
<ln>https://server.arcgis.com/en/documentation/install/mapping-charting-solution/latest/welcome-to-the-mapping-and-charting-solutions-for-server-install-guide.htm
<li>Maritime Chart Server Sample Application
<ln>http://nsdemo.esri.com/WAB4MCS/
<li>Maritime Chart Server Web Application Widgets-Github
<ln>https:/

[2015-09-30 14:16] #1009 closed

[2015-09-30 14:42] jrweakland commented on #1022
Shared with Demo review group - https://nsec.esri.com/arcgis/home/item.html?id=60d9c717ebd64314bb1764bd5ea5c96b

[2015-09-30 14:45] elinz commented on #1002
This build of the Ops Dashboard utility has been included in the "Esri Software" folder on the ops server build folder structure. Also checked expiration date of the code signing certificate we are including and it's still good for this release of ops server.

[2015-09-30 14:45] #1002 closed

[2015-09-30 14:48] jrweakland commented on #1022
Shared with Demo Review group - https://nsec.esri.com/arcgis/home/item.html?id=b1ab24b97f9f4bd4925d2a5f0b792fce

[2015-09-30 14:48] jrweakland commented on #1022
Closing issue. Changed owner to me and placed in my final review folder.

[2015-09-30 14:48] #1022 closed

[2015-09-30 15:03] ACueva opened #1077 "SALUTE Reports fails to load"
When you try to access the SALUTE Reports Web Map on our development server it fails to load.
I believe the issue is related to the underlying service.  The service is looking for Layer 0 which does not exist.

https://SERVERNAME/ags/rest/services/NationalIntelligence/ObservationReports/FeatureServer/0

[2015-09-30 15:06] jrweakland commented on #1021
Shared with Demo Review Group - https://nsec.esri.com/arcgis/home/item.html?id=6a33688d4bb6493aba882b86d934c4ce

[2015-09-30 15:07] ACueva opened #1078 "Salute Reporting Geoform fails to load"
https://SERVERNAME/arcgis/home/item.html?id=895d6bffcd1a4d829d30601b6cfa1f97

Error is the following:

![9-28-2015 9-03-50 pm](https://cloud.githubusercontent.com/assets/3093940/10196931/2c95e6be-674a-11e5-9d24-91fd696f789f.png)

[2015-09-30 15:13] jrweakland commented on #1021
Shared with Demo Review Group - https://nsec.esri.com/arcgis/home/item.html?id=e377b17ba01241ea80e74e75323e1776

[2015-09-30 15:14] jrweakland commented on #1021
Closing issue. Changed owner to me and placed in FinalReview folder.

[2015-09-30 15:14] #1021 closed

[2015-09-30 15:17] #826 closed

[2015-09-30 15:23] jrweakland commented on #1020
Shared with the Demo Review group - https://nsec.esri.com/arcgis/home/item.html?id=e51a4c093b644a7f9cd12faf7df95da6

[2015-09-30 15:26] jrweakland commented on #1020
Shared with the Demo Review group - https://nsec.esri.com/arcgis/home/item.html?id=0750cc5ebd3b473184dbd428c3861134

[2015-09-30 15:26] jrweakland commented on #1020
Closing issue. Changed owner to me and placed in FinalReview folder.

[2015-09-30 15:26] #1020 closed

[2015-09-30 15:32] ACueva opened #1079 "Pull all solutions templates from archive location"
Pull all solutions:
![9-30-2015 8-30-44 am](https://cloud.githubusercontent.com/assets/3093940/10197666/9357966a-674d-11e5-8ece-43d14268a684.png)
- [x] Emergency Management
- [x] Intelligence
- [x] Local Gov
- [x] Military
- [x] Parks and Gardens
- [x] State Gov
- [x] Utilities

[2015-09-30 15:36] conklinbd commented on #1046
I created an item for this and shared to the Intel QA/QC group.
This item should be released since I think it is tied to the Ebola demo. If the Ebola demo is not being released then this item can wait until next release.

@nfeuerstein

[2015-09-30 15:42] conklinbd commented on #889
This was fixed while I was releasing Intel content.

[2015-09-30 15:42] conklinbd commented on #888
This was fixed while I was releasing content.

[2015-09-30 15:43] conklinbd commented on #896
@NatalieCampos can you take a look at this issue and fix if still required. .

[2015-09-30 15:44] conklinbd commented on #905
@topowright does this need to be addressed for the Ops Server release?

[2015-09-30 15:45] conklinbd commented on #852
@kAilshie this issue is still assigned to you. Can you please confirm this works or assign to @ACueva

[2015-09-30 15:46] conklinbd commented on #862
This was fixed as part of the release process I assisted @nfeuerstein with.

[2015-09-30 15:46] #862 closed

[2015-09-30 15:46] conklinbd commented on #861
This was fixed as part of the release process I assisted @nfeuerstein with.

[2015-09-30 15:46] #861 closed

[2015-09-30 15:47] conklinbd commented on #855
This was fixed as part of the release process I assisted @nfeuerstein with.

[2015-09-30 15:47] #855 closed

[2015-09-30 15:47] conklinbd commented on #867
This was fixed as part of the release process I assisted @nfeuerstein with.

[2015-09-30 15:47] #867 closed

[2015-09-30 15:47] conklinbd commented on #863
This was fixed as part of the release process I assisted @nfeuerstein with.

[2015-09-30 15:47] #863 closed

[2015-09-30 15:47] conklinbd commented on #864
This was fixed as part of the release process I assisted @nfeuerstein with.

[2015-09-30 15:47] #864 closed

[2015-09-30 15:48] conklinbd commented on #860
This was fixed as part of the release process I assisted @nfeuerstein with.

[2015-09-30 15:48] #860 closed

[2015-09-30 15:48] conklinbd commented on #859
This was fixed as part of the release process I assisted @nfeuerstein with.

[2015-09-30 15:48] #859 closed

[2015-09-30 15:48] conklinbd commented on #858
This was fixed as part of the release process I assisted @nfeuerstein with.

[2015-09-30 15:48] #858 closed

[2015-09-30 15:49] conklinbd commented on #774
@jfrygeo is this even a valid issue anymore?

[2015-09-30 15:51] conklinbd commented on #788
@j-sullivan is this still an issue?

[2015-09-30 15:52] conklinbd commented on #508
Closed

[2015-09-30 15:52] #508 closed

[2015-09-30 15:52] conklinbd commented on #723
Some have been modified to include geofences. We are not completely replicating all the old services so I am closing this.

[2015-09-30 15:52] #723 closed

[2015-09-30 15:53] conklinbd commented on #854
I think we need to treat this as a known issue for the Ops Server, we can't fix for this release and the impact is monor.

[2015-09-30 15:53] #854 closed

[2015-09-30 15:54] elinz opened #1080 "Released web map "ISR Mission Reports" references demo service"
@ScottCecilio Web map "ISR Mission Reports" id d1d694ff35d34f29b1b16b54a72e0e4f is released (owned by ReleasedIntel, however, this web map references a feature service "Mission Report (Feature Layer)" id d78f22ee0b5e454588b9a0883cfd8d22 which is only being released as a demo item (i.e. this item is shared with the "Demo Review" group).

All services referenced by a released web map should also be

[2015-09-30 15:55] conklinbd commented on #638
This does not need to be resolved for the Ops Server release and it is not required so moving to after next.

[2015-09-30 15:56] conklinbd commented on #776
This is not tied to the release of Ops Server, this is an issue with the current try it live content.

[2015-09-30 15:56] conklinbd commented on #775
This is not tied to the ops server release, this is an issue with the try-it live server.

[2015-09-30 15:57] conklinbd commented on #722
So did we follow the workaround on the server (including the data in the publishing process)?

[2015-09-30 15:58] conklinbd commented on #683
@pHill5136 My impression is that this issue is resolved.

[2015-09-30 15:59] conklinbd commented on #784
I deleted.

[2015-09-30 15:59] #784 closed

[2015-09-30 16:05] conklinbd commented on #722
Based on my conversation with @elinz we will publish the service as is. It is a known issue that the service does not work on an IWA machine. The service will work if using built-in Portal authentication. There is nothing to resolve with this item for this release.

[2015-09-30 16:07] nfeuerstein commented on #1062
Found the permissions, here: \\disldb\Development\Commercial\OPSServerReleases\2014_Q4_10.3Final\DemoAndScripts\Intel\PredictiveAnalysisDemos\RefugeeCamps\Documents

Updated the item properties.

[2015-09-30 16:07] #1062 closed

[2015-09-30 16:07] jrweakland commented on #683
:+1: Agreed.

[2015-09-30 16:17] joebayles commented on #1062
Verified

[2015-09-30 16:20] nfeuerstein commented on #1078
Switched out the SALUTE feature service in the web map and tested that app loads.

[2015-09-30 16:20] #1078 closed

[2015-09-30 16:21] nfeuerstein commented on #1077
Switched out the feature service for the SALUTE Reports.  Map now loads.

[2015-09-30 16:21] #1077 closed

[2015-09-30 16:27] pHill5136 commented on #683
@ScottCecilio  reviewed the land ops sim files for friendly equipment and hostile equipment over monterey airport area.

[2015-09-30 16:28] nfeuerstein commented on #1075
Done.

[2015-09-30 16:28] #1075 closed

[2015-09-30 16:33] NatalieCampos commented on #896
@Ben @lorraine
I am in the portal training today but I can look at it at the end of the day.  But I think that might be past the cutoff.

Sent from my iPhone

On Sep 30, 2015, at 8:43 AM, Ben Conklin <notifications@github.com<mailto:notifications@github.com>> wrote:

@NatalieCampos<https://github.com/NatalieCampos> can you take a look at this issue and fix if still required. .

—
Reply to this ema

[2015-09-30 16:34] elinz opened #1081 "WMS service "Meteorological Service of Environment Canada" does not draw"
WMS service 5a27e3777f4c49a0b0a439353fb547a8 "Meteorological Service of Environment Canada" which references the following URL does not draw:
http://geo.weather.gc.ca/geomet/?lang=E

This item is shared with a demo review group so it's meant to be included in this 2015 Q4 release.

[2015-09-30 16:47] #1074 closed

[2015-09-30 16:47] nfeuerstein commented on #1073
We're good.

[2015-09-30 16:47] #1073 closed

[2015-09-30 16:51] jrweakland commented on #1081
@elinz - please try this instead and let me know.

http://geo.weather.gc.ca/geomet/?lang=E&SERVICE=WMS&REQUEST=GetCapabilities

[2015-09-30 16:57] nfeuerstein commented on #1072
Added credits.

[2015-09-30 16:57] #1072 closed

[2015-09-30 17:11] #1067 closed

[2015-09-30 17:13] jfrygeo commented on #1081
It could be because of http was changed to https?

Sent from my iPhone

On Sep 30, 2015, at 12:00 PM, Jim Weakland <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #1081<https://github.com/Esri/ops-server-config/issues/1081> to @jfrygeo<https://github.com/jfrygeo>.

—
Reply to this email directly or view it on GitHub<https://github.com/Esri/ops-server-config/issues/1081

[2015-09-30 17:15] #1066 closed

[2015-09-30 17:15] elinz commented on #1081
@jfrygeo No. As @jrweakland stated above it's an issue with the URL getting truncated when the item was created. I'll need to update the URL through code to be http://geo.weather.gc.ca/geomet/?lang=E&SERVICE=WMS&REQUEST=GetCapabilities as state previously.

[2015-09-30 17:16] #1065 closed

[2015-09-30 17:17] jrweakland commented on #1081
Steps to reproduce:
1. My Content -> Add Item -> From the web -> OGC (WMS) -> http://geo.weather.gc.ca/geomet/?lang=E&SERVICE=WMS&REQUEST=GetCapabilities -> It truncates the URL and does not allow you to select all of the layers be deselecting and reselecting the checkbox next to Layers
2. From a new map -> Add -> Add Layer from Web -> A WMS OGC Web Service -> http://geo.weather.gc.ca/geomet/?lang

[2015-09-30 17:23] jfrygeo commented on #1081
Okay. Does this fix issue?

Sent from my iPhone

On Sep 30, 2015, at 12:17 PM, Jim Weakland <notifications@github.com<mailto:notifications@github.com>> wrote:

Steps to reproduce:
1. My Content -> Add Item -> From the web -> OGC (WMS) -> http://geo.weather.gc.ca/geomet/?lang=E&SERVICE=WMS&REQUEST=GetCapabilities -> It truncates the URL and does not allow you to select all of the layers be deselect

[2015-09-30 17:25] jfrygeo commented on #722
republish farthest on circle image service gp tool to military folder?

Sent from my iPhone

On Sep 30, 2015, at 10:58 AM, Ben Conklin <notifications@github.com<mailto:notifications@github.com>> wrote:

So did we follow the workaround on the server (including the data in the publishing process)?

—
Reply to this email directly or view it on GitHub<https://github.com/Esri/ops-server-config/issues/7

[2015-09-30 17:27] elinz commented on #1081
@jfrygeo No. As stated previously this needs to be fixed by editing the URL in the portal item json. I will take care of this.

[2015-09-30 17:29] #683 closed

[2015-09-30 17:34] #1064 closed

[2015-09-30 17:43] elinz commented on #1081
@jfrygeo Actually, looks like this WMS service item was incorrectly created. You can set the WMS map server url to the get capabilities URL.

[2015-09-30 17:44] jfrygeo commented on #1081
So just add the WMS again?

[2015-09-30 17:48] jrweakland commented on #1081
yes. the wms service not the wms get capabilities url

[2015-09-30 17:49] nfeuerstein commented on #1063
Done.

[2015-09-30 17:49] #1063 closed

[2015-09-30 17:50] jfrygeo commented on #1081
I don't have that item in my content anymore

[2015-09-30 17:52] jfrygeo commented on #1081
looks like its good. https://nsec.esri.com/arcgis/home/item.html?id=5a27e3777f4c49a0b0a439353fb547a8

[2015-09-30 17:52] nfeuerstein commented on #1059
I dont think the description needs more, everything else is good.

[2015-09-30 17:52] #1059 closed

[2015-09-30 17:56] jfrygeo commented on #777
ongoing support - issue with IWA and image service.

[2015-09-30 17:58] ACueva commented on #1025
@nfeuerstein fixed this issue.  Duplicate issue as: https://github.com/Esri/ops-server-config/issues/1077

[2015-09-30 17:58] #1025 closed

[2015-09-30 18:16] jfrygeo commented on #777
Even when input image service and gp service are in same cluster on server, same issue ensues.

[2015-09-30 18:16] jessnoo opened #1082 "EM: Shelter Locator not working with portal"
@conklinbd the first symptom seems to be that the application is looking in arcgis.com for basemap items.

the app is here: \\nsec\SolutionsWeb\Apps\EmergencyManagement\ShelterLocator

i can walk through the basic configuration and first set of issues when you get a minute. thank you!

[2015-09-30 18:29] jfrygeo commented on #722
Republished to military folder here: https://nsec.esri.com/arcgis/home/item.html?id=688999e1df1a4b3ca1eaa63996d3b487

[2015-09-30 18:29] #722 closed

[2015-09-30 18:30] jessnoo opened #1083 "EM: Tiled service publishing as hosted service is failing"
@conklinbd I did one last test for hosted tile service publishing on the nsec portal and it failed also...

![image](https://cloud.githubusercontent.com/assets/6181441/10202568/60c73c64-6766-11e5-9a29-9eab84487863.png)

map doc and data: \\mrhyde\public\Jess\OPSServer

[2015-09-30 19:39] elinz commented on #1081
@jfrygeo This service item does not work correctly. while the item will open in a web map it only contains about 30% of the layers that it should. Looks like this is an issue with portal. You will have to delete this WMS service item and then edit all the web maps that reference this item and manually add all the layers you need. Looks like the only web map that references this service item is: 99

[2015-09-30 20:04] conklinbd commented on #1083
@jessnoo I tried publishing the same tiled service and succeeded.
after copying your zip file I changed 3 things.
- The data source was broken so I reset the data source and change the map to relative paths (probably not the cause)
-I change the feature class name to all lower case (possibly the cause)
-I changed the field name for Evacuation Zones (the symbology field) to all lower case (probably

[2015-09-30 20:05] jfrygeo commented on #1081
I really only need requests for a few of the layers, you are saying I need to request to have all the layers?

[2015-09-30 20:07] kerryrobinson opened #1084 ""What is Web GIS?" Story Map not quite done, but consider for TEM Release"
I've submitted a story map 'What is Web GIS?' to the Demo Review group.  This is a Map Series story map made up of a bunch of Map Journal story maps, web maps and web apps.  All of these have been submitted to the Demo Review group.

This originally pointed to content on my own older Ops Server and I have been in the process of pointing it to content on NSEC. I intended to finish that work this we

[2015-09-30 20:12] elinz commented on #1081
@jfrygeo No that's not what I'm saying. What I'm saying is that it looks like there is a bug and you can reference the WMS URL in the WMS service item. Edit the web map that references this service and just add the layers that you really need. Also delete this WMS service item since it's not working correctly.

[2015-09-30 20:17] jfrygeo commented on #1081
Got it fixed as an item with the layers needed. Located in

Maritime Domain Awareness Dashboard
 https://nsec.esri.com/arcgis/home/webmap/viewer.html?webmap=995d354c59694c01bbd1ff877441526a

As item. https://nsec.esri.com/arcgis/home/item.html?id=14808ff0a2f94601a02711d78f824ae9

Seems to work fine? No?

[2015-09-30 20:39] conklinbd commented on #1082
@jessnoo I think I have this figured out.
The primary issue was in ShelterLocator\js\library\coreLibrary\widgetLoader.js

Line 200 uses esriUtils.getItem() without first setting the arcgisurl.

I added a line esriUtils.arcgisUrl = appGlobals.configData.PortalAPIURL + 'content/items/'
This sets the arcgisUrl to be used for retrieving the item.

There may be other places in the code this should have

[2015-09-30 20:40] conklinbd commented on #1082
I also noticed there were many references hard coded as http://

I changed these to // to make them protocol agnostic. Since we use https:// for everything http:// resources fail to load.

[2015-09-30 20:40] conklinbd commented on #1082
I also changed the javascript api to use the api hosted on the portal instead of js.arcgis.com.

[2015-09-30 20:43] conklinbd commented on #1084
@kerryrobinson I think this can make it on the release still. Please push to get these updates on the Portal content done ASAP.

For the new Demo, go ahead and make a folder for Global NS team.

[2015-09-30 20:53] conklinbd commented on #1084
@kerryrobinson can assign to me to review for release when she is ready.

[2015-09-30 20:55] jessnoo commented on #1082
woot! @conklinbd

couple things i've noticed:
- basemap switcher gets stuck on the imagery service

- the legend at the bottom is stuck on Loading...
![image](https://cloud.githubusercontent.com/assets/6181441/10206207/8bf86250-677a-11e5-9e61-6ed391510162.png)

- can we try enabling the routing capability --- update enabled in this block to true ...

 DrivingDirectionSettings: {
            GetDir

[2015-09-30 21:01] nfeuerstein commented on #1058
Done.

[2015-09-30 21:01] #1058 closed

[2015-09-30 21:05] #1056 closed

[2015-09-30 21:07] topowright opened #1085 "Cannot Publish GP Services"
Not able to publish GP Services to OpsServer. Took the necessary steps to uninstall and reinstall Desktop (ArcMap) and ran into the same issue. This has only been tested on one machine.

[2015-09-30 21:07] elinz opened #1086 "Jenkins build server: modify to include "HotFixes-Patches" folder and files"
We need to include a hot fix for the portal.

- [ ] Update Jenkins build server process to create a "HotFixes-Patches" under the OPSServerInstall\Software folder.

- [ ] Update Jenkins build server process to copy the folders/files in the OpsServerBuilds\Archive\ESRI Software\HotFixes-Patches folders to the OPSServerInstall\Software\HotFixes-Patches folder.

[2015-09-30 21:08] nfeuerstein commented on #1048
I disagree with the definition of "summary" - there are already properties that are autopopulated that tell you that this item is a feature service.  A real world summary would explain the relevance of the item, not the metadata.

[2015-09-30 21:08] #1048 closed

[2015-09-30 21:08] elinz commented on #1085
@topowright What if any error messages did you receive when you attempted to publish the GP service?

[2015-09-30 21:08] jrweakland commented on #1085
@topowright - please set the proper labels, milestone, and assignee when you create an issue in the repo.

[2015-09-30 21:10] topowright commented on #1085
I feel it is important to include an application that shows the Incident Analysis Tools in the web using the incident data over the new geography. This would include the following items that would need to be included:

GP Tools:
Cluster Analysis
CLBLOC
Incident Hot Spots
Incident Hot Spots by Area
Percent Change
Web map for base data display to include:
Incidents , Roads and Districts

[2015-09-30 21:13] topowright commented on #1085
@elinz No messages, but I do have my error reports from desktop if that helps.

[2015-09-30 21:17] elinz commented on #1005
We are including the hotfix in the 2015 Q4 release, but not automating the installation. A section in the installation guide will be included to instruct the user to install this hotfix using the instructions find in the hotfix documentation.

[2015-09-30 21:35] conklinbd commented on #1082
@jessnoo for the driving directions it appears that we need an AGOL account to use the routing service (error is that token is required). I think the solution to this would be to add the routing service to the portal and store credentials with the item. I have enabled directions but not performed that step.

[2015-09-30 21:36] elinz commented on #1085
@topowright Please include the error information.

[2015-09-30 21:36] conklinbd commented on #1082
For the ....Loading... issue, it looks like it is trying to find the Map Service endpoint for EmergencyShelters. Since this is a hosted service there is no Map Service endpoint. This is where the legend comes from...I assume.

[2015-09-30 21:43] elinz commented on #1005
Added to installation guide. Fix in Esri\ops-server-config v.next. Closing issue.

[2015-09-30 21:43] #1005 closed

[2015-09-30 21:43] elinz commented on #635
Added to installation guide. Fix in Esri\ops-server-config v.next. Closing issue.

[2015-09-30 21:43] #635 closed

[2015-09-30 21:53] jfrygeo commented on #1081
works
![maritimedomainawarenessdashboardweather](https://cloud.githubusercontent.com/assets/5074686/10207710/bce64a3a-6793-11e5-8155-4ae0a5d777dc.PNG)

[2015-09-30 21:54] elinz commented on #1081
I just opened the item https://nsec.esri.com/arcgis/home/item.html?id=14808ff0a2f94601a02711d78f824ae9 and no data draws.

I just opened the item https://nsec.esri.com/arcgis/home/webmap/viewer.html?webmap=995d354c59694c01bbd1ff877441526a and the data doesn't draw and the legend has broken...links
![image](https://cloud.githubusercontent.com/assets/4635490/10207738/2da49404-6783-11e5-97b3-d66954a7

[2015-09-30 21:55] jfrygeo commented on #1081
hmmm, opens for me...

[2015-09-30 21:56] elinz commented on #1081
Yes, the items open, but the data does not draw.

[2015-09-30 21:56] jfrygeo commented on #1081
I waited about 10-15 seconds though

[2015-09-30 21:57] elinz commented on #1081
I waited longer then that.

[2015-09-30 22:01] jfrygeo commented on #1081
I am closer to Canada, I guess? The service shows instantaneously for me when using the Operations Dashboard, and the webmap. It could be that the model layer you had chosen contained no data at this time. I tend to use:
<li>RDPS.ETA - Total Precipitation Rate (m/s)
<li>RDPS.ETA - Total Cloud Cover

[2015-09-30 22:02] elinz commented on #1081
I do see some data drawing from the service item but it's extremely slow. Also I now see data drawing in the Maritime Domain Awareness web map and the legend is drawing.

[2015-09-30 22:07] ScottCecilio commented on #963
Working on this, I'm on travel bear with me.

[2015-09-30 22:48] elinz commented on #963
Talked to @ScottCecilio this afternoon. We are looking in this issue, but need to reassess in the morning.

[2015-09-30 23:39] joebayles opened #1087 "Time Span Analysis"
https://nsec.esri.com/arcgis/home/item.html?id=bbf4a2e6efba41fcb5579e7c6d81f3fc

- [x] Does this require a specific version of Esri Maps for Office?
- [x] Does the phrase "All scenario data was provided by the Sonoma County Sheriff Department and has been aggregated to intersection center points." belong in the Description, or Access and Use Constraints?
- [x] Do you mean:

__or__

[2015-09-30 23:48] nfeuerstein commented on #1033
Done.

[2015-09-30 23:48] #1033 closed

[2015-09-30 23:54] nfeuerstein commented on #1087
No specific version - as long as publishing a map is supported in all newer versions we'll be good in the future as well.  The algorithms are basic Excel functions.

[2015-09-30 23:54] #1087 closed

[2015-09-30 23:57] nfeuerstein commented on #986
Added to backlog: https://app.asana.com/0/22897918293134/54312512723512

[2015-10-01 00:11] nfeuerstein commented on #1046
The GP Service looks generically useful, perhaps for demo'ing Web AppBuilder.  Releasing.

[2015-10-01 00:11] #1046 closed

[2015-10-01 00:22] NatalieCampos commented on #896
I have repaired the item paths from E:\Data\Esri\NewGeography\ to Data\FoundationOverlays\OrthophotoBase\NAIP\.
@nfeuerstein  @ScottCecilio
I am confused about which NAIP imagery is being released the clipped in the Mosaic dataset or the orignial Mr.Sid files in the NAIP folder.  Should the original Mr.SID images be removed in favor of the clipped  NAIP images?  Also I noticed that the clipped ima

[2015-10-01 06:37] kerryrobinson commented on #1084
@conklinbd , Thanks, another issue I have is that I'm not sure if the content I'm pointing to will make it onto the final release or not, so that will need to be checked during your review.

[2015-10-01 12:58] lfunkhouser commented on #1080
@elinz @ScottCecilio @jrweakland I've changed the owner of Web map "ISR Mission Reports" id d1d694ff35d34f29b1b16b54a72e0e4f to DemoMilitary since 1)it is a Military item not Intel, 2) "Mission Report (Feature Layer)" id d78f22ee0b5e454588b9a0883cfd8d22 is used for the Land Ops demo and wasn't intended on being released at this time.

[2015-10-01 13:08] lfunkhouser opened #1088 "Duplicate ISR Mission Reports web maps"
@ScottCecilio @jrweakland @nfeuerstein
Appears we have a duplicate item, ISR Mission Reports Web Map
ISR Mission Reports from Aerial Assets id=d1d694ff35d34f29b1b16b54a72e0e4f
ISR Mission Reports - Land Operations id=6da870dbe58743f6b8037f05a6d98102

I confirmed with Scott C that the latter is used for the Land Ops demo. Do we still want to release (demo user) the ISR Mission Reports from Aerial A

[2015-10-01 13:19] lfunkhouser opened #1089 "Mission Report (Feature Layer) description is for web map"
@ScottCecilio The description for "Mission Report (Feature Layer) id:d78f22ee0b5e454588b9a0883cfd8d22" indicates that this is a web map and not a feature service. Can you update?

[2015-10-01 13:56] conklinbd commented on #1081
Seems like this issue is good to close.

[2015-10-01 13:56] conklinbd commented on #1085
@topowright is this an issue you need resolved for the Ops Server release?

[2015-10-01 13:56] #1081 closed

[2015-10-01 14:02] conklinbd commented on #636
In this case I think we can close this issue.

[2015-10-01 14:04] conklinbd commented on #630
@elinz do you plan to address this release or should we move to next?

[2015-10-01 14:05] conklinbd commented on #318
@elinz do you think you need to address this, I actually think the import behavior has changed so we know longer need to do this.

[2015-10-01 14:08] conklinbd commented on #845
@elinz is this issue fixed? Are you using 10.4 to "preprocess" the mosaics before distributing?

[2015-10-01 14:09] conklinbd commented on #896
@NatalieCampos can you look and see which images are used in released image services and remove  any that aren't used (you can tell if it is released if the owner is not an individual person).

[2015-10-01 14:10] conklinbd commented on #914
@elinz - I think you have researched this now and it isn't a user error. I am changing the label to release team since this is something you will need to address, possibly using ArcREST.

[2015-10-01 14:15] conklinbd commented on #1034
This item is owned by @nfeuerstein but you have assigned the issue to @jrweakland. Also labeled with Intel team. Which is it @joebayles.

[2015-10-01 14:17] conklinbd commented on #1023
@phill5136 this needs to be resolved today.

[2015-10-01 14:17] conklinbd commented on #1024
@phill5136 this needs to be resolved today.

[2015-10-01 14:18] conklinbd commented on #996
I will take this issue and delete the specific web map.

[2015-10-01 14:20] conklinbd commented on #996
This maps was deleted so I have closed this issue.

[2015-10-01 14:20] #996 closed

[2015-10-01 14:22] conklinbd commented on #998
Process note: If you fix something then please assign back to the issue originator for verification and mention them in a comment.

[2015-10-01 14:22] conklinbd commented on #998
@elinz for verification

[2015-10-01 14:24] lfunkhouser opened #1090 "Standardize thumbnails for items"
Standardize the look of thumbnails for items. Supporting items could have text overlaid on the same thumbnail to indicate it is a csv file, service definition file, etc.

[2015-10-01 14:25] conklinbd commented on #1090
@lfunkhouser the Utilities team has a script to do this. We might want to look into this for the next release. The thumbnails look really nice.

[2015-10-01 14:30] Lorraine commented on #896
I think I might be copied on this exchange by mistake.

Lorraine Reinsch

Please excuse my phone's auto-correct.

[2015-10-01 14:32] conklinbd commented on #896
@NatalieCampos I removed your incorrect mentions from the comment you made. Be more careful with your mentions and make sure you reference the correct person.

[2015-10-01 14:51] conklinbd commented on #1084
@kerryrobinson should I be waiting to review the content until you are done...or is the stuff you shared to demo review completely ready for release?

[2015-10-01 15:23] kerryrobinson commented on #1084
I think it'll be best to wait until it is all done, although if you want to take an initial look now and suggest anything I need to fix generally speaking (item details, etc) that is fine too.  Because this is different than other content on the Ops Server I'm not sure the best way to share and describe it.  The main app is the What is Web GIS story map (https://nsec.esri.com/arcgis/apps/MapSeries

[2015-10-01 15:40] pHill5136 commented on #1023
@topowright we need to get this fixed today. I believe you created these.

[2015-10-01 15:40] joebayles commented on #1034
@conklinbd feel free to edit this issue however you see fit.

![image](https://cloud.githubusercontent.com/assets/5016557/10225520/0b28cd74-6818-11e5-9dfc-542eb581d959.png)

[2015-10-01 15:41] pHill5136 commented on #1024
@topowright This one needs to get updated too.

[2015-10-01 15:49] kerryrobinson commented on #636
I'd like to confirm this in the latest install gide before closing.

[2015-10-01 16:02] elinz commented on #636
@kerryrobinson @conklinbd I'll be confirming whether we need to perform any Post-copy data procedures during the stabilization and testing phases the next couple of weeks.

[2015-10-01 16:16] elinz commented on #998
Verified the issue has been fixed. Closing issue.

[2015-10-01 16:16] #998 closed

[2015-10-01 16:31] elinz commented on #318
@conklinbd I was thinking the same thing. The import configuration file process seems to be a lot better. I would like to test this during our stabilization and testing phases the next couple of weeks.

[2015-10-01 16:32] elinz commented on #630
@conklinbd @kerryrobinson I made the changes to the install guide first thing this morning. I have been making some other changes to the doc so I haven't check in the changes and closed the issue yet; which I will do today.

[2015-10-01 16:37] csmoore commented on #998
@Esri/arcgis-defense-team - this is probably a good refresher/reminder for everyone (since we have occasionally gotten away from this):

Don't close the issue when you fix it (unless it is something trivial and/or you are the originator) - but assign it to be verified **by the issue originator** :

In the issue
1. Add a note about where you fixed this (commit#, URL, etc.) so it is clear where to g

[2015-10-01 16:49] elinz commented on #998
@Esri/arcgis-defense-team Thanks @csmoore for reminding the team about the process.

[2015-10-01 16:49] nfeuerstein commented on #1034
@conklinbd I assigned it to @jrweakland because I thought he would know more about it.  My team has not had anything to do with the planning, development of the template, or the solutions page documentation for it.  I thought @jrweakland would be the best to answer any questions.

[2015-10-01 17:08] joebayles commented on #1034
I can move the item to @jrweakland if you wish.

[2015-10-01 17:21] elinz commented on #845
@conklinbd @ACueva The issue in the GP has been fixed in 10.4. For preparing the ops server release we will be running the  script ops-server-config\Publish\Server\RepairMosaicDatasets.py (new script to allow users to set "search" and "replace" paths) on a machine with 10.4 Desktop. Today I will be performing another test with the latest desktop build to confirm that this fix is still working.

[2015-10-01 17:23] nfeuerstein commented on #1034
@joebayles I think it was just under my name because I wanted to make sure we had it on NSEC for UC.

[2015-10-01 17:27] elinz opened #1091 "Update Chat Server and Esri Maps for Office sections of the install guide"
Update Chat Server for 3_10_2 build.
Remove instructions that have users edit their Esri Maps for Office installation files to use portal resources (this is not needed anymore).

[2015-10-01 17:47] elinz commented on #630
Fixed in Esri\ops-server-config v.next. Closing issue.

[2015-10-01 17:48] elinz commented on #1091
Fixed in Esri\ops-server-config v.next. Closing issue.

[2015-10-01 17:48] #1091 closed

[2015-10-01 17:51] kerryrobinson commented on #630
Wait, don't i need to verify before closing as per Chris' email?  I'll review the doc now.

[2015-10-01 17:56] elinz commented on #630
@kerryrobinson I was debating on this. Unless the fix is trivial then you don't have to reassign. I thought it was trival. But I will reopen and assign to you to verify.

[2015-10-01 17:56] elinz commented on #630
@kerryrobinson to verify.

[2015-10-01 17:57] kerryrobinson commented on #630
@elinz no problem.  I've just checked the doc and I endorse your closing.  I didn't know about the 'trivial' clause.

Closing issue.

[2015-10-01 17:57] #630 closed

[2015-10-01 18:08] elinz commented on #1080
Verified issue was fixed by ownership of item changing to "DemoMilitary". Closing issue.

[2015-10-01 18:08] #1080 closed

[2015-10-01 18:29] joebayles commented on #1034
Fixed the issues.

[2015-10-01 18:29] #1034 closed

[2015-10-01 18:40] joebayles opened #1092 "Damage Assessment"
id=92d2bc2032e841de888c798788e4df09

- [x] Need a description, use one of the others?

id=2b34919c1d5548f9a8a3f6d94966cb02

- [X] Tag National Intelligence was mispelled, be careful about using the correct spelling in the future

id=8b48ede2cfaa4252bc0ed2adb003e2a9

- [x] Thumbnail is missing
- [X] Tag National Intelligence was mispelled, be careful about using the correct spelling in the future

[2015-10-01 18:51] joebayles commented on #1062
@nfeuerstein does that mean these should be in Demo Review, not Release Review? If not, then suggest you add "The information presented in this template or demonstration is based on standard Esri Commercial off-the-Shelf (COTS) technologies and commercial data."

[2015-10-01 20:30] elinz opened #1093 "Service "Hosted//Ebola_Outbreak.MapServer" is associated with a portal item that does not exist"
ERROR: Service "Hosted//Ebola_Outbreak.MapServer" is associated with a portal item (cf99f0d389464018b1054df2e7a789cc; MapServer) that does not exist.

Was this service meant to be deleted?

[2015-10-01 20:31] elinz opened #1094 "Service "Test//ClusterAnalysisFSInput.GPServer" is associated with a portal item that does not exist."
Service "Test//ClusterAnalysisFSInput.GPServer" is associated with a portal item (9c28c57d804f4df1babc8db52e9e3856; GPServer) that does not exist.

Was this service meant to be deleted?

[2015-10-01 20:51] conklinbd commented on #852
Moving to after next. We already install this.

[2015-10-01 21:20] joebayles opened #1095 "Sudan Displaced Persons Camps"
id=b10809ff4307417190eae99e855f81a4

- [x] Description and Summary are the same
- [ ] Needs Legal Review... Is scenario data notional, or from somewhere?
- [X] Delete Protection Disabled

[2015-10-01 21:24] joebayles commented on #1068
- [ ] Description and Summary are the same

[2015-10-01 21:31] elinz opened #1096 "Service Definition item (RoadClosures) exists without an associated hosted service"
Hosted service RoadClosures/FeatureServer no longer exists, but associated service definition item exists
id: 8df4f2e5b7de4665b048c938473db9af type: Service Definition

[2015-10-01 21:57] elinz commented on #995
No one on the team is creating any scene services for this release, so I'm moving this issue to the test ops server release milestone.

[2015-10-01 22:05] kAilshie commented on #998
I do not have the ability to change the assigner or add/change labels in this repo.

[2015-10-01 22:18] conklinbd commented on #998
@kAilshie looks like you aren't part of the Defense team @csmoore should add you.

[2015-10-01 22:19] conklinbd commented on #1096
@jessnoo This was probably an artifact of the publishing issue. You should just delete that service definition from your account.

[2015-10-01 22:34] kerryrobinson commented on #1084
@conklinbd  OK, all of the content is done for this. You can go ahead and review.

[2015-10-01 22:48] topowright commented on #905
@conklinbd This needs to be addressed at the next release

[2015-10-01 22:51] elinz opened #1097 "All the basemap Web Map are owned by ReleasedIntel, should be owned by ReleasedOpsServer"

[2015-10-01 22:57] topowright commented on #1024
@pHill5136 These items have been updated

[2015-10-01 22:59] topowright commented on #1019
@elinz fixed

[2015-10-01 23:00] elinz opened #1098 "Web Map "Monterey Airport (Overview)" being released as demo content references a test service"
Web Map "Monterey Airport (Overview)" (e9afca99ffa14bf0b064df6631210f60) references service item "SIGINT" (24dc0dce9c6949a889e516725757cbf0) and service was published to test folder (Test/SIGINT/FeatureServer/0).

If the SIGINT feature service is really needed in this web map then the service has to be published to a non-test folder and item has to go through release or demo workflow.

[2015-10-01 23:00] topowright commented on #1018
@elinz fixed

[2015-10-01 23:01] lfunkhouser commented on #1097
Changed owner from ReleasedIntel to ReleasedOpsServer for the following basemap web maps;
Imagery Basemap
Dark Grey Canvas
Imagery Reference Basemap
Oceans Basemap
Terrain Basemap
Topographic Basemap
Light Grey Canvas Basemap
Streets Basemap

[2015-10-01 23:03] topowright commented on #1023
@pHill5136 fixed

[2015-10-01 23:04] elinz commented on #1098
FYI: This web map is consumed by multiple web apps or operation views.

[2015-10-01 23:10] jessnoo commented on #1096
yep -- will do. thank you!

[2015-10-01 23:11] jessnoo commented on #1096
@elinz the roadclosures service definition has been deleted.

[2015-10-01 23:23] jessnoo commented on #1083
as discussed @conklinbd will publish our tiled services on the GIS Server.

[2015-10-01 23:23] #1083 closed

[2015-10-01 23:27] topowright commented on #1028
@elinz Do i need to republish this item to get the item layer to change?

[2015-10-01 23:44] elinz commented on #1028
@topowright yes you will need to republish.

[2015-10-01 23:52] elinz commented on #1096
Verified that service definition was deleted. Closing issue.

[2015-10-01 23:52] #1096 closed

[2015-10-01 23:55] elinz commented on #1097
Verified fixed. Closing issue.

[2015-10-01 23:55] #1097 closed

[2015-10-01 23:57] elinz commented on #1018
@topowright Layer 0 still does not exist.

[2015-10-01 23:59] elinz commented on #1019
@topowright This web map does not exist anymore. Was it your intent to fix this issue by just deleting the web map?

[2015-10-02 12:16] csmoore commented on #630
Sorry - I missed this in the flood of notifications....trivial is somewhat subjective so I apologize ...but is meant to mean a really small/simple/easy-to-see change ( ex: a one-line change in a web readme.md ) and before you close you should still try to paste in a screenshot or easily viewable link so it is immediately obvious to the originator - so they don't need to go finding/downloading a bi

[2015-10-02 12:32] csmoore commented on #998
@kAilshie - I added you so please try again (not sure how/why you were never added to our Esri team/org, but you should be there now)

[2015-10-02 12:56] lfunkhouser opened #1099 "Country Boundaries needs Access and use constraints"
@nfeuerstein Country Boundaries service need Access and Use Constraints.  @karlterrey can help with wording for those services for demo purposes only; however, we still need to cite where we got the data.

- [ ] Country Boundaries Feature Layer id:086c5358415e4a948764385685240cb7
- [ ] CountryBoundaries id:a1956f5df1d34a1fbe8c58e3b5e0b1b4

[2015-10-02 13:00] lfunkhouser opened #1100 "Districts in West Africa with reported Ebola outbreaks needs Access and Use Constraints"
Districts in West Africa with reported Ebola outbreaks id=b8966bd015e64a6d9576a57573c9610e needs Access and Use Constraints

@karlterrey can help with demo content wording; however, we still need to cite data

[2015-10-02 13:09] lfunkhouser opened #1101 "Ebola Healthcare Facilities in West Africe needs Access and Use Constraints"
Ebola Healthcare Facilities in West Africa id=d1a00d57cea2458a887d3a6b4052952b needs Access and Use Constraints

@karlterrey can help with demo content wording; however, we still need to cite data

[2015-10-02 13:23] conklinbd commented on #748
In reviewing it the jquery components are bundled with the app already so I only need to deal with the ArcGIS Javascript API urls.

[2015-10-02 13:32] conklinbd commented on #748
Replaced
//js.arcgis.com/3.12/dijit/themes/claro/claro.css with /arcgis/jsapi/jsapicompact/dijit/themes/claro/claro.css

//js.arcgis.com/3.12/esri/css/esri.css with /arcgis/jsapi/jsapicompact/esri/css/esri.css

//js.arcgis.com/3.12 with /arcgis/jsapi/jsapicompact/

[2015-10-02 13:34] conklinbd commented on #748
@ACueva could you test this fix. This item uses the app id:29013195a6aa480c8bc3d1c34dbea5f0.
Note that the are error messages in the debug console but these existed before the change and the app appears to function correctly.

[2015-10-02 13:38] lfunkhouser opened #1102 "Ebola Outbreaks portal items need more information"
Ebola Outbreaks items are missing Access and Use Constraints.  These items are planned to be released under different users. If the Web Map and Web App are released under the "Released" owner, the Feature Layer that is used by them will need to be released under "Released" owner, but will be released as a "Demo" owner. I've combined the following portal items into the same issue because they will

[2015-10-02 13:40] jrweakland commented on #1098
@ScottCecilio - You will need to get the SIGINT service out of the test folder on into the Military folder for the service to be published. This needs to happen today. Be aware that moving the service might "break" the items that are consuming the service.

[2015-10-02 13:42] conklinbd commented on #1094
@nfeuerstein I will delete this service today at 1100.

[2015-10-02 13:45] conklinbd commented on #1050
Based on the lack of activity on this item. I am going to delete the item at 1100 today. If you think this is in error please respond by then.  Items like this cause us problems in QA/QC and have the potential to cause other problems as individuals reuse this content in their demo's/presentations.

[2015-10-02 13:46] conklinbd commented on #1049
Based on the lack of activity on this item. I am going to delete the item at 1100 today. If you think this is in error please respond by then.  Items like this cause us problems in QA/QC and have the potential to cause other problems as individuals reuse this content in their demo's/presentations.

[2015-10-02 13:48] conklinbd commented on #788
Based on the lack of activity on this item. I am going to delete the item at 1100 today. If you think this is in error please respond by then.  Items like this cause us problems in QA/QC and have the potential to cause other problems as individuals reuse this content in their demo's/presentations.

[2015-10-02 13:53] conklinbd commented on #1026
Based on the lack of activity on this item. I am going to delete the item at 1100 today. If you think this is in error please respond by then.  Items like this cause us problems in QA/QC and have the potential to cause other problems as individuals reuse this content in their demo's/presentations.

[2015-10-02 13:54] conklinbd commented on #1027
Based on the lack of activity on this item. I am going to delete the item at 1100 today. If you think this is in error please respond by then.  Items like this cause us problems in QA/QC and have the potential to cause other problems as individuals reuse this content in their demo's/presentations.